<header class="page-header">
  <h2>챗봇 권한 관리</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>

<section class="panel">
  <div class="panel-body">
    <table id="dt" datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-hover mb-none">
      <thead>
      <tr>
        <th class="text-center">권한자(이메일)</th>
        <th class="text-center">권한자(닉네임)</th>
        <th class="text-center">권한 대상</th>
        <th class="text-center">관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="authUser in vm.botAuths">
        <td class="text-center">{{authUser._id.user.email}}</td>
        <td class="text-center">{{authUser._id.user.displayName}}</td>
        <td class="text-center">
          <span data-ng-repeat="subject in authUser.subjectSchema">
           {{subject}}
          </span>
        </td>
        <td>
          <a class="btn btn-default btn-block" data-ui-sref="bot-auths.edit({botId: botId, userId: authUser._id.user._id})">상세
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
