<style>
    /*@font-face{*/
        /*font-family: "Noto Sans";*/
        /*src: url("NotoSansCJKkr-Medium.otf");*/
    /*}*/
.working-ground
{
    padding: 0 !important;
}

.playchat-background .top-bar+div > div .working-ground
{
    overflow-x: hidden;
}

caption
{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    display: table-caption;
}

.close-topBar
{
    border: 2px black solid;
    border-radius : 6px;
    padding : 9px 10px;

}

.topBarToggleButton
{
    display: block;
}

</style>


<!--head area-->
<head>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>

<!--card area-->
<script type="text/template" id="dialogGraphTemplate">
    <div class="graph-dialog" id="{id}">
        <div class="graph-dialog-item">
            <div class="graph-dialog-header">
                <span>{name}</span>
                <a href="" class="dialog-more"></a>
            </div>
            <div class="graph-dialog-input">
                {input}
                <a href="#" class="arrow"><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/miniarrow.png"></a>
            </div>
            {task}
            <div class="graph-dialog-output">
                {output}
            </div>
            {buttons}
            <a class="graph-fold" ng-click="toggleChild($event);"></a>
        </div>
        <div class="graph-dialog-children"></div>
    </div>
</script>


<div ng-controller="BizDialogGraphDevelopmentController" class="graph-background">

    <!--header tab line-->
    <!--search/zoom/edit target select line -->
    <div class="working-ground-bizchat">
        <select ng-model="selectedCustom" ng-change="bizbotSelectChange(selectedCustom)" ng-init="selectedCustom = customs[0]" class="custom-select"  ng-options="x for x in customs"></select>
        <a href="" class="icon-area" style="margin-left: 2%;"><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/copy.png"></a>
        <a href="" class="icon-area"><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/save.png"></a>

        <div class="subtitle">
            <div class="message-edit-list">
                <span>메세지 서식 리스트</span>
                <ul>
                    <li class="select"><a href="#">이벤트 안내 메세지</a></li>
                    <li><a href="">전화번호 수집</a></li>
                    <li><a href="">주소 수집</a></li>
                    <li><a href="">개인정보 동의</a></li>
                    <li><a href="">아웃링크 이벤트 정보</a></li>
                    <li><a href="">이미지 첨부 이벤트</a></li>
                </ul>
            </div>
            <div class="bot-messages-list">
                <span>{{selectedCustom}} (총 {{customData.number}} 개의 메세지)</span>
                <ul>
                    <a href=""><li>
                        <span class="message-title01">01. 메시지</span>
                            <select class="message-inselect ml3" disabled>
                                <option>텍스트 - 선택형</option>
                                <option>텍스트 - 선택형</option>
                            </select>
                            <span class="close-btn">+</span>
                    </li></a>
                    <li class="select">
                        <a href=""><span class="message-title02">02. 메시지</span>
                            <select class="message-inselect ml3">
                                <option>텍스트 - 선택형</option>
                                <option>텍스트 - 선택형</option>
                            </select>
                            <span class="open-btn">-</span>
                        <p class="cd">내용입력</p>
                        <textarea placeholder="내용을 입력해주세요."></textarea>
                        <div class="deleteBtn">삭제</div>
                        </a>
                    </li>
                    <li class="select">
                        <a href=""><span class="message-title02">03. 메시지</span>
                            <select class="message-inselect ml3">
                                <option selected>텍스트 - 단답형/일반</option>
                                <option>텍스트 - 선택형</option>
                            </select>
                            <span class="open-btn">-</span>
                            <p class="cd">내용입력</p>
                            <textarea placeholder="내용을 입력해주세요."></textarea>
                            <div class="detail-select">
                                <input type="checkbox" name="connection01" value="" id="connection01">
                                <label for="connection01">문항별 메시지 연결</label>
                                <div class="connection-data">
                                    1.<input type="text" class="ml3"><a href=""><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/link.png"></a>
                                    <select class="message-inselect">
                                        <option selected>메시지메시지</option>
                                    </select>
                                </div>
                                <div class="connection-data">
                                    2.<input type="text" class="ml3"><a href=""><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/un-link.png"></a>
                                    <select class="message-inselect">
                                        <option selected>메시지메시지</option>
                                    </select>
                                </div>
                                <div class="connection-data">
                                    3.<input type="text" class="ml3"><a href=""><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/un-link.png"></a>
                                    <select class="message-inselect">
                                        <option selected>메시지메시지</option>
                                    </select>
                                </div>
                            </div>
                            <div class="deleteBtn">삭제</div>
                        </a>
                    </li>
                    <li class="new-select">
                        <select ng-model="selectedMenu" ng-change="menusSelectChange(selectedMenu)" ng-init="selectedMenu = menus[0]" class="add-menu" ng-options="x for x in menus"></select>
                    </li>
                </ul>
            </div>
            <div class="message-view">
                <div class="mobile-view-practice">
                    <div class="header">
                        <p>설문조사 봇</p>
                        <a href="" class="lef"><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/reset02.png"></a>
                    </div>
                </div>
                <div class="dialog-input">
                    <input placeholder="input your info">
                    <button type="button">
                        <img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/send.png">
                    </button>
                </div>

                <div class="dialog-setting">
                    <p>대화셋 설정-<br>아래 대화셋을 설정하고, 고객의 문의에 대응하세요.</p>
                    <button class="select"># 기본</button>
                    <button class="select"># 6월 이벤트</button>
                    <button>#1월 이벤트</button>
                    <button># 신규 TES</button>
                    <button># 설문_01</button>
                </div>
                <a href=""><div class="dialog-btn">발송하기</div></a>
            </div>
        </div>
    </div>
<!--
    <div class="graph-body" ng-class="isFocused() ? 'focused' : ''" ng-click="toFocus();">

        <!--init here the selected card
        <div id="graphDialogCanvas"></div>
    </div>
-->
</div>

