
<section class="row"id="videoSection">
  <div class="col-md-12 animate-if" id="testvideo" ng-if = "vm.show == 1">
    <video id="videoTag" loop class="video-inline">
      <source id="videoSrc" src="http://localhost:8443/videos/1-1인사.mp4" type="video/mp4">
    </video>
  </div>
  <!--<div class="col-md-12 animate-if" id="testvideo2" ng-if = "vm.show == -1" >-->
    <!--<video id="videoTag1" autoplay=true loop class="video-inline">-->
      <!--<source id='videoSrc1' src="http://0.s3.envato.com/h264-video-previews/80fad324-9db4-11e3-bf3d-0050569255a8/490527.mp4" type="video/mp4">-->
    <!--</video>-->
  <!--</div>-->

  <button class="btn btn-default" ng-click="vm.noControl()">No Control</button>
  <button class="btn btn-default" ng-click="vm.addControl()">Add Control</button>
  <button class="btn btn-default" ng-click="vm.mute()">Mute</button>
  <button class="btn btn-default" ng-click="vm.changeVideo()">Change Video</button>
</section>

<style>

  /*#videoTag {*/
/*position:absolute;*/
    /*top: -150px;*/
    /*left: -350px;*/
    /*z-index: 5000;*/
  /*}*/
  /*#videoTag1 {*/
    /*position:absolute;*/
    /*top: -150px;*/
    /*left: -350px;*/
    /*z-index: 5000;*/

  /*}*/

  .animate-if.ng-enter{
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  }

  .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity:0;
  }

  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity:1;
  }

  .video-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: black;
  }

  .video-inline {
    position: absolute;
    top: 50px;
    left: 0;
    width: 640px; height: 360px;
    z-index: 2000;

  }
</style>
