<header class="page-header">
  <h2>채널 관리</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>


<section class="panel">
  <div class="panel-body">
    <div style="clear: both; margin-bottom: 20px; ">
      <div style="font-size: 15px;color: #555; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">바로 사용해보기</div>

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail " style="text-align: center;height: 190px;">
            <img src="/images/sns/kakaotalk-icon1.png" style="height: 70px;margin-top: 5px;">
            <div class="caption">
              <p style="text-align: center;">카카오톡</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('kakao', 'easy')">카카오톡</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3" >
          <div class="thumbnail" style="text-align: center;height: 190px;">
            <img src="/images/sns/facebook-messenger-android.png" style="height: 80px;margin-top: 5px">
            <div class="caption">
              <p style="text-align: center;">페이스북 메신져</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('facebook', 'easy')">페이스북 메신져</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="text-align: center;height: 190px;">
            <img src="/images/sns/line-messenger-vector-logo.png" style="height: 70px;margin-top: 5px;">
            <div class="caption">
              <p style="text-align: center;">라인</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('line', 'easy')">라인 연결</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="text-align: center;height: 190px;">
            <img src="/images/sns/navertalk.png" style="height: 70px;margin-top: 5px;border-radius: 10%">
            <div class="caption">
              <p style="text-align: center;">네이버톡톡</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('navertalk', 'easy')">네이버톡톡 연결</a></p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div style="clear: both; margin-bottom: 20px;">
      <div style="font-size: 15px;color: #555; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">챗봇 직접 서비스 하기</div>

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="text-align: center;height: 190px;">
            <img src="/images/sns/kakaotalk-icon1.png" style="height: 70px;margin-top: 10px;">
            <div class="caption">
              <p style="text-align: center;">카카오톡</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('kakao')">메신져봇 생성</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3" >
          <div class="thumbnail" style="text-align: center;height: 190px;">
            <img src="/images/sns/facebook-messenger-android.png" style="height: 80px;">
            <div class="caption">
              <p style="text-align: center;">페이스북 메신져</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('facebook')">메신져봇 생성</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="text-align: center;height: 190px;">
            <img src="/images/sns/line-messenger-vector-logo.png" style="height: 70px;margin-top: 10px;">
            <div class="caption">
              <p style="text-align: center;">라인</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('line')">메신져봇 생성</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" style="text-align: center;height: 190px;">
            <img src="/images/sns/navertalk.png" style="height: 70px;margin-top: 10px; border-radius: 10%">
            <div class="caption">
              <p style="text-align: center;">네이버톡톡</p>
              <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('navertalk')">메신져봇 생성</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

