<section>
  <div class="page-header">
    <h1>{{vm.faq._id ? 'Edit Faq' : 'New Faq'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.faqForm" class="form-horizontal" ng-submit="vm.save(vm.form.faqForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">은행코드</label>
          <input name="name" type="text" ng-model="vm.faq.bankCode" id="name" class="form-control" placeholder="은행코드"
                 required>
          <div ng-messages="vm.form.faqForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Faq name is required.</p>
          </div>

          <label class="control-label" for="name">카테고리</label>
          <input name="name" type="text" ng-model="vm.faq.category" id="name" class="form-control" placeholder="카테고리"
                 required>

          <label class="control-label" for="name">제목</label>
          <input name="name" type="text" ng-model="vm.faq.title" id="name" class="form-control" placeholder="제목"
                 required>

          <label class="control-label" for="name">내용</label>
          <textarea name="name" type="text" rows="20" ng-model="vm.faq.content" id="name" class="form-control" placeholder="내용"
                   style="width: 260px" required>
            </textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.faq._id ? 'Update' : 'Create'}}</button>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-default" ng-click="vm.save(vm.form.faqForm.$valid, vm.faq.nextId);">저장 & 다음글</button>
        </div><br/>


        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
