<section>
  <div class="page-header">
    <h1>Faqs</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="faq in vm.faqs"
       data-ui-sref="faqs.view({ faqId: faq._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="faq.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="faq.user" data-ng-bind="faq.user.displayName"></span>
        <span data-ng-if="!faq.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="faq.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.faqs.$resolved && !vm.faqs.length">
    No Faqs yet, why don't you <a data-ui-sref="faqs.create">create one</a>?
  </div>
</section>
