<header class="page-header">
  <h2>{{vm.userDialog && vm.userDialog._id ? '임시친구 수정' : '임시친구 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel">
  <form name="form" class="form-horizontal form-bordered" ng-submit="vm.save(form.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">유저키 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.userDialog.userKey" class="form-control valid"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">채널 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <select ng-options="channel for channel in vm.channels"
                  ng-model="vm.userDialog.channel"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">이름 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.userDialog.name" class="form-control valid"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">전화번호 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.userDialog.phone" class="form-control valid"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">이메일 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.userDialog.email" class="form-control valid"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.userDialog && vm.userDialog._id">
          <!--<button class="btn btn-primary btn-sm">Submit</button>-->
          <button type="submit" class="btn btn-primary btn-sm" ng-click="vm.save(form.$valid)">생성</button>
          <!--<button type="reset" class="btn btn-default btn-sm">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="user-dialogs.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.userDialog && vm.userDialog._id">
          <a class="btn btn-primary btn-sm" ng-click="vm.save(form.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.userDialog && vm.userDialog._id">
          <!--<button class="btn btn-primary btn-sm">Submit</button>-->
          <button class="btn btn-primary col-sm-offset-3 col-sm-6" ng-click="vm.randomCreate()">랜덤생성</button>
        </div>
      </div>
    </footer>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
  </form>
</section>
