<header class="page-header">
  <h2>대화내역</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>

<!--<section class="panel" ng-keyup="vm.onKeyPress($event.keyCode)" tabindex="0">-->
<section class="panel">
  <!--<div class="form-group">-->
    <!--<div class="col-md-4">-->
      <!--<select class="form-control mb-md" id="selectServer" name="selectServer"-->
              <!--ng-options="option for option in vm.servers"-->
              <!--ng-model="vm.server">-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--&lt;!&ndash;<select class="form-control mb-md" id="selectBot" name="selectBot"&ndash;&gt;-->
      <!--&lt;!&ndash;ng-options="option for option in vm.bots"&ndash;&gt;-->
      <!--&lt;!&ndash;ng-model="vm.bot">&ndash;&gt;-->
      <!--&lt;!&ndash;</select>&ndash;&gt;-->
      <!--<input type="text" class="form-control" id="selectBot" name="selectBot"-->
             <!--ng-model="vm.bot"-->
             <!--placeholder="봇 이름"/>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<div class="input-group mb-md">-->
        <!--<input type="text" class="form-control" id="userName" name="userName"-->
               <!--ng-model="vm.userId"-->
               <!--placeholder="유저명"/>-->
        <!--<span class="input-group-btn">-->
          <!--<button class="btn btn-success" type="button" ng-click="vm.connect()">CONNECT</button>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<header class="panel-heading">-->
    <!--<h2 class="panel-title">{{vm.isConnected ? vm.bot : '접속해주세요'}}</h2>-->
  <!--</header>-->

  <div ng-if="!vm.userDialogs.length"><h3>대화 내역이 없습니다</h3></div>

  <div class="panel-body col-md-7" style="background-color: #ddd" ng-if="vm.userDialogs.length">
    <div ng-repeat="userDialog in vm.userDialogs" ng-class="!userDialog.inOut ?'item item-avatar b-none friend':'item item-avatar-right b-none me'">
      <div class="text-xs">
        <span class="font-bold m-r-sm" data-ng-if="!userDialog.inOut">{{userDialog.botId}}</span>
        <span class="color-grey-500">{{userDialog.created | date:'yy/MM/dd/HH:mm'}}</span>
      </div>
      <div class="bubble">
      <i class="icon-tail"></i><div class="content"><div class="content-text">{{userDialog.dialog}}</div></div>
      </div>
    </div>

    <!--<div id="chat_main">-->
    <!--&lt;!&ndash;<div id="chat_main" class="chat_main" style="height: 550px">&ndash;&gt;-->
      <!--&lt;!&ndash;<div ng-repeat="userDialog in ::vm.userDialogs" >&ndash;&gt;-->
        <!--&lt;!&ndash;<div ng-class="!userDialog.inOut ?'bubble':'bubble bubble&#45;&#45;alt'" style="white-space: pre-wrap;">&ndash;&gt;-->
          <!--&lt;!&ndash;{{userDialog.dialog}}&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--<div ng-repeat="userDialog in ::vm.userDialogs" ng-class="!userDialog.inOut ?'item item-avatar b-none friend':'item item-avatar-right b-none me'">-->
        <!--<div class="text-xs">-->
          <!--<span class="font-bold m-r-sm">{{}}</span>-->
        <!--</div>-->
        <!--<div class="bubble">-->
          <!--<i class="icon-tail"></i>-->
          <!--<div class="content">-->
            <!--<div class="content-text">{{userDialog.dialog}}</div>-->
         <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--&lt;!&ndash;<div class="item item-avatar b-none friend"><div class="text-xs"><span class="font-bold m-r-sm">csdemo</span><span class="color-grey-500">13:48</span></div><div class="bubble"><i class="icon-tail"></i><div class="content"><div class="content-text">안녕하세요. 머니브레인 고객센터입니다.</div></div></div></div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="item item-avatar-right b-none me"><div class="text-xs"><span class="font-bold m-r-sm"></span><span class="color-grey-500">13:48</span></div><div class="bubble"><i class="icon-tail-me"></i><span class="content">센터</span></div></div>&ndash;&gt;-->

      <!--&lt;!&ndash;<div ng-repeat="userDialog in ::vm.userDialogs" ng-class="!userDialog.inOut ?'bubble':'bubble bubble&#45;&#45;alt'" style="white-space: pre-wrap;">{{userDialog.dialog}}<br/><span style="font-size: 9px;">{{userDialog.created | date: 'yyyy-MM-dd HH:mm'}}</span></div>&ndash;&gt;-->
    <!--</div>-->
  </div>
</section>


