<!doctype html>

<html>
<head ng-controller="TitleController">
<base href="/">
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="Keywords" content="인공지능 AI 챗봇 Chatbot 딥러닝 Deep Learning">
<meta name="Description" content="NLP 자연어처리 NLU 자연어 이해 대화관리 Dialog Management 딥러닝 Deep Learning 인텐트 Intent 엔터티 Entity">
<meta name="author" content="MoneyBrain">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<title ng-bind="enterpriseTitle"></title>



{% if env == 'development' %}

<link rel="stylesheet" type="text/css" href="/lib/codemirror/lib/codemirror.css">

<!-- Core -->
<link href="/modules/core/client/css/core.css" rel="stylesheet" type="text/css">
<link href="/modules/core/client/css/popup.css" rel="stylesheet" type="text/css">

<link href="/modules/authentication/client/css/signin.css" rel="stylesheet" type="text/css">

<link href="/modules/chatbots/client/css/chatbot.css" rel="stylesheet" type="text/css">

<!-- PlayChat Core -->

<!-- PlayChat Core Layout -->
<link href="/modules/playchat/core/layout/client/css/layout.css" rel="stylesheet" type="text/css">

<link href="/modules/playchat/core/layout/client/css/styleCustom.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/core/layout/client/css/common.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/core/layout/client/css/component.css" rel="stylesheet" type="text/css">

<!-- PlayChat Global Navigation Bar -->
<link href="/modules/playchat/gnb/client/css/gnb.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/gnb/client/css/gnb-responsive.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)" id="gnb-responsive-css">

<!-- PlayChat TopBar -->
<link href="/modules/playchat/top-bar/client/css/top-bar.css" rel="stylesheet" type="text/css" id="topbar-css">

<!-- PlayChat Simulator -->
<link href="/modules/playchat/simulator/client/css/simulator.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/simulator/client/css/simulator-responsive.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 900px)" id="simulator-responsive-css">

<!-- PlayChat LogAnalysis -->
<link href="/modules/playchat/log-analysis/client/css/log-analysis.css" rel="stylesheet" type="text/css">

<!-- PlayChat Working Ground -->
<link href="/modules/playchat/working-ground/common/client/css/working-ground-common.css" rel="stylesheet" type="text/css">

<link href="/modules/playchat/working-ground/dashboard/client/css/dashboard.css" rel="stylesheet" type="text/css">

<!-- Dialog Set -->
<link href="/modules/playchat/working-ground/dialog-set/client/css/dialog-set-management.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/dialog-set/client/css/dialog-set-development.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/dialog-graph/client/css/dialog-graph-development.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/dialog-graph/client/css/dialog-graph-development-editor.css" rel="stylesheet" type="text/css">

<!-- Entity -->
<link href="/modules/playchat/working-ground/entity/client/css/entity-management.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/entity/client/css/entity-management-add.css" rel="stylesheet" type="text/css">

<!-- Intent -->
<link href="/modules/playchat/working-ground/intent/client/css/intent-management.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/intent/client/css/intent-management-add.css" rel="stylesheet" type="text/css">

<link href="/modules/playchat/working-ground/user/client/css/user-operation.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/failed-dialogs/client/css/failed-dialogs.css" rel="stylesheet" type="text/css">

<link href="/modules/playchat/working-ground/summary/client/css/summary-analysis.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/session/client/css/session-analysis.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/working-ground/dialog-graph-path/client/css/dialog-graph-path.css" rel="stylesheet" type="text/css">


<script src="/js/witch/witch.js"></script>

<script src="modules/playchat/gnb/client/gnb.witch.test.js"></script>
<script src="modules/playchat/simulator/client/simulator.witch.test.js"></script>
<script src="modules/playchat/working-ground/intent/client/intent.witch.test.js"></script>
{% endif %}

<script>
window.__CONFIG = {};
//window.__CONFIG.platform = 'web';
//if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
//{
//    window.__CONFIG.platform = 'mobile';
//}
//window.__CONFIG.os = '';
//window.__CONFIG.facebookAppId = "{{facebookAppId}}";
//window.__CONFIG.kakaoJSId = "{{kakaoJSAppId}}";
//window.__CONFIG.ogTitle = "{{title}}";
//window.__CONFIG.ogDescription = "{{description}}";
//window.__CONFIG.ogUrl = "{{url}}";
//window.__CONFIG.ogLogo = "{{logo}}";

window.__CONFIG.PLATFORM = '{{ platform }}';
window.__CONFIG.user = {{ user | json | safe }};
</script>

<script>
if('{{env}}' == 'production')
{
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93998259-1', 'auto');
    ga('send', 'pageview');
}
</script>

</head>
<body ng-controller="MainController">


<div class="main-logo-background">
    <div class="logo"></div>
</div>

<section ng-include="'/modules/core/client/views/header.client.view.html'"></section>

<section id="main" role="main">
    <section ui-view style="height: 100%; overflow: auto;"></section>
</section>

<!--<aside id="chat-include" class="sidebar-right" style="z-index: 11;" ng-include="'/modules/bots/client/views/chat-user-bot.client.view.html'"></aside>-->






<!-- 필요한 라이브러리 import -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>
<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/lib/angular-cookies/angular-cookies.js"></script>
<script src="/lib/angular-file-upload/dist/angular-file-upload.js"></script>
<script src="/lib/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/lib/codemirror/lib/codemirror.css">
<script src="/lib/codemirror/mode/javascript/javascript.js"></script>
<script src="/lib/d3/d3.min.js"></script>
<script src="/lib/chart.js/dist/Chart.js"></script>

<script type="text/javascript" src="/lib/moment/min/moment.min.js"></script>
<link rel="stylesheet" href="/lib/bootstrap-daterangepicker/daterangepicker.css">
<script src="/lib/bootstrap-daterangepicker/daterangepicker.js"></script>

<script>
// UI 공통 에러 구현.. 임시로 여기 위치.
var Beagle = {};
Beagle.error = function(e)
{
    console.error(e);
};
</script>


{% if env == 'development' %}
<!-- Core -->
<script src="modules/core/client/config/config.js"></script>
<script src="modules/core/client/config/init.js"></script>
<script src="modules/core/client/config/modules.js"></script>

<script src="modules/core/client/services/interceptors/auth.interceptor.client.service.js"></script>
<script src="modules/core/client/services/socket.io.client.service.js"></script>
<script src="modules/core/client/services/paging-service.js"></script>

<script src="modules/core/client/controllers/title.client.controller.js"></script>
<script src="modules/core/client/controllers/main.client.controller.js"></script>
<script src="modules/core/client/controllers/header.client.controller.js"></script>

<script src="modules/core/client/config/core.client.routes.js"></script>



<!-- Authentication -->
<script src="modules/authentication/client/controllers/signup.client.controller.js"></script>
<script src="modules/authentication/client/controllers/signin.client.controller.js"></script>
<script src="modules/authentication/client/controllers/password-forgot.client.controller.js"></script>
<script src="modules/authentication/client/controllers/user-profile.client.controller.js"></script>
<!--<script src="modules/authentication/client/controllers/authentication.client.controller.js"></script>-->
<script src="modules/authentication/client/services/authentication.client.service.js"></script>
<!--<script src="modules/authentication/client/services/password-validator.client.service.js"></script>-->
<script src="modules/authentication/client/config/authentication.client.route.js"></script>



<!-- chatbots -->
<script src="modules/chatbots/client/config/chatbot.client.route.js"></script>
<script src="modules/chatbots/client/controllers/chatbot.client.controller.js"></script>
<script src="modules/chatbots/client/controllers/chatbot-create.client.controller.js"></script>
<script src="modules/chatbots/client/controllers/chatbot-create-template.client.controller.js"></script>



<!-- demo -->
<script src="modules/demo/client/config/demo.client.route.js"></script>
<script src="modules/demo/client/controllers/demo.client.controller.js"></script>
<script src="modules/playchat/working-ground/knowledge/client/controllers/knowledge-graph.client.controller.js"></script>
<script src="modules/playchat/working-ground/knowledge/client/controllers/knowledge-graph2.client.controller.js"></script>



<!-- PlayChat Core -->

<!-- PlayChat Core Layout -->
<script src="modules/playchat/core/layout/client/controllers/playchat.client.controller.js"></script>
<script src="modules/playchat/core/layout/client/controllers/layout.client.controller.js"></script>
<script src="modules/playchat/core/layout/client/services/layout.client.service.js"></script>
<script src="modules/playchat/core/layout/client/services/menu.client.service.js"></script>
<script src="modules/playchat/core/layout/client/config/layout.routes.js"></script>

<!-- PlayChat SideMenu -->
<script src="modules/playchat/gnb/client/controllers/gnb.client.controller.js"></script>

<!-- PlayChat TopBar -->
<script src="modules/playchat/top-bar/client/controllers/top-bar.client.controller.js"></script>

<!-- PlayChat Simulator -->
<script src="modules/playchat/simulator/client/controllers/simulator.client.controller.js"></script>

<!-- PlayChat LogAnalysis -->
<script src="modules/playchat/log-analysis/client/controllers/log-analysis.client.controller.js"></script>

<!-- PlayChat Working Ground -->
<script src="modules/playchat/working-ground/dashboard/client/controllers/dashboard.client.controller.js"></script>

<script src="modules/playchat/working-ground/dialog-set/client/controllers/dialog-set-management.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-set/client/controllers/dialog-set-development.client.controller.js"></script>
<script src="modules/playchat/working-ground/entity/client/controllers/entity-management.client.controller.js"></script>
<script src="modules/playchat/working-ground/entity/client/controllers/entity-management-add.client.controller.js"></script>
<script src="modules/playchat/working-ground/intent/client/controllers/intent-management.client.controller.js"></script>
<script src="modules/playchat/working-ground/intent/client/controllers/intent-management-add.client.controller.js"></script>
<script src="modules/playchat/working-ground/task/client/controllers/task-management.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/controllers/dialog-graph-management.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/controllers/dialog-graph-development.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/controllers/dialog-graph-editor.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/controllers/dialog-graph-code-editor.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/controllers/dialog-graph-task-add.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/controllers/dialog-graph-type-add.client.controller.js"></script>


<script src="modules/playchat/working-ground/dialog-graph/client/services/dialog-graph-editor-task.client.service.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/services/dialog-graph-editor-input.client.service.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/services/dialog-graph-editor-output.client.service.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/services/dialog-graph-editor.client.service.js"></script>
<script src="modules/playchat/working-ground/dialog-graph/client/services/dialog-graph.client.service.js"></script>


<script src="modules/playchat/working-ground/user/client/controllers/user-operation.client.controller.js"></script>
<script src="modules/playchat/working-ground/user/client/controllers/user-operation-detail.client.controller.js"></script>

<script src="modules/playchat/working-ground/chat-log/client/controllers/ai-chat-log-operation.client.controller.js"></script>
<script src="modules/playchat/working-ground/chat-log/client/controllers/human-chat-log-operation.client.controller.js"></script>


<script src="modules/playchat/working-ground/summary/client/controllers/summary-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-traffic/client/controllers/dialog-traffic-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/user/client/controllers/user-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/session/client/controllers/session-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-training-input/client/controllers/dialog-training-input-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-training-usage/client/controllers/dialog-training-usage-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph-usage/client/controllers/dialog-graph-usage-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph-input/client/controllers/dialog-graph-input-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/dialog-graph-path/client/controllers/dialog-graph-path-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/intent/client/controllers/intent-analysis.client.controller.js"></script>

<script src="modules/playchat/working-ground/failed-dialogs/client/controllers/failed-dialogs-analysis.client.controller.js"></script>
<script src="modules/playchat/working-ground/failed-dialogs/client/controllers/failed-dialogs-operation.client.controller.js"></script>
<script src="modules/playchat/working-ground/failed-dialogs/client/controllers/failed-dialog-training.client.controller.js"></script>
<script src="modules/playchat/working-ground/failed-dialogs/client/controllers/failed-dialog-intent.client.controller.js"></script>
<script src="modules/playchat/working-ground/failed-dialogs/client/controllers/failed-dialog-graph.client.controller.js"></script>




<script src="modules/playchat/working-ground/common/client/services/modal-service.js"></script>
<script src="modules/playchat/working-ground/common/client/services/tab-service.js"></script>
<script src="modules/playchat/working-ground/common/client/services/form-service.js"></script>
<script src="modules/playchat/working-ground/common/client/services/tooltip-service.js"></script>
<script src="modules/playchat/working-ground/common/client/services/caret-service.js"></script>
<script src="modules/playchat/working-ground/common/client/services/date-service.js"></script>
<script src="modules/playchat/working-ground/common/client/services/daterangepicker-service.js"></script>
<script src="modules/playchat/working-ground/common/client/services/excel-download-service.js"></script>
{% endif %}




{% if env == 'production' %}
<script type="text/javascript" src="dist/application.min.js?rel={{app_version}}"></script>
{% endif %}







<script>
$.ajaxPrefilter(function( options, original_Options, jqXHR )
{
    options.async = true;
});
</script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://connect.facebook.net/en_US/all.js" async></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js" async></script>
<script>
if('{{env}}' == 'production')
{
    var facebookAppId = {{ facebookAppId | json | safe }};
    window.fbAsyncInit = function() {
        FB.init({
            appId      : facebookAppId,
            status     : true,
            xfbml      : true,
            version    : 'v2.8'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var kakaoJSID = {{ kakaoJSID | json | safe }};
    Kakao.init(kakaoJSID);  // 사용할 앱의 JavaScript 키를 설정해 주세요.
}
</script>
</body>
</html>
