<!doctype html>

<html>
<head ng-controller="TitleController">
<base href="/">
<!-- Basic -->
<meta charset="UTF-8">
<title data-ng-bind="enterpriseTitle"></title>
<meta name="keywords" content="인공지능 AI 챗봇 Chatbot 딥러닝 Deep Learning"/>
<meta name="description" content="NLP 자연어처리 NLU 자연어 이해 대화관리 Dialog Management 딥러닝 Deep Learning 인텐트 Intent 엔터티 Entity">
<meta name="author" content="MoneyBrain">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

<!-- 필요한 라이브러리 CSS -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<!-- 모듈 CSS 파일 -->
<link href="modules/core/client/css/core.css" rel="stylesheet" type="text/css" />
<link href="modules/core/client/css/signin.css" rel="stylesheet" type="text/css" />

<script>
window.__CONFIG = {};
//window.__CONFIG.platform = 'web';
//if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
//{
//    window.__CONFIG.platform = 'mobile';
//}
//window.__CONFIG.os = '';
//window.__CONFIG.facebookAppId = "{{facebookAppId}}";
//window.__CONFIG.kakaoJSId = "{{kakaoJSAppId}}";
//window.__CONFIG.ogTitle = "{{title}}";
//window.__CONFIG.ogDescription = "{{description}}";
//window.__CONFIG.ogUrl = "{{url}}";
//window.__CONFIG.ogLogo = "{{logo}}";

window.__CONFIG.PLATFORM = '{{ platform }}';
window.__CONFIG.user = {{ user | json | safe }};
</script>

<script>
if('{{env}}' == 'production')
{
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93998259-1', 'auto');
    ga('send', 'pageview');
}
</script>

</head>
<body ng-controller="MainController">


<div ng-show="loading" class="main-logo-background test">
    <div class="logo"></div>
</div>

<!--<section ng-include="'/modules/core/client/views/header.client.view.html'"></section>-->

<section id="main" role="main">
    <section ui-view style="height: 100%;"></section>
</section>

<!--<aside id="chat-include" class="sidebar-right" style="z-index: 11;" ng-include="'/modules/bots/client/views/chat-user-bot.client.view.html'"></aside>-->





{% if env == 'development' %}
<!-- 필요한 라이브러리 import -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<!--<script src="/lib/datatables.net/js/jquery.dataTables.js"></script>-->
<!--<script src="/lib/angular-animate/angular-animate.js"></script>-->
<script src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/lib/angular-cookies/angular-cookies.js"></script>
<!--<script src="/lib/angular-datatables/dist/angular-datatables.js"></script>-->
<!--<script src="/lib/angular-dropzone/lib/angular-dropzone.js"></script>-->
<script src="/lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
<!--<script src="/lib/angular-messages/angular-messages.js"></script>-->
<!--<script src="/lib/angular-pnotify/src/angular-pnotify.js"></script>-->
<script src="/lib/angular-resource/angular-resource.js"></script>
<!--<script src="/lib/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="/lib/angular-ui-codemirror/ui-codemirror.js"></script>-->
<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--<script src="/lib/angular-ui-select/dist/select.js"></script>-->
<!--<script src="/lib/angular-ui-utils/ui-utils.js"></script>-->
<!--<script src="/lib/ment.io/dist/mentio.js"></script>-->
{% endif %}




<!-- config 정리될때까지 angular 모듈 임시로 -->
<!-- Core -->
<script src="modules/core/client/config/config.js"></script>
<script src="modules/core/client/config/init.js"></script>
<script src="modules/core/client/config/modules.js"></script>

<script src="modules/core/client/services/interceptors/auth.interceptor.client.service.js"></script>
<!--<script src="modules/core/client/services/menus.client.service.js"></script>-->

<script src="modules/core/client/controllers/title.client.controller.js"></script>
<script src="modules/core/client/controllers/main.client.controller.js"></script>
<script src="modules/core/client/controllers/common-error.client.controller.js"></script>

<script src="modules/core/client/config/core.client.routes.js"></script>

<!-- PlayChat core -->
<script src="modules/playchat/core/client/controllers/playchat.client.controller.js"></script>
<script src="modules/playchat/core/client/services/playchat.client.service.js"></script>
<script src="modules/playchat/core/client/config/playchat.main.routes.js"></script>

<!-- PlayChat SideMenu -->
<script src="modules/playchat/side-menu/client/controllers/side-menu.client.controller.js"></script>

<!-- PlayChat TopBar -->
<script src="modules/playchat/top-bar/client/controllers/top-bar.client.controller.js"></script>

<!-- PlayChat Simulator -->
<script src="modules/playchat/simulator/client/controllers/simulator.client.controller.js"></script>

<!-- PlayChat LogAnalysis -->
<script src="modules/playchat/log-analysis/client/controllers/log-analysis.client.controller.js"></script>


<!-- Header -->
<!--<script src="modules/header/client/controllers/header.client.controller.js"></script>-->

<!-- Authentication -->
<!--<script src="modules/authentication/client/config/authentication.client.route.js"></script>-->

<!--<script src="modules/authentication/client/controllers/authentication.client.controller.js"></script>-->

<!--<script src="modules/authentication/client/services/authentication.client.service.js"></script>-->
<!--<script src="modules/authentication/client/services/password-validator.client.service.js"></script>-->


<!-- Chatbot -->
<!--<script src="modules/chatbot-list/client/config/chatbot.client.route.js"></script>-->
<!--<script src="modules/chatbot-list/client/controllers/chatbot.client.controller.js"></script>-->

<!-- Users -->
<!--<script src="modules/users/client/users.client.module.js"></script>-->
<!--<script src="modules/users/client/config/users.client.routes.js"></script>-->



<!--<script src="modules/core/client/directives/show-errors.client.directives.js"></script>-->
<!--<script src="modules/core/client/services/menus.client.service.js"></script>-->
<!--<script src="modules/core/client/services/socket.io.client.service.js"></script>-->

<!--<script src="modules/core/client/config/core.client.routes.js"></script>-->

<!--<script src="modules/core/client/controllers/landing-bots.client.controller.js"></script>-->

<!--<script src="modules/core/client/controllers/header.client.controller.js"></script>-->

<!--<script src="modules/bots/client/bots.client.module.js"></script>-->
<!--<script src="modules/bots/client/user-bots.client.module.js"></script>-->
<!--<script src="modules/bots/client/config/bots.client.config.js"></script>-->
<!--<script src="modules/bots/client/config/bots.client.routes.js"></script>-->
<!--<script src="modules/bots/client/services/bots.client.service.js"></script>-->
<!--<script src="modules/bots/client/services/user-bots.client.service.js"></script>-->

<!--<script src="modules/bots/client/controllers/user-bot-chat.client.controller.js"></script>-->


<!--&lt;!&ndash; users &ndash;&gt;-->
<!--<script src="modules/users/client/users.client.module.js"></script>-->
<!--<script src="modules/users/client/config/users.client.config.js"></script>-->
<!--<script src="modules/users/client/config/users.client.routes.js"></script>-->
<!--<script src="modules/users/client/services/authentication.client.service.js"></script>-->
<!--<script src="modules/users/client/services/users.client.service.js"></script>-->




<!-- 로컬개발시 angular 모듈 import -->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}





{% if env == 'production' %}
<script type="text/javascript" src="dist/application.min.js?rel={{app_version}}"></script>
{% endif %}









<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
if('{{env}}' == 'production')
{
    var facebookAppId = {{ facebookAppId | json | safe }};
    window.fbAsyncInit = function() {
        FB.init({
            appId      : facebookAppId,
            status     : true,
            xfbml      : true,
            version    : 'v2.8'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    var kakaoJSID = {{ kakaoJSID | json | safe }};
    Kakao.init(kakaoJSID);  // 사용할 앱의 JavaScript 키를 설정해 주세요.
}
</script>
</body>
</html>
