<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>mybot.ai</title>

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">

  <!-- OpenGrapth META -->
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Web Fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/ionic.app.css">
  <link rel="stylesheet" href="/css/custom_mobile.css">

  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">-->
  <!--<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">-->
  <!--<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">-->
  <!--<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">-->
  <!--<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">-->

  <!-- Theme CSS -->
  <!--<link rel="stylesheet" href="css/theme.css">-->
  <!--<link rel="stylesheet" href="css/theme-elements.css">-->
  <!--<link rel="stylesheet" href="css/theme-blog.css">-->
  <!--<link rel="stylesheet" href="css/theme-shop.css">-->
  <!--<link rel="stylesheet" href="css/theme-animate.css">-->

  <!-- Skin CSS -->
  <!--<link rel="stylesheet" href="css/skins/default.css">-->
  <!--<link rel="stylesheet" href="css/custom.css">-->


  <!-- Application CSS Files -->
  <!--{% for cssFile in mobileCssFiles %}<link rel="stylesheet" data-ng-href="/{{cssFile}}">{% endfor %}-->

  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->
  <script type="text/javascript">
    var _platform = 'mobile';
    var _os = '';
    var _facebookAppId = "{{facebookAppId}}";
    var _kakaoJSId = "{{kakaoJSAppId}}";
    var _ogTitle = "{{title}}";
    var _ogDescription = "{{description}}";
    var _ogUrl = "{{url}}";
    var _ogLogo = "{{logo}}";

    var deviceReady = false;
    var contentLoaded = false;

    document.addEventListener("deviceready", onDeviceReady, false);
    function onDeviceReady() {
      deviceReady = true;
      hideSplash();
    }
    document.addEventListener("DOMContentLoaded", onContentLoaded, false);
    function onContentLoaded() {
      contentLoaded = true;
      hideSplash();
    }

    function hideSplash() {
      console.log('hide : ' + deviceReady + ',' + contentLoaded);
      if(deviceReady && contentLoaded) {
        navigator.splashscreen.hide();
        console.log('hided');
      }
    }
  </script>
</head>

<body>
<!--<ion-nav-bar class="bar-positive">-->
  <!--<ion-nav-back-button class="button-icon ion-arrow-left-c">-->
  <!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->

<!--<ion-nav-view></ion-nav-view>-->



<!-- cordova script (this will be a 404 during development) -->
<!--<script type="text/javascript" src="cordova.js"></script>-->
<!--<script type="text/javascript" src="**injection**www/cordova.js"></script>-->
<!--<script type="text/javascript" src="**injection**www/cordova_plugins.js"></script>-->
<!--<script type="text/javascript" src="**injection**www/plugins/phonegap-plugin-push/www/push.js"></script>-->

<!--<script type="text/javascript" src="lib/ionic/js/ionic.bundle.js"></script>-->

<!--Application JavaScript Files-->
{% for jsFile in mobileJsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
{% if env == 'production' %}
<script type="text/javascript" src="dist/application.mobile.min.js?rel=ede1c2f011"></script>
{% endif %}



<ng-include src="'/modules/core/client/views/side-menu.mobile.view.html'" ></ng-include>

<script type="text/javascript">
  var user = {{ user | json | safe }};
</script>

</body>
</html>
