<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Athena - Moneybrain Chatbot</title>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/ionic.app.css">
    <!--<link href="/ionic-yahoo/www/lib/material-colors/dist/colors.css" rel="stylesheet">-->
    <link href="/css/custom_mobile2.css" rel="stylesheet">

    <script type="text/javascript">
        var _platform = 'mobile';
        var _os;
    </script>

</head>

<body>

<!--Load The Socket.io File-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!--Application JavaScript Files-->
{% for jsFile in mobileJsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
{% if env == 'production' %}
<script type="text/javascript" src="dist/application.mobile.min.js?rel=ede1c2f011"></script>
{% endif %}

<ng-include src="'/modules/core/client/views/side-menu2.mobile.view.html'" ></ng-include>
<script type="text/javascript">
    var user = {{ user | json | safe }};
</script>

</body>
</html>

