<!doctype html>
<html lang="en">
<head ng-controller="UserBotHeaderController">

  <title ng-bind = "title" id="htmltitle">플레이챗 PlayChat</title>
  <!--<title>플레이챗 PlayChat - 1분만에 만드는 인공지능 챗봇 머니브레인 MoneyBrain Inc</title>-->

  <meta name="keywords" content="챗봇 Chatbot 봇 Bot 인공지능 AI 딥러닝 Deep Learning"/>
  <meta name="author" content="머니브레인 MoneyBrain">
  <meta name="description" content="누구나 쉽게 1분만에 만드는 나만의 인공지능! 국내 최초 챗봇 SNS">

  <meta property="og:type" content="website">
  <!--<meta id="ogTitle"       property="og:title"        content="#" />-->
  <!--<meta id="ogDescription" property="og:description"  content="#" />-->
  <!--<meta id="ogImage"       property="og:image"        content="#"/>-->

  <meta id="ogTitle"       property="og:title"        content="플레이챗 PlayChat" />
  <meta id="ogDescription" property="og:description"  content="1분만에 만드는 인공지능 챗봇 머니브레인 MoneyBrain Inc" />
  <meta id="ogImage"       property="og:image"        content= "https://dev.moneybrain.ai/images/Playchat_logo_small.png"/>
  <meta id="ogImage2"      property="og:image"        content= "https://dev.moneybrain.ai/images/Playchat_logo_small.png"/>

  <base href="/">
  <meta charset="utf-8">

  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/assets/owl.theme.default.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/theme.css"/>
  <link rel="stylesheet" href="/css/skins/default.css"/>
  <link rel="stylesheet" href="/css/theme-custom.css">
  <!--<link rel="stylesheet" href="/css/custom.css">-->

  <link href="/css/user-bot-agency.css" rel="stylesheet">
  <link href="/css/user-bot-custom.css" rel="stylesheet">

  <!--jsoneditor-->
  <link href="/lib/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">

  <!--notification-->
  <!--<link rel="stylesheet" href="/lib/angular-ui-notification/dist/angular-ui-notification.css">-->

  <!--select css-->
  <link rel="stylesheet" href="/lib/angular-ui-select/dist/select.css">
  <link rel="stylesheet" href="/lib/select2/select2.css">


  <!-- Head Libs -->
  <script src="/vendor/modernizr/modernizr.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '285328978593961'); // Insert your pixel ID here.
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=285328978593961&ev=PageView&noscript=1"
  /></noscript>
  <!-- DO NOT MODIFY -->
  <!-- End Facebook Pixel Code -->


  <script>
    var _platform = 'web';
    var _os = '';
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93998259-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top" ng-controller="UserBotHeaderController">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/" style="padding-right: 0px"><img src="/images/playchat/playchat_logo.png" height="60"></a> Beta
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!--<li>-->
        <!--<a href="#page-top">Home</a>-->
        <!--</li>-->
        <li class="">
          <button class="page-scroll btn btn-primary" ui-sref="user-bots-web.create()"
                  style="margin-top: 7px;margin-right: 15px;padding: 8px 20px 8px 20px;">챗봇 만들기</button>
        </li>


        <li class="">
          <a class="page-scroll" id = "header_popular" style="font-size:130%" href="/list?listType=popular">인기봇</a>
        </li>
        <li class="">
          <a class="page-scroll" id = "header_recent" href="/list?listType=recent">최신봇</a>
        </li>
        <li class="">
          <a class="page-scroll" id = "header_follow" href="/list?listType=followed">친구봇</a>
        </li>
        <li class="">
          <a class="page-scroll" id = "header_my" href="/list?listType=my">마이봇</a>
        </li>

        <li class="" ng-hide="authentication && authentication.user">
          <a role="menuitem" tabindex="-1" href="" ng-click="$state.go('authentication.signin')" target="_self"><i class="fa fa-power-off"></i> 로그인</a>
        </li>
        <!--<li class="" ng-show="authentication && authentication.user">-->
        <!--<a role="menuitem" tabindex="-1" href="/api/auth/signout?path=/userbot" target="_self"><i class="fa fa-power-off"></i> Logout</a>-->
        <!--</li>-->

        <li class="header-right" ng-show="authentication && authentication.user">

          <span class="separator"></span>

          <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
              <!--<figure class="profile-picture">-->
              <!--<img src="/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />-->
              <!--</figure>-->
              <div class="profile-info">
                <span class="name" ng-bind="authentication.user.email">{{authentication.user.username}}</span>
              </div>

              <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu" style="padding-top: 30px;">
              <ul class="list-unstyled">
                <li class="divider"></li>
                <li>
                  <a role="menuitem" tabindex="-1" href="#" ng-click="$state.go('user-bots-web.settings.password')"><i class="fa fa-user"></i> 비밀번호 변경</a>
                </li>
                <li>
                  <a role="menuitem" tabindex="-1" href="/api/auth/signout?path=/" target="_self"><i class="fa fa-power-off"></i> 로그아웃</a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <!--<li class="">-->
        <!--<div class="btn-group" role="group" style="margin-top: 10px;">-->
        <!--<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--Language-->
        <!--<span class="caret"></span>-->
        <!--</button>-->
        <!--<ul id="language_dropdown" class="dropdown-menu">-->
        <!--<li><a href="#">한국어</a></li>-->
        <!--<li><a href="#">English</a></li>-->
        <!--<li><a href="#">中文</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</li>-->

      </ul>
    </div>
  </div>
</nav>

<header id="mainHeader">
  <div class="container">
    <div class="intro-text">
      <div class="intro-text-wrapper">
        <div id="language_button" class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
          </div>
        </div>
        <div class="intro-heading">인공지능 챗봇 플랫폼 - 플레이챗</div>
        <div class="intro-lead-in">1분만에 쉽게 나만의 챗봇을 만드세요.</div>
        <div class="row">
          <div class="intro-in">
            챗봇, 이제 개발하지 말고 간단한 정보의 입력만으로 나만의 챗봇을 만들어 바로 사용할 수 있습니다. 음식점, 혜어샵, 네일샵, 교육, 의료 등 각 업종별 미리 만들어진 챗봇을 선택하기만 하면 됩니다. 기존 플러스친구, 페이스북에도 바로 연결할 수 있습니다.
            <!--
            카카오톡에서 여자친구와 대화했던 내용으로 여자친구봇을 만들어 대화를 나눌 수 있습니다. 자막파일로 챗봇을 만들어 영화 속 주인공과 대화를 나누세요. 연예인, 정치인, 유명인의 대화를 모아서 챗봇을 만들고 공개하여 다른 사람도 이용하게 해보세요.
            -->
          </div>
          <div class="col-sm-4">
            <!--<a ui-sref="vm.create()" class="page-scroll btn btn-xl">챗봇 만들기</a>-->
          </div>
        </div>

        <br/>

        <div class="row">
          <!--<div class="col-sm-4">-->
          <!--&lt;!&ndash;모바일 앱을 다운로드 하세요.<br/>&ndash;&gt;-->
          <!--<img src="/bot-client/images/app_store_icon.png" height="50"/>-->
          <!--<img src="/bot-client/images/play_store_icon.png" height="50"/>-->
          <!--</div>-->
          <div class="col-sm-4 intro-messengers">
            <!--메신져에서 친구 추가해서 사용하세요.<br/>-->
            <a style="text-decoration: none;" href="http://plus.kakao.com/home/@playchat" target="_blank">
              <img src="/bot-client/images/kakaotalk-icon1.png" height="50"/>
            </a>
            <a style="text-decoration: none;" href="https://line.me/R/ti/p/%40utw0596x" target="_blank">
              <img src="/bot-client/images/line-messenger-vector-logo.png" height="50" alt="LINE it!" />
            </a>
            <a style="text-decoration: none;" href="https://www.messenger.com/t/1753073741670229" target="_blank">
              <img src="/bot-client/images/facebook-messenger-android.png" height="50" style="border-radius: 8px;"/>
            </a>

            <!--<div class="line-it-button" data-lang="en" data-type="share-d" data-url="http://localhost:8443/userbot/home" style="display: none;"></div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="ui-view-class" ui-view></div>


<div id="container-chat" class="chat-container" ng-controller="UserBotChatController"
     ng-keyup="vm.onKeyPress($event.keyCode)">


  <div id="chat-header" class="chat-header">
  </div>
  <div class="chat-body" >
    <div id="chat_main" class="chat_main">
    </div>
  </div>

  <div class="chat-footer" style="height: 34px;padding: 0 15px;">
    <form name="chatForm" class="form-horizontal form-bordered" novalidate="novalidate"
          ng-submit="vm.sendMsg();">
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" name="inputbox" id="inputbox"
                 placeholder="대화를 입력해주세요." ng-model="vm.msg"/>
          <span class="input-group-btn">
                      <!--<button class="btn" type="submit">SEND</button>-->
                      <button id="voiceButton" class="btn" type="button" ng-click="vm.toggleVoice()">Voice</button>
                    </span>
        </div>
      </div>
    </form>
  </div>
  <br/>
</div>

<footer class="footer-3">
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="http://moneybrain.ai/#">MoneyBrain Inc.</a>
      </div>
      <div class="col-sm-7">
        <div class="additional-links">
          Copyright 2017 by MoneyBrain Inc. All right reserved.
        </div>
      </div>
      <div class="col-sm-3" style="text-align: left;padding: 0px;">
        <h6>Contact</h6>
        <!--<div class="address">-->
        <!--Tel: 02-858-5683, 010-6662-4995-->
        <!--</div>-->

        <div class="address">Email: dyddnjs0007@moneybrain.ai
        </div>
        <div class="address">
          주소: 서울시 서초구 남부순환로289길 5,<br/>오렌지팜 101호 (삼영빌딩)
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Vendor -->
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/vendor/nanoscroller/nanoscroller.js"></script>
<script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/vendor/jquery-placeholder/jquery-placeholder.js"></script>

<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>

<!-- Specific Page Vendor -->
<script src="/vendor/jquery-ui/jquery-ui.js"></script>
<script src="/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
<script src="/vendor/jquery-appear/jquery-appear.js"></script>
<script src="/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="/vendor/select2/js/select2.js"></script>
<script src="/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
<script src="/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<!--<script src="/vendor/dropzone/dropzone.js"></script>-->

<!--&lt;!&ndash; Theme Base, Components and Settings &ndash;&gt;-->
<script src="/js/theme.js"></script>

<!--&lt;!&ndash; Theme Custom &ndash;&gt;-->
<script src="/js/theme.custom.js"></script>

<!--&lt;!&ndash; Theme Initialization Files &ndash;&gt;-->
<script src="/js/theme.init.js"></script>

<!--Embedding The User Object-->
<script type="text/javascript">
  var user = {{ user | json | safe }};
</script>

<!--Load The Socket.io File-->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!--Application JavaScript Files-->
{% for jsFile in jsFiles %}
<script type="text/javascript" src="{{jsFile}}"></script>
{% endfor %}

{% if env == 'production' %}
<script type="text/javascript" src="dist/application.min.js?rel={{app_version}}"></script>
{% endif %}

<script>

  function chatPosition() {
    var windowWidth = document.body.offsetWidth;
    if(windowWidth > 1200) {
      document.getElementById('container-chat').style.right = ((windowWidth - 1100) / 2) + 'px';
    } else if (windowWidth < 1200) {
      document.getElementById('container-chat').style.right = (-(1100 - windowWidth)) + 'px';
    } else {
      document.getElementById('container-chat').style.right = '10px';
    }
  }

  window.onresize = function() {
    chatPosition();
  };
  window.onload = function () {
    chatPosition();
  };

</script>

<!--facebook-->
<script src="https://connect.facebook.net/en_US/all.js"></script>
<!--<script src="https://connect.facebook.net/en_US/sdk.js"></script>-->
<script>
  $.get('/config', function (facebookID) {
    window.fbAsyncInit = function() {
      FB.init({
//      appId      : '240853479709635',
//        appId      : '1557169960967403',
        appId      : facebookID,
        status     : true,
        xfbml      : true,
        version    : 'v2.8'
      });
//    FB.AppEvents.logPageView();
    };
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  });
</script>

<!--kakao-->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type='text/javascript'>
  // // 사용할 앱의 JavaScript 키를 설정해 주세요.
  Kakao.init('f1eb73f3491e5c1e1178b3b8c12b10e5');
</script>

<!--line-->
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

</body>
</html>
