<!doctype html>
<html lang="en" ng-app="botClient">
<head>
    <meta charset="utf-8">
    <title>머니브레인 아테나 챗봇 - MoneyBrian ATHENA</title>

    <link href="../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link href="../css/theme.css" rel="stylesheet">
    <link href="../css/skins/default.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <link href="css/user-agency.css" rel="stylesheet">
    <link href="css/user-custom.css" rel="stylesheet">
    <!--<link href="css/agency.css" rel="stylesheet">-->

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/user-home.client.controller.js"></script>

</head>
<body ng-controller="UserHomeController">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href=""><img src="images/dark-logo.jpg" height="30"></a>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">ATHENA</h2>
                <h3 class="section-subheading text-muted">머니브레인 인공지능 챗봇 플랫폼 아테나 입니다 .</h3>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-6">
                <div class="feature-list">
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">자연스러운 대화에 기반한 서비스</h4>
                            <p class="text-muted">명령어가 아닌 자연스러운 언어로 질문 및 업무처리가 가능합니다.  <br>
                                이제 복잡한 메뉴를 찾을 필요없이 인공지능 비서에게 서비스 받으세요.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">인공지능 기술을 활용한 지속적 대화 학습</h4>
                            <p class="text-muted">단순한 패턴 매칭 기반의 챗봇 서비스로는 한계가 있습니다.  <br>
                                인공지능 학습을 통하여 서비스를 지속할 수록 대화의 품질이 향상 되는 기술을 구현하였습니다. </p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">기존 시스템 연동을 통한 업무처리</h4>
                            <p class="text-muted">단순 안내가 아닌 기존 업무를 자동화하는 챗봇은 기존 시스템과  <br>
                                연동이 필수 입니다. 다양한 적용사례를 바탕으로 업무기반 챗봇을 구축할 수 있습니다. </p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">다양한 채널 제공</h4>
                            <p class="text-muted">한번의 챗봇 시나리오 구성으로 카카오톡, 라인, 페이스북 등 여러 <br>
                                메세지 플랫폼에 적용이 가능하며 자체 App애도 적용할 수 있는 API를 제공합니다. </p>
                        </div>
                    </div>`

                </div>
            </div>


            <div class="col-md-6" class="panel" ng-keyup="vm.onKeyPress($event.keyCode)" style="width: 400px;margin: auto; float: right;">
                <!--<section class="panel" ng-keyup="vm.onKeyPress($event.keyCode)" style="width: 400px;margin: auto;padding-top: 0px;">-->
                    <div class="form-group" style="margin-bottom: 10px;">
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="selectBot" name="selectBot"
                                   ng-model="vm.bot"
                                   placeholder="봇 이름"/>
                        </div>
                        <div class="col-md-3" style="padding: 0;">
          <button class="btn btn-success" style="border-radius: 4px;" type="button" ng-click="vm.connect()">CONNECT</button>
                        </div>
                        <div class="col-md-3" style="padding: 0;text-align: right">
                            <button class="btn btn-info" style="width: 80px" type="button"  ng-click="vm.resetBot()">초기화</button>
                        </div>
                    </div>

                <div class="chat-body" >
                    <div id="chat_main" class="chat_main">
                    </div>
                </div>
                    <!--<div class="panel-body " style="padding: 0px; background-color: #ddd;">-->
                        <!--<div id="chat_main" class="chat_main" style="height: 500px">-->
                        <!--</div>-->
                    <!--</div>-->

                    <footer class="panel-footer" style="height: 34px;padding: 0 15px;">
                        <form name="chatForm" class="form-horizontal form-bordered" novalidate="novalidate"
                              ng-submit="vm.sendMsg()">
                            <div class="row">
                                <div class="input-group mb-md">
                                    <input type="text" class="form-control" name="inputbox" id="inputbox"
                                           ng-model="vm.msg" />
                                    <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">SEND</button>
          </span>
                                </div>
                            </div>
                        </form>
                    </footer>
                    <br/>
                <!--</section>-->

                <!--<img src="user_files/why_prefer6.png" height="500">-->
            </div>
        </div>
    </div>
</section>



<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-2">
                <a class="brand" href="http://moneybrain.ai/#">MoneyBrain Inc.</a>
            </div>
            <div class="col-sm-7">
                <div class="additional-links">
                    Copyright 2017 by MoneyBrain Inc. All right reserved.
                </div>
            </div>
            <div class="col-sm-3" style="text-align: left;">
                <h6>Contact</h6>
                <div class="address">
                    Tel: 02-858-5683, 010-6662-4995
                </div>

                <div class="address">
                    Email: dyddnjs0007@moneybrain.ai
                </div>
                <div class="address">
                    주소: 서울시 금천구 디지털로길 68, 1606호<br> (가산동, 대륭포스트타워5차)
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>