<!doctype html>
<html lang="en" ng-app="user-bots-web">
<head>
    <meta charset="utf-8">
    <title>머니브레인 아테나 챗봇 - MoneyBrian ATHENA</title>

    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/skins/default.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/bot-client/css/user-agency.css" rel="stylesheet">
    <link href="/bot-client/css/user-custom.css" rel="stylesheet">
    <link href="/bot-client/css/user-custom2.css" rel="stylesheet">
    <!--<link href="css/agency.css" rel="stylesheet">-->

    <script>
        var _platform = 'web';
        var _os = '';
    </script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/lib/angular-cookies/angular-cookies.js"></script>
    <!--<script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>-->
    <!--<script type="text/javascript" src="lib/angular-messages/angular-messages.js"></script>-->
    <!--<script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>-->
    <!--<script type="text/javascript" src="lib/angular-ui-utils/ui-utils.js"></script>-->

    <script type="text/javascript" src="/modules/core/client/app/config.js"></script>
    <script type="text/javascript" src="/modules/core/client/app/init.js"></script>
    <script type="text/javascript" src="/modules/bots/client/user-bots.client.module.js"></script>
    <script type="text/javascript" src="/modules/bots/client/services/user-bots.client.service.js"></script>
    <script type="text/javascript" src="/modules/bots/client/controllers/user-bot.client.controller.js"></script>
    <script type="text/javascript" src="/modules/bots/client/controllers/user-bot.web.client.controller.js"></script>
</head>

<body ng-controller="UserBotWebController as vm">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href=""><img src="/bot-client/images/dark-logo.jpg" height="30"></a>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">ATHENA</h2>
                <div ng-model="vm.msg"></div>
                <h3 class="section-subheading text-muted">머니브레인 인공지능 챗봇 플랫폼 아테나 입니다 .</h3>
            </div>
        </div>

        <div class="row text-left">
            <div class="col-md-8" ng-show="false">

                    <form id="botForm" name="botForm" class="form-horizontal form-bordered" ng-submit="vm.create(botForm.$valid)"
                          novalidate="novalidate">
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">봇이름 <span class="required" aria-required="true">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" id="name" name="name" ng-model="vm.userBot.name" class="form-control valid" placeholder="자유롭게 입력해주세요"
                                           required=""
                                           aria-required="true" aria-invalid="false">
                                </div>
                                <!--<div ng-messages="botForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                    <!--<p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>-->
                                <!--</div>-->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">이미지 <span class="required" aria-required="true">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" id="name" name="name" ng-model="vm.userBot.image" class="form-control valid" placeholder="자유롭게 입력해주세요"
                                           required=""
                                           aria-required="true" aria-invalid="false">
                                </div>
                                <!--<div ng-messages="botForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                <!--<p class="help-block error-text" ng-message="required">설명을 입력해주세요</p>-->
                                <!--</div>-->
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">설명 <span class="required" aria-required="true">*</span></label>
                                <div class="col-sm-9">
          <textarea name="description" ng-model="vm.userBot.description" id="description" rows="5" class="form-control"
                    placeholder="내용을 입력해주세요" required="" aria-required="true" aria-invalid="true"></textarea>
                                </div>
                                <!--<div ng-messages="botForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                    <!--<p class="help-block error-text" ng-message="required">설명을 입력해주세요</p>-->
                                <!--</div>-->
                            </div>

                            <div class="form-group">
                            <label class="col-sm-3 control-label">공개여부 <span class="required" aria-required="true">*</span></label>
                            <div class="col-sm-9">
                            <div class="checkbox-custom checkbox-default">
                            <input type="checkbox" id="public" ng-model="vm.bot.public">
                            <label for="using">공개</label>
                            </div>
                            </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">대화파일 <span class="required" aria-required="true">*</span></label>
                                <div class="col-sm-9">
                                    <div class="text-left" ng-hide="uploader.queue.length" style="display: inline;">
                                      <span class="btn btn-default btn-file">
                                          <input type="file" nv-file-select uploader="uploader">
                                      </span>
                                    </div>
                                    <!--<div class="text-center form-group" ng-show="uploader.queue.length">-->
                                    <div class="text-right" style="display: inline;">
                                        <button class="btn btn-primary" ng-click="uploadDialogFiles();">Upload</button>
                                        <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
                                    </div>
                                    <div ng-show="success" class="text-center text-success">
                                        <strong>파일이 업로드 되었습니</strong>
                                    </div>
                                    <div ng-show="error" class="text-center text-danger">
                                        <strong ng-bind="error"></strong>
                                    </div>
                                </div>
                                <!--<div ng-messages="botForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                <!--<p class="help-block error-text" ng-message="required">설명을 입력해주세요</p>-->
                                <!--</div>-->
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">개별대화 <span class="required" aria-required="true">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" id="question" name="question" ng-model="vm.bot.name" class="form-control valid" placeholder="질문"
                                           required=""
                                           aria-required="true" aria-invalid="false">
                                    <input type="text" id="answer" name="answer" ng-model="vm.bot.name" class="form-control valid" placeholder="답변"
                                           required=""
                                           aria-required="true" aria-invalid="false">
                                </div>
                                <!--<div ng-messages="botForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                <!--<p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>-->
                                <!--</div>-->
                            </div>


                        </div>


                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">
                                    <!--<button class="btn btn-primary">Submit</button>-->
                                    <button type="submit" class="btn btn-primary">생성</button>
                                    <!--<button type="reset" class="btn btn-default">초기화</button>-->
                                    <button type="button" class="btn btn-danger" ui-sref="bots.list">취소</button>
                                </div>
                                <div class="col-sm-12 text-center" ng-show="vm.userBot && vm.userBot._id">
                                    <a class="btn btn-primary" ng-click="vm.update(botForm.$valid)">
                                        <i class="glyphicon glyphicon-edit"></i> 수정
                                    </a>
                                    <a class="btn btn-danger" ng-click="vm.remove()">
                                        <i class="glyphicon glyphicon-trash"></i> 삭제
                                    </a>
                                </div>
                            </div>
                        </footer>
                        <div ng-show="error" class="text-danger">
                            <strong ng-bind="error"></strong>
                        </div>
                    </form>

            </div>

            <div class="col-md-8 row bot-list" ng-show="true">
                <!--<div>-->
                    <!--<ul class="nav nav-pills">-->
                        <!--<li role="presentation" class="active"><a href="#">인기봇</a></li>-->
                        <!--<li role="presentation"><a href="#">최신봇</a></li>-->
                        <!--<li role="presentation"><a href="#">친구봇</a></li>-->
                        <!--<li role="presentation"><a href="#">마이봇</a></li>-->
                    <!--</ul>-->
                    <!--<form class="form-inline">-->
                        <!--<div class="form-group">-->
                            <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="찾을 봇 이름">-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">검색</button>-->
                    <!--</form>-->
                <!--</div>-->

                <div class="col-sm-6 col-md-3" ng-repeat="userBot in vm.userBots">
                    <div class="thumbnail"><img alt="100%x200"
                                                src="{{userBot.imageFile}}"
                                                data-holder-rendered="true"
                                                style="height: 150px; width: 100%; display: block;">
                        <div class="caption"><h3 class="bot-title">{{userBot.name}}</h3>
                            <p class="bot-desc">{{userBot.description}}</p>
                            <p class="bot-buttons"><a href="#" class="btn btn-primary" role="button">대화하기</a> <a href="#"
                                                                                                                 class="btn btn-default"
                                                                                                                 role="button">삭제</a>
                            </p></div>
                    </div>
                </div>

                <!--<div class="col-sm-6 col-md-3">-->
                    <!--<div class="thumbnail"><img alt="100%x200" data-src="holder.js/100%x200"-->
                                                <!--src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVhMzVjMWEyNjUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWEzNWMxYTI2NSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS40Ij4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">아테나</h3>-->
                            <!--<p class="bot-desc">그리스 신화에 나오는 지혜의 여신에서 이름을 가져온 인공지능 챗봇으로 무엇이든 물어보세요.-->
                                <!--날씨, 뉴스, 쇼핑, 영화, 음악, 동영상, 백과사전</p>-->
                            <!--<p class="bot-buttons"><a href="#" class="btn btn-primary" role="button">대화하기</a> <a href="#"-->
                                                                                               <!--class="btn btn-default"-->
                                                                                               <!--role="button">삭제</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-3">-->
                    <!--<div class="thumbnail"><img alt="100%x200" data-src="holder.js/100%x200"-->
                                                <!--src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVhMzVjMWIwMjUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWEzNWMxYjAyNSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS40Ij4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">여자친구봇</h3>-->
                            <!--<p class="bot-desc">나만의 가상 여자친구를 만들어보세요. 외로울 때, 이성이 필요할 때 말을 걸어 보세요.</p>-->
                            <!--<p class="bot-buttons"><a href="#" class="btn btn-primary" role="button">대화하기</a> <a href="#"-->
                                                                                               <!--class="btn btn-default"-->
                                                                                               <!--role="button">삭제</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-3">-->
                    <!--<div class="thumbnail"><img alt="100%x200" data-src="holder.js/100%x200"-->
                                                <!--src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVhMzVjMWViYzkgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWEzNWMxZWJjOSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS40Ij4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">인공지능 장난감</h3>-->
                            <!--<p class="bot-desc">유아용 인공지능 대화형 장난감 입니다. 아이의 수준에서 질문과 답변을 해줍니다. 또한 교육용 기능이 포함되어 모르는 것에 답변을 해주는 인공지능 가정교사입니다.</p>-->
                            <!--<p class="bot-buttons"><a href="#" class="btn btn-primary" role="button">대화하기</a> <a href="#"-->
                                                                                               <!--class="btn btn-default"-->
                                                                                               <!--role="button">삭제</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-6 col-md-3">-->
                    <!--<div class="thumbnail"><img alt="100%x200" data-src="holder.js/100%x200"-->
                                                <!--src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVhMzVjMWEyNjUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWEzNWMxYTI2NSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS40Ij4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">박근혜봇</h3>-->
                            <!--<p class="bot-desc">대통령 박근해 봇입니다. 기존에 했던 말들을 바탕으로 만들어진 봇입니다. 아직 수준이 높지는 않습니다 ^^ </p>-->
                            <!--<p class="bot-buttons"><a href="#" class="btn btn-primary" role="button">대화하기</a> <a href="#"-->
                                                                                               <!--class="btn btn-default"-->
                                                                                               <!--role="button">삭제</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-3">-->
                    <!--<div class="thumbnail"><img alt="100%x200" data-src="holder.js/100%x200"-->
                                                <!--src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVhMzVjMWIwMjUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWEzNWMxYjAyNSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS40Ij4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">레스토랑봇</h3>-->
                            <!--<p class="bot-desc">레스토랑 안내봇을 간단하게 만들수 있습니다. 엑셀에 질문을 추가하여 자기만의 상점봇을 만드세요~</p>-->
                            <!--<p class="bot-buttons"><a href="#" class="btn btn-primary" role="button">대화하기</a> <a href="#"-->
                                                                                               <!--class="btn btn-default"-->
                                                                                               <!--role="button">삭제</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-6 col-md-3">-->
                    <!--<div class="thumbnail"><img alt="100%x200" data-src="holder.js/100%x200"-->
                                                <!--src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTVhMzVjMWIwMjUgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNWEzNWMxYjAyNSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS40Ij4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">레스토랑봇</h3>-->
                            <!--<p class="bot-desc">레스토랑 안내봇을 간단하게 만들수 있습니다. 엑셀에 질문을 추가하여 자기만의 상점봇을 만드세요~</p>-->
                            <!--<p class="bot-buttons"><a href="#" class="btn btn-primary" role="button">대화하기</a> <a href="#"-->
                                                                                               <!--class="btn btn-default"-->
                                                                                               <!--role="button">삭제</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->

            </div>

            <div class="col-md-4" class="panel" ng-keyup="vm.onKeyPress($event.keyCode)"
                 style="margin: auto; float: right;">
                <!--<section class="panel" ng-keyup="vm.onKeyPress($event.keyCode)" style="width: 400px;margin: auto;padding-top: 0px;">-->
                <!--<div class="form-group" style="margin-bottom: 10px;">-->
                <!--<div class="col-md-6">-->
                <!--<input type="text" class="form-control" id="selectBot" name="selectBot"-->
                <!--ng-model="vm.bot"-->
                <!--placeholder="봇 이름"/>-->
                <!--</div>-->
                <!--<div class="col-md-3" style="padding: 0;">-->
                <!--<button class="btn btn-success" style="border-radius: 4px;" type="button" ng-click="vm.connect()">CONNECT</button>-->
                <!--</div>-->
                <!--<div class="col-md-3" style="padding: 0;text-align: right">-->
                <!--<button class="btn btn-info" style="width: 80px" type="button"  ng-click="vm.resetBot()">초기화</button>-->
                <!--</div>-->
                <!--</div>-->

                <div class="panel-body " style="padding: 0px; background-color: #ddd;">
                    <div id="chat_main" class="chat_main" style="height: 500px">
                    </div>
                </div>

                <footer class="panel-footer" style="height: 34px;padding: 0 15px;">
                    <form name="chatForm" class="form-horizontal form-bordered" novalidate="novalidate"
                          ng-submit="vm.sendMsg()">
                        <div class="row">
                            <div class="input-group mb-md">
                                <input type="text" class="form-control" name="inputbox" id="inputbox"
                                       ng-model="vm.msg"/>
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" type="submit">SEND</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </footer>
                <br/>

                <!--</section>-->

                <div>
                    공유하기<br/>
                    <img src="/bot-client/images/social-facebook-icon.png" height="30"/>
                    <img src="/bot-client/images/social-twitter-icon.png" height="30"/>
                    <img src="/bot-client/images/kakaotalk-android.png" height="30"/>
                </div>
                <br/>

                <div>
                    Messenger에서 사용하세요.<br/>
                    <img src="/bot-client/images/kakaotalk-android.png" height="50"/>
                    <img src="/bot-client/images/line-messenger-vector-logo.png" height="50"/>
                    <img src="/bot-client/images/facebook-messenger-android.png" height="50"/>
                </div>
                <br/>

                <div>
                    App을 다운로드 하세요.<br/>
                    <img src="/bot-client/images/app_store_icon.png" height="50"/>
                    <img src="/bot-client/images/play_store_icon.png" height="50"/>
                </div>

                <!--<img src="user_files/why_prefer6.png" height="500">-->
            </div>
        </div>
    </div>
</section>



<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-2">
                <a class="brand" href="http://moneybrain.ai/#">MoneyBrain Inc.</a>
            </div>
            <div class="col-sm-7">
                <div class="additional-links">
                    Copyright 2017 by MoneyBrain Inc. All right reserved.
                </div>
            </div>
            <div class="col-sm-3" style="text-align: left;">
                <h6>Contact</h6>
                <div class="address">
                    Tel: 02-858-5683, 010-6662-4995
                </div>

                <div class="address">
                    Email: dyddnjs0007@moneybrain.ai
                </div>
                <div class="address">
                    주소: 서울시 금천구 디지털로길 68, 1606호<br> (가산동, 대륭포스트타워5차)
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>