<style>

    .link {
        stroke: #999;
        stroke-opacity: .6;
    }

    #child{
    }

    .link.child {
    }

    circle {
        cursor: pointer;
        stroke: #fff;
        stroke-width: 2px;
    }

    circle.node.highlighted {
        fill: lightblue;
        stroke: important;
        stroke-width: 3px;
    }

    text {
        font: 12px 돋음체;
        font-weight: bold;
    }

    .edgelabel {
        pointer-events: none;
        font-weight: bold;
        font-size: 10px;
        text-anchor: middle;
        alignment-baseline: middle;
    }
    .graph-svg-component {
        background-color: black;
    }

    .overlay {
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        box-sizing:border-box;
        padding:0px;
        z-index:2000;
    }

    .overlay_bg {
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        box-sizing:border-box;
        padding:0px;

        background-color: black;
        opacity:0.7;
        z-index:2001;
    }
    .overlay_text {
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        box-sizing:border-box;
        padding:0px;

        color:white;
        z-index:2002;
    }

    .input {
        background-color: rgba(0,0,0,0.1);
        color: white;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        font-size:15pt;
        text-align:center;
        padding:5px 5px 15px 5px;
    }

    .my_smart {
        width: 100%;
        bottom: 50%;
    }
    .imageType {
        height: 150px !important;
        width: auto !important;
    }
    .link {

    }
</style>

<section id="canvas" class="overlay" > </section>
<section id="bg" class="overlay_bg" ></section>
<section id="text" class="overlay_text">
    <div style="position:absolute; top:1%; width:100%;">
    <!--<img src="/images/playchat/playchat_logo.png" height="60">-->
    </div>
    <div style="position:absolute; top:17%; left:13%; width:70%; ">
        <span id="botName" style="display:inline-block;font-size:25px">{{vm.userBot.name}}</span>
    </div>
    <div style="position:absolute; top:17%; left:70%; width:18%; height:10%">
        <span id="botDesc" style="display:inline-block;font-size:16px">{{vm.userBot.description}}</span>
    </div>
    <div style="position:absolute; top:14%; width:100%; ">
        <center>
            <img id="botImage" src="{{vm.userBot.imageFile}}" data-holder-rendered="true"
                 style="max-width: 90px; border-radius: 50%; border: 5px solid white;">
        </center>
    </div>
    <div ng-show="vm.isAnswer" id='answer-div' style="position:absolute; top:30%; left:25%; width:50%; height:35%; text-align:center">
        <p id="answer" style="display:inline-block;font-size:23px;"></p>
    </div>
    <div id="chat-main" style="position:absolute; top:30%; left:20%; width:60%; height:35%; text-align:center">
    </div>
    <div id="buttons" style="position:absolute; top:65%; left:35%; width:30%; height:10%; text-align:center">
    </div>
    <form id="f" novalidate="novalidate" ng-submit="vm.sendMsg();">
    <div style="position:absolute; top:70%; width:100%; text-align:center">
        <input type="text" id="question" autocomplete="off" class="input" size="40" ng-model="vm.question"/>
        <br><br>
        <span onmouseover="this.style.color='red'" onmouseout="this.style.color='white'"
              style="display:inline-block;font-size:15px; cursor:pointer;" ng-click="vm.sendMsg()">입력</span>
    </div>
    </form>

    <div style="position:absolute; top:2%; width:95%;">
        <a class="btn btn-danger btn-xs pull-right" ng-click="vm.closeGraph()" ui-sref="user-bots-web.view({userBotId: vm.userBot._id, noGraph:'t'})">
            <i class="fa fa-close"></i>
        </a>
        <a class="btn-xs pull-right" style="color:white" ng-click="vm.noGraph()" ui-sref="user-bots-web.view({userBotId: vm.userBot._id, noGraph:'t'})">
            다시보지 않기
        </a>
    </div>
</section>
<!--</div>--
