<style>

  .link {
    stroke: #999;
    stroke-opacity: .6;
  }

  #child{
  }

  .link.child {
  }

  circle {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 2px;
  }

  circle.node.highlighted {
    fill: lightblue;
    stroke: important;
    stroke-width: 3px;
  }

  text {
    font: 12px 돋음체;
    font-weight: bold;
  }

  .edgelabel {
    pointer-events: none;
    font-weight: bold;
    font-size: 10px;
    text-anchor: middle;
    alignment-baseline: middle;
  }

</style>

<div>
<!--<div class="col-md-6">-->
<section id="canvas" class="panel" > </section>
</div>
<!--</div>--
