<header class="page-header">
  <h2>Bots</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Context 분석</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!--<div class="col-md-6">-->
<section class="panel">
  <form name="botForm" class="form-horizontal form-bordered" ng-submit="create(botForm.$valid)" novalidate="novalidate">

    <div class="panel-body">
      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">Final <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<p style="font-size: 14px;" class="form-control-static" >{{vm.final}}</p>-->
        <!--</div>-->
      <!--</div>-->

      <div class="form-group">
        <label class="col-sm-3 control-label">Context</label>
        <div class="col-sm-9">
          <p style="font-size: 14px;font-weight: bold;" class="form-control-static" >{{vm. topic}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">NLU</label>
        <div class="col-sm-9">
          <p style="font-size: 14px;font-weight: bold;" class="form-control-static" >{{vm.nlp}}</p>
        </div>
      </div>

    </div>

    <br/>
    <div class="panel-body">


      <div class="form-group">
        <label class="col-sm-3 control-label">Best Sentence</label>
        <div class="col-sm-9">
          <p style="font-size: 14px;font-weight: bold;" class="form-control-static" ng-show="vm.best != undefined">{{vm.best.input}} ({{vm.best.matchRate | number: 2}})</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Sentences Inputs</label>
        <div class="col-sm-9">
          <ul style="padding-left: 0px;">
            <li style="margin-bottom: 10px; font-size: 14px;list-style: none;" ng-repeat="dialog in vm.dialogs">{{dialog.input}} ({{dialog.matchRate | number: 2}})</li>
          </ul>
        </div>
      </div>
    </div>

    <!--<br/>-->
    <!--<div class="panel-body">-->
      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">Best <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<p style="font-size: 14px;font-weight: bold;" class="form-control-static" ng-show="vm.best != undefined">{{vm.best.input}} ({{vm.best.matchRate | number: 2}})</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">Context</label>-->
        <!--<div class="col-sm-9">-->
          <!--<ul style="padding-left: 0px;">-->
            <!--<li style="margin-bottom: 10px; font-size: 14px;list-style: none;" ng-repeat="dialog in vm.dialogs">{{dialog.input}} ({{dialog.matchRate | number: 2}})</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </form>
</section>
<!--</div>-->




