<!DOCTYPE html>
<meta charset="utf-8">
<style type="text/css">

    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#EEE;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .nodetext {
        font-size:10px;
    }

    .nodetitle {
        font-weight:bold;
        font-size:11px;
    }
    .icon {
        font-family: FontAwesome;
        font-size: 1.5em;
        cursor: pointer;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .link_internal {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .graph-svg-component {
        /*background-color: white;*/
    }

    #call{
        fill: #E6550D;
    }

    .link_internal.call{
        stroke: #E6550D;
    }

    #callChild{
        fill: #64550D;
    }

    .link_internal.callChild{
        stroke: #64550D;
    }

    #returnDialog{
        fill: #5C96BC;
    }

    .link_internal.returnDialog{
        stroke: #5C96BC;
    }

    #returnCall{
        fill:#5C96BC;
    }

    .link_internal.returnCall{
        stroke: #5C96BC;
    }

    #child{
        fill: #74C476;
    }

    .link.child {
        stroke: #74C476;
    }

    rect {
        fill: aliceblue;
        /*stroke: blue;*/
        stroke: #7CA4C0;
    }

    .selectedRect {
        pointer-events:none;
        stroke:steelblue;
        stroke-width:3;
    //stroke-dasharray: 10 5;
        fill:none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .edgelabel {
        pointer-events: none;
        font-weight: bold;
        font-size: 10px;
        text-anchor: middle;
        alignment-baseline: middle;
    }

    .mfp-bg {
        //background : initial;
        opacity: 0.6;
    }

    .modal-block {
    }

</style>
<body>
<header class="page-header">
    <h2>파일관리</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a ui-sref="home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Dialog Tree</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div id="control" class="test-body">
    <a class="modal-with-form btn btn-default" style="display:none" href="#modalForm">Open Form</a>

    <!-- Modal Form -->
    <div id="modalForm" class="modal-block modal-block-primary mfp-hide">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">다이얼로그 수정</h2>
            </header>
            <form name="dialogForm" class="form-horizontal" novalidate="novalidate">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control mb-xs" ng-model="dialog.name" placeholder="이름을 입력해주세요">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Input <span class="required" aria-required="true">*</span></label>
                        <div class="col-sm-9">
                            <div ng-repeat="input in dialog.input">
                                <div class="input-group mb-xs" ng-show="vm.inputMode && vm.curInput == input">
                                    <div class="input-group-btn" >
                                        <button tabindex="-1" class="btn" ng-class="vm.getButtonClass(vm.curI.type)" type="button">{{vm.curI.type}}</button>
                                        <button tabindex="-1" data-toggle="dropdown" ng-class="vm.getButtonClass(vm.curI.type)" class="btn dropdown-toggle" type="button">
                                            <span class="caret"></span>
                                        </button>
                                    </div>
                                    <ul role="menu" class="dropdown-menu" >
                                        <li ng-repeat="type in getInputTypes(vm.curInput, vm.curI)">
                                            <a href="#" ng-click="setType(vm.curI, type)">{{type}}</a>
                                        </li>
                                    </ul>
                                    <input type="text" id="input" name="input" ng-model="vm.curI.str" class="form-control"
                                            placeholder="{{getPlaceHolder(vm.curI.type)}}" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="saveI()" type="button">저장</button>
                                        <button class="btn btn-danger" ng-click="resetI()" type="button">취소</button>
                                    </span>
                                </div>
                                <div  ng-show="!vm.inputMode || vm.curInput != input">
                                    <div class="form-control col-md-11 mb-xs" style="height:auto;">
                                        <button class="mr-xs btn btn-xs" ng-class="vm.getButtonClass(i.type)"
                                                ng-click="openEdit(i,input)"
                                                ng-repeat="i in input">{{i.str == '' ? "-new-" : i.str}}&nbsp;
                                            <i ng-click="removeI(i,input)" class="fa fa-remove" style="color:white"></i></button>
                                        <button class="mr-xs btn btn-default btn-xs"
                                                ng-show="getInputTypes(input).length > 0"
                                                ng-click="addI(input)" ><i class="fa fa-plus"></i></button>
                                        <span class="icon pull-right " style="height:20px;line-height:20px">
                                            <i ng-click="removeInput(input)" class="fa fa-remove"
                                               style="color:red;font-size:70%;"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" ng-click="addInput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> Input 추가</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Task</label>
                        <div class="col-sm-9 dropdwon">
                            <button ng-disabled="vm.tasks.length == 0" class="btn btn-default btn-block dropdown-toggle" ng-model="dialog.task" type="button" data-toggle="dropdown">{{dialog.task}}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu btn-block">
                                <li class="text-center"><a href="#" ng-click="dialog.task = undefined">선택 안함</a></li>
                                <li class="divider">|</li>
                                <li class="text-center" ng-repeat = "t in vm.tasks">
                                    <a href="#" ng-click="dialog.task = t">{{t}}</a>
                                    <i ngClick="openTask(t, false)" class="btn fa fa-3 fa-edit pull-right" style="margin-top:-25px"></i>
                                </li>
                                <li class="divider">|</li>
                                <!--<li class="text-center" readonly>공개 Task</li>-->
                                <li class="text-center" ng-repeat = "t in vm.commonTasks">
                                    <a href="#" ng-click="dialog.task = t.name">{{t.name}}</a>
                                    <i ngClick="openTask(t, true)" class="btn fa fa-3 fa-list pull-right" style="margin-top:-25px"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Output <span class="required" aria-required="true">*</span></label>
                        <div class="col-sm-9">
                            <div ng-repeat="output in dialog.output">
                                <div class="input-group mb-xs" ng-show="vm.inputModeO && vm.curOutput == output">
                                    <div class="input-group-btn" >
                                        <button tabindex="-1" class="btn" ng-class="vm.getButtonClass(vm.curO.type)" type="button">{{vm.curO.type}}</button>
                                        <button tabindex="-1" data-toggle="dropdown" ng-class="vm.getButtonClass(vm.curO.type)" class="btn dropdown-toggle" type="button">
                                            <span class="caret"></span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li ng-repeat="t in getOutputTypes(vm.curOutput, vm.curO)">
                                                <a href="#" ng-click="setType(vm.curO, t)">{{t}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'text'">
                                        <input type="text" id="input" name="input" ng-model="vm.curO.str" class="form-control"

                                               placeholder="{{getPlaceHolder(vm.curO.type, true)}}">
                                    </div>
                                    <div ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'dialog'">
                                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown"
                                            ng-model="vm.curO.str"
                                            ng-disabled="dialogList().length == 0"
                                    >
                                        {{vm.curO.str}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu btn-block">
                                        <li class="text-center" ng-repeat = "t in dialogList()"><a href="#" ng-click="vm.curO.str = t">{{t}}</a></li>
                                    </ul>
                                    </div>

                                    <div class="text-left" ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'image'" >
                                      <span class="btn btn-default btn-file" style="padding-bottom:0px">
                                          <input type="file" nv-file-select uploader="imageUploader" style="width:100%;">
                                          <i ng-cloak
                                             ng-show="vm.curO.str != ''"
                                             class="fa fa-check-square fa-2x pull-right"
                                             style="margin-top: -24px;margin-right: -8px;" aria-hidden="true">
                                          </i>
                                      </span>
                                    </div>
                                    <!--<select class="js-example-basic-single" ng-model="vm.curO.str">-->
                                        <!--<option ng-repeat = "t in dialogList()" value="{{t}}">{{t}}</option>-->
                                    <!--</select>-->
                                    <!--<script type="text/javascript">-->
                                      <!--$(document).ready(function() {-->
                                        <!--$(".js-example-basic-single").select2();-->
                                      <!--});-->
                                    <!--</script>-->

                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="saveO()" type="button">저장</button>
                                        <button class="btn btn-danger" ng-click="resetO()" type="button">취소</button>
                                    </span>
                                </div>
                                <div ng-show="!vm.inputModeO || vm.curOutput != output">
                                    <div class="form-control col-md-11 mb-xs" style="height:auto;">
                                        <button class="mr-xs btn btn-xs" ng-class="vm.getButtonClass(o.type)"
                                                ng-click="openEditO(o,output)"
                                                ng-repeat="o in output">{{i.str == '' ? "-new-" : o.str}}&nbsp;
                                            <i ng-click="removeI(o,output)" class="fa fa-remove" style="color:white"></i></button>
                                        <button class="mr-xs btn btn-default btn-xs"
                                                ng-show="getOutputTypes(output).length > 0"
                                                ng-click="addO(output)" ><i class="fa fa-plus"></i></button>
                                        <span class="icon pull-right" style="height:20px;line-height:20px">
                                            <i ng-click="removeOutput(output)" class="fa fa-1 fa-remove"
                                               style="color:red;font-size:70%;"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button type="button" ng-click="addOutput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> Output 추가</button>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary modal-confirm" ng-click="update(dialogForm.$valid)" >저장</button>
                            <button class="btn btn-default modal-dismiss">취소</button>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
    <div class="col-md-3">
        <div class="input-group input-search">
            <form ng-submit="searchNode()">
                <input type="text" class="form-control" name="q" id="search" placeholder="Search...">
                <span class="input-group-btn"> <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button> </span>
            </form>
        </div>
    </div>
    <div class="col-md-9">
        <form>
            <button class="mb-xs mt-xs mr-xs btn btn-primary pull-right" ng-disabled="!vm.isChanged" ng-click="save()" ><i class="fa fa-save"></i> 저장하기</button>
            <button class="mb-xs mt-xs mr-xs btn btn-warning pull-right" ng-disabled="vm.changeHistory.length == 0" ng-click="undo()" ><i class="fa fa-undo"></i>되돌리기</button>
        </form>
    </div>
    <div id="tree-container" class="panel" width="100%" height="100%"></div>
</div>
<script src="/vendor/pnotify/pnotify.custom.js"></script>
<script src="/js/ui-elements/examples.modals.js"></script>
</body>
</html>

