<!DOCTYPE html>
<script>
  $(document).ready(function() {
    $('#dt').dataTable( {
      "autoWidth": false,
      "searching": false,
      "lengthChange": false
    });
  } );
</script>
<meta charset="utf-8">
<style>
    .content-body {padding: 0px; padding-top:7px}
    .panel-body {padding: 2px;}
    .CodeMirror {height: auto;}

</style>
<style type="text/css">

    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#EEE;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.0px;
    }

    .nodetext {
        font-size:10px;
        fill: #555;
    }

    .nodetitle {
        font-weight:bold;
        font-size:11px;
        fill: #444;
    }
    .icon {
        font-family: FontAwesome;
        font-size: 1.0em;
        cursor: pointer;
    }

    .icon2 {
        font-family: FontAwesome;
        font-size: 1.0em;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.0px;
    }

    .link_internal {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.0px;
    }

    .graph-svg-component {
        /*background-color: white;*/
    }

    #call{
        fill: #E6550D;
    }

    .link_internal.call{
        stroke: #E6550D;
    }

    #callChild{
        fill: #64550D;
    }

    .link_internal.callChild{
        stroke: #64550D;
    }

    #returnDialog{
        fill: #5C96BC;
    }

    .link_internal.returnDialog{
        stroke: #5C96BC;
    }

    #returnCall{
        fill:#5C96BC;
    }

    .link_internal.returnCall{
        stroke: #5C96BC;
    }

    #child{
        fill: #74C476;
    }

    .link.child {
        stroke: #74C476;
    }

    rect {
        fill: #eee; // aliceblue;
        stroke: #adadad;  //#7CA4C0
    }

    .selectedRect {
        pointer-events:none;
        stroke:#0099e6;
        stroke-width:2;
    //stroke-dasharray: 10 5;
        fill:none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .edgelabel {
        pointer-events: none;
        font-weight: bold;
        font-size: 10px;
        text-anchor: middle;
        alignment-baseline: middle;
    }

    .mfp-bg {
        //background : initial;
        opacity: 0.6;
    }

    .modal-block {
    }

    .filetree {
        height:100%;
        border: 1px solid;
        z-index: 2000;
        background:white;
        opacity: 0.9;
    }
    .filetree_button {
        /*position:absolute;*/
        /*top:100px;*/
        /*left:10px;*/
        /*z-index: 2000;*/
        /*opacity: 0.9;*/
    }

    .well-sm {
        padding: 3px;
        border: 0px;
        background-color: transparent;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .05);
    }

    .well-sm .form-group {
        border-bottom: 0px;
    }

    #editor_holder h3 {
        font-size: 18px;
    }

    .well-sm h3{
        font-size: 18px;
    }

</style>
<body>

<header class="page-header">
    <h2>Dialog Graph Editor</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a ui-sref="home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>챗봇 관리</span></li>
            <li><span>{{vm.botName}}</span></li>
            <li><span>{{vm.name}}</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<section id="mainpage" tabindex="0">
    <div id='filetree' class="col-md-1" style="position:fixed;overflow-y:scroll;overflow:hidden">
        <div class="row mb-sm" style="margin: -5px -5px 5px 0 !important;">
            <div id="filelabel0" >
                Files
            </div>
            <!--<button id="filetree_close" class="btn btn-default btn-xs pull-right"-->
                    <!--style="margin-right:20px;margin-top:1px">닫기</button>-->
            <button id="filetree_close" class="mt-xs mr-xs filetree_button btn btn-sm pull-right"
                    style="display: none;"><i class="fa fa-chevron-left"></i> Close</button>
            <button id="filetree_open"
                    class="mt-xs mr-xs filetree_button btn btn-sm pull-right" ng-click="vm.initTree()"><i class="fa fa-chevron-right"></i></button>
        </div>

        <div id="filelabel1" style="writing-mode: tb-rl">
            Files
        </div>

        <div class="panel-body" style="display: none;">
            <div id="treeBasic" class="panel-body mt-sm">
                <ul>
                    <li data-jstree="{'opened'=true}"> Root
                        <ul id="ul_list">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div id='content' class="col-md-11" style="overflow-y:scroll;overflow:hidden">
        <div>
            <!--<button id="filetree_open"-->
                    <!--class="mt-xs mr-xs filetree_button btn btn-sm pull-left" ng-click="vm.initTree()"><i class="fa fa-bars"></i></button>-->
            <ul class="nav nav-tabs">
                <li role="presentation"
                    ng-repeat="tab in vm.tabs"
                    ng-class="{active: tab.active}">
                    <a href="#" ng-click="vm.changeTab(tab)">{{tab.name}}</a>
                </li>
            </ul>
        </div>
        <div>
            <div id="control" ng-show="vm.tabs[0].active" class="test-body">

                <div class="row" style="padding: 5px 0 5px 0">
                    <div class="col-sm-3">
                        <div class="input-group mt-xs input-search">
                            <form ng-submit="searchNode()">
                                <input type="text" class="form-control" name="q" id="search" placeholder="Search...">
                                <span class="input-group-btn"> <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button> </span>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!--<label class="col-sm-2 control-label">Depth: </label>-->
                        <div class="input-group mt-xs pull-right">
                            <input class="form-control"  type="text" ng-model="vm.depth" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="vm.addDepth()"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default" ng-click="vm.minusDepth()"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-default" ng-click="vm.expandAll()"><i class="fa fa-expand"></i></button>
                                <button class="btn btn-default" ng-click="vm.collapseAll()"><i class="fa fa-compress"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <form>
                            <button class="mt-xs mr-xs btn btn-default pull-right" ng-disabled="!vm.isChanged" ng-click="save()" ><i class="fa fa-save"></i></button>
                            <button class="mt-xs mr-xs btn btn-default pull-right" ng-disabled="vm.changeHistory.length == 0" ng-click="undo()" ><i class="fa fa-undo"></i></button>
                        </form>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="!vm.show_link"
                                ng-click="vm.showLink()" ><i class="fa fa-arrows-alt"> show</i></button>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="vm.show_link"
                                ng-click="vm.hideLink()" ><i class="fa fa-arrows-alt"> hide</i></button>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="!vm.oneline"
                                ng-click="vm.showOneline()" ><i class="fa fa-minus-square-o"> compact</i></button>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="vm.oneline"
                                ng-click="vm.showDetail()" ><i class="fa fa-plus-square-o"> detailed</i></button>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="!vm.dialog"
                                ng-click="vm.showDialog()" ><i class="fa fa-book"> dialog</i></button>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="vm.dialog"
                                ng-click="vm.showCommon()" ><i class="fa fa-bookmark"> common</i></button>
                    </div>
                </div>
                <div id="tree-container" class="panel" width="100%" height="90%" style="margin-bottom:0px"></div>

                <a class="modal-with-form btn btn-default" style="display:none" ng-click="removeProcessedInput()" href="#modalForm">Open Form</a>
                <a class="modal-with-task btn btn-default" style="display:none" href="#modalTaskForm">Open Form</a>
                <a class="modal-with-help btn btn-default" style="display:none" href="#modalHelpForm">Open Form</a>
                <a class="file-tree btn btn-default" style="display:none" href="#file-tree">Open Form</a>
                <a class="modal-with-intent btn btn-default" style="display:none" href="#modalIntentForm">Open Form</a>

              <!-- Modal Form for Intent -->
              <div id="modalIntentForm" class="modal-block modal-block-primary mfp-hide">
                <section class="panel">
                  <header class="panel-heading">
                    <h2 class="panel-title">Intent 등록</h2>
                  </header>
                  <div class="panel-body">
                    <div class="form-group" style="margin-top: 15px;" >
                      <label class="col-sm-2" style="padding-left: 50px">이름 <span class="required" aria-required="true">*</span></label>
                      <div class="col-sm-9">
                        <input type="text" name="name" ng-model="intent.name" class="form-control valid"
                               placeholder="인텐트의 이름을 지정해주세요"
                               required=""
                               aria-required="true" aria-invalid="false">
                      </div>
                    </div>
                    <div ng-show="intentError" class="text-danger text-center">
                      <strong ng-bind="intentError"></strong>
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                      <label class="col-sm-2" style="padding-left: 50px;">내용</label>
                      <div class="col-sm-8">
                        <input type="text" name="intentContent" ng-model="intentContent" class="form-control valid"
                               placeholder="인텐트에 속하는 내용을 적어주세요"
                               required=""
                               aria-required="true" aria-invalid="false">
                      </div>
                      <div class="col-sm-1" style="padding-right: 0;right: 15px">
                        <button ng-click="saveIntentContent()" class="btn btn-default btn-block">+
                        </button>
                      </div>
                    </div>
                    <div ng-show="contentError" class="text-danger text-center">
                      <strong ng-bind="contentError"></strong>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;margin-top: 15px">
                      <label class="col-sm-2" style="padding-left: 50px">목록 <span class="required" aria-required="true">*</span></label>
                      <div class="col-sm-9">
                        <table class="table table-bordered table-hover mb-none">
                          <thead>
                          <tr>
                            <th class="text-center col-md-10">내용</th>
                            <th class="text-center">관리</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="intent in intent.content">
                            <td class="text-center">{{intent.name}}</td>
                            <td>
                              <a class="btn btn-default btn-block btn-xs" ng-click="contentRemoveBeforeSave(intent)" style="border: 0!important;">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div style="margin-bottom: 15px" ng-show="contentListError" class="text-danger text-center">
                      <strong ng-bind="contentListError"></strong>
                    </div >
                  </div>

                  <footer class="panel-footer">
                    <div class="row">
                      <div class="col-md-12 text-right">
                        <button class="btn btn-primary" ng-click="saveIntent()" >등록</button>
                        <button class="btn btn-primary" ng-click="backToEdit(false)" >이전</button>
                      </div>
                    </div>
                  </footer>
                </section>
              </div>


              <!-- Modal Form for help -->
                <div id="modalHelpForm" class="modal-block modal-block-primary mfp-hide">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">&nbsp;</h2>
                        </header>
                        <div class="panel-body">
                            <p>
                            <b>Dialog Graph</b><br/>
                                ← ↓ ↑ →: Navigate Dialog<br/>
                                Ctrl + ↑ →: Move Dialog Up/Down<br/>
                                Enter: Open Edit Dialog<br/>
                                Esc: Cancel Edit<br/>
                                Insert: Add child dialog<br/>
                                Del: Delete Dialog<br/>
                                Space: Expand/Collapse Child Dialog<br/>
                                <br/>
                                <b>Dialog Editor</b><br/>
                                Tab: Next (Input, Task, Output 전환, Input 등 여러 개 인경우 한줄씩 이동)<br/>
                                <!--Insert, Enter: Add (포커스된 상태에 따라 한줄 추가)<br/>-->
                                <!--Del: Delete (포커스된 상태에 따라 한줄 삭제)<br/>-->
                                <!--Ctrl+Insert: Add Item(한줄안에 추가)<br/>-->
                                <!--Ctrl+→: Edit (Task, Type, Intent 등 선택된 상태에서)<br/>-->
                                Ctrl+Enter: Save Dialog Modal<br/>
                                <br/>
                                <b>Code Editor</b><br/>
                                Alt+←: Back (Dialog Graph에서 Code Editor로 온 후에 복귀)<br/>
                                <!--Alt+→: Forward<br/>-->
                                <!--Ctrl+Tab: next tab<br/>-->
                                <!--Ctrl+W: Close Tab<br/>-->
                                <!--Ctrl+E: Last Tab<br/>-->
                                <!--Ctrl+F: Search<br/>-->
                                <!--Ctrl+R: Replace<br/>-->
                                <br/>
                                <b>Project Files</b><br/>
                                Ctrl+P: Open/Close Project Files<br/>
                                ← ↓ ↑ →: Navigate Tree<br/>
                                <!--←→: Expand/Collapse Tree<br/>-->
                                Enter: Open File<br/>
                                <br/>
                                <b>Common</b><br/>
                                /: Search Box<br/>
                                Ctrl+S: Save File<br/>
                                Ctrl+Z: Undo<br/>
                                ?: keyboard shortcut help
                            </p>
                        </div>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-primary" ng-click="closePopup()" >닫기</button>
                                </div>
                            </div>
                        </footer>
                    </section>
                </div>

                <!-- Modal Form for task detail -->
                <div id="modalTaskForm" class="modal-block modal-block-primary mfp-hide">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">Task 정보 수정</h2>
                        </header>
                        <form name="dialogTaskForm" novalidate="novalidate" >
                            <div class="panel-body">
                                <div class="form-group" ng-show="dialog.task.paramSchema != undefined">
                                    <div class="col-sm-12" id='editor_holder'>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group mb-md">
                                    <div class="col-sm-12">
                                    <label class="control-label">Entity</label>
                                        <table id="dt" class="table table-bordered table-striped mb-none">
                                            <thead>
                                            <tr>
                                                <th class="text-center col-sm-2">이름</th>
                                                <th class="text-center col-sm-2">닉네임</th>
                                                <th class="text-center col-sm-6">재질문</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="entity in vm.entity[dialog.task.name]">
                                                <td class="text-center">{{entity.type}}</td>
                                                <td class="text-center">{{entity.display}}</td>
                                                <td class="text-center">{{entity.question}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" ng-click="backToEdit(true)" >저장</button>
                                        <button class="btn btn-default" ng-click="backToEdit(false)" >이전</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </section>
                </div>

                <!-- Modal Form for dialog -->
                <div id="modalForm" class="modal-block modal-block-primary mfp-hide">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">Dialog 수정</h2>
                        </header>
                        <form name="dialogForm" class="form-horizontal" novalidate="novalidate">
                            <div class="panel-body">
                                <div class="form-group" style="margin-top: 15px">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="name" class="form-control mb-xs"
                                               ng-readonly="vm.isStartNode"
                                               ng-model="dialog.name" placeholder="이름을 입력해주세요">
                                    </div>
                                </div>
                                <hr>
                                <div ng-show="!vm.isStartNode">
                                    <div class="form-group" >
                                        <label class="col-sm-2 control-label">Input <span class="required" aria-required="true">*</span></label>
                                        <div class="col-sm-9">
                                            <div ng-repeat="input in dialog.input">
                                                <div class="input-group mb-xs" ng-show="vm.inputMode && vm.curInput == input">
                                                    <div class="input-group-btn" >
                                                        <button tabindex="-1" class="btn" ng-class="vm.getButtonClass(vm.curI.type)" type="button">{{vm.curI.type}}</button>
                                                        <button tabindex="-1" data-toggle="dropdown" ng-class="vm.getButtonClass(vm.curI.type)" class="btn dropdown-toggle" type="button">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul role="menu" class="dropdown-menu" >
                                                            <li ng-repeat="type in getInputTypes(vm.curInput, vm.curI)">
                                                                <a href="#" ng-click="setType(vm.curI, type)">{{type}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id='input_div' ng-show="vm.inputMode && getInputType(vm.curI.type) == 'text'">
                                                        <input type="text" id="input" name="input" ng-model="vm.curI.str" class="form-control"
                                                               placeholder="{{getPlaceHolder(vm.curI.type)}}"
                                                               auto-focus
                                                               ng-keydown="InputKeyDown($event,saveI)"
                                                        >
                                                    </div>
                                                    <div ng-show="vm.inputMode && getInputType(vm.curI.type) == 'intent'">
                                                        <ui-select ng-model="vm.curI.str"
                                                                   theme="bootstrap"
                                                                   ng-disabled="vm.intents.length == 0"
                                                                   reset-search-input="true"
                                                                   title="Intent를 선택하세요">
                                                            <ui-select-match placeholder="Intent 이름을 입력해주세요">{{$select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="t in vm.intents |filter: $select.search track by $index"
                                                                               refresh-delay="0">
                                                                <div ng-bind-html="t | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <div ng-show="vm.inputMode && getInputType(vm.curI.type) == 'entity'">
                                                        <ui-select ng-model="vm.curI.str"
                                                                   theme="bootstrap"
                                                                   ng-disabled="vm.entities.length == 0"
                                                                   reset-search-input="true"
                                                                   title="Entity를 선택하세요">
                                                            <ui-select-match placeholder="Entity 이름을 입력해주세요">{{$select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="t in vm.entities |filter: $select.search track by $index"
                                                                               refresh-delay="0">
                                                                <div ng-bind-html="t | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <div ng-show="vm.inputMode && getInputType(vm.curI.type) == 'type'">
                                                        <ui-select ng-model="vm.curI.str"
                                                                   theme="bootstrap"
                                                                   ng-disabled="vm.types.length == 0"
                                                                   reset-search-input="true"
                                                                   title="Type을 선택하세요">
                                                            <ui-select-match placeholder="Type 이름을 입력해주세요">{{$select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="t in vm.types |filter: $select.search track by $index"
                                                                               refresh-delay="0">
                                                                <div ng-bind-html="t | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="openIntent()" type="button" data-ng-if="vm.inputMode && getInputType(vm.curI.type) == 'intent'">+</button>
                                        <button class="btn btn-primary"
                                                ng-disabled="vm.curI.str === ''"
                                                ng-click="saveI()" type="button">저장</button>
                                        <button class="btn btn-danger" ng-click="resetI()" type="button">취소</button>
                                    </span>
                                                </div>
                                                <div  ng-show="!vm.inputMode || vm.curInput != input">
                                                    <div class="form-control col-md-11 mb-xs" style="height:auto;">
                                                        <button class="mr-xs btn btn-xs" ng-class="vm.getButtonClass(i.type)"
                                                                ng-click="openEdit(i,input)"
                                                                ng-repeat="i in input">
                                                            <i class='fa' ng-class="vm.getIconClass(i.type)" style="color:antiquewhite"></i>&nbsp;
                                                            {{printInput(i)}}&nbsp;
                                                            <i ng-click="removeI(i,input)" class="fa fa-remove" style="color:white"></i></button>
                                                        <button class="mr-xs btn btn-default btn-xs"
                                                                ng-show="getInputTypes(input).length > 0"
                                                                ng-click="addI(input)" ><i class="fa fa-plus"></i></button>
                                                        <span class="icon pull-right " style="height:20px;line-height:20px">
                                            <i ng-click="removeInput(input)" class="fa fa-remove"
                                               style="color:red;font-size:70%;"></i>
                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 pull-down" style="padding-left: 0;padding-top: 3px">
                                            <button type="button" ng-click="addInput()" class="mb-xs mr-xs btn btn-sm btn-default" style="border: none"><i class="glyphicon glyphicon-plus"></i></button>
                                        </div>
                                        <div class="col-sm-9 col-sm-offset-2" data-ng-if="processedInput">
                                            자연어처리 결과 : {{processedInput}}
                                        </div>
                                        <div ng-show="inputError" class="text-danger text-center">
                                            <strong ng-bind="inputError"></strong>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Task</label>
                                    <div class="col-sm-9 ">
                                        <div class="input-group mb-xs">
                                            <div>
                                                <ui-select ng-model="dialog.task"
                                                           theme="bootstrap"
                                                           ng-disabled="vm.tasks.length == 0"
                                                           reset-search-input="true"
                                                           title="Task를 선택하세요">
                                                    <ui-select-match placeholder="Task 이름을 입력해주세요">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="t in vm.tasks | filter: $select.search track by $index"
                                                                       refresh-delay="0">
                                                        <div ng-bind-html="t.name | highlight: $select.search"></div>
                                                        <i ng-show="t.type === 'default'"
                                                           ng-click="openTask(t.name, false)" class="btn fa fa-3 fa-edit pull-right" style="color:forestgreen;margin-top:-25px"></i>
                                                        <i ng-show="t.type === 'common'"
                                                           ng-click="openTask(t, true)" class="btn fa fa-3 fa-list pull-right" style="margin-top:-25px"></i>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default">
                                                    <i ng-click="dialog.task = undefined" class="fa fa-remove" style="color:red"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 " style="padding-left: 0;padding-top: 3px">
                                      <button type="button" ng-click="addTask()" class="mb-xs mr-xs btn btn-sm btn-default" style="border: none"><i class="glyphicon glyphicon-plus"></i></button>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label class="col-sm-2 control-label">Output <span class="required" aria-required="true">*</span></label>
                                    <div class="col-sm-9">
                                        <div ng-repeat="output in dialog.output">
                                            <div class="input-group mb-xs" ng-show="vm.inputModeO && vm.curOutput == output">
                                                <div class="input-group-btn" id="outputButton" style="vertical-align: top">
                                                    <button tabindex="-1" class="btn" ng-class="vm.getButtonClass(vm.curO.type)" type="button">
                                                        {{vm.curO.type}}
                                                    </button>
                                                    <button tabindex="-1" data-toggle="dropdown" ng-class="vm.getButtonClass(vm.curO.type)" class="btn dropdown-toggle" type="button">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul role="menu" class="dropdown-menu">
                                                        <li ng-repeat="t in getOutputTypes(vm.curOutput, vm.curO)">
                                                            <a href="#" ng-click="setType(vm.curO, t)">
                                                                {{t}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'text'" autofocus>
                                                    <input type="text" id="output" name="output" ng-model="vm.curO.str" class="form-control"
                                                           ng-keydown="saveEnter($event,saveO)"
                                                           auto-focus
                                                           placeholder="{{getPlaceHolder(vm.curO.type, true)}}">
                                                </div>
                                                <div ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'text_for_button'">
                                                    <input type="text" id="output" name="output" ng-model="vm.curO.str"
                                                           class="form-control clearfix"
                                                           auto-focus
                                                           placeholder="버튼이름을 입력해주세요">
                                                    <input type="text" id="output_url" name="output_url" ng-model="vm.curO.url" class="form-control"
                                                           auto-focus
                                                           placeholder="버튼URL을 입력해주세요">
                                                </div>
                                                <div ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'dialog'">
                                                    <ui-select ng-model="vm.curO.str"
                                                               theme="bootstrap"
                                                               ng-disabled="dialogList().length == 0"
                                                               reset-search-input="true"
                                                               title="Dialog를 선택하세요">
                                                        <ui-select-match placeholder="Dialog 이름을 입력해주세요">{{$select.selected}}</ui-select-match>
                                                        <ui-select-choices repeat="t in dialogList() | filter: $select.search track by $index"
                                                                           refresh-delay="0">
                                                            <div ng-bind-html="t | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                                <div class="text-left" ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'image'" >
                                                  <span class="btn btn-default btn-file" style="padding-bottom:4px;padding-top:4px">
                                                      <input type="file" nv-file-select uploader="imageUploader" style="width:100%;">
                                                      <i ng-cloak
                                                         ng-show="vm.curO.str != ''"
                                                         class="fa fa-check-square pull-right"
                                                         style="margin-top: -22px;margin-right: -8px;font-size:20px" aria-hidden="true">
                                                      </i>
                                                  </span>
                                                </div>
                                                <span class="input-group-btn" style="vertical-align: top">
                                                    <button class="btn btn-primary"
                                                            ng-disabled="vm.curO.str === ''"
                                                            ng-click="saveO()" type="button">저장</button>
                                                    <button class="btn btn-danger" ng-click="resetO()" type="button">취소</button>
                                                </span>
                                            </div>
                                            <div ng-show="!vm.inputModeO || vm.curOutput != output">
                                                <div class="form-control col-md-11 mb-xs" style="height:auto;">
                                                    <button class="mr-xs btn btn-xs" ng-class="vm.getButtonClass(o.type)"
                                                            ng-click="openEditO(o,output)"
                                                            ng-repeat="o in output">
                                                        <i class='fa' ng-class="vm.getIconClass(o.type)" style="color:antiquewhite"></i>&nbsp;
                                                        {{printOutput(o)}}&nbsp;
                                                        <i ng-click="removeI(o,output)" class="fa fa-remove" style="color:white"></i></button>
                                                    <button class="mr-xs btn btn-default btn-xs"
                                                            ng-show="getOutputTypes(output).length > 0"
                                                            ng-click="addO(output)" ><i class="fa fa-plus"></i></button>
                                                    <span class="icon pull-right" style="height:20px;line-height:20px">
                                            <i ng-click="removeOutput(output)" class="fa fa-1 fa-remove"
                                               style="color:red;font-size:70%;"></i>
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 " style="padding-left: 0;padding-top: 3px">
                                      <button type="button" ng-click="addOutput()" class="mb-xs mr-xs btn btn-sm btn-default" style="border: none;"><i class="glyphicon glyphicon-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary modal-confirm" ng-click="update(dialogForm.$valid)" >저장</button>
                                        <button class="btn btn-default" ng-click="closeEdit();">취소</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </section>
                </div>


            </div>

            <section id="ide" ng-show="vm.tabs[1].active" class="panel">
                <header class="panel-heading"  style="padding: 10px 15px;">
                    <div class="row">
                        <div class="col-sm-6 pull-left">
                            <h2 class="panel-title">&nbsp;</h2>
                        </div>

                        <div class="col-sm-6 text-right">
                            <!--<a class="btn btn-primary" ng-click="vm.viewGraph()">-->
                            <!--dialog graph-->
                            <!--</a>-->
                            <a class="btn btn-default" ng-show="vm.fromTask" ng-click="gotoTree()">
                                돌아가기
                            </a>
                            <a class="btn btn-primary" ng-click="vm.saveFile()">
                                저장하기
                            </a>
                        </div>
                    </div>

                </header>
                <div class="panel-body" style="position:relative">
                    <form class="form-horizontal" action="#">
                        <div class="col-md-12">
                            <ui-codemirror
                                    id ='codemirror'
                                    ui-codemirror-opts="vm.codemirrorOpts"
                                    ui-codemirror="{ onLoad: codeLoaded}"
                                    ng-model="vm.currentTab.data" ui-refresh='refreshCodemirror'></ui-codemirror>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>
</section>

<link href="/lib/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css">

<script src="/vendor/jstree/jstree.js"></script>
<script>
</script>

<script src="/vendor/pnotify/pnotify.custom.js"></script>

</body>
</html>

