<!DOCTYPE html>
<meta charset="utf-8">
<style>
    .content-body {padding: 0px; padding-top:7px}
    .panel-body {padding: 2px;}
    .CodeMirror {height: auto;}

</style>
<style type="text/css">

    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#EEE;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .nodetext {
        font-size:10px;
    }

    .nodetitle {
        font-weight:bold;
        font-size:11px;
    }
    .icon {
        font-family: FontAwesome;
        font-size: 1.5em;
        cursor: pointer;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .link_internal {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .graph-svg-component {
        /*background-color: white;*/
    }

    #call{
        fill: #E6550D;
    }

    .link_internal.call{
        stroke: #E6550D;
    }

    #callChild{
        fill: #64550D;
    }

    .link_internal.callChild{
        stroke: #64550D;
    }

    #returnDialog{
        fill: #5C96BC;
    }

    .link_internal.returnDialog{
        stroke: #5C96BC;
    }

    #returnCall{
        fill:#5C96BC;
    }

    .link_internal.returnCall{
        stroke: #5C96BC;
    }

    #child{
        fill: #74C476;
    }

    .link.child {
        stroke: #74C476;
    }

    rect {
        fill: aliceblue;
        /*stroke: blue;*/
        stroke: #7CA4C0;
    }

    .selectedRect {
        pointer-events:none;
        stroke:steelblue;
        stroke-width:3;
    //stroke-dasharray: 10 5;
        fill:none;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .edgelabel {
        pointer-events: none;
        font-weight: bold;
        font-size: 10px;
        text-anchor: middle;
        alignment-baseline: middle;
    }

    .mfp-bg {
        //background : initial;
        opacity: 0.6;
    }

    .modal-block {
    }

    .filetree {
        height:100%;
        border: 1px solid;
        z-index: 2000;
        background:white;
        opacity: 0.9;
    }
    .filetree_button {
        /*position:absolute;*/
        /*top:100px;*/
        /*left:10px;*/
        /*z-index: 2000;*/
        /*opacity: 0.9;*/
    }

</style>
<body>

<header class="page-header">
    <h2>에디터</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a ui-sref="home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>챗봇 관리</span></li>
            <li><span>{{vm.botName}}</span></li>
            <li><span>{{vm.name}}</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<div>
    <div id='filetree' style=" display: none;">
        <div class="row mb-sm">
            <button id="filetree_close" class="btn btn-default btn-xs pull-right"
                    style="margin-right:20px;margin-top:1px">닫기</button>
        </div>
        <div class="panel-body">
            <div id="treeBasic" class="panel-body mt-sm">
                <ul>
                    <li data-jstree="{'opened'=true}"> Root
                        <ul id="ul_list">
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div id='content' class="col-md-12">
        <div>
            <button id="filetree_open"
                    class="mt-xs mr-xs filetree_button btn btn-sm pull-left" ng-click="vm.initTree()"><i class="fa fa-bars"></i></button>
            <ul class="nav nav-tabs">
                <li role="presentation"
                    ng-repeat="tab in vm.tabs"
                    ng-class="{active: tab.active}">
                    <a href="#" ng-click="vm.changeTab(tab)">{{tab.name}}</a>
                </li>
            </ul>
        </div>
        <div>
            <div id="control" ng-show="vm.tabs[0].active" class="test-body">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group mt-xs input-search">
                            <form ng-submit="searchNode()">
                                <input type="text" class="form-control" name="q" id="search" placeholder="Search...">
                                <span class="input-group-btn"> <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button> </span>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-2">
                        <!--<label class="col-sm-2 control-label">Depth: </label>-->
                        <div class="input-group mt-xs pull-right">
                            <input class="form-control"  type="text" ng-model="vm.depth" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="vm.addDepth()"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-default" ng-click="vm.minusDepth()"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-default" ng-click="vm.expandAll()"><i class="fa fa-expand"></i></button>
                                <button class="btn btn-default" ng-click="vm.collapseAll()"><i class="fa fa-compress"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <form>
                            <button class="mt-xs mr-xs btn btn-primary pull-right" ng-disabled="!vm.isChanged" ng-click="save()" ><i class="fa fa-save"></i> 저장하기</button>
                            <button class="mt-xs mr-xs btn btn-warning pull-right" ng-disabled="vm.changeHistory.length == 0" ng-click="undo()" ><i class="fa fa-undo"></i> 되돌리기</button>
                        </form>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="!vm.show_link"
                                ng-click="vm.showLink()" ><i class="fa fa-flag"> 관계선 보이기</i></button>
                        <button class="mt-xs mr-xs btn btn-default pull-right"
                                ng-show="vm.show_link"
                                ng-click="vm.hideLink()()" ><i class="fa fa-flag"> 관계선 감추기</i></button>
                    </div>
                </div>
                <div id="tree-container" class="panel" width="100%" height="100%"></div>

                <a class="modal-with-form btn btn-default" style="display:none" href="#modalForm">Open Form</a>
                <a class="modal-with-task btn btn-default" style="display:none" href="#modalTaskForm">Open Form</a>
                <a class="modal-with-help btn btn-default" style="display:none" href="#modalHelpForm">Open Form</a>
                <a class="file-tree btn btn-default" style="display:none" href="#file-tree">Open Form</a>

                <!-- Modal Form for help -->
                <div id="modalHelpForm" class="modal-block modal-block-primary mfp-hide">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">Keyboard Shortcuts</h2>
                        </header>
                        <div class="panel-body">
                            <p>
                            <b>Dialog Graph</b><br/>
                                ← ↓ ↑ →: Navigate Dialog<br/>
                                Ctrl + ↑ →: Move Dialog Up/Down<br/>
                                Enter: Open Edit Dialog<br/>
                                Esc: Cancel Edit<br/>
                                Insert: Add child dialog<br/>
                                Del: Delete Dialog<br/>
                                Space: Expand/Collapse Child Dialog<br/>
                                <br/>
                                <b>Dialog Editor</b><br/>
                                Tab: Next (Input, Task, Output 전환, Input 등 여러 개 인경우 한줄씩 이동)<br/>
                                <!--Insert, Enter: Add (포커스된 상태에 따라 한줄 추가)<br/>-->
                                <!--Del: Delete (포커스된 상태에 따라 한줄 삭제)<br/>-->
                                <!--Ctrl+Insert: Add Item(한줄안에 추가)<br/>-->
                                <!--Ctrl+→: Edit (Task, Type, Intent 등 선택된 상태에서)<br/>-->
                                Ctrl+Enter: Save Dialog Modal<br/>
                                <br/>
                                <b>Code Editor</b><br/>
                                Alt+←: Back (Dialog Graph에서 Code Editor로 온 후에 복귀)<br/>
                                <!--Alt+→: Forward<br/>-->
                                <!--Ctrl+Tab: next tab<br/>-->
                                <!--Ctrl+W: Close Tab<br/>-->
                                <!--Ctrl+E: Last Tab<br/>-->
                                <!--Ctrl+F: Search<br/>-->
                                <!--Ctrl+R: Replace<br/>-->
                                <br/>
                                <b>Project Files</b><br/>
                                Ctrl+P: Open/Close Project Files<br/>
                                ← ↓ ↑ →: Navigate Tree<br/>
                                <!--←→: Expand/Collapse Tree<br/>-->
                                Enter: Open File<br/>
                                <br/>
                                <b>Common</b><br/>
                                /: Search Box<br/>
                                Ctrl+S: Save File<br/>
                                Ctrl+Z: Undo<br/>
                                ?: keyboard shortcut help
                            </p>
                        </div>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-primary" ng-click="closePopup()" >닫기</button>
                                </div>
                            </div>
                        </footer>
                    </section>
                </div>

                <!-- Modal Form for task detail -->
                <div id="modalTaskForm" class="modal-block modal-block-primary mfp-hide">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">Task 정보</h2>
                        </header>
                        <form name="dialogTaskForm" class="form-horizontal" novalidate="novalidate">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">URL</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control mb-xs" ng-model="dialog.task.url" placeholder="url을 입력해주세요">
                                    </div>
                                    <label class="col-sm-2 control-label">URL</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control mb-xs" ng-model="dialog.task.url" placeholder="url을 입력해주세요">
                                    </div>
                                    <label class="col-sm-2 control-label">URL</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control mb-xs" ng-model="dialog.task.url" placeholder="url을 입력해주세요">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Entity</label>
                                    <div class="col-sm-9">
                                        <ul>
                                            <li><span>Entity12345</span></li>
                                            <li><span>Entity12345</span></li>
                                            <li><span>Entity12345</span></li>
                                            <li><span>Entity12345</span></li>
                                            <li><span>Entity12345</span></li>
                                            <li><span>Entity12345</span></li>
                                            <li><span>Entity12345</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" ng-click="backToEdit(true)" >저장</button>
                                        <button class="btn btn-default" ng-click="backToEdit(false)" >이전</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </section>
                </div>

                <!-- Modal Form for dialog -->
                <div id="modalForm" class="modal-block modal-block-primary mfp-hide">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">다이얼로그 수정</h2>
                        </header>
                        <form name="dialogForm" class="form-horizontal" novalidate="novalidate">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="name" class="form-control mb-xs" ng-model="dialog.name" placeholder="이름을 입력해주세요">
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Input <span class="required" aria-required="true">*</span></label>
                                    <div class="col-sm-9">
                                        <div ng-repeat="input in dialog.input">
                                            <div class="input-group mb-xs" ng-show="vm.inputMode && vm.curInput == input">
                                                <div class="input-group-btn" >
                                                    <button tabindex="-1" class="btn" ng-class="vm.getButtonClass(vm.curI.type)" type="button">{{vm.curI.type}}</button>
                                                    <button tabindex="-1" data-toggle="dropdown" ng-class="vm.getButtonClass(vm.curI.type)" class="btn dropdown-toggle" type="button">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul role="menu" class="dropdown-menu" >
                                                        <li ng-repeat="type in getInputTypes(vm.curInput, vm.curI)">
                                                            <a href="#" ng-click="setType(vm.curI, type)">{{type}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-show="vm.inputMode && getInputType(vm.curI.type) == 'text'">
                                                    <input type="text" id="input" name="input" ng-model="vm.curI.str" class="form-control"
                                                           placeholder="{{getPlaceHolder(vm.curI.type)}}" >
                                                </div>
                                                <div ng-show="vm.inputMode && getInputType(vm.curI.type) == 'intent'">
                                                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown"
                                                            ng-model="vm.curI.str"
                                                            ng-disabled="vm.intents.length == 0"
                                                    >
                                                        {{vm.curI.str}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu btn-block">
                                                        <li class="text-center" ng-repeat = "t in vm.intents"><a href="#" ng-click="vm.curI.str = t">{{t}}</a></li>
                                                    </ul>
                                                </div>
                                                <div ng-show="vm.inputMode && getInputType(vm.curI.type) == 'type'">
                                                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown"
                                                            ng-model="vm.curI.str"
                                                            ng-disabled="vm.types.length == 0"
                                                    >
                                                        {{vm.curI.str}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu btn-block">
                                                        <li class="text-center" ng-repeat = "t in vm.types">
                                                            <a href="#" ng-click="vm.curI.str = t">{{t}}</a>
                                                            <i ng-click="openType(t)" class="btn fa fa-3 fa-edit pull-right" style="margin-top:-25px"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="input-group-btn">
                                        <button class="btn btn-primary"
                                                ng-disabled="vm.curI.str === ''"
                                                ng-click="saveI()" type="button">저장</button>
                                        <button class="btn btn-danger" ng-click="resetI()" type="button">취소</button>
                                    </span>
                                            </div>
                                            <div  ng-show="!vm.inputMode || vm.curInput != input">
                                                <div class="form-control col-md-11 mb-xs" style="height:auto;">
                                                    <button class="mr-xs btn btn-xs" ng-class="vm.getButtonClass(i.type)"
                                                            ng-click="openEdit(i,input)"
                                                            ng-repeat="i in input">
                                                        <i class='fa' ng-class="vm.getIconClass(i.type)" style="color:antiquewhite"></i>&nbsp;
                                                        {{i.str == '' ? "-new-" : i.str.substring(0,10)}}&nbsp;
                                                        <i ng-click="removeI(i,input)" class="fa fa-remove" style="color:white"></i></button>
                                                    <button class="mr-xs btn btn-default btn-xs"
                                                            ng-show="getInputTypes(input).length > 0"
                                                            ng-click="addI(input)" ><i class="fa fa-plus"></i></button>
                                                    <span class="icon pull-right " style="height:20px;line-height:20px">
                                            <i ng-click="removeInput(input)" class="fa fa-remove"
                                               style="color:red;font-size:70%;"></i>
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" ng-click="addInput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> Input 추가</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Task</label>
                                    <div class="col-sm-9 ">
                                        <div class="dropdown mb-xs ">
                                            <button ng-disabled="vm.tasks.length == 0"
                                                    class="btn btn-default btn-block dropdown-toggle"
                                                    ng-model="dialog.task" type="button"
                                                    data-toggle="dropdown">{{dialog.task.name}}
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu btn-block">
                                                <li class="text-center"><a href="#" ng-click="dialog.task = undefined">선택 안함</a></li>
                                                <li class="divider">|</li>
                                                <li class="text-center" ng-repeat = "t in vm.tasks">
                                                    <a href="#" ng-click="dialog.task = {name:t}">{{t}}</a>
                                                    <i ng-click="openTask(t, false)" class="btn fa fa-3 fa-edit pull-right" style="margin-top:-25px"></i>
                                                </li>
                                                <li class="divider">|</li>
                                                <!--<li class="text-center" readonly>공개 Task</li>-->
                                                <li class="text-center" ng-repeat = "t in vm.commonTasks">
                                                    <a href="#" ng-click="dialog.task = {name:t.name}">{{t.name}}</a>
                                                    <i ng-click="openTask(t, true)" class="btn fa fa-3 fa-list pull-right" style="margin-top:-25px"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--<span class="input-group-btn">-->
                                        <!--<button class="btn btn-primary"-->
                                        <!--ng-click="addTask()" type="button">추가-->
                                        <!--</button>-->
                                        <!--</span>-->
                                        <button type="button" ng-click="addTask()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> Task 추가</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Output <span class="required" aria-required="true">*</span></label>
                                    <div class="col-sm-9">
                                        <div ng-repeat="output in dialog.output">
                                            <div class="input-group mb-xs" ng-show="vm.inputModeO && vm.curOutput == output">
                                                <div class="input-group-btn" >
                                                    <button tabindex="-1" class="btn" ng-class="vm.getButtonClass(vm.curO.type)" type="button">
                                                        {{vm.curO.type}}
                                                    </button>
                                                    <button tabindex="-1" data-toggle="dropdown" ng-class="vm.getButtonClass(vm.curO.type)" class="btn dropdown-toggle" type="button">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul role="menu" class="dropdown-menu">
                                                        <li ng-repeat="t in getOutputTypes(vm.curOutput, vm.curO)">
                                                            <a href="#" ng-click="setType(vm.curO, t)">
                                                                {{t}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'text'">
                                                    <input type="text" id="input" name="input" ng-model="vm.curO.str" class="form-control"

                                                           placeholder="{{getPlaceHolder(vm.curO.type, true)}}">
                                                </div>
                                                <div ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'dialog'">
                                                    <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown"
                                                            ng-model="vm.curO.str"
                                                            ng-disabled="dialogList().length == 0"
                                                    >
                                                        {{vm.curO.str}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu btn-block">
                                                        <li class="text-center" ng-repeat = "t in dialogList()"><a href="#" ng-click="vm.curO.str = t">{{t}}</a></li>
                                                    </ul>
                                                </div>
                                                <div class="text-left" ng-show="vm.inputModeO && getInputType(vm.curO.type) == 'image'" >
                                      <span class="btn btn-default btn-file" style="padding-bottom:4px;padding-top:4px">
                                          <input type="file" nv-file-select uploader="imageUploader" style="width:100%;">
                                          <i ng-cloak
                                             ng-show="vm.curO.str != ''"
                                             class="fa fa-check-square pull-right"
                                             style="margin-top: -22px;margin-right: -8px;font-size:20px" aria-hidden="true">
                                          </i>
                                      </span>
                                                </div>
                                                <span class="input-group-btn">
                                        <button class="btn btn-primary"
                                                ng-disabled="vm.curO.str === ''"
                                                ng-click="saveO()" type="button">저장</button>
                                        <button class="btn btn-danger" ng-click="resetO()" type="button">취소</button>
                                    </span>
                                            </div>
                                            <div ng-show="!vm.inputModeO || vm.curOutput != output">
                                                <div class="form-control col-md-11 mb-xs" style="height:auto;">
                                                    <button class="mr-xs btn btn-xs" ng-class="vm.getButtonClass(o.type)"
                                                            ng-click="openEditO(o,output)"
                                                            ng-repeat="o in output">
                                                        <i class='fa' ng-class="vm.getIconClass(o.type)" style="color:antiquewhite"></i>&nbsp;
                                                        {{o.str == '' ? "-new-" : o.str.substring(0,10)}}&nbsp;
                                                        <i ng-click="removeI(o,output)" class="fa fa-remove" style="color:white"></i></button>
                                                    <button class="mr-xs btn btn-default btn-xs"
                                                            ng-show="getOutputTypes(output).length > 0"
                                                            ng-click="addO(output)" ><i class="fa fa-plus"></i></button>
                                                    <span class="icon pull-right" style="height:20px;line-height:20px">
                                            <i ng-click="removeOutput(output)" class="fa fa-1 fa-remove"
                                               style="color:red;font-size:70%;"></i>
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" ng-click="addOutput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> Output 추가</button>
                                    </div>
                                </div>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary modal-confirm" ng-click="update(dialogForm.$valid)" >저장</button>
                                        <button class="btn btn-default" ng-click="closeEdit();">취소</button>
                                    </div>
                                </div>
                            </footer>
                        </form>
                    </section>
                </div>
            </div>

            <section id="ide" ng-show="vm.tabs[1].active" class="panel">
                <header class="panel-heading"  style="padding: 10px 15px;">
                    <div class="row">
                        <div class="col-sm-6 pull-left">
                            <h2 class="panel-title">{{vm.name}}</h2>
                        </div>

                        <div class="col-sm-6 text-right">
                            <!--<a class="btn btn-primary" ng-click="vm.viewGraph()">-->
                            <!--dialog graph-->
                            <!--</a>-->
                            <a class="btn btn-default" ng-show="vm.fromTask" ng-click="gotoTree()">
                                돌아가기
                            </a>
                            <a class="btn btn-primary" ng-click="vm.saveFile()">
                                저장하기
                            </a>
                        </div>
                    </div>

                </header>
                <div class="panel-body" style="position:relative">
                    <form class="form-horizontal" action="#">
                        <div class="col-md-12">
                            <ui-codemirror
                                    ui-codemirror-opts="vm.codemirrorOpts"
                                    ui-codemirror="{ onLoad: codeLoaded}"
                                    ng-model="vm.currentTab.data" ui-refresh='refreshCodemirror'></ui-codemirror>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>
</div>

<link href="/lib/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css">

<script src="/vendor/jstree/jstree.js"></script>
<script>
</script>

<script src="/vendor/pnotify/pnotify.custom.js"></script>

</body>
</html>

