<!--<section id="feature">-->
    <div id="editBot" class="container">

        <div class="row text-left" style="margin-bottom: 100px;">

            <div class="bot-content" ng-show="vm.type == 'view'">
                <div class="panel-body" >

                    <div class="bot-list-header" ng-show="vm.state=='view'" style="border-bottom: 1px solid lightgray;">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ng-class="{active: vm.type == 'view'}"><a href="#" ng-click="vm.changeType('view');">챗봇정보</a></li>
                            <li role="presentation" ng-if="vm.isLearnable" ng-class="{active: vm.type == 'learn'}"><a href="#" ng-click="vm.changeType('learn');">대화학습</a></li>
                        </ul>
                    </div>

                    <div style="clear: both; ">
                        <div style="width: 30%;display: block; float: left; text-align: center;">
                            <img src="{{vm.userBot.imageFile}}" data-holder-rendered="true" style="max-width: 150px; border-radius: 50%;">
                        </div>
                        <div style="width: 70%;display: block; float: left">
                            <div>
                                <h4 style="float: left;color: #555;">{{vm.userBot.name}} ({{vm.userBot.id}})</h4>
                                <div style="color: #888;float: right; padding-top: 8px">{{vm.userBot.user.username}} </div>
                            </div>

                            <div style="clear: both;">
                                <div style="float: left;margin-bottom: 10px">
                                    <i class="fa fa-users" aria-hidden="true" style="color: #337ab7;margin-right: 3px;"></i><span>친구</span> {{vm.userBot.followed}}명
                                    <!--<i class="fa fa-comments-o" aria-hidden="true" style="color: #337ab7;margin-right: 5px;"></i><span>대화</span> 10억-->
                                </div>
                                <div style="color: #888; float: right">
                                    {{vm.userBot.created | date: 'yyyy-MM-dd'}}
                                </div>
                            </div>
                            <div  style="clear: both;border-top: 1px solid lightgray; margin-top: 15px;padding-top: 5px;">
                                <div style="color: #555;font-weight: bold;display: inline-block;">공유하기</div>
                              <a href="#" ng-click="vm.fbShare()">
                                <img src="/images/sns/social-facebook-icon.png" height="35" style="border-radius: 8px;"/>
                              </a>
                              <a href="#"ng-click="vm.kakaoShare()">
                                <img src="/images/sns/kakaostory-icon.png" height="35" style="border-radius: 8px;"/>
                              </a>
                              <a class="twitter-share-button"
                                 data-size="large"
                                 ng-click="vm.twitterShare()">
                                <img src="/images/sns/social-twitter-icon.png" height="35"/>
                              </a>
                              <!--<div class="line-it-button" style="display: none;" data-type="share-c" data-lang="en"></div>-->
                            </div>
                            <div style="border-top: 1px solid lightgray; margin-top: 5px;padding-top: 5px;text-align: right;">
                                <a class="btn btn-primary" ng-show="vm.isMine" ui-sref="user-bots-web.edit({userBotId: vm.userBot._id})"
                                   style="padding: 10px 20px 10px 20px;">수정하기</a>
                                <a class="btn btn-default" ng-show="!vm.userBot.userFollow && vm.user" ng-click="vm.followBot(vm.userBot);"
                                   style="padding: 10px 20px 10px 20px;">친구추가</a>
                                <a class="btn btn-default" ng-show="vm.userBot.userFollow && vm.user" ng-click="vm.unfollowBot(vm.userBot);"
                                   style="padding: 10px 20px 10px 20px;">친구해제</a>
                                <!--<a class="btn btn-default" ng-click="">대화 가르치기</a>-->
                                <a class="btn btn-primary" ng-click="vm.userBotChat(vm.userBot);"
                                   style="padding: 10px 20px 10px 20px;">대화하기</a>
                            </div>

                        </div>
                    </div>
                    <div style="clear: both;padding: 20px 10px 10px 10px;">
                        {{vm.userBot.description}}
                    </div>
                    <div style="border-top: 1px solid lightgray; margin-top: 5px;padding-top: 10px;">
                        <div>
                            <input type="text" ng-model="vm.comment.text" class="form-control valid" placeholder="댓글을 입력해주세요."
                                   aria-invalid="false" style="width: 80%;float: left;margin-right: 10px" ng-disabeld = "!vm.user">
                            <button class="btn btn-default" ng-click="vm.createComment();" ng-show="vm.user">등록</button>
                            <button class="btn btn-default" ui-sref="authentication.signin" ng-show="!vm.user">로그인해요</button>
                        </div>
                        <div>
                          <ul style="padding: 10px 0px 10px 5px;">
                              <li ng-repeat="comment in vm.comments" ng-show="comment['deleted'] == undefined" style="list-style: none; padding: 0px; margin: 0px;">
                                <div style="color: #555;font-size: 14px;float:left;margin-right: 10px">{{comment.text}} </div>
                                <div>
                                  <span style="color: #888;font-size: 12px; ">{{comment.user.created | date: 'medium'}}</span>
                                  <span  style="color: #777;font-size: 13px; font-weight: bold;"> {{comment.user.username}}&emsp;</span>
                                </div>
                                <button class="btn btn-default btn-xs " ng-show="comment.user.username == vm.user.username" ng-click="vm.removeComment(comment);">삭제</button>
                              </li>
                          </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="bot-content" ng-show="vm.type == 'edit'">

                <form name="userBotForm" class="form-horizontal form-bordered"
                      novalidate="novalidate">
                    <div class="panel-body">

                        <div class="bot-list-header" ng-show="vm.state=='create'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a href="#" ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <!--<li role="presentation" ng-class="{active: vm.type == 'connect'}"><a ng-click="vm.changeType('connect');">연결하기</a></li>-->
                            </ul>
                        </div>

                        <div class="bot-list-header" ng-show="vm.state=='edit'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a href="#" ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a href="#" ng-click="vm.changeType('learn');">대화학습</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a href="#" ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>

                        <div class="form-group" >
                            <label class="col-sm-3 control-label">봇아이디 <span class="required" aria-required="true">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" name="id" ng-model="vm.userBot.id" class="form-control valid"
                                       placeholder="영어(대문자)와 _의 조합, 추후 변경 불가"
                                       required
                                       aria-required="true" aria-invalid="false"
                                       ng-disabled="vm.userBot._id" >
                            </div>
                            <div ng-messages="userBotForm.id.$error" role="alert" class="col-sm-offset-3 col-sm-9" ng-show = "userBotForm.id.$error && submitted">
                                <p class="help-block error-text text-danger" ng-message="required">아이디를 입력해야죠</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">봇이름 <span class="required" aria-required="true">*</span></label>
                            <div class="col-sm-7">
                                <input type="text" name="name" ng-model="vm.userBot.name" class="form-control valid" placeholder="자유롭게 입력해주세요"
                                       required
                                       aria-required="true" aria-invalid="false">
                            </div>
                            <div ng-messages="userBotForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9" ng-show = "userBotForm.name.$error && submitted">
                                <p class="help-block error-text text-danger" ng-message="required">이름을 입력해야죠</p>
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">설명 <span class="required" aria-required="true">*</span></label>
                          <div class="col-sm-7">
                                  <textarea name="description" ng-model="vm.userBot.description" id="description" rows="5" class="form-control"
                                            placeholder="내용을 입력해주세요" aria-invalid="true" required></textarea>
                          </div>
                          <div ng-messages="userBotForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9" ng-show = "userBotForm.description.$error && submitted">
                            <p class="help-block error-text text-danger" ng-message="required">설명해줘요</p>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">대화파일 <span class="required" aria-required="true"></span></label>

                          <div class="col-sm-9">

                            <div class="text-left" ng-hide="uploader.queue.length" style="display: inline;">
                                        <span class="btn btn-default btn-file">
                                            <input type="file" nv-file-select uploader="uploader" style="width:200px;" required>
                                        </span>
                              <span ng-show="success.file" class="text-center text-success">
                                          <strong>대화 파일이 업로드 되었네요</strong>
                                        </span>
                              <span ng-show="error.file" class="text-center text-danger">
                                          <strong ng-bind="error.file"></strong>
                                        </span>
                            </div>
                            <div class="text-center form-group" ng-show="false">
                              <button class="btn btn-primary" ng-click="uploadDialogFiles();">Upload</button>
                              <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">이미지</label>
                            <div class="col-sm-9">
                                <img ng-src="{{imageURL}}" class="img-thumbnail user-profile-picture" style="width:150px; height: 150px;text-align:center;line-height: 150px;" alt="이미지를 업로드해요">
                                <p></p>
                                <div class="text-left" ng-hide="imageUploader.queue.length">
                                  <span class="btn btn-default btn-file">
                                      <input type="file" nv-file-select uploader="imageUploader" style="width:200px;">
                                  </span>
                                  <span ng-show="success.image" class="text-center text-success">
                                    <strong>이미지가 업로드 되었네요</strong>
                                  </span>
                                  <span ng-show="error.image" class="text-center text-danger">
                                    <strong ng-bind="error.image"></strong>
                                  </span>
                                </div>
                            </div>
                            <!--<div ng-messages="imageURL.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                <!--<p class="help-block error-text" ng-message="required">이미지를 입력해주세요</p>-->
                            <!--</div>-->
                        </div>


                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">파일종류 <span class="required" aria-required="true"></span></label>-->
                            <!--<div class="col-sm-9">-->

                                <!--<div class="radio" style="float:left; margin-right: 10px;">-->
                                    <!--<label>-->
                                        <!--<input type="radio" name="type" id="type1" value="csv" checked="" ng-model="vm.userBot.type">-->
                                        <!--엑셀파일(csv)-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="radio" style="float:left; margin-right: 10px;">-->
                                    <!--<label>-->
                                        <!--<input type="radio" name="type" id="type2" value="kakao" ng-model="vm.userBot.type">-->
                                        <!--카카오톡 파일-->
                                    <!--</label>-->
                                <!--</div>-->

                                <!--<div class="radio" style="float:left; margin-right: 10px;">-->
                                    <!--<label>-->
                                        <!--<input type="radio" name="type" id="type3" value="smi" ng-model="vm.userBot.type">-->
                                        <!--자막파일 (smi)-->
                                    <!--</label>-->
                                <!--</div>-->

                                <!--&lt;!&ndash;<div ng-messages="userBotForm.type.$error" role="alert" class="col-sm-offset-3 col-sm-9">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<p class="help-block error-text" ng-message="required">파일종류를 선택해주세요</p>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">채널 <span class="required" aria-required="true">*</span></label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<div class="checkbox-custom checkbox-default" style="float: left; margin-right: 10px;">-->
                                    <!--<input type="checkbox" id="kakao" ng-model="vm.userBot.kakao">-->
                                    <!--<label for="kakao">카카오톡</label>-->
                                <!--</div>-->

                                <!--<div class="checkbox-custom checkbox-default" style="float: left;margin-right: 10px;">-->
                                    <!--<input type="checkbox" id="line" ng-model="vm.userBot.line">-->
                                    <!--<label for="line">라인</label>-->
                                <!--</div>-->

                                <!--<div class="checkbox-custom checkbox-default" style="float: left;margin-right: 10px;">-->
                                    <!--<input type="checkbox" id="facebook" ng-model="vm.userBot.facebook">-->
                                    <!--<label for="facebook">페이스북</label>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <!--<div class="checkbox-custom checkbox-default" style="float: left;">-->
                                    <!--<input type="checkbox" id="using" ng-model="vm.userBot.using">-->
                                    <!--<label for="using">사용</label>-->
                                <!--</div>-->
                                <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
                                    <input type="checkbox" id="public" ng-model="vm.userBot.public">
                                    <label for="public">공개</label>
                                </div>
                                <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
                                    <input type="checkbox" id="learn" ng-model="vm.userBot.learn">
                                    <label for="learn">대화 학습 허용</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">
                                <!--<button type="button" class="btn btn-primary" ng-click="vm.create(userBotForm.$valid)">생성</button>-->
                              <button type="button" class="btn btn-default pull-right" onclick="javascript:history.back();" >취소</button>
                              <button type="button" class="btn btn-primary pull-right" ng-click="vm.create(userBotForm.$valid)">만들기</button>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3 text-center" ng-show="vm.userBot && vm.userBot._id">
                              <a ng-click="vm.remove()">
                                <button type="button" class="btn btn-danger pull-left">
                                  <i class="glyphicon glyphicon-trash"></i> 삭제
                                </button>
                              </a>
                              <button type="button" class="btn btn-default pull-right" onclick="javascript:history.back();" >취소</button>
                              <a>
                                <button type="button" class="btn btn-primary pull-right" ng-click="vm.update(userBotForm.$valid)">
                                    <i class="glyphicon glyphicon-edit"></i> 수정
                                </button>
                              </a>
                            </div>
                        </div>
                    </footer>
                </form>

            </div>

            <div class="bot-content" ng-show="vm.type == 'learn'">

                <form name="userBotForm1" class="form-horizontal form-bordered"
                      novalidate="novalidate">
                    <div class="panel-body">

                        <div class="bot-list-header" ng-show="vm.state=='create'"  style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>

                        <div class="bot-list-header" ng-show="vm.state=='edit'"  style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a href="#" ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a href="#" ng-click="vm.changeType('learn');">대화학습</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a href="#" ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>

                        <div class="bot-list-header" ng-show="vm.state=='view'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'view'}"><a href="#" ng-click="vm.changeType('view');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a href="#" ng-click="vm.changeType('learn');">대화학습</a></li>
                            </ul>
                        </div>

                        <div>
                            <!--<div style="border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">대화입력</div>-->
                            <div style="margin-left: 10px; margin-bottom: 10px;">학습시킬 대화를 추가해 주세요.</div>
                            <div style="margin-bottom: 15px;">
                                <input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"
                                       aria-invalid="false" style="width: 44%;float: left;margin-right: 5px">
                                <input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"
                                       aria-invalid="false"  style="width: 44%;float: left;margin-right: 5px">
                                <button class="btn btn-primary" ng-click="vm.createDialog();">추가</button>
                            </div>

                            <div ng-repeat="dialog in vm.dialogs" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;">
                                <input type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"
                                       aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 44%;float: left;margin-right: 5px">
                                <input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"
                                       aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 44%;float: left;margin-right: 5px">
                                <!--<button class="btn btn-default" ng-click="vm.updateDialog(dialog)">수정</button>-->
                                <button class="btn btn-default" ng-click="vm.removeDialog(dialog)">삭제</button>
                            </div>

                        </div>

                    </div>
                    <footer class="panel-footer" ng-show="vm.state=='edit'" >
                        <div class="row">
                            <!--<div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">-->
                                <!--<button type="button" class="btn btn-default" ng-click="vm.type='edit'">이전</button>-->
                                <!--<button type="button" class="btn btn-primary" ng-click="vm.create(userBotForm.$valid)">만들기</button>-->
                                <!--<button type="button" class="btn btn-default" onclick="javascript:history.back();" >취소</button>-->
                            <!--</div>-->
                            <div class="col-sm-12 text-center" ng-show="vm.userBot && vm.userBot._id">
                                <a class="btn btn-primary" ng-click="vm.update(userBotForm1.$valid)">
                                    <i class="glyphicon glyphicon-edit"></i> 수정
                                </a>
                                <a class="btn btn-danger" ng-click="vm.remove()">
                                    <i class="glyphicon glyphicon-trash"></i> 삭제
                                </a>
                                <button type="button" class="btn btn-default" onclick="javascript:history.back();" >취소</button>
                            </div>
                        </div>
                    </footer>
                    <!--<div ng-show="error" class="text-danger">-->
                        <!--<strong ng-bind="error"></strong>-->
                    <!--</div>-->
                </form>

            </div>

            <div class="bot-content" ng-show="vm.type == 'connect'">

                <form name="userBotForm2" class="form-horizontal form-bordered"
                      novalidate="novalidate">
                    <div class="panel-body">
                        <div class="bot-list-header" ng-show="vm.state=='create'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>
                        <div class="bot-list-header" ng-show="vm.state=='edit'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a href="#" ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a href="#" ng-click="vm.changeType('learn');">대화학습</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a href="#" ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>

                        <div ng-show="vm.learning">
                            <div class="col-sm-12" style="text-align: center; padding-left: 20px;">
                              <h3>챗봇이 학습 중이에요 <br><br>
                                조금만 기다려요</h3>
                            </div>
                            <!--<div class="col-sm-6" style="text-align: left; padding-left: 20px;">-->
                                <!--<button type="button" class="btn btn-primary"-->
                                        <!--style="width: 130px;height: 50px; font-size: 18px;"-->
                                        <!--ng-click="vm.userBotChat(vm.userBot)">대화하기</button>-->
                            <!--</div>-->
                        </div>

                        <div style="clear: both; margin-bottom: 20px;">
                            <div style="font-size: 15px;color: #555;border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">간편하게 사용하기</div>

                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="text-align: center;height: 190px;">
                                        <img src="/images/sns/kakaotalk-icon1.png" style="height: 70px;margin-top: 5px;">
                                        <div class="caption">
                                            <p style="text-align: center;">카카오톡</p>
                                            <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('kakao', 'easy')">카카오톡 연결</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4" >
                                    <div class="thumbnail" style="text-align: center;height: 190px;">
                                        <img src="/images/sns/facebook-messenger-android.png" style="height: 80px;">
                                        <div class="caption">
                                            <p style="text-align: center;">페이스북 메신져</p>
                                            <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('facebook', 'easy')">페이스북 메신져 연결</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="text-align: center;height: 190px;">
                                        <img src="/images/sns/line-messenger-vector-logo.png" style="height: 70px;margin-top: 5px;">
                                        <div class="caption">
                                            <p style="text-align: center;">라인</p>
                                            <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('line', 'easy')">라인 연결</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div style="clear: both; margin-bottom: 20px;">
                            <div style="font-size: 15px;color: #555;border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">직접 챗봇 서비스 하기</div>

                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="text-align: center;height: 190px;">
                                        <img src="/images/sns/kakaotalk-icon1.png" style="height: 70px;margin-top: 10px;">
                                        <div class="caption">
                                            <p style="text-align: center;">카카오톡</p>
                                            <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('kakao')">메신져봇 생성</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4" >
                                    <div class="thumbnail" style="text-align: center;height: 190px;">
                                        <img src="/images/sns/facebook-messenger-android.png" style="height: 80px;">
                                        <div class="caption">
                                            <p style="text-align: center;">페이스북 메신져</p>
                                            <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('facebook')">메신져봇 생성</a></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" style="text-align: center;height: 190px;">
                                        <img src="/images/sns/line-messenger-vector-logo.png" style="height: 70px;margin-top: 10px;">
                                        <div class="caption">
                                            <p style="text-align: center;">라인</p>
                                            <p><a href="#" class="btn btn-default" role="button" ng-click="vm.modal('line')">메신져봇 생성</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <footer class="panel-footer" ng-show="vm.state=='edit'" >
                        <div class="row">
                            <!--<div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">-->
                                <!--<button type="button" class="btn btn-primary" ng-click="vm.userBotChat(vm.userBot)">대화하기</button>-->
                                <!--<button type="button" class="btn btn-danger" ui-sref="user-bots.list({listType: 'my'})">챗봇목록</button>-->
                            <!--</div>-->
                            <div class="col-sm-12 text-center" ng-show="vm.userBot && vm.userBot._id">
                                <a class="btn btn-primary" ng-click="vm.update(userBotForm2.$valid)">
                                    <i class="glyphicon glyphicon-edit"></i> 수정
                                </a>
                                <a class="btn btn-danger" ng-click="vm.remove()">
                                    <i class="glyphicon glyphicon-trash"></i> 삭제
                                </a>
                                <button type="button" class="btn btn-default" onclick="javascript:history.back();" >취소</button>
                            </div>
                        </div>
                    </footer>
                    <!--<div ng-show="error" class="text-danger">-->
                        <!--<strong ng-bind="error"></strong>-->
                    <!--</div>-->
                </form>

            </div>

        </div>
    </div>
<!--</section>-->

<!--<script>-->
<!--//$(document).ready(function(){-->
    <!--$('[data-toggle="tooltip"]').tooltip();-->
<!--//});-->
<!--</script>-->

<!--<style>-->
    <!--.bot-tooltip {-->
        <!--/*background-color: white;*/-->
        <!--/*border: 1px solid #777;*/-->
        <!--color: black;-->
    <!--}-->

    <!--.tooltip-inner {-->
        <!--background-color: #999;-->
        <!--color: #fff;-->
    <!--}-->

    <!--.tooltip.top .tooltip-arrow {-->
        <!--border-top-color: #999;-->
    <!--}-->

    <!--.tooltip.right .tooltip-arrow {-->
        <!--border-right-color: #999;-->
    <!--}-->

    <!--.tooltip.bottom .tooltip-arrow {-->
        <!--border-bottom-color: #999;-->
    <!--}-->

    <!--.tooltip.left .tooltip-arrow {-->
        <!--border-left-color: #999;-->
    <!--}-->
<!--</style>-->
