<!--<section id="feature">-->
    <div id="editBot" class="container">

        <div class="row text-left">
            <div class="bot-list" ng-show="vm.type == 'view'">
                <div class="panel-body" >

                    <div class="bot-list-header" ng-show="vm.state=='view'" style="border-bottom: 1px solid lightgray;">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ng-class="{active: vm.type == 'view'}"><a ng-click="vm.changeType('view');">챗봇정보</a></li>
                            <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a ng-click="vm.changeType('learn');">대화학습</a></li>
                        </ul>
                    </div>

                    <div style="clear: both; ">
                        <div style="width: 30%;display: block; float: left; text-align: center;">
                            <img src="{{vm.userBot.imageFile}}" data-holder-rendered="true" style="max-width: 150px; border-radius: 50%;">
                        </div>
                        <div style="width: 70%;display: block; float: left">
                            <div>
                                <h4 style="float: left;">{{vm.userBot.name}} ({{vm.userBot.id}})</h4>
                                <div style="float: right; padding-top: 8px">{{vm.userBot.user.username}} </div>
                            </div>

                            <div style="clear: both;">
                                <div style="float: left;margin-bottom: 10px">
                                    <i class="fa fa-users" aria-hidden="true" style="color: #337ab7;margin-right: 3px;"></i><span>친구</span> {{vm.userBot.followed}}명
                                    <i class="fa fa-comments-o" aria-hidden="true" style="color: #337ab7;margin-right: 5px;"></i><span>대화</span> 10억
                                </div>
                                <div style="float: right">
                                    {{vm.userBot.created | date: 'yyyy-MM-dd'}}
                                </div>
                            </div>
                            <div  style="clear: both;border-top: 1px solid lightgray; margin-top: 15px;padding-top: 5px;">
                                <div style="font-weight: bold;">공유하기</div>
                                <img src="/images/sns/social-facebook-icon.png" height="35" style="border-radius: 8px;"/>
                                <img src="/images/sns/social-twitter-icon.png" height="35"/>
                                <img src="/images/sns/kakaotalk-icon1.png" height="35"/>
                            </div>
                            <div style="border-top: 1px solid lightgray; margin-top: 5px;padding-top: 5px;">
                                <a class="btn btn-default" ng-show="!vm.userBot.userFollow" ng-click="vm.followBot(vm.userBot);">친구추가</a>
                                <a class="btn btn-default" ng-show="vm.userBot.userFollow" ng-click="vm.unfollowBot(vm.userBot);">친구삭제</a>
                                <!--<a class="btn btn-default" ng-click="">대화 가르치기</a>-->
                                <a class="btn btn-primary" ng-click="vm.userBotChat(vm.userBot);">대화하기</a>
                            </div>

                        </div>
                    </div>
                    <div style="clear: both;padding: 20px 10px 10px 10px;">
                        {{vm.userBot.description}}
                    </div>
                    <div style="border-top: 1px solid lightgray; margin-top: 5px;padding-top: 10px;">
                        <div>
                            <input type="text" ng-model="vm.comment.text" class="form-control valid" placeholder="댓글을 입력해주세요."
                                   aria-invalid="false" style="width: 80%;float: left;margin-right: 10px">
                            <button class="btn btn-default" ng-click="vm.createComment();">등록</button>
                        </div>

                        <ul style="padding: 10px 0px 10px 5px;">
                            <li  ng-repeat="comment in vm.comments" ng-show="comment['deleted'] == undefined"
                                style="list-style: none; padding: 0px; margin: 0px;">
                                <div>
                                    <span style="font-size: 13px; font-weight: bold;">{{comment.user.username}}</span>
                                    <span style="font-size: 13px; ">{{comment.user.created | date: 'medium'}}</span>
                                </div>
                                <div style="color: #111;font-size: 14px;float:left;margin-right: 10px">{{comment.text}} </div>
                                <button class="btn btn-default btn-xs " ng-click="vm.removeComment(comment);">삭제</button>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="bot-list" ng-show="vm.type == 'edit'">

                <form name="userBotForm" class="form-horizontal form-bordered"
                      novalidate="novalidate">
                    <div class="panel-body">

                        <div class="bot-list-header" ng-show="vm.state=='create' || vm.state=='edit'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a ng-click="vm.changeType('learn');">대화학습시키기</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">봇아이디 <span class="required" aria-required="true">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="id" ng-model="vm.userBot.id" class="form-control valid"
                                       placeholder="영어(대문자)와 _의 조합, 추후 변경 불가"
                                       required=""
                                       aria-required="true" aria-invalid="false"
                                       ng-disabled="vm.userBot._id">
                            </div>
                            <!--<div ng-messages="userBotForm.id.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                <!--<p class="help-block error-text" ng-message="required">아이디를 입력해주세요</p>-->
                            <!--</div>-->
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">봇이름 <span class="required" aria-required="true">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="name" ng-model="vm.userBot.name" class="form-control valid" placeholder="자유롭게 입력해주세요"
                                       required=""
                                       aria-required="true" aria-invalid="false">
                            </div>
                            <!--<div ng-messages="userBotForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
                                <!--<p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>-->
                            <!--</div>-->
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">이미지 <span class="required" aria-required="true">*</span></label>
                            <div class="col-sm-9">
                                <img ng-src="{{imageURL}}" class="img-thumbnail user-profile-picture" style="display: none;">
                                <div class="text-left" ng-hide="imageUploader.queue.length">
                                  <span class="btn btn-default btn-file">
                                      <input type="file" nv-file-select uploader="imageUploader">
                                  </span>
                                </div>
                                <div class="text-center form-group" ng-show="false">
                                    <button class="btn btn-primary" ng-click="uploadImageFiles();">Upload</button>
                                    <button class="btn btn-default" ng-click="cancelImageUpload();">Cancel</button>
                                </div>
                            </div>
                            <div ng-messages="imageURL.$error" role="alert" class="col-sm-offset-3 col-sm-9">
                                <p class="help-block error-text" ng-message="required">이미지를 입력해주세요</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">설명 <span class="required" aria-required="true">*</span></label>
                            <div class="col-sm-9">
                                <textarea name="description" ng-model="vm.userBot.description" id="description" rows="5" class="form-control"
                                    placeholder="내용을 입력해주세요" aria-invalid="true"></textarea>
                            </div>
                            <div ng-messages="userBotForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9">
                                <p class="help-block error-text" ng-message="required">설명을 입력해주세요</p>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">채널 <span class="required" aria-required="true">*</span></label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<div class="checkbox-custom checkbox-default" style="float: left; margin-right: 10px;">-->
                                    <!--<input type="checkbox" id="kakao" ng-model="vm.userBot.kakao">-->
                                    <!--<label for="kakao">카카오톡</label>-->
                                <!--</div>-->

                                <!--<div class="checkbox-custom checkbox-default" style="float: left;margin-right: 10px;">-->
                                    <!--<input type="checkbox" id="line" ng-model="vm.userBot.line">-->
                                    <!--<label for="line">라인</label>-->
                                <!--</div>-->

                                <!--<div class="checkbox-custom checkbox-default" style="float: left;margin-right: 10px;">-->
                                    <!--<input type="checkbox" id="facebook" ng-model="vm.userBot.facebook">-->
                                    <!--<label for="facebook">페이스북</label>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="checkbox-custom checkbox-default" style="float: left;">
                                    <input type="checkbox" id="using" ng-model="vm.userBot.using">
                                    <label for="using">사용</label>
                                </div>
                                <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
                                    <input type="checkbox" id="public" ng-model="vm.userBot.public">
                                    <label for="using">공개</label>
                                </div>
                                <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;"">
                                    <input type="checkbox" id="public" ng-model="vm.userBot.learn">
                                    <label for="using">대화학습허용</label>
                                </div>

                            </div>
                        </div>


                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">
                                <!--<button type="button" class="btn btn-primary" ng-click="vm.create(userBotForm.$valid)">생성</button>-->
                                <button type="button" class="btn btn-primary" ng-click="vm.type='learn'">다음</button>
                                <button type="button" class="btn btn-default" ui-sref="user-bots.list">취소</button>
                            </div>
                            <div class="col-sm-12 text-center" ng-show="vm.userBot && vm.userBot._id">
                                <a class="btn btn-primary" ng-click="vm.update(userBotForm.$valid)">
                                    <i class="glyphicon glyphicon-edit"></i> 수정
                                </a>
                                <button type="button" class="btn btn-primary" ng-click="vm.type='learn'">다음</button>
                                <a class="btn btn-danger" ng-click="vm.remove()">
                                    <i class="glyphicon glyphicon-trash"></i> 삭제
                                </a>
                            </div>
                        </div>
                    </footer>
                    <div ng-show="error" class="text-danger">
                        <strong ng-bind="error"></strong>
                    </div>
                </form>

            </div>


            <div class="bot-list" ng-show="vm.type == 'learn'">

                <form name="userBotForm" class="form-horizontal form-bordered"
                      novalidate="novalidate">
                    <div class="panel-body">

                        <div class="bot-list-header" ng-show="vm.state=='create' || vm.state=='edit'"  style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a ng-click="vm.changeType('learn');">대화학습시키기</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>

                        <div class="bot-list-header" ng-show="vm.state=='view'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'view'}"><a ng-click="vm.changeType('view');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a ng-click="vm.changeType('learn');">대화학습</a></li>
                            </ul>
                        </div>

                        <div style="clear: both; margin-bottom: 20px;">
                            <div style="border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">대화파일</div>
                            <div class="text-left" ng-hide="uploader.queue.length" style="display: inline;">
                                      <span class="btn btn-default btn-file">
                                          <input type="file" nv-file-select uploader="uploader" style="width:200px;">
                                      </span>
                            </div>
                            <div class="text-center form-group" ng-show="false">
                                <button class="btn btn-primary" ng-click="uploadDialogFiles();">Upload</button>
                                <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
                            </div>
                            <div ng-show="success" class="text-center text-success">
                                <strong>파일이 업로드 되었습니</strong>
                            </div>
                            <div ng-show="error" class="text-center text-danger">
                                <strong ng-bind="error"></strong>
                            </div>

                        </div>

                        <div>
                            <div style="border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">대화입력</div>
                            <div style="margin-bottom: 15px;">
                                <input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"
                                       aria-invalid="false" style="width: 42%;float: left;margin-right: 5px">
                                <input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"
                                       aria-invalid="false"  style="width: 42%;float: left;margin-right: 5px">
                                <button class="btn btn-primary" ng-click="vm.createDialog();">추가</button>
                            </div>

                            <div ng-repeat="dialog in vm.dialogs" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;">
                                <input type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"
                                       aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">
                                <input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"
                                       aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">
                                <!--<button class="btn btn-default" ng-click="vm.updateDialog(dialog)">수정</button>-->
                                <button class="btn btn-default" ng-click="vm.removeDialog(dialog)">삭제</button>
                            </div>

                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">
                                <button type="button" class="btn btn-default" ng-click="vm.type='edit'">이전</button>
                                <button type="button" class="btn btn-primary" ng-click="vm.create(userBotForm.$valid)">만들기</button>
                                <button type="button" class="btn btn-default" ui-sref="user-bots.list">취소</button>
                            </div>
                            <div class="col-sm-12 text-center" ng-show="vm.userBot && vm.userBot._id">
                                <a class="btn btn-primary" ng-click="vm.update(userBotForm.$valid)">
                                    <i class="glyphicon glyphicon-edit"></i> 수정
                                </a>
                                <a class="btn btn-danger" ng-click="vm.remove()">
                                    <i class="glyphicon glyphicon-trash"></i> 삭제
                                </a>
                            </div>
                        </div>
                    </footer>
                    <div ng-show="error" class="text-danger">
                        <strong ng-bind="error"></strong>
                    </div>
                </form>

            </div>

            <div class="bot-list" ng-show="vm.type == 'connect'">

                <form name="userBotForm" class="form-horizontal form-bordered"
                      novalidate="novalidate">
                    <div class="panel-body">
                        <div class="bot-list-header" ng-show="vm.state=='create' || vm.state=='edit'" style="border-bottom: 1px solid lightgray;">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type == 'edit'}"><a ng-click="vm.changeType('edit');">챗봇정보</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'learn'}"><a ng-click="vm.changeType('learn');">대화학습시키기</a></li>
                                <li role="presentation" ng-class="{active: vm.type == 'connect'}"><a ng-click="vm.changeType('connect');">연결하기</a></li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                봇이 생성되었습니다.
                                지금 바로 사용할 수 있습니다 -> 화살표
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">연결하기</label>
                            <div class="col-sm-9">
                                <button class="btn btn-default">카카오톡</button><br/>
                                <button class="btn btn-default">라인</button><br/>
                                <button class="btn btn-default">페이스북</button>
                            </div>
                        </div>

                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">
                                <button type="button" class="btn btn-primary" ng-click="vm.userBotChat(vm.userBot)">대화하기</button>
                                <button type="button" class="btn btn-danger" ui-sref="user-bots.list({listType: 'my'})">챗봇목록</button>
                            </div>
                            <div class="col-sm-12 text-center" ng-show="vm.userBot && vm.userBot._id">
                                <a class="btn btn-primary" ng-click="vm.update(userBotForm.$valid)">
                                    <i class="glyphicon glyphicon-edit"></i> 수정
                                </a>
                                <a class="btn btn-danger" ng-click="vm.remove()">
                                    <i class="glyphicon glyphicon-trash"></i> 삭제
                                </a>
                                <button type="button" class="btn btn-danger" ui-sref="user-bots.list">목록</button>
                            </div>
                        </div>
                    </footer>
                    <div ng-show="error" class="text-danger">
                        <strong ng-bind="error"></strong>
                    </div>
                </form>

            </div>

        </div>
    </div>
<!--</section>-->

<!--<script>-->
<!--//$(document).ready(function(){-->
    <!--$('[data-toggle="tooltip"]').tooltip();-->
<!--//});-->
<!--</script>-->

<!--<style>-->
    <!--.bot-tooltip {-->
        <!--/*background-color: white;*/-->
        <!--/*border: 1px solid #777;*/-->
        <!--color: black;-->
    <!--}-->

    <!--.tooltip-inner {-->
        <!--background-color: #999;-->
        <!--color: #fff;-->
    <!--}-->

    <!--.tooltip.top .tooltip-arrow {-->
        <!--border-top-color: #999;-->
    <!--}-->

    <!--.tooltip.right .tooltip-arrow {-->
        <!--border-right-color: #999;-->
    <!--}-->

    <!--.tooltip.bottom .tooltip-arrow {-->
        <!--border-bottom-color: #999;-->
    <!--}-->

    <!--.tooltip.left .tooltip-arrow {-->
        <!--border-left-color: #999;-->
    <!--}-->
<!--</style>-->