<header class="page-header">
  <h2>{{vm.bot && vm.bot._id ? '봇 수정' : '봇 생성'}}</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>봇 관리</span></li>
      <li><span>{{vm.bot && vm.bot._id ? vm.bot.name : '봇 생성'}}</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel">
  <form name="botForm" class="form-bordered" ng-submit="vm.create(botForm.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-horizontal form-group">
        <label class="col-sm-2 control-label">봇아이디 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <input type="text" name="id" ng-model="vm.bot.id" class="form-control valid"
                 placeholder="영어(대문자)와 _의 조합, 추후 변경 불가"
                 required=""
                 aria-required="true" aria-invalid="false"
                 ng-disabled="vm.bot._id">
        </div>
        <div ng-messages="botForm.id.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">아이디를 입력해주세요</p>
        </div>
      </div>
      <div class="form-horizontal form-group">
        <label class="col-sm-2 control-label">봇이름 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <input type="text" name="name" ng-model="vm.bot.name" class="form-control valid" placeholder="자유롭게 입력해주세요"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
        <div ng-messages="botForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>
        </div>
      </div>
      <div class="form-horizontal form-group">
        <label class="col-sm-2 control-label">채널 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
            <input type="checkbox" id="kakao" ng-model="vm.bot.kakao">
            <label for="kakao">카카오톡</label>
          </div>

          <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
            <input type="checkbox" id="line" ng-model="vm.bot.line">
            <label for="line">라인</label>
          </div>

          <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
            <input type="checkbox" id="facebook" ng-model="vm.bot.facebook">
            <label for="facebook">페이스북</label>
          </div>

        </div>
      </div>
      <div class="form-horizontal form-group">
        <label class="col-sm-2 control-label">사용여부 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
            <input type="checkbox" id="using" ng-model="vm.bot.using">
            <label for="using">사용</label>
          </div>
          <div class="checkbox-custom checkbox-default" style="float: left;margin-left: 10px;">
            <input type="checkbox" id="isMakeFile" ng-model="vm.bot.isMakeFile">
            <label for="using">파일생성</label>

          </div>
        </div>
      </div>
      <div class="form-horizontal form-group">
        <label class="col-sm-2 control-label">설명 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <textarea name="description" ng-model="vm.bot.description" id="description" rows="5" class="form-control"
                    placeholder="내용을 입력해주세요" required="" aria-required="true" aria-invalid="true"></textarea>
        </div>
        <div ng-messages="botForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">설명을 입력해주세요</p>
        </div>
      </div>

      <div class="form-horizontal form-group">
        <label class="col-sm-2 control-label">대화파일 <span class="required" aria-required="true">*</span></label>
        <!--<div class="col-sm-9">-->
          <!--<input type="text" name="name" ng-model="vm.bot.name" class="form-control valid" placeholder="자유롭게 입력해주세요"-->
                 <!--required=""-->
                 <!--aria-required="true" aria-invalid="false">-->
        <!--</div>-->
        <div class="col-sm-10">
          <table class="table table-bordered table-striped mb-none">
            <thead>
            <tr>
              <th class="text-center">타입</th>
              <th class="text-center">이름</th>
              <th class="text-center">공개</th>
              <th class="text-center">연결</th>
              <th class="text-center">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dialogset in vm.dialogSets">
              <td class="text-center">{{dialogset.type}}</td>
              <td class="text-center">{{dialogset.filename}}</td>
              <td class="text-center">{{dialogset.public}}</td>
              <td class="text-center">{{dialogset.use? dialogset.use: 'false'}}</td>
              <td class="text-center col-sm-3">
                <a class="btn btn-danger btn-xs" ng-if="dialogset.use" ng-click="vm.dialogsetsDisconnect(dialogset)">
                  <i class="glyphicon glyphicon-edit"></i> 연결 끊기
                </a>
                <a class="btn btn-default btn-xs" ng-if="!dialogset.use" ng-click="vm.dialogsetsConnect(dialogset)">
                  <i class="glyphicon glyphicon-edit"></i> 연결하기
                </a>
                <a class="btn btn-default btn-xs" ui-sref="dialogsets.edit({dialogsetId: dialogset._id})">
                  <i class="glyphicon glyphicon-edit"></i> 수정
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-messages="botForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>
        </div>
      </div>

      <div class="form-horizontal form-group">
        <label class="col-sm-2 control-label">템플릿 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
            <button ng-click="vm.unselectTemplate()" style="float: left;margin-left: 10px;" class="mb-xs mt-xs mr-xs btn btn-sm btn-default"
                    ng-class="{'btn-primary': vm.selectedTemplate == undefined}">선택 안함</button>
          <div ng-repeat="template in vm.templates">
            <button ng-click="vm.selectTemplate(template)" style="float: left;margin-left: 10px;" class="mb-xs mt-xs mr-xs btn btn-sm btn-default"
                    ng-class="{'btn-primary': vm.selectedTemplate == template}">{{template.name}}</button>
          </div>
        </div>
      </div>

      <div class=" form-group" ng-show="vm.selectedTemplate != undefined">
        <label class="form-horizontal col-sm-2 control-label">Content <span class="required" aria-required="true">*</span></label>
        <!--<div class="col-sm-9">-->
          <!--<textarea name="content" ng-model="vm.bot.template.templateData" id="_content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea><label id="content-error" class="error" for="content">내용은 필수 입니다.</label>-->
        <!--</div>-->
        <div class="col-sm-10" id='editor_holder'>
        </div>
        <label class="form-horizontal col-sm-3 control-label">Schema: </label>
        <div class="col-sm-10">{{vm.selectedTemplate.dataSchema}}</div>
      </div>

    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.bot && vm.bot._id">
          <!--<button class="btn btn-primary btn-sm">Submit</button>-->
          <button type="submit" class="btn btn-primary btn-sm">생성</button>
          <!--<button type="reset" class="btn btn-default btn-sm">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="bots.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.bot && vm.bot._id">
          <a class="btn btn-primary btn-sm" ng-click="vm.update(botForm.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>


<!--<script src="assets/javascripts/forms/examples.validation.js"></script>-->

<!--<section ng-controller="BotsController">-->
<!--<div class="page-header">-->
<!--<h1>New Bot</h1>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<form name="botForm" class="form-horizontal" ng-submit="create(botForm.$valid)" novalidate>-->
<!--<fieldset>-->
<!--<div class="form-group" show-errors>-->
<!--<label for="title">Title</label>-->
<!--<input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>-->
<!--<div ng-messages="botForm.title.$error" role="alert">-->
<!--<p class="help-block error-text" ng-message="required">Bot title is required.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="content">Content</label>-->
<!--<textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="submit" class="btn btn-default btn-sm">-->
<!--</div>-->
<!--<div ng-show="error" class="text-danger">-->
<!--<strong ng-bind="error"></strong>-->
<!--</div>-->
<!--</fieldset>-->
<!--</form>-->
<!--</div>-->
<!--</section>-->
