<header class="page-header">
  <h2>{{vm.userBot && vm.userBot._id ? '봇 수정' : '봇 생성'}}</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>봇 관리</span></li>
      <li><span>{{vm.userBot && vm.userBot._id ? vm.userBot.name : '봇 생성'}}</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel">
  <form name="userBotForm" class="form-horizontal form-bordered"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">봇아이디 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.userBot.id" class="form-control valid"
                 placeholder="영어(대문자)와 _의 조합, 추후 변경 불가"
                 required=""
                 aria-required="true" aria-invalid="false"
                 ng-disabled="vm.userBot._id">
        </div>
        <div ng-messages="userBotForm.id.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">아이디를 입력해주세요</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">봇이름 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="name" ng-model="vm.userBot.name" class="form-control valid" placeholder="자유롭게 입력해주세요"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
        <div ng-messages="userBotForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">이미지 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <img ng-src="{{imageURL}}" class="img-thumbnail user-profile-picture">
          <div class="text-center form-group" ng-hide="imageUploader.queue.length">
          <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="imageUploader">
          </span>
          </div>
          <div class="text-center form-group" ng-show="false">
            <button class="btn btn-primary btn-sm" ng-click="uploadImageFiles();">Upload</button>
            <button class="btn btn-default btn-sm" ng-click="cancelImageUpload();">Cancel</button>
          </div>
        </div>
        <div ng-messages="imageURL.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">이미지를 입력해주세요</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">채널 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <div class="checkbox-custom checkbox-default">
            <input type="checkbox" id="kakao" ng-model="vm.userBot.kakao">
            <label for="kakao">카카오톡</label>
          </div>

          <div class="checkbox-custom checkbox-default">
            <input type="checkbox" id="line" ng-model="vm.userBot.line">
            <label for="line">라인</label>
          </div>

          <div class="checkbox-custom checkbox-default">
            <input type="checkbox" id="facebook" ng-model="vm.userBot.facebook">
            <label for="facebook">페이스북</label>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">사용여부 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <div class="checkbox-custom checkbox-default">
            <input type="checkbox" id="using" ng-model="vm.userBot.using">
            <label for="using">사용</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">설명 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <textarea name="description" ng-model="vm.userBot.description" id="description" rows="5" class="form-control"
                    placeholder="내용을 입력해주세요" aria-invalid="true"></textarea>
        </div>
        <div ng-messages="userBotForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">설명을 입력해주세요</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">공개여부 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <div class="checkbox-custom checkbox-default">
            <input type="checkbox" id="public" ng-model="vm.userBot.public">
            <label for="using">공개</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">대화파일 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <div class="text-left" ng-hide="uploader.queue.length" style="display: inline;">
                                      <span class="btn btn-default btn-file">
                                          <input type="file" nv-file-select uploader="uploader">
                                      </span>
          </div>
          <!--<div class="text-center form-group" ng-show="uploader.queue.length">-->
          <div class="text-right" style="display: inline;">
            <button class="btn btn-primary btn-sm" ng-click="uploadDialogFiles();">Upload</button>
            <button class="btn btn-default btn-sm" ng-click="cancelUpload();">Cancel</button>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>파일이 업로드 되었습니</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
        <!--<div ng-messages="botForm.description.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
        <!--<p class="help-block error-text" ng-message="required">설명을 입력해주세요</p>-->
        <!--</div>-->
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">개별대화 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" id="question" name="question" ng-model="vm.userBot.question" class="form-control valid" placeholder="질문"

                 aria-invalid="false">
          <input type="text" id="answer" name="answer" ng-model="vm.userBot.answer" class="form-control valid" placeholder="답변"

                 aria-invalid="false">
        </div>
        <!--<div ng-messages="botForm.name.$error" role="alert" class="col-sm-offset-3 col-sm-9">-->
        <!--<p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>-->
        <!--</div>-->
      </div>

    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.userBot && vm.userBot._id">
          <button type="button" class="btn btn-primary btn-sm" ng-click="vm.create(userBotForm.$valid)">생성</button>
          <button type="button" class="btn btn-danger" ui-sref="user-bots.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.userBot && vm.userBot._id">
          <a class="btn btn-primary btn-sm" ng-click="vm.update(userBotForm.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>

