<ion-view view-title="대화학습">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"
                 aria-invalid="false" style="width: 44%;float: left;margin-right: 5px">
      </label>
      <label class="item item-input">
        <input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"
               aria-invalid="false"  style="width: 44%;float: left;margin-right: 5px">
      </label>
      <button class="button button-block button-outline button-positive" ng-click="vm.createDialog();">추가</button>
    </div>

    <div ng-repeat="dialog in vm.dialogs" ng-show="dialog.deleted == undefined" class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"
               aria-invalid="false" ng-blur="vm.updateDialog(dialog)">
      </label>
      <label class="item item-input">
       <input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"
               aria-invalid="false" ng-blur="vm.updateDialog(dialog)" >
      <!--<button class="btn btn-default" ng-click="vm.updateDialog(dialog)">수정</button>-->
      </label>
      <button class="button button-block button-outline button-positive" ng-click="vm.removeDialog(dialog)">삭제</button>
    </div>
  </ion-content>
</ion-view>
