<header class="page-header">
  <h2>파일관리</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>봇 관리</span></li>
      <li><span>{{vm.bot.name}}</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<!-- start: page -->
<section class="panel">
  <!--<header class="panel-heading">-->
    <!--<div class="panel-actions">-->
      <!--<input type="text" class="mb-md" ng-model="vm.addFileName" placeholder="파일명"/>-->
      <!--<button id="addToTable" class="btn btn-primary" ng-click="vm.create()"><i class="fa fa-plus"></i> 파일추가</button>-->
    <!--</div>-->

    <!--<h2 class="panel-title">&nbsp;</h2>-->
  <!--</header>-->
  <div class="panel-body">
    <table id="dt" datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <th class="text-center">파일명</th>
        <th class="text-center">작성자</th>
        <th class="text-center">수정일</th>
        <th class="text-center">등록일</th>
        <th class="text-center" >관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="file in vm.files track by $index" data-ng-if="vm.checkAuth('BotFile', file._id)">
        <td name="fileName" class="text-center">
          <div ng-show="!file.edit">
            {{file.name}}
          </div>
          <input type="text" class="form-control input-block" ng-model="file.renameFileName" ng-show="file.edit"/>
        </td>
        <!--<td class="text-center" ng-show="file.edit">-->
          <!---->
        <!--</td>-->
        <td class="text-center">{{file.user.displayName}}</td>
        <td class="text-center">{{file.updated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td class="text-center">{{file.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td class="actions">
          <a ng-click="vm.edit($index, false)" ng-show="file.edit" data-ng-if="vm.checkAuth('BotFile', file._id, 'edit')"><i class="fa fa-times"></i></a>
          <a ng-click="vm.rename($index)" ng-show="file.edit" data-ng-if="vm.checkAuth('BotFile', file._id, 'edit')"><i class="fa fa-save"></i></a>
          <a ng-click="vm.edit($index, true)" data-ng-if="vm.checkAuth('BotFile', file._id, 'edit')" ng-show="!file.edit"><i class="fa fa-pencil"></i></a>
          <a ui-sref="bots.ide({botId: file.bot._id, fileId: file._id})" data-ng-if="vm.checkAuth('BotFile', file._id, 'edit')" ng-show="!file.edit && vm.isIde(file.name)"><i class="fa fa-edit"></i></a>
          <a ui-sref="bots.dialog-tree({botId: file.bot._id, fileId: file._id})" data-ng-if="vm.checkAuth('BotFile', file._id, 'edit')" ng-show="!file.edit && !vm.isIde(file.name)"><i class="fa fa-edit"></i></a>
          <!--<a ui-sref="bots.dialog-graph({botId: file.bot._id, fileId: file._id})" ng-show="!file.edit && !vm.isIde(file.name)"><i class="fa fa-edit"></i>new</a>-->
          <a ng-click="vm.remove($index)" data-ng-if="vm.checkAuth('BotFile', file._id, 'edit')" ng-show="!file.edit"><i class="fa fa-trash-o"></i></a>
          <!--<a ui-sref="bots.graph-dialog({botId: file.bot._id, fileId: file._id})" ng-show="!file.edit">Dialog Graph</a>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- end: page -->


<!--<script src="/js/tables/files-bots.datatable.js"></script>-->
