<style>

  .link {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
  }

  #child{
    fill: green;
  }

  .link.child {
    stroke: green;
  }

  circle {
    fill: white;
    stroke: #333;
    stroke-width: 1.5px;
    cursor: pointer;
  }

  circle.node.highlighted {
    fill: lightblue;
    stroke: important;
    stroke-width: 3px;
  }

  text {
    font: 12px 돋음체;
  }

  .edgelabel {

  }


</style>

<header class="page-header">
  <h2>Bots</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Graph-Knowledge</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!--<div class="col-md-6">-->
<section id="canvas" class="panel" >

</section>
<!--</div>--
