<style>

  .link {
    stroke: #999;
    stroke-opacity: .6;
  }

  #child{
  }

  .link.child {
  }

  circle {
    cursor: pointer;
  }

  circle.node.highlighted {
    fill: lightblue;
  }

  text {
    font: 12px 돋음체;
    font-weight: bold;
  }

  .edgelabel {
    pointer-events: none;
    font-weight: bold;
    font-size: 10px;
    text-anchor: middle;
    alignment-baseline: middle;
  }

</style>

<header class="page-header">
  <h2>지식 그래프</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Graph-Knowledge</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!--<div class="col-md-6">-->
<section id="canvas" class="panel" style="position: absolute; left: 0; top: 4px; right: 0; bottom: 0; margin:0; background-color: black; " >

</section>
<!--</div>--
