<style>
  .content-body {padding: 0px}
  .panel-body {padding: 0px}
  .CodeMirror {height: auto;}

</style>

<header class="page-header">
  <h2>에디터</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>봇 관리</span></li>
      <li><span>{{vm.botName}}</span></li>
      <li><span>{{vm.name}}</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<!-- start: page -->
<div class="row">
  <div class="col-xs-12">
    <section class="panel">
      <header class="panel-heading"  style="padding: 10px 15px;">
        <div class="row">
          <div class="col-sm-6 pull-left">
            <h2 class="panel-title">{{vm.name}}</h2>
          </div>

          <div class="col-sm-6 text-right">
            <!--<a class="btn btn-primary" ng-click="vm.viewGraph()">-->
              <!--dialog graph-->
            <!--</a>-->
            <a class="btn btn-primary" ng-click="vm.buildBot()">
              Save & Build
            </a>
          </div>
        </div>

      </header>
      <div class="panel-body">
        <form class="form-horizontal" action="#">
            <div class="col-md-12">
              <ui-codemirror ui-codemirror-opts="vm.codemirrorOpts" ng-model="vm.data" ui-refresh='refreshCodemirror'></ui-codemirror>
            </div>
        </form>
      </div>
    </section>
  </div>
</div>
<!-- end: page -->


