<ion-view view-title="{{vm.listTypeName}}">
  <ion-content>

    <!--<form ng-submit="vm.find();">-->
      <!--<div id="search">-->
        <!--<i class="icon-left ion-search" class="float: left;"></i>-->
        <!--<input type="text" id="query" ng-model="vm.query" placeholder="검색">-->
      <!--</div>-->
    <!--</form>-->

    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ui-sref="user-bots.chat({userBotId: userBot.id})"
                ng-repeat="userBot in vm.userBots">
        <img ng-src="{{userBot.imageFile}}">
        <h2>{{userBot.name}}</h2>
        <p>{{userBot.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="vm.unfollowBot(userBot)">-->
          <!--친구추가-->
        <!--</ion-option-button>-->
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
