<section id="botlist">
    <div class="container">
            <!--<div class="row userbot">-->
                <!--<div class="text-center">-->
                    <!--<h2 class="section-heading">추천봇</h2>-->
                    <!--<div ng-model="vm.msg"></div>-->
                    <!--<h3 class="section-subheading text-muted">현재 가장 많은 분들이 사용하는 봇입니다.</h3>-->
                <!--</div>-->
            <!--</div>-->

        <div class="row text-left">

            <div class="bot-list-header">
                <ul class="nav nav-pills">
                    <li role="presentation" ng-class="{active: vm.listType == 'popular'}"><a ui-sref="user-bots-web.list({listType: 'popular', query: ''})">인기봇</a></li>
                    <li role="presentation" ng-class="{active: vm.listType == 'recent'}"><a ui-sref="user-bots-web.list({listType: 'recent', query: ''})">최신봇</a></li>
                    <li role="presentation" ng-class="{active: vm.listType == 'followed'}"><a ui-sref="user-bots-web.list({listType: 'followed', query: ''})">친구봇</a></li>
                    <li role="presentation" ng-class="{active: vm.listType == 'my'}"><a ui-sref="user-bots-web.list({listType: 'my', query: ''})">마이봇</a></li>
                </ul>
                <form class="form-inline" ng-submit="vm.goFind();">
                    <div class="form-group">
                        <input type="text" class="form-control" id="query" ng-model="vm.query" placeholder="찾을 봇 이름">
                    </div>
                    <button type="submit" class="btn btn-default">검색</button>
                </form>
            </div>

            <div id="popularBots" class="row bot-list">

                <div class="col-md-3" ng-repeat="userBot in vm.userBots">
                    <!--<div class="thumbnail" ng-click="vm.userBotChat(userBot)">-->
                    <div class="thumbnail">
                        <img alt="100%x200" src="{{userBot.imageFile}}" data-holder-rendered="true" ui-sref="user-bots-web.view({userBotId: userBot._id})">
                        <div class="caption">
                            <h3 class="bot-title" ui-sref="user-bots-web.view({userBotId: userBot._id})">{{userBot.name}}</h3>
                            <p class="bot-desc">{{userBot.description}}</p>
                            <!--<p class="bot-buttons">-->
                                <!--<a href="#" class="btn btn-primary" role="button" ng-click="vm.followBot(userBot);">친구추가</a>-->
                                <!--<a href="#" class="btn btn-default" ng-click="vm.userBotChat(userBot)">대화하기</a>-->
                            <!--</p>-->
                            <p class="bot-info" ng-show="vm.listType != 'my'">
                                <i class="fa fa-users" aria-hidden="true" style="color: #337ab7;"></i><span>친구</span> 300k
                                <i class="fa fa-comments-o" aria-hidden="true" style="color: #337ab7;"></i><span>대화</span> 10억

                                <!--<a class="btn btn-primary" ng-show="vm.listType != 'followed'" ng-click="vm.followBot(userBot);">친구추가</a>-->
                                <!--<a class="btn btn-primary" ng-show="vm.listType == 'followed'" ng-click="vm.unfollowBot(userBot);">친구삭제</a>-->

                            </p>

                            <!--<p class="bot-buttons" ng-show="vm.listType == 'my'">-->
                                <!--<a class="btn btn-primary" ui-sref="user-bots-web.edit({userBotId: userBot._id})">수정</a>-->
                            <!--</p>-->
                            <!--<p class="bot-buttons" ng-show="vm.listType == 'my'">-->
                                <!--<a href="#" class="btn btn-default" >삭제</a>-->
                            <!--</p>-->

                        </div>
                    </div>
                </div>
            </div>


            <!--<div class="bot-list2-header">-->
                <!--<ul class="nav nav-pills">-->
                    <!--<li role="presentation"><a href="#">인기봇</a></li>-->
                    <!--<li role="presentation" class="active"><a href="#">최신봇</a></li>-->
                    <!--<li role="presentation"><a href="#">친구봇</a></li>-->
                    <!--<li role="presentation"><a href="#">마이봇</a></li>-->
                <!--</ul>-->
                <!--<form class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="찾을 봇 이름">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">검색</button>-->
                <!--</form>-->
            <!--</div>-->

            <!--<div id="userBots" class="row bot-list2">-->
                <!--<div class="col-md-3" ng-repeat="userBot in vm.userBots">-->
                    <!--<div class="thumbnail"><img alt="100%x200"-->
                                                <!--src="{{userBot.imageFile}}"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">{{userBot.name}}</h3>-->
                            <!--<p class="bot-desc">{{userBot.description}}</p>-->
                            <!--<p class="bot-buttons">-->
                                <!--<a href="#" class="btn btn-primary" role="button" ng-click="vm.followBot(userBot);">친구추가</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div id="followBots" class="row bot-list">-->
                <!--<div>-->
                    <!--<ul class="nav nav-pills">-->
                        <!--<li role="presentation"><a href="#">인기봇</a></li>-->
                        <!--<li role="presentation"><a href="#">최신봇</a></li>-->
                        <!--<li role="presentation" class="active"><a href="#">친구봇</a></li>-->
                        <!--<li role="presentation"><a href="#">마이봇</a></li>-->
                    <!--</ul>-->
                    <!--<form class="form-inline">-->
                        <!--<div class="form-group">-->
                            <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="찾을 봇 이름">-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">검색</button>-->
                    <!--</form>-->
                <!--</div>-->

                <!--<div class="col-md-3" ng-repeat="userBot in vm.followedBots">-->
                    <!--<div class="thumbnail"><img alt="100%x200"-->
                                                <!--src="{{userBot.imageFile}}"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">{{userBot.name}}</h3>-->
                            <!--<p class="bot-desc">{{userBot.description}}</p>-->
                            <!--<p class="bot-buttons">-->
                                <!--<a href="#" class="btn btn-primary" role="button" ng-click="vm.unfollowBot(userBot);">친구삭제</a>-->
                            <!--</p></div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div id="myBots" class="row bot-list">-->
                <!--<div>-->
                    <!--<ul class="nav nav-pills">-->
                        <!--<li role="presentation"><a href="#">인기봇</a></li>-->
                        <!--<li role="presentation"><a href="#">최신봇</a></li>-->
                        <!--<li role="presentation"><a href="#">친구봇</a></li>-->
                        <!--<li role="presentation" class="active"><a href="#">마이봇</a></li>-->
                    <!--</ul>-->
                    <!--<form class="form-inline">-->
                        <!--<div class="form-group">-->
                            <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="찾을 봇 이름">-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">검색</button>-->
                    <!--</form>-->
                <!--</div>-->

                <!--<div class="col-md-3" ng-repeat="userBot in vm.myBots">-->
                    <!--<div class="thumbnail"><img alt="100%x200"-->
                                                <!--src="{{userBot.imageFile}}"-->
                                                <!--data-holder-rendered="true"-->
                                                <!--style="height: 150px; width: 100%; display: block;">-->
                        <!--<div class="caption"><h3 class="bot-title">{{userBot.name}}</h3>-->
                            <!--<p class="bot-desc">{{userBot.description}}</p>-->
                            <!--<p class="bot-buttons">-->
                                <!--<a class="btn btn-default" ui-sref="user-bots-web.edit({userBotId: userBot._id})">수정</a>-->
                            <!--</p>-->
                            <!--<p class="bot-buttons">-->
                                <!--<a href="#" class="btn btn-default" >삭제</a>-->
                            <!--</p>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

        </div>
    </div>
</section>
