<header class="page-header">
  <h2>챗봇 리스트</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!-- start: page -->
<section class="panel">
  <!--<header class="panel-heading">-->
    <!--<div class="panel-actions">-->
      <!--<button id="addToTable" class="btn btn-primary btn-sm" ui-sref="bots.create"><i class="fa fa-plus"></i> 신규등록</button>-->
    <!--</div>-->

    <!--<h2 class="panel-title">&nbsp;</h2>-->
  <!--</header>-->
  <div class="panel-body">
    <table id="dt" datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <th class="text-center">봇아이디</th>
        <th class="text-center">봇이름</th>
        <th class="text-center">사용여부</th>
        <th class="text-center">소유자</th>
        <th class="text-center">등록일</th>
        <!--<th class="text-center">관리</th>-->
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="bot in ::vm.bots">
        <td class="text-center"><a ui-sref="bots.edit({botId: bot._id})">{{bot.id}}</a></td>
        <td class="text-center">{{bot.name}}</a></td>
        <td class="text-center">{{bot.using ? '사용중' : '사용안함'}}</td>
        <td class="text-center">{{bot.user ? bot.user.displayName : '장세영'}}</td>
        <td class="text-center">{{bot.created | date: 'yyyy-MM-dd'}}</td>
        <!--<td>-->
          <!--<a class="btn btn-default btn-sm btn-block" ui-sref="bots.files({botId: bot._id})" style="border: none">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 파일관리-->
          <!--</a>-->
          <!--&lt;!&ndash;<a class="btn btn-default btn-sm" ui-sref="bots.graph-knowledge({botId: bot._id})">&ndash;&gt;-->
            <!--&lt;!&ndash;지식 Graph&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</section>

