<header class="page-header">
  <h2>챗봇 관리</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!-- start: page -->
<section class="panel">
  <header class="panel-heading">
    <div class="panel-actions">
      <button id="addToTable" class="btn btn-primary" ui-sref="bots.create"><i class="fa fa-plus"></i> 신규등록</button>
    </div>

    <h2 class="panel-title">&nbsp;</h2>
  </header>
  <div class="panel-body">
    <table datatable="ng" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <th class="text-center">봇아이디</th>
        <th class="text-center">봇이름</th>
        <th class="text-center">채널</th>
        <th class="text-center">사용여부</th>
        <th class="text-center">소유자</th>
        <th class="text-center">등록일</th>
        <th class="text-center">관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="bot in ::vm.bots">
        <td class="text-center">{{bot.id}}</td>
        <td class="text-center">{{bot.name}}</td>
        <td class="text-center">{{bot.channel}}</td>
        <td class="text-center">{{bot.using ? '사용중' : '사용안함'}}</td>
        <td class="text-center">{{bot.user ? bot.user.displayName : '장세영'}}</td>
        <td class="text-center">{{bot.created | date: 'yyyy-MM-dd'}}</td>
        <td>
          <a class="btn btn-primary" ui-sref="bots.edit({botId: bot._id})">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-default" ui-sref="bots.files({botId: bot._id})">
            <i class="glyphicon glyphicon-edit"></i> 파일관리
          </a>
          <a class="btn btn-default" ui-sref="bots.graph-knowledge({botId: bot._id})">
            지식 Graph
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<!--<script src="/js/tables/examples.datatables.default.js"></script>-->


<!--<section class="panel" ng-controller="BotsController" ng-init="find()">-->

<!--<div class="panel-body">-->
<!--<div class="table-responsive">-->
<!--<table datatable="ng" class="table table-bordered table-striped table-condensed mb-none">-->
<!--<thead>-->
<!--<tr>-->
<!--<th class="text-center" >봇아이디</th>-->
<!--<th class="text-center">채널</th>-->
<!--<th class="text-center">사용여부</th>-->
<!--<th class="text-center">소유자</th>-->
<!--<th class="text-center">등록일</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="bot in bots" ui-sref="bots.view({botId: bot._id})">-->
<!--<td class="text-center" ng-bind="bot.botid"></td>-->
<!--<td class="text-center" ng-bind=""></td>-->
<!--<td class="text-center" ng-bind=""></td>-->
<!--<td class="text-center" ng-bind="bot.user.username"></td>-->
<!--<td class="text-center" ng-bind="bot.created | date:'mediumDate'"></td>-->
<!--</tr>-->

<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--<footer class="panel-footer">-->
<!--<div class="row">-->
<!--<div class="col-sm-6 pull-left">-->
<!--</div>-->

<!--<div class="col-sm-6 text-right">-->
<!--<a class="btn btn-primary" ui-sref="bots.create">-->
<!--<i class="fa fa-plus"></i> 신규등록-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
<!--</section>-->


<!--<section class="panel">-->
<!--<div class="panel-body">-->
<!--<table class="table table-bordered table-striped mb-none" id="datatable-default">-->
<!--<thead>-->
<!--<tr>-->
<!--<th class="text-center" >작성자</th>-->
<!--<th>제목</th>-->
<!--<th>등록일</th>-->
<!--<th>이메일</th>-->
<!--<th>표시이름</th>-->
<!--<th>이름</th>-->
<!--<th>성</th>-->
<!--<th>가입일</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="bot in bots" ui-sref="bots.view({botId: bot._id})">-->
<!--<td class="text-center" ng-bind="bot.user.username"></td>-->
<!--<td ng-bind="bot.title"></td>-->
<!--<td ng-bind="bot.created | date:'mediumDate'"></td>-->
<!--<td ng-bind="bot.user.email"></td>-->
<!--<td ng-bind="bot.user.displayName"></td>-->
<!--<td ng-bind="bot.user.firstName"></td>-->
<!--<td ng-bind="bot.user.lastName"></td>-->
<!--<td ng-bind="bot.user.created | date:'mediumDate'"></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--<footer class="panel-footer">-->
<!--<div class="row">-->
<!--<div class="col-sm-6 pull-left">-->
<!--</div>-->

<!--<div class="col-sm-6 text-right">-->
<!--<a class="btn btn-primary" ui-sref="bots.create">-->
<!--<i class="fa fa-plus"></i> 신규등록-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->

<!--</section>-->


<!--&lt;!&ndash; Examples &ndash;&gt;-->
<!--<script src="/js/tables/examples.datatables.default.js"></script>-->
<!--<script src="/js/tables/examples.datatables.row.with.details.js"></script>-->
<!--<script src="/js/tables/examples.datatables.tabletools.js"></script>-->


<!--<section ng-controller="BotsController" ng-init="find()">-->
<!--<div class="page-header">-->
<!--<h1>Bots</h1>-->
<!--</div>-->
<!--<div class="list-group">-->
<!--<a ng-repeat="bot in bots" ui-sref="bots.view({botId: bot._id})" class="list-group-item">-->
<!--<small class="list-group-item-text">-->
<!--Posted on-->
<!--<span ng-bind="bot.created | date:'mediumDate'"></span>-->
<!--by-->
<!--<span ng-bind="bot.user.displayName"></span>-->
<!--</small>-->
<!--<h4 class="list-group-item-heading" ng-bind="bot.title"></h4>-->
<!--<p class="list-group-item-text" ng-bind="bot.content"></p>-->
<!--</a>-->
<!--</div>-->
<!--<div class="alert alert-warning text-center" ng-if="bots.$resolved && !bots.length">-->
<!--No bots yet, why don't you <a ui-sref="bots.create">create one</a>?-->
<!--</div>-->
<!--</section>-->
