<div class="modal-header">
  <h4 class="modal-title">{{channel}}</h4>
</div>

<div class="modal-body">

  <!--kakao-->
  <div name='kakao' ng-show="(channel == 'kakao') && (method == 'easy')">
    <p>1. 카카오톡 앱을 열고 ID/플러스친구 검색으로 들어가요</p>
    <p>2. 검색창에 플레이챗(혹은 PlayChat)을 검색하고 친구 추가해요</p>
    <p>3. 인기봇, 최신봇, 친구봇, 마이봇 목록 중 내가 원하는 챗봇을 연결해요</p>
    <p>4. 단, 친구봇, 마이봇은 본인 인증을 위한 E-mail 인증절차가 있어요</p>
    <!--<p>한 번만 인증하면 두 번 다시 할 필요없어요!</p>-->
  </div>

  <!--kakao DIY-->
  <div name='kakao' ng-show="(channel == 'kakao') && (method !== 'easy')">
    <p>1. 카카오 옐로아이디를 만들어요(<a href="https://yellowid.kakao.com/login" target="_blank">https://yellowid.kakao.com/login)</a></p>
    <p>- <a href="http://yellowid.tistory.com/18 " target="_blank">옐로아이디 만들기 자세한 설명보기</a></p>
    <p>2. 옐로아이디 프로필을 만들고 심사를 기다려요(5일 이내 소요)!</p>
    <p>3. 심사된 프로필로 옐로아이디 페이지 자동응답 탭으로 들어가요</p>
    <p>4. API 자동응답 설정하기로 들어가요</p>
    <p>5. 앱 이름, URL, 설명, 전화번호를 설정해요. 이 때 URL을 아래의 URL로 설정해야돼요!</p>
    <p>- <a href="http://yellowid.tistory.com/259" target="_blank">API 자동응답 자세한 설명보기</a></p>
    <div class="form-group mb-lg">
      <!--<label>Webhook URL</label>-->
      <h4  style="text-transform: none !important;">Webhook URL : {{host}}/kakao/{{userBotId}}</h4>
      <!--<input type="text" class="form-control input-lg" ng-disabled= 1 placeholder="https://bot.moneybrain.ai/kakao/{{userBotId}}">-->
    </div>
  </div>

  <!--navertalk-->
  <div name='navertalk' ng-show="(channel == 'navertalk') && (method == 'easy')">
    <h4>서비스 오픈 예정입니다</h4>
    <!--<p>한 번만 인증하면 두 번 다시 할 필요없어요!</p>-->
  </div>

  <!--navertalk-->
  <div name='navertalk' ng-show="(channel == 'navertalk') && (method !== 'easy')">
    <h4>서비스 오픈 예정 입니다</h4>
    <!--<p>1. <a href="https://partner.talk.naver.com/">네이버톡톡 파트너센터</a>에서 네이버 아이디로 로그인해요!</p>-->
    <!--<p>2. '새로운 톡톡 계정 만들기'로 파트너 계정을 만들어요(검수는 5일 이내 소요)!</p>-->
    <!--<p>- 서비스 연결 나중에 하기 -> 개인 -> 정보입력(프로필명은 메일로 보내주셔야되요)</p>-->
    <!--<p>3. 파트너 계정의 프로필명과 아래의 Webhook URL을 dev@moneybrain.ai로 보내주세요</p>-->
    <!--<p>- 제목은 '네이버톡에 챗봇을 붙이고 싶습니다'로 해주세요</p>-->
    <div class="form-group mb-lg">
      <h4  style="text-transform: none !important;">Webhook URL : {{host}}/navertalk/{{userBotId}}/webhook</h4>
    </div>
  </div>

  <!--facebook-->
  <div name='facebook' ng-show="(channel == 'facebook') && (method == 'easy')">
    <p>1. 페이스북 검색창에 플레이챗을 검색하고 메세지를 보내거나 <a href="https://www.messenger.com/t/1753073741670229" target="_blank">메세지 바로가기</a>를 클릭해요</p>
    <p>2. 인기봇, 최신봇, 친구봇, 마이봇 목록 중 내가 원하는 챗봇을 연결해요</p>
    <p>3. 단, 친구봇, 마이봇은 본인 인증을 위한 E-mail 인증절차가 있어요</p>
  </div>

  <!--facebook DIY-->
  <div name='facebook' ng-show="(channel == 'facebook') && (method !== 'easy')">
    <!--<h4>서비스 오픈 예정 입니다</h4>-->
    <h4 ng-if="fbLoading">페이스북 페이지를 불러오는 중이에요</h4>
    <h4 ng-if="noPage">페이스북 페이지가 하나도 없네요</h4>
    <h5 ng-if="noPage"><a href="https://www.facebook.com/pages/create/?ref_type=pages_browser" target="_blank">페이스북 페이지를 만들러 가요</a></h5>
    <table class="table table-hover">
      <tr ng-repeat = "pageList in pageLists">
      <!--<tr ng-repeat = "pageList in pageLists" ng-if="(pageList.perms[0] == 'ADMINISTER')">-->
        <td>
          <a href="{{pageList.link}}" target="_blank">
            <img src="{{pageList.picture.data.url}}" alt="facebook page img">
            {{pageList.name}}({{pageList.perms[0]}})
          </a>
          <span ng-if="pageList.connected">
            <a href="#">
              <img src="{{pageList.connected.imageFile}}" style="height: 50px" alt="">
            </a>
            {{pageList.connected.id}}
          </span>
          <span>
            <button class="btn btn-default pull-right" ng-if="!pageList.connected && (pageList.perms[0] == 'ADMINISTER' || pageList.perms[0] == 'EDIT_PROFILE')" ng-click="connect(pageList)">
              연결해요
            </button>
            <!--<img src="" alt="">-->
            <button class="btn btn-danger pull-right" ng-if="pageList.connected" ng-click="disconnect(pageList)">
              연결끊기
            </button>
            <button class="btn btn-default pull-right" ng-if="pageList.connected">
              <a href="https://www.messenger.com/t/{{pageList.id}}" target="_blank">대화해봐요</a>
            </button>
          </span>
        </td>
      </tr>
    </table>
  </div>

  <!--line-->
  <div name='line' ng-show="(channel == 'line') && (method == 'easy')">
    <p>1. <a href="https://line.me/R/ti/p/%40utw0596x" target="_blank">라인 바로가기</a>를 클릭하고 QR코드를 통해 친구추가해요</p>
    <p>2. 인기봇, 최신봇, 친구봇, 마이봇 목록 중 내가 원하는 챗봇을 연결해요</p>
    <p>3. 단, 친구봇, 마이봇은 본인 인증을 위한 E-mail 인증절차가 있어요</p>
  </div>

  <!--line DIY-->
  <div name='line' ng-show="(channel == 'line') && (method !== 'easy')">
    <p>1. LINE회원이어야해요 LINE 앱 또는 웹으로 회원가입해요</p>
    <p>2. 가입이 됐다면 <a href="https://business.line.me/ko/" target="_blank">LINE Business Center</a>에서 사용할 이메일을 등록해요</p>
    <p>3. 서비스 탭에서 Messaging API 시작하기 버튼을 누르고 정보를 입력해요</p>
    <p>4. <a href="https://admin-official.line.me/">LINE Manager</a>에서 API 켜기 버튼을 누르고 Webhook 사용을 허용하고 저장해요</p>
    <p>5. <a href="https://business.line.me/ko/">LINE Business Center</a>에서 계정 목록 탭으로 이동해요</p>
    <p>6. Messaging API에 있는 LINE Developers 버튼을 눌러요</p>
    <!--<p>Channel ID와 Channel Secret을 복사해 아래 빈칸에 넣어요</p>-->
    <p>7. ISSUE 버튼을 눌러 Channel access token을 발급받아요</p>
    <p>8. EDIT 버튼을 눌러 Webhook URL을 아래의 Webhook URL을 복사해 넣고 저장 및 확인해요</p>
    <p>다 끝났습니다!</p>
    <!--<div class="form-group mb-lg">-->
      <!--<label>Channel ID</label>-->
      <!--<input type="text" class="form-control input-lg">-->
    <!--</div>-->
    <!--<div class="form-group mb-lg">-->
      <!--<label>Channel Secret</label>-->
      <!--<input type="text" class="form-control input-lg">-->
    <!--</div>-->
    <!--<div class="form-group mb-lg">-->
      <!--<label>Channel Access Token</label>-->
      <!--<input type="text" class="form-control input-lg">-->
    <!--</div>-->
    <div class="form-group mb-lg">
      <h4 style="text-transform: none !important;">Webhook URL : {{host}}/line/{{userBotId}}/receive</h4>
      <!--<label>Webhook URL</label>-->
      <!--<input type="text" class="form-control input-lg" ng-disabled= 1 placeholder="https://bot.moneybrain.ai/line/{{userBotId}}">-->
    </div>
  </div>
</div>
<div class="modal-footer">
  <!--<button class = "btn btn-primary" ng-click="connect()" ng-hide="(channel == 'facebook') && (method !== 'easy')">연결해요</button>-->
  <button class = "btn btn-primary" ng-click="close()" >확인했어요</button>
</div>

