<div class="modal-header">
  <h4 class="modal-title">{{channel}}</h4>
</div>
<div class="modal-body">

  <!--kakao-->
  <div name='kakao' ng-show="(channel == 'kakao') && (method == 'easy')">
    <p></p>
    <p>Create and teach a conversational bot for 카카오 Messenger.</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <div class="form-group mb-lg">
      <label>Callback URL</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>인증 토큰</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>Page Access Token</label>
      <input type="text" class="form-control input-lg">
    </div>
  </div>

  <!--kakao DIY-->
  <div name='kakao' ng-show="(channel == 'kakao') && (method !== 'easy')">
    <p>DIY</p>
    <p>Create and teach a conversational bot for 카카오 Messenger.</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <div class="form-group mb-lg">
      <label>Callback URL</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>인증 토큰</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>Page Access Token</label>
      <input type="text" class="form-control input-lg">
    </div>
  </div>

  <!--facebook-->
  <div name='facebook' ng-show="(channel == 'facebook') && (method == 'easy')">
    <p></p>
    <p>Create and teach a conversational bot for Facebook Messenger.</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <div class="form-group mb-lg">
      <label>Callback URL</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>인증 토큰</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>Page Access Token</label>
      <input type="text" class="form-control input-lg">
    </div>
  </div>

  <!--facebook DIY-->
  <div name='facebook' ng-show="(channel == 'facebook') && (method !== 'easy')">
    <div id = 'FbConnect'>

    </div>
    <p>DIY</p>
    <p>Create and teach a conversational bot for Facebook Messenger.</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
  </div>

  <!--line-->
  <div name='line' ng-show="(channel == 'line') && (method == 'easy')">
    <p></p>
    <p>Create and teach a conversational bot for 라 Messenger.</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <div class="form-group mb-lg">
      <label>Callback URL</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>인증 토큰</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>Page Access Token</label>
      <input type="text" class="form-control input-lg">
    </div>
  </div>

  <!--line DIY-->
  <div name='line' ng-show="(channel == 'line') && (method !== 'easy')">
    <p>DIY</p>
    <p>Create and teach a conversational bot for 라 Messenger.</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <p>After you design and test your API.AI agent, you can launch your Messenger bot</p>
    <div class="form-group mb-lg">
      <label>Callback URL</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>인증 토큰</label>
      <input type="text" class="form-control input-lg">
    </div>
    <div class="form-group mb-lg">
      <label>Page Access Token</label>
      <input type="text" class="form-control input-lg">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class = "btn btn-primary" ng-click="connect()" >연결해요</button>
  <button class = "btn btn-primary" ng-click="close()" >취소할게요</button>
</div>
