<div ng-controller="GnbController">
    <div class="gnb-header">
        <a href="/playchat/chatbots" class="logo-min"><img src="/modules/playchat/gnb/client/imgs/logo.png"></a>
        <a href="#" class="gnb-close" ng-click="toggleGnb($event);"></a>
    </div>

    <div class="gnb-bot-name">
        <span>{{ botName }}</span>
        <a href="#" class="gnb-bot-name-modify">
            <img src="/modules/playchat/gnb/client/imgs/modify.png" class="modify-img">
        </a>
        <a href="#" class="gnb-bot-name-detail">
            <img src="/modules/playchat/gnb/client/imgs/testbotDown.png">
        </a>
    </div>

    <ul class="menu-item-list">
        <li class="menu-item-group" ng-repeat="menu in menus">
            <div class="menu-item" ng-class="checkUrl(menu.name);">
                <a ng-href="{{ menu.url ? '/playchat' + menu.url : '' }}" ng-click="toggleMenuItem($event);">
                    <img ng-src="/modules/playchat/gnb/client/imgs/{{ menu.icon }}">
                    <span>{{ menu.name }} </span>
                </a>
                <a href="#" class="close" ng-click="toggleMenuItem($event);" ng-if="menu.childMenus"></a>
            </div>
            <ul class="sub-menu-item-group" ng-if="menu.childMenus">
                <li class="sub-menu-item" ng-repeat="child in menu.childMenus" ng-class="'/playchat{{ child.url }}' == '{{ path }}' ? 'selected' : ''">
                    <a href="/playchat{{ child.url }}">
                        <img ng-src="/modules/playchat/gnb/client/imgs/{{ child.icon }}">
                        <span>{{ child.name }}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="bottom-list">
        <li>
            <a href="#">
                <img src="/modules/playchat/gnb/client/imgs/docs.png">
                <span>Docs</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/modules/playchat/gnb/client/imgs/forum.png">
                <span>Forum</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/modules/playchat/gnb/client/imgs/support.png">
                <span>Support</span>
            </a>
        </li>
    </ul>
</div>
