<section>
  <div class="page-header">
    <h1>Banks</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="bank in vm.banks"
       data-ui-sref="banks.view({ bankId: bank._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="bank.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="bank.user" data-ng-bind="bank.user.displayName"></span>
        <span data-ng-if="!bank.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="bank.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.banks.$resolved && !vm.banks.length">
    No Banks yet, why don't you <a data-ui-sref="banks.create">create one</a>?
  </div>
</section>
