.btn-primary {
    color: white;
    background-color: #0083FF;
    border-color: #0083FF;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #379dfc;
    border-color: #379dfc;
}

.btn-xl {
    color: white;
    background-color: #0083FF;
    border-color: #0083FF;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #379dfc;
    border-color: #379dfc;
}



#mainNav {
	background-color: #0c1532;	
	padding: 10px 0;
    border-bottom: 0px;
}

#mainNav a{
	color: white;	
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #0083FF;
    border-radius: 3%;
}

.navbar-brand {
	padding: 10px 15px 15px 15px;
}


header {
    background-image: url('/images/star.jpg');
}


header .intro-text {
    padding-top: 250px;
    padding-bottom: 150px;
}

@media (min-width: 768px) {
    header .intro-text .intro-lead-in {
        font-size: 35px;
    }

    header .intro-text .intro-heading {
        font-size: 60px;
    }
}

.team-member ul {
    list-style: none;
    padding-left: 0px;
}


#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


/* footer */
/**
 * Footer 3 stylesheet  
 * */
.footer-3 {
  font-size: 14px;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #0c1532;
  color: #bdc3c7;
}
.footer-3.v-center,
.footer-3 .v-center {
  display: table;
  width: 100%;
}
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-3.v-center,
  .footer-3 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-3.v-center.row,
  .footer-3 .v-center.row {
    display: block;
    width: auto;
  }
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
  .footer-3.v-center.row > *,
  .footer-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.footer-3 .row.v-center {
  padding-left: 0;
  padding-right: 0;
}
.footer-3 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-3 a:hover,
.footer-3 a:focus,
.footer-3 a.active {
  color: #bdc3c7;
}
.footer-3 h1,
.footer-3 .h1,
.footer-3 h2,
.footer-3 .h2,
.footer-3 h3,
.footer-3 .h3,
.footer-3 h4,
.footer-3 .h4,
.footer-3 h5,
.footer-3 .h5,
.footer-3 h6,
.footer-3 .h6 {
  color: white;
}
.footer-3 .brand {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.footer-3 .additional-links a {
  color: #bdc3c7;
  text-decoration: underline;
}
.footer-3 .additional-links a:hover,
.footer-3 .additional-links a:focus,
.footer-3 .additional-links a.active {
  color: #ffffff;
}
.footer-3 h6 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  text-transform: none;
}
.footer-3 .address {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .footer-3 .row > [class*="col-sm-"] {
    margin-top: 30px;
  }
  .footer-3 .row > [class*="col-sm-"]:first-child {
    margin-top: 0;
  }
}

section {
  padding: 95px 0 50px 0;
}

.single-feature {
  margin-bottom: 20px;
}


.feature-icon {
  display: inline-block;
  margin-right: 10px;
  vertical-align:  top;
}


.feature-text {
  display: inline-block;
    width: 388px;
}

#newsline.timeline::before {
    width: 0px;
}

#newspanel.timeline-panel {
    width: 100%;    text-align: left;
    padding: 0 15% 20px 20%;
}

.newslink {
    color: #333;
}

.newslink:link {
    color: #333;
}

/* visited link */
.newslink:visited {
    color: #333;
}

/* mouse over link */
.newslink:hover {
    color: #0083FF;
    text-decoration: none;
}

/* selected link */
.newslink:active {
    color: #0083FF;
    text-decoration: none;
}

.newslink1 {
    color: #777777;
}

.newslink1:link {
    color: #777777;
}

/* visited link */
.newslink1:visited {
    color: #777777;
}

/* mouse over link */
.newslink1:hover {
    color: #0083FF;
    text-decoration: none;
}

/* selected link */
.newslink1:active {
    color: #0083FF;
    text-decoration: none;
}

#news {
    min-height: 10px;
    margin-bottom: 20px;
}

video {
    display: inline-block;
    width: auto\9 !important; /* ie8 */
    width: auto !important;
    max-width: 100%;
    height: auto !important;
}
.video-container {
    position: relative;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video-container iframe,.video-container object,.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.bot-list > div {
    padding: 5px;
}

.bot-list .nav {display: inline-block;}
.bot-list .form-inline {float: right;}

.bot-list .nav a {
    color: #777;
}

.bot-list .col-md-3 {
    padding-right: 5px;
    padding-left: 5px;
}

.bot-title {
    margin: 2px 0 2px;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 1.8rem;
    /*font-size: 24px;*/
    font-weight: 600;
}

.bot-desc{
    height: 60px;
    line-height: 1.1;
    /*white-space: pre-line;*/

    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}

.bot-buttons {
    margin: 0px;
}


#botForm #name {
    width: 150px;
}

#botForm #question {
    width: 250px;
    display: inline;
}


#botForm #answer {
    width: 250px;
    display: inline;
}