<style>
.playchat-background .top-bar+div > div
{
    overflow-x: auto;
}
</style>

<div ng-controller="DashboardController" style="min-width: 800px;">

    <div ng-if="isFirst">
        <h1 style="font-size: 26px;font-weight: 600;margin: 20px 0px 70px;line-height: 45px;text-align: center;">{{lan('Chatbot has been made!')}} <br> {{lan('Use the template bots to make your own chatbot in a second')}}</h1>
        <div class="dashboard-dialog-develop" style="margin-top: 20px;">
            <div class="dashboard-dialog-learning">
                <img src="/modules/playchat/working-ground/dashboard/client/imgs/dialog_learning.png" style="height: 138px;">
                <div>
                    <p>{{lan('Let it study conversation') }}</p>
                    <p>{{lan('We may let it learn how to answer accordingly towards the questions guests has asked') }}</p>
                    <div style="display: flex;">
                        <a href="/playchat/development/dialog-set" class="blue-button" style="width: 120px;height: 34px;line-height: 34px;">{{lan('Start Learning')}}</a>
                    </div>
                </div>
            </div>
            <div class="dashboard-dialog-graph">
                <img src="/modules/playchat/working-ground/dashboard/client/imgs/dialog_graph.png" style="height: 138px;">
                <div>
                    <p>{{lan('Make the Conversational scenario')}}</p>
                    <p style="margin: 15px 0 12px 0;">{{lan('We develop the conversations to answer by phases or scenario other than just a simple question and answer.')}}</p>
                    <div style="display: flex;">
                        <a href="/playchat/development/dialog-graph" class="blue-button" style="height: 34px;line-height: 34px;width: 120px;">{{lan('Create Scenario') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-dialog-develop" style="margin-top: 70px;opacity: 0.5;">
            <div class="dashboard-dialog-management-card-first">
                <a href="/playchat/channel" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/channel"><img src="/modules/playchat/working-ground/dashboard/client/imgs/phone_.png"></a>{{lan('Connect Channel')}}</div>
                    <p>{{lan('We service chatbot by connecting to Phoneline, KakaoTalk or Facebook.')}}</p>
                </div>
            </div>
            <div class="dashboard-dialog-management-card-first">
                <a href="/playchat/operation/chat-log/ai" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/operation/chat-log/ai"><img src="/modules/playchat/working-ground/dashboard/client/imgs/speech_usage.png"></a>{{lan('Dialogue Breakdown')}}</div>
                    <p>{{lan('Artificial Intelligence may automatically review the dialogue breakdown of the conversation.')}}</p>
                </div>
            </div>
            <div class="dashboard-dialog-management-card-first">
                <a href="/playchat/operation/failed-dialogs" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/operation/failed-dialogs"><img src="/modules/playchat/working-ground/dashboard/client/imgs/failed-dialog.png"></a>{{lan('Failed Dialog')}}</div>
                    <p>{{lan('We can make it learn how to answer to the questions that it was not able to reply.')}}</p>
                </div>
            </div>
            <div class="dashboard-dialog-management-card-first">
                <a href="/playchat/analysis/summary" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/analysis/summary"><img src="/modules/playchat/working-ground/dashboard/client/imgs/ana.png"></a>{{lan('usage statistics')}}</div>
                    <p>{{lan('You may search the usage amount by the number of conversations, number of people logged in by dates and etc.')}}</p>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!isFirst">
        <div class="dashboard-summary-title">{{lan('Bot Profile')}}</div>
        <div class="dashboard-bot-profile">
            <div class="dashboard-bot-profile-image">
                <div class="dashboard-bot-profile-image-wrapper">
                    <img src="/modules/playchat/working-ground/dashboard/client/imgs/bigsumnail.png">
                    <span></span>
                </div>
            </div>
            <div class="dashboard-bot-profile-content">
                <div>
                    <span>{{lan('Bot Name')}}</span>
                    <input type="text" value="{{ chatbot.name }}" disabled="true">
                </div>
                <div>
                    <p>{{lan('Description')}}</p>
                    <textarea disabled="true" style="resize: none;">{{ chatbot.description }}</textarea>
                </div>
            </div>
        </div>
        <div class="dashboard-dialog-develop" style="margin-top: 20px;">
            <div class="dashboard-dialog-learning">
                <img src="/modules/playchat/working-ground/dashboard/client/imgs/dialog_learning.png" style="height: 138px;">
                <div>
                    <p>{{lan('Let it study conversation') }}</p>
                    <p>{{lan('We may let it learn how to answer accordingly towards the questions guests has asked') }}</p>
                    <div style="display: flex;">
                        <a href="/playchat/development/dialog-set" class="blue-button" style="width: 120px;height: 34px;line-height: 34px;">{{lan('Start Learning') }}</a>
                    </div>
                </div>
            </div>
            <div class="dashboard-dialog-graph">
                <img src="/modules/playchat/working-ground/dashboard/client/imgs/dialog_graph.png" style="height: 138px;">
                <div>
                    <p>{{lan('Make the Conversational scenario') }}</p>
                    <p style="margin: 15px 0 12px 0;">{{lan('We develop the conversations to answer by phases or scenario other than just a simple question and answer.') }}</p>
                    <div style="display: flex;">
                        <a href="/playchat/development/dialog-graph" class="blue-button" style="height: 34px;line-height: 34px;width: 120px;">{{lan('Create Scenario') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-dialog-develop" style="margin-top: 70px;">
            <div class="dashboard-dialog-management-card">
                <a href="/playchat/channel" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/channel"><img src="/modules/playchat/working-ground/dashboard/client/imgs/phone_.png"></a>{{lan('Connect Channel') }}</div>
                    <p>{{lan('We service chatbot by connecting to Phoneline, KakaoTalk or Facebook.') }}</p>
                </div>
            </div>
            <div class="dashboard-dialog-management-card">
                <a href="/playchat/operation/chat-log/ai" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/operation/chat-log/ai"><img src="/modules/playchat/working-ground/dashboard/client/imgs/speech_usage.png"></a>{{lan('Dialogue Breakdown') }}</div>
                    <p>{{lan('Artificial Intelligence may automatically review the dialogue breakdown of the conversation.') }}</p>
                </div>
            </div>
            <div class="dashboard-dialog-management-card">
                <a href="/playchat/operation/failed-dialogs" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/operation/failed-dialogs"><img src="/modules/playchat/working-ground/dashboard/client/imgs/failed-dialog.png"></a>{{lan('Failed Dialog') }}</div>
                    <p>{{lan('We can make it learn how to answer to the questions that it was not able to reply.') }}</p>
                </div>
            </div>
            <div class="dashboard-dialog-management-card">
                <a href="/playchat/analysis/summary" class="dashboard-dialog-cover"></a>
                <div style="min-width: 181px;">
                    <div><a href="/playchat/analysis/summary"><img src="/modules/playchat/working-ground/dashboard/client/imgs/ana.png"></a>{{lan('usage statistics') }}</div>
                    <p>{{lan('You may search the usage amount by the number of conversations, number of people logged in by dates and etc.') }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
