<style>
.template-title
{
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
}

.template-body
{
    width: 90%;
    margin: 0 auto;
}

.template-body input
{
    border: 1px solid #ddd;
    padding: 10px 20px;
}
</style>

<!--<h1 class="template-title">객실정보관리</h1>-->
<div ng-controller="hotelRoomController" class="template-body">
    <form ng-submit="save($event);">
        <table class="tb02" style="table-layout:fixed;">
            <colgroup>
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
                <col style="width: 5%;">
            </colgroup>
            <thead>
                <tr>
                    <th>객실 종류[필수]</th>
                    <th>구성</th>
                    <th>전망</th>
                    <th>침대</th>
                    <th>크기</th>
                    <th>체크인 시간(ex:오후 3시)</th>
                    <th>체크인 시간(ex:낮 12시)</th>
                    <th>가격[필수]</th>
                    <th>TV정보</th>
                    <th>위성채널정보</th>
                    <th>인터넷정보</th>
                    <th>전압정보</th>
                    <th>음료제공정보</th>
                    <th>엑스트라 베드 요금정보</th>
                    <th>베이비 그립 제공정보</th>
                    <th>객실 소개(한 마디)</th>
                    <th>객실 이미지</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in datas">
                    <td>
                        <input type="text" ng-model="data.category_name">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_form">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_kind">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_bed">
                    </td>
                    <td>
                        <input type="text"  ng-model="data.room_size">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_checkin">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_checkout">
                    </td>
                    <td>
                        <input type="number" ng-model="data.room_price">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_facility1">
                    </td>
                    <td>
                        <input type="text"  ng-model="data.room_facility2">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_facility3">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_facility4">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_facility5">
                    </td>
                    <td>
                        <input type="text" ng-model="data.room_facility6">
                    </td>
                    <td>
                        <input type="text"  ng-model="data.room_facility7">
                    </td>
                    <td>
                        <input type="text"  ng-model="data.room_introduction">
                    </td>
                    <td>
                        <img src="{{ data.room_image }}" style="width: 50px;" ng-if="data.room_image" ng-click="editImage($event);">
                        <input type="file" nv-file-select uploader="data.uploader" ng-show="!data.room_image" />
                    </td>
                    <td>
                        <button type="button" class="default-button" ng-click="delete($index)">삭제</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button type="button" class="default-button" ng-click="add();">객실 추가</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="tab-footer" style="border-top: 0;">
            <button class="blue-button">Save</button>
        </div>
    </form>
</div>
