<style>
    .template-demo-title
    {
        font-size: 20px;
        font-weight: 600;
        padding-left: 30px;
    }

    .template-demo-data
    {
        width: 80%;
        margin: 0 auto;
    }

    .template-demo-data input
    {
        border: 1px solid #ddd;
        padding: 10px 20px;
    }
</style>

<!--<h1 class="template-demo-title">셔틀정보관리</h1>-->
<div ng-controller="hotelShuttleController" class="template-demo-data">
    <form ng-submit="save($event);">
        <table class="tb02" style="table-layout:fixed;">
            <colgroup>
                <col style="width: 40%;">
                <col style="width: 50%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
            <tr>
                <th>셔틀 탑승가능여부</th>
                <th>셔틀 운영정보 이미지</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in datas">
                <td>
                    <input type="checkbox" ng-model="data.shuttleornot">
                </td>
                <td>
                    <img src="{{ data.shuttleimage }}" style="width: 50px;" ng-if="data.shuttleimage" ng-click="editImage($event);">
                    <input type="file" nv-file-select uploader="data.uploader" ng-show="!data.shuttleimage" style="border: none;"/>
                </td>
                <td>
                    <button type="button" class="default-button" ng-click="delete($index)" style="width: 70px;" >삭제</button>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <button type="button" class="default-button" ng-click="add();">셔틀 추가</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="tab-footer" style="border-top: 0;float: right;">
            <button class="blue-button">Save</button>
        </div>
    </form>
</div>
