<style>
    .template-demo-title
    {
        font-size: 20px;
        font-weight: 600;
        padding-left: 30px;
    }

    .template-demo-menu
    {
        width: 90%;
        margin: 0 auto;
    }

    .template-demo-menu input
    {
        text-overflow: ellipsis;
        padding: 7px;
        border-radius: 6px;
        margin: 1px 4px;
        width: 90%;
        border: 1px solid #ddd;
    }
    .template-demo-menu input:hover{
        border: 1px solid #ddd;
    }
    .template-demo-menu input:active{
        border: 1px solid #ddd;
    }
    .must:after {
        content: '*';
        color: #d2322d;
        font-size: 12px;
        margin-left: 3px;
    }
    .link:hover{
        cursor: pointer;
    }
</style>

<!--<h1 class="template-demo-title">시술정보관리</h1>-->
<div ng-controller="hospitalMenuController" class="template-demo-menu">
    <form ng-submit="saveMenu($event);">
        <table style="table-layout:fixed;" class="tb02">
            <colgroup>
                <col style="width: 12%;">
                <col style="width: 26%;">
                <col style="width: 8%;">
                <col style="width: 8%;">
                <col style="width: 8%;">
                <col style="width: 10%;">
                <col style="width: 20%;">
                <col style="width: 8%;">
            </colgroup>
            <thead>
            <tr>
                <th class="must">시술명칭</th>
                <th class="must">설명</th>
                <th class="must">가격</th>
                <th class="must">회복기간</th>
                <th>시술정보<br/>이미지</th>
                <th>시술후기<br/>이미지</th>
                <th class="must">시술후기 설명</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="menu in menus">
                <td>
                    <input  type="text" ng-model="menu.name" required>
                </td>
                <td>
                    <input  type="text" ng-model="menu.description" required style="width: 260px;">
                </td>
                <td>
                    <input  type="number" ng-model="menu.price" required >
                </td>
                <td>
                    <input  type="text" ng-model="menu.recovery" required style="width: 50%;text-align: center;">
                </td>
                <td class="link">
                    <img src="{{ menu.image }}" style="width: 50px;" ng-if="menu.image" ng-click="editImage($event);">
                    <input style="border: none;" type="file" nv-file-select uploader="menu.uploader" ng-show="!menu.image" />
                </td>
                <td>
                    <img src="{{ menu.reviewImage }}" style="width: 50px;" ng-if="menu.reviewImage" ng-click="editImage($event);">
                    <input style="border: none;" type="file" nv-file-select uploader="menu.uploader2" ng-show="!menu.reviewImage" />
                </td>
                <td>
                    <input type="text" ng-model="menu.review" required>
                </td>
                <td>
                    <button style="width: 70px;" type="button" class="default-button" ng-click="deleteMenu($index)">삭제</button>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <button type="button" class="default-button" ng-click="addMenu();">시술 추가</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="tab-footer" style="border-top: 0;float: right;">
            <button class="blue-button">Save</button>
        </div>
    </form>
</div>
