
<div ng-controller="LayoutSamDevelopmentController" class="graph-background">

    <div class="working-ground-bizchat">
        <div class="analysis-summary-row">
            <div class="analysis-summary-card">
                <p>성공</p>
                <p class="analysis-summary-card-count">20</p>
            </div>
            <div class="analysis-summary-card">
                <p>챗봇 발송 대상</p>
                <p class="analysis-summary-card-count">10k</p>
            </div>
            <div class="analysis-summary-card">
                <p>발송 비용</p>
                <p class="analysis-summary-card-count">200k</p>
            </div>
            <div class="analysis-summary-card">
                <p>응답자</p>
                <p class="analysis-summary-card-count">70</p>
            </div>
            <div class="analysis-summary-card">
                <p>2018.07.18.0600</p>
                <p class="analysis-summary-card-count">7월 마케팅 봇</p>
            </div>
            <div class="analysis-summary-card">
                <p>단가</p>
                <p class="analysis-summary-card-count">20</p>
            </div>
        </div>
    </div>

<!--
    <div class="graph-body" ng-class="isFocused() ? 'focused' : ''" ng-click="toFocus();">

        <!--init here the selected card
        <div id="graphDialogCanvas"></div>
    </div>
-->
</div>

