<div class="signin-background">

    <div class="signin-title">
        <span class="p1">{{ lan('We sent a verification e-mail to') }}</span>
        <p class="p3 mt30">
            이메일 인증이 완료 되지 않았습니다.<br>
            등록하신 이메일로 인증메일을 확인바랍니다.<br>
            정상적으로 이용하기 위해서 이메일 인증을 해주세요.<br>
        </p>
    </div>

    <div style="clear: both;margin: 30px 0 0px;text-align: center;">
        <p class="p3 mb30">
            인증 메일이 확인 되지 않으면, 재인증요청을 클릭해주세요.<br>
            지속적으로 메일이 확인이 안 된다면 메일함의 스팸 리스트를<br>
            확인해 주시거나, 관리자 또는 고객센터에 문의바랍니다.<br>
        </p>
        <p class="p3 mb10">
            관리자 : xxxx@xxxxx.com<br>
            고객센터 : 1588-0000
        </p>
    </div>
    <div class="bottom-btn-area">
        <button class="loginbtn" id="signupButton">재인증 요청</button>
    </div>

</div>
