<div class="signin-background">

    <div class="signin-title">
        <span class="p1">내 정보</span>
    </div>

    <div style="clear: both;margin: 30px 0 0px;text-align: center;">

        <div class="leftbox" style="margin-top: 37px;">
            <div class="leftboxinput">
                <p class="left">이메일 주소</p>
                <input type="text" class="input_type09 mb10 sign-input" disabled style="background: #f6f6f6;border: solid 1px #e8ebf0;">
            </div>
            <div class="leftboxinput">
                <p class="left">제공자</p>
                <input type="text" class="input_type09 mb10 sign-input" disabled style="background: #f2f2f2;border: solid 1px #e8ebf0;">
            </div>
            <div class="leftboxinput">
                <p class="left">사용자 이름</p>
                <input type="text" class="input_type09 mb10 sign-input" disabled style="background: #f6f6f6;border: solid 1px #e8ebf0;">
            </div>
            <a href="" class="p6">비밀번호 재설정</a>
        </div>
        <div class="user-singup">
            <p class="p5 mb10">추가 입력</p>
            <div class="leftboxinput">
                <p class="left">업종</p>
                <select class="select01 mb10" style="width: 266px;margin: 5px auto 0px;height: 44px;">
                    <option disabled selected>업종을 선택하세요.</option>
                    <option>데이터베이스</option>
                    <option>통신업</option>
                    <option>유통업</option>
                </select>
            </div>
            <div class="leftboxinput">
                <p class="left">회사명</p>
                <input type="text" class="input_type09 mb10 sign-input">
            </div>
            <div class="leftboxinput">
                <p class="left">담당자명/직책</p>
                <input type="text" class="input_type09 mb10 sign-input" style="width: 159px;margin: 5px 8px 5px 0;">
                <select class="select01 mb10" style="margin: 5px auto 0px;height: 43px;">
                    <option disabled selected>직책</option>
                    <option>과장</option>
                    <option>차장</option>
                    <option>부장</option>
                </select>
            </div>
            <div class="leftboxinput">
                <p class="left">담당 연락처</p>
                <input type="text" class="input_type09 mb10 sign-input">
            </div>
            <div class="leftboxinput">
                <p class="left">담당 이메일</p>
                <input type="text" class="input_type09 mb10 sign-input">
            </div>

        </div>
    </div>
    <div style="clear: both;margin: 40px 0 0px; position:relative; text-align: center;">
        <input id="checkBox1" type="checkbox" value="Read" class="styled-checkbox" ng-model="agree" ng-required="true" style="opacity: 0;">
        <label for="checkBox1" class="label">
            <span class="agree v_line_t">비즈챗 대한 소식을 이메일로 받아봅니다. (선택)</span>
        </label>
    </div>
    <div class="bottom-btn-area">
        <button class="btn-style03" style="width: 100%;height: 46px;">수정하기</button>
    </div>

</div>
