
<div ng-controller="LayoutSamDevelopmentController" class="graph-background">

    <div class="working-ground-bizchat">
        <h2 class="title01">주소록 관리</h2>
        <p class="nal3">
            <span class="first">전체 그룹 8개 / 전체 주소 100,000명</span>
            <a class="btn-style03" href="" style="float: right;">신규 그룹 만들기</a>
        </p>
        <div class="mb5">
            <table class="tb02">
                <colgroup>
                    <col style="width: 10%">
                    <col style="width: 30%">
                    <col style="width: 30%">
                    <col style="width: 30%">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th>그룹명</th>
                        <th>등록수</th>
                        <th>그룹 생성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="detail-select">
                                <input type="checkbox">
                                <label></label>
                            </div>
                        </td>
                        <td>고객1</td>
                        <td>1,000명</td>
                        <td>2017.07.04. 22:00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="detail-select">
                                <input type="checkbox">
                                <label></label>
                            </div>
                        </td>
                        <td>고객1</td>
                        <td>1,000명</td>
                        <td>2017.07.04. 22:00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="detail-select">
                                <input type="checkbox" checked>
                                <label></label>
                            </div>
                        </td>
                        <td>고객1</td>
                        <td>1,000명</td>
                        <td>2017.07.04. 22:00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="detail-select">
                                <input type="checkbox" checked>
                                <label></label>
                            </div>
                        </td>
                        <td>고객1</td>
                        <td>1,000명</td>
                        <td>2017.07.04. 22:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn-style05" href="" style="width: 100px;">선택 삭제</a>
        <div class="tablePaging">
            <div class="tablePagingC">
                <a href="" class="direction">
                    <img src="modules/playchat/working-ground/common/client/imgs/btn_prev.png" alt="이전페이지이동">
                </a>
                <a href="">1</a>
                <a href="" class="direction">
                    <img src="modules/playchat/working-ground/common/client/imgs/btn_next.png" alt="다음페이지이동">
                </a>
            </div>
        </div>
    </div>
    <!--팝업화면-->
        <!--그룹 만들기-->
        <!--<div class="biz-window_overlay">-->
            <!--<div class="biz-window">-->
                <!--<div class="biz-card_detail_window">-->
                    <!--<div class="biz-window_header">-->
                        <!--<div class="biz-window_title">-->
                            <!--<h1>그룹 만들기</h1>-->
                        <!--</div>-->
                        <!--<p class="detail">생성하실 주소의 그룹 이름을 입력하세요.</p>-->
                        <!--<input type="text" class="type01-pop">-->
                    <!--</div>-->
                    <!--<div class="btnarea-bizpop mt20">-->
                        <!--<div class="btn-style07">취소</div>-->
                        <!--<div class="btn-style06 ml15">생성</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--그룹 만들기-->
        <!--그룹 연락처 추가-->
        <div class="biz-window_overlay">
            <div class="biz-window">
                <div class="biz-card_detail_window">
                    <div class="biz-window_header">
                        <div class="biz-window_title">
                            <h1>그룹 연락처 추가</h1>
                        </div>
                        <div class="edit-windo">
                            <ul class="mt10 mb10">
                                <li class="three">
                                    <input id="radio2" type="radio" class="styled-radio" name="choice">
                                    <label for="radio2" class="label">주소록</label>
                                </li>
                                <li class="three">
                                    <input id="radio3" type="radio" class="styled-radio" name="choice" checked>
                                    <label for="radio3" class="label">파일 입력</label>
                                </li>
                            </ul>
                            <div>
                                <a class="btn-style03" href="" style="margin-bottom: 10px;float: right;">엑셀 파일 가져오기</a>
                                <a href="" class="download" style="float:left;margin: 16px 0;">엑셀샘플 다운받기</a>
                            </div>

                            <div class="box-list" style="height: 150px;width: 95.5%;">
                                <a class="list-line" href="">
                                    <div class="list1"><span>1</span>. VIP 고객 명단</div>
                                    <div href="" class="list3">1,000명</div>
                                    <div href="" class="list2"></div>
                                </a>
                                <a class="list-line" href="">
                                    <div class="list1"><span>2</span>. VIP 고객 명단</div>
                                    <div href="" class="list3">1,000명</div>
                                    <div href="" class="list2"></div>
                                </a>
                                <a class="list-line" href="">
                                    <div class="list1"><span>1</span>. VIP 고객 명단</div>
                                    <div href="" class="list3">1,000명</div>
                                    <div href="" class="list2"></div>
                                </a>
                                <a class="list-line" href="">
                                    <div class="list1"><span>2</span>. VIP 고객 명단</div>
                                    <div href="" class="list3">1,000명</div>
                                    <div href="" class="list2"></div>
                                </a>
                            </div>
                            <div class="rottn">
                                <p>10개</p>
                            </div>
                        </div>
                    </div>
                    <div class="btnarea-bizpop mt9">
                        <div class="btn-style07">취소</div>
                        <div class="btn-style06 ml15">추가</div>
                    </div>
                </div>
            </div>
        </div>
        <!--그룹 연락처 추가-->
<!--
    <div class="graph-body" ng-class="isFocused() ? 'focused' : ''" ng-click="toFocus();">

        <!--init here the selected card
        <div id="graphDialogCanvas"></div>
    </div>
-->
</div>

