<style>
.working-ground {
    position:relative !important;
}
</style>

<div ng-controller="LayoutSamDevelopmentController" class="graph-background">
    <div class="working-ground-bizchat" style="margin-bottom: 10%;">
        <div class="container">
            <div class="row">
                <h3 style="font-size:19px;">비즈챗 고객센터에 오신 것을 환영합니다.</h3>
                <div class="mb20">
                    <p class="detail black">-   02-858-5683</p>
                    <p class="detail-sm">-   운영시간 : 월요일~금요일, 오전 10시 ~ 오후 6시</p>
                    <p class="detail-sm">-   팩스번호 : 02) 0000-0000</p>
                    <p class="detail-sm">-   점심시간은 오후 12시 30분 ~ 1시 30분까지, 토ㆍ일요일 및 공휴일은 휴무입니다.</p>
                </div>

                <div class="boardMenu">
                    <ul>
                        <li>
                            <a href="">F A Q</a>
                        </li>
                        <li class="active">
                            <a href="">1:1 문의</a>
                        </li>
                        <li>
                            <a href="">공지사항</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mybot-list" style="width: 100%;">
                <span class="subject blue">1:1 문의</span>
                <p class="detail">회원님들이 가장 자주 문의하시는 질문과 답변을 모아 두었습니다.</p>
                <div class="row">
                    <div>
                        <div class="col-sm-5 col-md-6">
                            <div class="text-input-area">
                                <div class="h5">이름 <span class="red">*</span></div>
                                <input type="text" placeholder="Enter your full name">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-5 col-md-6">
                            <div class="text-input-area">
                                <div class="h5">이메일 <span class="red">*</span></div>
                                <input type="email" placeholder="email@sitename.com">
                            </div>
                        </div>
                    </div>
                    <div class="input-area-row">
                        <div class="col-sm-6 col-md-6">
                            <div class="text-input-area">
                                <div class="h5">전화번호</div>
                                <input type="text" placeholder="010-1234-5678">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-2 col-md-2">
                            <div class="select-wrapper">
                                <select class="jumbo-select02" style="margin: 50px 20px 20px 0;width: 178px;">
                                    <option disabled selected hidden>질문유형</option>
                                    <option>서비스</option>
                                    <option>결제</option>
                                    <option>제휴</option>
                                    <option>기타</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-10" style="margin-top: 13px;">
                            <div class="text-input-area">
                                <p class="h5">제목 <span class="red">*</span></p>
                                <input type="text">
                            </div>
                        </div>
                        <textarea class="data-input02" placeholder="내용을 입력해주세요." style="width: 92.5%;margin-bottom:20px;"></textarea>
                    </div>

                    <div class="text-input-area">
                        <div class="col-sm-3 col-md-3">
                            <input type="text" style="line-height: 36px;">
                        </div>
                    </div>
                    <a href="" class="btn-style02" style="margin: 0;">첨부</a>
                    <span style="margin-left: 10px;">*5MB 이하, 문서, 이미지 혹은 압축 파일.</span>
                </div>
                <div style="margin: 3% auto;">
                    <input type="checkbox" class="styled-checkbox">
                    <label class="label">
                        <span class="agree v_line_t">개인정보 수집/이용에 동의합니다.</span>
                    </label>
                    <div>
                        <p class="detail-sm" style="margin-top: 8px;">-   수집 항목 :이름, 이메일, 연락처</p>
                        <p class="detail-sm">-   수집 목적 :서비스 이용에 따른 고객 문의, 불만처리, 오류 해결 등 민원 처리 및 결과 회신</p>
                        <p class="detail-sm">-   보유 및 이용 기간 : 문의처리 후 5년간 보관</p>
                        <p class="detail-sm">-   그 밖의 사항은 개인정보 처리방침을 준수합니다.</p>
                    </div>
                </div>
                <a href="" class="btn-style10" style="margin-bottom: 10%;">문의하기</a>
            </div>
        </div>

    </div>
</div>

