
<div ng-controller="LayoutSamDevelopmentController" class="graph-background">

    <div class="working-ground-bizchat">
        <ul>
            <li class="title02 inline mr30">기간</li>
            <li class="inline">
                <select ng-model="selectedBot" class="select01">
                    <option  selected value="null">2018/06/13 – 2018/06/19</option>
                    <option ng-repeat="bot in botList" value="{{bot.id}}"><img src="/modules/playchat/working-ground/biz-dialog-graph/client/imgs/template.png"> {{bot.name}}</option>
                </select>
            </li>
        </ul>

        <h3 class="title02 mt30">사용자</h3>
        <table class="tb02">
            <colgroup>
                <col width="5%">
                <col width="20%">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>사용자명</th>
                    <th>최근 발송</th>
                    <th>발송 수</th>
                    <th>발송 성공</th>
                    <th>발송 실패</th>
                    <th>발송 성공률</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>머니브레인</td>
                    <td>2018.07.18.0600</td>
                    <td>21545786</td>
                    <td>1545678</td>
                    <td>54578</td>
                    <td>80%</td>
                </tr>
            </tbody>
        </table>

        <h3 class="title02 mt30">봇</h3>
        <table class="tb03">
            <colgroup>
                <col width="5%">
                <col width="20%">
                <col width="5%">
                <col width="15%">
                <col width="10%">
                <col width="15%">
                <col width="15%">
                <col width="15%">
            </colgroup>
            <thead>
            <tr>
                <th></th>
                <th>봇 이름</th>
                <th>채널</th>
                <th>최근 발송<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>발송 수<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>발송 성공<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>발송 실패<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/up.png"></a></th>
                <th>발송 성공률<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/down.png"></a></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇7월 마케팅 봇</td>
                <td><a><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></a></td>
                <td>2018.07.18.0600</td>
                <td>21545786</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
            </tr>
            <tr>
                <td>1</td>
                <td>7월 마케팅 봇</td>
                <td><a><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></a></td>
                <td>2018.07.18.0600</td>
                <td>21545786</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
            </tr>
            <tr>
                <td>1</td>
                <td>7월 마케팅 봇</td>
                <td><a><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></a></td>
                <td>2018.07.18.0600</td>
                <td>21545786</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
            </tr>
            <tr>
                <td>1</td>
                <td>7월 마케팅 봇</td>
                <td><a><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></a></td>
                <td>2018.07.18.0600</td>
                <td>21545786</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
            </tr>
            <tr>
                <td>1</td>
                <td>7월 마케팅 봇</td>
                <td><a><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></a></td>
                <td>2018.07.18.0600</td>
                <td>21545786</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
            </tr>
            <tr>
                <td>1</td>
                <td>7월 마케팅 봇</td>
                <td><a><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></a></td>
                <td>2018.07.18.0600</td>
                <td>21545786</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
                <td>유효 기간 이후 갱신</td>
            </tr>
            </tbody>
        </table>

        <div class="tablePaging">
            <div class="tablePagingC">
                <a href="" class="direction">
                    <img src="modules/playchat/working-ground/common/client/imgs/btn_prev.png" alt="이전페이지이동">
                </a>
                <a href="">1</a>
                <a href="" class="direction">
                    <img src="modules/playchat/working-ground/common/client/imgs/btn_next.png" alt="다음페이지이동">
                </a>
            </div>
        </div>
    </div>
    <!--팝업화면--
        <div class="biz-window_overlay">
            <div class="biz-window">
                <div class="biz-card_detail_window">
                    <div class="biz-window_header">
                        <div class="biz-window_title">
                            <h1>중복 삭제</h1>
                        </div>
                        <p class="detail">아래 연락처가 중복 입력되었습니다.<br>확인 후 삭제 바랍니다.</p>
                        <div class="box-list">
                            <a class="list-line2" style="text-align: center;">
                                <div class="list1">010-222-2233</div>
                                <div href="" class="list3">2개</div>
                            </a>
                            <a class="list-line2" style="text-align: center;">
                                <div class="list1">010-222-2233</div>
                                <div href="" class="list3">2개</div>
                            </a>
                            <a class="list-line2" style="text-align: center;">
                                <div class="list1">010-222-2233</div>
                                <div href="" class="list3">2개</div>
                            </a>
                            <a class="list-line2" style="text-align: center;">
                                <div class="list1">010-222-2233</div>
                                <div href="" class="list3">2개</div>
                            </a>
                        </div>
                    </div>
                    <div class="btnarea-bizpop mt20">
                        <div class="btn-style07">취소</div>
                        <div class="btn-style06 ml15">삭제</div>
                    </div>
                </div>
            </div>
        </div>
<!--
    <div class="graph-body" ng-class="isFocused() ? 'focused' : ''" ng-click="toFocus();">

        <!--init here the selected card
        <div id="graphDialogCanvas"></div>
    </div>
-->
</div>

