<div class="signin-background">

    <div class="signin-title">
        <span class="p1" style="color: #038eda;">가입을 진심으로 축하 드립니다.</span>
        <p class="p3 mt30">
            이메일 인증이 완료되었습니다.<br>
            대화형 SMS 챗봇을 지금 바로 경험해보세요.
        </p>
    </div>

    <div style="clear: both;margin:50px 0 20px;text-align: center;">
        <p class="p3 mb20">
            추가 정보 입력 (선택)
        </p>

        <div class="leftbox">
            <div class="leftboxinput">
                <p class="left">업종</p>
                <select class="select01 mb10" style="width: 266px;margin: 5px auto 0px;height: 44px;">
                    <option disabled selected>업종을 선택하세요.</option>
                    <option>데이터베이스</option>
                    <option>통신업</option>
                    <option>유통업</option>
                </select>
            </div>
            <div class="leftboxinput">
                <p class="left">회사명</p>
                <input type="text" class="input_type09 mb10 sign-input">
            </div>
            <div class="leftboxinput">
                <p class="left">담당자명/직책</p>
                <input type="text" class="input_type09 mb10 sign-input" style="width: 159px;margin: 5px 8px 5px 0;">
                <select class="select01 mb10" style="margin: 5px auto 0px;height: 43px;">
                    <option disabled selected>직책</option>
                    <option>과장</option>
                    <option>차장</option>
                    <option>부장</option>
                </select>
            </div>
        </div>

    <div class="user-singup">
        <div class="leftboxinput">
            <p class="left">담당 연락처</p>
            <input type="text" class="input_type09 mb10 sign-input">
        </div>
        <div class="leftboxinput">
            <p class="left">담당 이메일</p>
            <input type="text" class="input_type09 mb10 sign-input">
        </div>
    </div>

    <div class="bottom-btn-area mt30">
        <button class="btn-style01 mr5" style="width: 49%;height: 42px;">다음에</button>
        <button class="btn-style03" style="width: 48%;height: 42px;">입력 확인</button>
    </div>

</div>
