<style>
.working-ground {
    position:relative !important;
}
</style>

<div ng-controller="LayoutSamDevelopmentController" class="graph-background">
    <div class="working-ground-bizchat" style="margin-bottom: 10%;">
        <div class="container">
            <div class="row">
                <h3>비즈챗 고객센터에 오신 것을 환영합니다.</h3>
                <div class="mb20">
                    <p class="detail black">-   02-858-5683</p>
                    <p class="detail-sm">-   운영시간 : 월요일~금요일, 오전 10시 ~ 오후 6시</p>
                    <p class="detail-sm">-   팩스번호 : 02) 0000-0000</p>
                    <p class="detail-sm">-   점심시간은 오후 12시 30분 ~ 1시 30분까지, 토ㆍ일요일 및 공휴일은 휴무입니다.</p>
                </div>

                <div class="boardMenu">
                    <ul>
                        <li class="active">
                            <a href="">F A Q</a>
                        </li>
                        <li>
                            <a href="">1:1 문의</a>
                        </li>
                        <li>
                            <a href="">공지사항</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mybot-list" style="width: 100%;">
                <p class="subject blue">FAQ</p>
                <p class="detail inline-block">회원님들이 가장 자주 문의하시는 질문과 답변을 모아 두었습니다.</p>
                <form class="inline-block" style="float: right;">
                    <input id="search" name="search" type="search" class="search">
                </form>
                <div class="row">
                    <div class="tab01">
                        <ul class="tabs1">
                            <li class="select_tab">
                                <a href="">전체</a>
                            </li>
                            <li>
                                <a href="">회원</a>
                            </li>
                            <li>
                                <a href="">봇</a>
                            </li>
                            <li>
                                <a href="">코인</a>
                            </li>
                            <li>
                                <a href="">결제</a>
                            </li>
                            <li>
                                <a href="">기타</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 animated">
                    <div class="supportFaq">
                        <dl class="accordion style2">
                            <dt class="active">Duis autem vel eum iriure dolor in  velit?</dt>
                            <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molest consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accum san et iusto odio dignissim..</dd>
                            <dt>Esum dolor sit amet, consectetuer adipiscing elit, sed diam?</dt>
                            <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molest consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accum san et iusto odio dignissim..</dd>
                            <dt>Duis autem vel eum iriure dolor in  velit?</dt>
                            <dd>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molest consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accum san et iusto odio dignissim..</dd>
                        </dl>
                    </div>
                </div>

                <div class="tablePaging" style="margin-top: 30px;">
                    <div class="tablePagingC">
                        <a href="#" class="direction">
                            <img src="modules/playchat/working-ground/common/client/imgs/btn_prev.png" alt="이전페이지이동">
                        </a>
                        <a href="#">1</a>
                        <a href="#" class="direction">
                            <img src="modules/playchat/working-ground/common/client/imgs/btn_next.png" alt="다음페이지이동">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

