
/*.chat_container {*/
    /*background-color: #bdcfd9;*/
    /*color: #222;*/

    /*width: 600px;*/
    /*height: 700px;*/

    /*border: solid 1px black;*/
/*}*/

/*.chat_header {*/
    /*background-color: #fafafa;*/
    /*padding: 10px 0px 0px 0px;*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*height: 40px;*/
    /*font-size: 16px;*/
    /*text-align: center;*/
    /*border-bottom: solid 1px #bfbfbf;*/
/*}*/

/*.chat_main {*/
    /*padding: 20px 20px 0 20px;*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*height: 400px;*/

    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/

/*}*/

/*.chat_footer {*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*height: 40px;*/
/*}*/
/*!* .bubble *!*/

/*.bubble {*/
    /*background-color: white;*/
    /*!*border: solid 1px rgba(0, 0, 0, 0.5);*!*/
    /*!* vendor rules *!*/
    /*border-radius: 7px;*/
    /*!* vendor rules *!*/
    /*box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);*/
    /*!* vendor rules *!*/
    /*box-sizing: border-box;*/
    /*clear: both;*/
    /*float: left;*/
    /*margin-bottom: 20px;*/
    /*padding: 8px 30px;*/
    /*position: relative;*/
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);*/
    /*width: auto;*/
    /*max-width: 100%;*/
    /*word-wrap: break-word;*/
/*}*/

/*.bubble:before, .bubble:after {*/
    /*border-radius: 20px / 20px;*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
/*}*/

/*.bubble:before {*/
    /*border: 10px solid transparent;*/
    /*border-bottom-color: rgba(0, 0, 0, 0.5);*/
    /*bottom: 0;*/
    /*left: -7px;*/
    /*z-index: -2;*/
/*}*/

/*.bubble:after {*/
    /*border: 8px solid transparent;*/
    /*border-bottom-color: white;*/
    /*bottom: 1px;*/
    /*left: -5px;*/
/*}*/

/*.bubble--alt {*/
    /*background-color: white;*/
    /*!*border: solid 1px rgba(0, 0, 0, 0.5);*!*/
    /*!* vendor rules *!*/
    /*border-radius: 7px;*/
    /*!* vendor rules *!*/
    /*box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);*/
    /*!* vendor rules *!*/
    /*box-sizing: border-box;*/
    /*clear: both;*/
    /*float: right;*/
    /*margin-bottom: 20px;*/
    /*padding: 8px 30px;*/
    /*position: relative;*/
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);*/
    /*width: auto;*/
    /*max-width: 100%;*/
    /*word-wrap: break-word;*/
/*}*/


/*.bubble--alt:before {*/
    /*border-bottom-color: rgba(0, 0, 0, 0.5);*/
    /*border-radius: 20px / 10px;*/
    /*left: auto;*/
    /*right: -7px;*/
/*}*/

/*.bubble--alt:after {*/
    /*border-bottom-color: white;*/
    /*border-radius: 20px / 10px;*/
    /*left: auto;*/
    /*right: -5px;*/
/*}*/

/************************** new **************************/

.content-body {
    margin-right: 400px;
}

.page-header {
    padding-right: 400px;

}


#chat-include {
    width: 400px;
    position: fixed;
    right: 0px;
    top: 120px;
    bottom: 0px;
}


.chat-container {
    background: url('/images/apple-iphone6-1.png');
    background-size: 360px;
    width: 360px;
    height: 670px;
    padding: 73px 18px 70px 19px;
    margin: auto; float: right;position: fixed;top: 90px;
    right: 10px;
    z-index: 100;
}

.chat-body {
    padding: 0px;
    background-color: white;
}

.chat-header {
    height: 34px;
    font-size: 17px;
    font-weight: 400;
    color: #444;
    background-color: white !important;
    text-align: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    padding-top: 5px;
}

.chat_main {
    height: 444px !important;
    padding: 10px 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-items .thumbnail {
    border-radius: 5px;
    margin-bottom: 0px;
    font-size: 13px;
}

.chat-items .caption {
    padding: 3px;
}

.chat-items h3 {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 13px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}

.chat-items p {
    font-size: 13px;
    line-height: 16px;
    height: 48px;
    overflow: hidden;
}


.chat-item-button {
    border-top: solid 1px #e5e5e5;
    text-align: center;
    margin: 0 -4px 0 -4px;
    padding: 5px 0 5px 0;

    /*height: 1px;*/
    /*margin: 9px 0;*/
    /*overflow: hidden;*/
    /*background-color: #e5e5e5;*/
}

.chat-item-button a {
    color: #379dfc;
}

.chat_main .item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    background-color: #fff;

    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 5px 0 5px;
    font-size: 16px;
}

.item-avatar {
    min-height: 72px;
    padding: 0px 22px 0px 67px;
}

.item-avatar-right{
    min-height: 72px;
    padding: 0px 22px 0px 16px;
    text-align: right;
}

.item-avatar img {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item-avatar .message-image {
    position: relative;
    top: 0;
    left: 0;
    max-width: 150px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    border-radius: initial;
}

.chat_main .item .bubble {
    position: relative;
    margin-bottom: 8px;
    padding: 0;
    font-size: 14px;

    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none;
    text-shadow: none;
}

.chat_main .item .bubble:before {
    border: 0;
}
.chat_main .item .bubble:after {
    border: 0;
}

.item-avatar .bubble .icon-tail {
    border-top: 7px solid #def5f8;
    position: absolute;
    top: 0;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-top-left-radius: 3px;
}

.icon-tail-me {
    position: absolute;
    top: 0;
    right: -5px;
    width: 0;
    height: 0;
    border-top: 8px solid #33c1d7;
    border-right: 8px solid transparent;
    border-top-right-radius: 3px;
}

.item .text-xs {
    font-size: 12px;
}

.item-avatar .m-r-sm {
    font-weight: 700;
    margin-right: 10px;
}
.item-avatar .bubble .content {
    background: #def5f8;
    color: #000;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 10px 0px 10px;
    font-size: 14px;
    line-height: 17px;
    white-space: normal;
    position: relative;
}

.item-avatar .bubble .content .content-text {
    padding: 0px 0px 10px 0px;
    white-space: pre-wrap;
}

.item-avatar-right .bubble .content {
    background: #33c1d7;
    color: white;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    white-space: normal;
    position: relative;
}

.bubble-button {
    border-top: solid 1px #ccc;
    text-align: center;
    margin: 0 -10px 0 -10px;
    padding: 7px 0 7px 0;
}

.bubble-button a {
    color: #337ab7;
}

.chat-footer .input-group {
    border-top: 1px solid rgb(221, 221, 221);
}

.chat-footer input{
    box-shadow: none;
    border-radius: 0px;
    border: 0px;
}

.chat-footer button {
    font-weight: 300;
    border-radius: 0px;
    background: white;
}


.smart_reply {
    display: block !important;
    clear: both;
    text-align: center;
    position: absolute;
    bottom: 115px;
    z-index: 100;

    width: 313px;
    margin-left: 5px;
    margin-right: 5px;
}

.smart_reply .owl-stage-outer{
    text-align: center;
}

.smart_reply .owl-stage {
    display: inline-block;
}

.smart_reply .owl-stage {
    display: inline-block;
}

.smart_reply .item {
    display: inline;
    margin: 0px;
}

.smart_reply button {
    background-color: white;
    color: #379dfc;
    border: solid 1px #379dfc;
    border-radius: 20px;
    padding: 0 5px 0 5px;
    margin: 0px;
}
