html{font-family: 'Apple SD Gothic Neo', 'Noto Sans Korean', 'Poppins', 'Malgun Gothic', sans-serif;}

div {word-break:break-all;}

.pos_rel{position:relative;}
.pos_abs{position:absolute;}

.form-control {
    border-radius: 0;
    height:50px;
    margin-top: 0px;
    z-index: 1;
}

.popup-body{text-align:center;}

.loading_tt{display:table; background-color: #bb0000; position: fixed;
    left: 0px; top: 0px; z-index: 9999; width: 100%; height: 100%; padding-top:60%; text-align: center; font-size: 17px;
    color:#ffffff; font-weight:700;}



.form-control.nomt {margin-top: 0px;}
.t_center{text-align:center;}
.t_left{text-align:left;}
.d_center{margin-left:auto; margin-right:auto;}
.d_center2{margin: 0 auto;}

.dl_bl{display: block;}
.dl_ta{display: table;}
.dl_in{display: inline;}
.dl_inb{display:inline-block;}
.dl_fx{display:flex;}
.dl_int{display: inline-table;}

.c_white{color:#FFFFFF;}
.c_grey{color:#d1d1d1;}
.c_blue1{color:#5bc0de;}
.bg_white{background-color:#ffffff;}
.bg_grey{background-color:#f7f7f7;}
.bg_grey1{background-color:#f0f0f0;}
.bg_grey2{background-color:#e8e8e8;}
.bg_grey3{background-color:#fbfbfb;}

/*필드셋 설정수정*/
.m_fset{padding:0px; border: 0px solid; margin:0px;}


/*헤더*/
  .bar.bar-positive {
    border-color: #bb0000;
    background-color: #bb0000;
    background-image: linear-gradient(0deg, #bb0000, #bb0000 50%, transparent 50%);
    color: #fff; }
    .bar.bar-positive .title {
      color: #fff; }
    .bar.bar-positive.bar-footer {
      background-image: linear-gradient(180deg, #bb0000, #bb0000 50%, transparent 50%); }




.top_topp_m{width:100%;height:46px; line-height:44px;text-align:center; color:#ffffff;
    background-image: linear-gradient(to bottom, #000000 0%, #444444 100%);}

.top_topp_m{padding-left:5%; padding-right:5px;}

.top_topp_tx{color:#ff9a9a; font-weight:700;}

/*사이드 메뉴*/
.bar{background-color: #bb0000;}

.sb_username{display:inline-block;width:100%; height:26px; line-height:26px;font-size:15px; color:#ffffff;
   font-weight: 700; text-align: center;}
.sb_username.typpp{font-size:14px; color:#ffdddd; font-weight: 400;}
.sb_menu_m{width:100%; height:50px; line-height:50px; font-size:16px; font-weight:700;
    color:#444444; padding-left:64px; border-bottom: 2px solid #f1f1f1;background-color: #ffffff;}
/*.sb_menu_m{width:100%; height:50px; line-height:50px; font-size:16px; font-weight:400;
    color:#ffffff; padding-left:68px; border-bottom: 2px solid #666666;background-color: #444444;}*/
.sb_menu_m.grbt{background-color:#ffffff; color:#444444;}
/*.sb_menu_m.grbt{background-color:#777777; color:#ffffff;}*/

.sb_logo{width:150px;height:40px;display:table; margin-left: 60px; margin-top:10px;}

.sb_icon{position:absolute; left:18px; font-size:28px; color:#bb0000;}
.sb_icon2{position:absolute; left:18px; font-size:28px; color:#bb0000;}

.sb_login{width:43%; height:44px; margin-left:5%;margin-top:12px;}

/*일반페이지관련*/
.content_submenu{width:100%; height:50px;  background-color:#000000; background-image: linear-gradient(to bottom, #000000 0%, #444444 100%);}
.content_submenu_in{width:1200px;margin: 0 auto; text-align: center;}
.submenu_u{display: inline-block; width:150px;height:50px; text-align:center; vertical-align: middle; line-height:50px; }
.submenu_u.se{font-weight: 700; color:#FFFFFF; background-color:#333333;}
.submenu_a{color:#bbbbbb;}
a.submenu_a:hover{color:#dddddd; text-decoration:none;}
/*.content_submenu{width:100%; height:50px;  background-color:#dfdfdf;}
.content_submenu_in{width:1200px;margin: 0 auto; text-align: center;}
.submenu_u{display: inline-block; width:150px;height:50px; text-align:center; vertical-align: middle; line-height:50px;}
.submenu_u.se{font-weight: 700; color:#ba0000; background-color:#f5f5f5;}*/
.content_main{width:1200px; margin: 0 auto;}
.c_title{font-weight: 700; font-size:18px; text-align: left; color:#444444;}


/*!*Modal Display Issue*!*/
/*body > [uib-modal-window]:not([modal-render]) {*/
    /*display: none;*/
/*}*/

/*모달관련*/
.mologo{width:113px; height:30px; background-image:url('/img/logo_small.png');}
.alert1{width:160px; float:none; margin-left:10px;margin-right:10px;}



/*로그인 회원가입 관련 */

.social{width:100%; height:50px; border-radius: 4px; text-align: center;
        margin-top:10px; line-height:50px;}
.b_facebook{background-color:#3B5998; color:#FFFFFF;}
.b_google{background-color:#4285f4; color:#FFFFFF;}
.b_twitter{background-color:#33ccff; color:#FFFFFF;}
.b_kakao{background-color:#ffeb00; color:#3c1e1e;}

.b_ok{background-color:#ffffff; color:#3c1e1e;}

.img_facebook{width:50px; height:50px; background-image:url('/modules/_design/client/img/login_facebook.png');}
.img_google{width:46px; height:46px; background-image:url('/modules/_design/client/img/login_google.png'); margin-top:2px; margin-left:2px;}
.img_twitter{width:50px; height:50px; background-image:url('/modules/_design/client/img/login_twitter.png');}
.img_kakao{width:50px; height:50px; background-image:url('/modules/_design/client/img/login_kakao.png');}

.policy{width:100%; height:30px; border-radius: 4px; text-align: center;
    margin:10px auto; line-height:30px;background-color:#e8e8e8;}

.signupcomp{width:100%;text-align: center; padding:6px;}

/* 장세영 추가 */
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    /*background-color: #337ab7;*/
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    /*box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);*/
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;

    background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
    background-image: linear-gradient(to bottom, #337ab7 0%, #286090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;

    background-color: #CCC;
    box-shadow: none;
    position: relative;
    border-radius: 4px;

}

.progress-bar-primary {
    background-color: #CCC;
    color: #FFF;
}

.progress {
    border-radius: 4px;
    height: 20px;
    background: #FAFAFA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    overflow: visible;
}

.bar.bar-positive {
    /*background-color: #ba0000;*/
    background: linear-gradient(to right,#347eff,#1ea3ff);
    border-color: #ba0000;


}
.button.button-positive {
    background-color: #ba0000;
    border-color: #ba0000 #ba0000 #ba0000;
}

.button.button-positive:hover {
    color: #fff;
    text-decoration: none;
    border-color: #ba0000 #ba0000 #ba0000;
    background-color: #ab0303;
}

.button.button-positive.active, .button.button-positive.activated {
    border-color: #ba0000 #ba0000 #ba0000;
    background-color: #d31111;
}

.button.button-positive.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ba0000;
}

.button.button-positive.button-outline {
    border-color: #ba0000;
    background: transparent;
    color: #ba0000;
}

.button.button-positive.button-outline.active, .button.button-positive.button-outline.activated {
    background-color: #ba0000;
    box-shadow: none;
    color: #fff;
}



.button.button-seablue {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #5bc0de #5bc0de #31b0d5;
}

.button.button-seablue:hover {
    color: #ffffff;
    text-decoration: none;
    border-color: #46b8da #46b8da #46b8da;
    background-color: #63cbea;
}

.button.button-seablue.active, .button.button-seablue.activated {
    border-color: #46b8da #46b8da #46b8da;
    background-color: #63cbea;
}

.button.button-seablue.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #5bc0de;
}

.button.button-seablue.button-outline {
    border-color: #5bc0de;
    background: transparent;
    color: #5bc0de;
}

.button.button-seablue.button-outline.active, .button.button-seablue.button-outline.activated {
    background-color: #5bc0de;
    box-shadow: none;
    color: #ffffff;
}

.button.button-yellow {
    color: #ffffff;
    background-color: #ed9c28;
    border-color: #ed9c28 #ed9c28 #ed9c28;
    border-top : 2px solid #f5b04e;
}

.button.button-yellow:hover {
    color: #ffffff;
    text-decoration: none;
    border-color: #ed9c28 #ed9c28 #ed9c28;
    background-color: #ed9c28;
    border-top : 2px solid #f5b04e;
}

.button.button-yellow.active, .button.button-yellow.activated {
    color: #ffffff;
    border-color: #ed9c28 #ed9c28 #ed9c28;
    background-color: #ed9c28;
    border-top : 2px solid #f5b04e;
}

.button.button-yellow.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ffffff;
    border-top : 2px solid #f5b04e;
}

.button.button-yellow.button-outline {
    border-color: #ed9c28;
    background: transparent;
    color: #ffffff;
    border-top : 2px solid #f5b04e;
}

.button.button-yellow.button-outline.active, .button.button-yellow.button-outline.activated {
    background-color: #ed9c28;
    box-shadow: none;
    color: #ffffff;
    border-top : 2px solid #f5b04e;
}



.button.button-bred {
    background-color: #ffffff;
    border:4px solid #dddddd;
}

.button.button-bred:hover {
    color: #444444;
    text-decoration: none;
    background-color: #f1f1f1;
    border:4px solid #d1d1d1;
}

.button.button-bred.active, .button.button-bred.activated {
    background-color: #f1f1f1;
    border:4px solid #d1d1d1;
}

.button.button-bred.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #444444;
    border:4px solid #d1d1d1;
}

.button.button-bred.button-outline {
    border-color: #ba0000;
    background: transparent;
    color: #444444;
    border:4px solid #d1d1d1;
}

.button.button-bred.button-outline.active, .button.button-bred.button-outline.activated {
    background-color: #ffffff;
    box-shadow: none;
    color: #444444;
    border:4px solid #d1d1d1;
}


.button.button-black {
    background-color: #444444;
    border:4px solid #444444;
    color: #ffffff;
}

.button.button-black:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #444444;
    border:4px solid #444444;
}

.button.button-black.active, .button.button-black.activated {
    background-color: #444444;
    border:4px solid #444444;
}

.button.button-black.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ffffff;
    border:4px solid #444444;
}

.button.button-black.button-outline {
    border-color: #444444;
    background: transparent;
    color: #ffffff;
    border:4px solid #444444;
}

.button.button-black.button-outline.active, .button.button-black.button-outline.activated {
    background-color: #444444;
    box-shadow: none;
    color: #ffffff;
    border:4px solid #444444;
}




/*투자하기리스트*/

.content_main_i{width:1050px; margin: 0 auto;}
.i_title{display: inline-block; width:100%;font-weight: 700;
	font-size:18px; height:26px;text-align: left; margin-top:40px;}
.i_title.sec{margin-top:60px;}	
.i_t_etc{width:100%; background-color: #f3f3f3;margin-top:50px; padding-bottom: 50px;}
.i_t_img{width:40px;height:30px;background-image:url('/modules/_design/client/img/ic_title.png');}


.icard_tr{display: inline-block;width:1050px;}
.icard{display: inline-block; width:300px;/*height:400px;*/ margin-top:50px; margin-left:25px;  margin-right:25px;float:left;
border-style: solid; border-width:1px; border-color:#d1d1d1; border-radius: 4px; background-color:#ffffff;
}

.ic_headwrap{position:absolute;}
.ic_head{position:relative; font-size:13px; color:#ffffff;height:26px;float:left;
padding-left: 6px; padding-right: 6px; background-color:#434549;
border-top-left-radius:2px; line-height: 26px; z-index: 8;}
.ic_head.ich2{background-color:#cc3354; border-top-left-radius:0px;}
.ic_hhh{position:relative;float:left;width:14px; height:26px; background-image:url('/modules/_design/client/img/ic_head1m2.png');  z-index:8;}
.ic_hhh.hhh2{ background-image:url('/modules/_design/client/img/ic_head3m2.png');  }

.ic_img{width:298px;height:200px;background-color:#000000; border-top-left-radius:3px; border-top-right-radius:3px;
	border-bottom-style:solid; border-width:1px; border-color:#d1d1d1; }
.ic_img.cov{position: absolute; background-color: black; opacity: 0.4; }
.ic_img.cov2{position: absolute; background-color: black; opacity: 0.8;
	font-size:36px;text-align: center; font-weight:700;color:#ffffff;line-height:200px; }

.ic_wrap{width:100%;margin:0 auto;}
.ic_wrap.line{height:1px;background-color:#d1d1d1; margin-top: 10px; margin-bottom: 10px;}
.ic_wrap.progress{margin-top: 10px; margin-bottom: 10px; border-radius: 2px;
background-image: linear-gradient(to bottom, #c1c1c1 20%, #d7d7d7 100%);}
.ic_title{text-align:center; font-weight:400; font-size:15px; margin-top:6px; }
.ic_title_car{text-align:center; font-weight:400; font-size:14px; margin-top:6px; height:28px; line-height:28px;
    color:#444444; padding-left:5%; padding-right:5%;}
.ic_title2{text-align:center; font-weight:700; font-size:20px; margin-top:6px; color:#444444;}
.ic_title2_car{text-align:center; font-weight:700; font-size:20px; height:44px; line-height:44px;
    color:#444444; padding-left:5%; padding-right:5%; }
.ic_text1{display: inline; text-align: left; font-weight:700; font-size:20px; color:#cc3354;}
.ic_text1.rig{text-align: right; float:right;color:#777777;}
.ic_text2{display: inline; text-align: left; font-size:13px;}
.ic_text2.rig{text-align: right;float: right; font-weight:700; font-size:20px; color:#777777;}
.ic_text2.rig2{text-align: right;float: right; font-weight:400; font-size:14px; color:#ffffff;
    /*border-bottom: 4px solid #dddddd;*/ background-color: #c7a993; border-radius: 6px;
padding-left: 6px; padding-right: 6px;}


.ic_text3{z-index:8;position:absolute;text-align: left; font-size:14px;margin-left:6px; margin-top: 1px; color:#ffffff;}
.ic_text3.rig{position: absolute; right: 0px; margin-right: 6%;}

.progress-bar.ic{border-radius: 2px;background-image: linear-gradient(to bottom, #cc3354 0%, #a91f3d 100%);}


.bot_bottom_m{display:table;width:100%;line-height:44px;text-align:center; color:#ffffff;
    background-image: linear-gradient(to bottom, #000000 0%, #444444 100%);
padding-left:5%; padding-right:5%; padding-top:28px; padding-bottom:28px;}


.card {
    padding-top: 1px;
    padding-bottom: 1px;
/*    box-shadow: 0 0 0;*/
    border : 1px solid #e7e7e7;
    border-radius: 4px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}






/*푸터*/

#footer.short {padding-top: 30px;}
.ff_twrap{width:1050px; margin: 0 auto; display:table;}
.ff_logo{display:table;width:80px; height:21px; background-image:url('/img/logo_small_bw80.png'); margin: 0 auto;}
.ff_line{width:100%; height:2px; background-color:#333333; margin-top:0px;margin-bottom: 10px;}

.ff_textc{color:#bb0000;}
.ff_row{display:table;width:200px; float:left;}
.ff_row2{display:table;width:100%; float:left;}
.ff_row3{display:table;width:600px; float:left;}
.ff_row_td_ti{width:100%; text-align:left; height:40px; line-height: 40px;
font-size:16px; font-weight:700; color:#BBBBBB;}
.ff_row_td{width:100%; text-align:left; height:34px; line-height: 34px;}
.ff_row_td2{width:100%; text-align:left; height:20px; font-size:12px; line-height: 20px;}



.ff_row_td3{display:inline;text-align:left; height:44px; font-size:20px; line-height: 44px;
font-weight:700; float:left; color:#766c59;}
.ff_row_line{display:inline-block;width:1px;height:34px; float:left; background-color:#444444;
margin-left:30px; margin-right:30px; margin-top:6px;}

.ff_copyr{color:#cccccc; font-size:14px; margin-top:0px;}

.ff_policy{display:inline-block;float:right; margin-right:60px;
    font-size:18px; font-weight:700; color:#ffffff; margin-top:24px;}




/*투자하기상세보기*/
.is_irtx_m{display:inline-block;font-size:16px; height:36px; line-height:36px;font-weight:700; color:#444444;
    border-bottom-style:solid; border-width:4px; border-color:#bb0000; margin-top:30px;}



.is_irtx_wrap{margin-top:20px; margin-bottom:20px; margin-left:4%; margin-right:4%;}

.left_tap{font-weight: 700;font-size:17px; }

.is_ir{display: table; width:100%;}
.is_irinfo{width:100%;background-color: #efefef; display: inline-block; }
.is_irinfo.iline{width:1px;background-color: #e8e9dd;}
.is_irin01{display: table; width:50%;float:left; text-align: left; line-height:40px;padding-left: 14px; font-size:13px;}
.is_irin01.tit{ width:50%; font-weight:700;}
.content_main_is{width:1100px; margin: 0 auto;}
.is_title{display: inline-block; width:100%;font-weight: 700;
	font-size:24px; height:26px;text-align: center; margin-top:14px; color:#444444;}
.is_title.sec{font-weight: 400; font-size:18px; height:25px;margin-top:10px;}
.is_title.secm{font-weight: 700; font-size:18px; height:25px;margin-top:10px; color:#bb0000; line-height:28px;}
.is_title.thr{font-weight: 400; font-size:14px; height:25px;margin-top:0px; margin-bottom:24px;}
.is_top{display: inline-block; width:100%; padding: 16px;
border-style: solid; border-width:2px; border-color:#d1d1d1; border-radius: 8px; background-color:#ffffff;}
.is_movie{float: left; width: 604px; height:342px; padding: 2px;background-color:#000000;}
.is_movie2{float: right; width: 430px;}

.is_text1{display: inline-block; width:100%; height:30px;text-align: left; font-weight:700;
    font-size:26px; color:#cc3354;}
.is_text1.res{color:#777777;}
.is_text_l{display: inline; text-align: left;font-weight: 700; font-size:13px;}
.is_text_l.da{font-weight: 400; font-size: 14px;}
.is_text_r{display: inline; text-align: right;float: right;font-weight: 700;}
.is_text_r.da{font-size:20px;}
.is_text2{z-index:8;position:absolute;text-align: left; font-size:14px;margin-left:6px; margin-top: 2px; color:#ffffff;}
.is_text2.rig{text-align: right; margin-left:394px;}



.is_wrap{width:430px; height:26px;}
.is_wrap.progress{margin-top: 0px; margin-bottom: 10px; border-radius: 2px;
background-image: linear-gradient(to bottom, #c1c1c1 20%, #d7d7d7 100%);}
.is_wrap.line{height:1px;background-color:#d1d1d1; margin-top: 10px; margin-bottom: 10px;}
.progress-bar.is{border-radius: 2px;  height:26px;background-image: linear-gradient(to bottom, #cc3354 0%, #a91f3d 100%);}

.is_head{position:relative; font-size:14px; color:#ffffff;height:40px;float:left;padding-left: 4px; padding-right: 4px; background-color:#434549;
border-top-left-radius:2px; line-height: 40px; z-index: 8;}
.is_head.ich2{background-color:#cc3354; border-top-left-radius:0px;}
.is_hhh{position:relative;float:left;width:10px; height:40px; background-image:url('/modules/_design/client/img/ic_head1.png');  z-index:8;}
.is_hhh.hhh2{ background-image:url('/modules/_design/client/img/ic_head2.png');  }


.is_tab{width:25%; text-align: center;}
.active.is_tab{font-weight: 700;}

.cv_margin {
	margin-top: 10px;
	margin-bottom: 10px;
}

.cv_comment_list {
	list-style: none;
	padding: 10px;
}

.isk_irwrap{display:inline-block;}
.isk_irinfo{width:48%;height:160px; float:left; display: inline-block; }
.isk_irin01{display: inline-block; width:72%;height:40px;float:left; text-align: left;
    line-height:40px;padding-left: 14px; }
.isk_irin01.tit{width:28%; font-weight:700;}
.q_a_bo2{border: solid 6px; margin-bottom: 10px; border-radius:4px; border-color: #d1d1d1;}


.isk_irin07{width:75%;display:inline;text-align: left;padding:10px; padding-left: 14px; float:left; font-size:13px;}
.isk_irin07.tit{width:25%;font-weight:700; }





/*투자하기상세보기-팀멤버*/
.p_c_wrap{display:relative;width:100%; margin: 0 auto;}
.p_c_wrapin7{display:table; width:90%; border : 1px solid #e7e7e7; border-radius: 6px; background-color: #ffffff;
margin : 0 auto; margin-top:12px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}
.p_c_mline{width:90%; height:1px; background-color: #d1d1d1; margin: 0 auto;margin-top:6px; margin-bottom:6px;}
.p_c_wrapin8{padding-top:10px; padding-bottom: 10px; margin-top:10px; background-color: #f1f1f1; border-radius: 6px;}
.p_card1{display:inline-block;width:100%; margin-top:20px;}
.p_c_img{width:44%;height:44%; border-radius:150px; opacity:0.8; float:left;}
.p_c_img_m{display:table;width:60%;border-radius:60%; opacity:0.8; margin:0 auto;
    border: solid 12px #d1d1d1; }
.p_c_content{width:90%;margin-left:5%;text-align: left;}
.p_c_name{width:100%; font-size:22px; font-weight:700; margin-top:14px;
    color:#000000; text-align: center; height:26px;}
.p_c_name_ttk{width:100%; font-weight:700;
    text-align: center; font-size:16px;margin-top:0px; color:#29535a;
    line-height: 28px;}
.p_c_t{width:26%;height:26px;font-size:14px; font-weight:700; float:left;}
.p_c_a{display:table;width:100%;height:26px; line-height:26px;font-size:13px; font-weight:400;
    text-align: left; color:#444444; padding-left:14px;}
.c_line2.pcc{display:inline-block; margin-top:14px; background-color: #dddddd;}


.is_title_exi{display:table;margin:0 auto;width:100px; height:16px;
    background-image:url('/img/w_balloon_r4.png'); z-index:20; margin-top:0px;}
.is_title_ex2{display:table;font-weight: 700; margin:0 auto;
    font-size:14px; line-height:28px;text-align: center; color:#000000;
    border-radius:12px;background-color: #ffffff; padding:10px;
border: solid 4px #db5656;  margin-top:-2px; z-index:10;}
/*.is_title_ex2{display:table;font-weight: 700; margin:0 auto;
    font-size:14px; line-height:28px;text-align: center; color:#000000;
    border-radius:12px;background-color: #ffffff; padding:10px;
border: solid 2px #ea8484;  margin-top:-2px; z-index:10;}*/


/*투자하기상세보기-q&a*/
.p_c_wrap_qa{display:relative;width:100%; margin: 0 auto; padding:5%;}
.q_a_title{width:100%;font-size:18px; font-weight:700; margin-top:20px;
    color:#444444;text-align: center;}
.q_a_title_b{width:100%;font-size:13px; line-height:20px;margin:0 auto; 
    color:#444444;text-align: left; padding-top:10px; padding-bottom: 20px;}
.q_a_title_btn{display:table; width:100%;font-size:18px; font-weight:700;margin:0 auto;}
.q_a_title_btn2{display:table; width:20%; height:80px;
    font-size:15px; font-weight:700;float: left; margin-top: 0px; line-height:20px;}
.q_a_title_wrap{display:table;width:100%; margin:0px;}

.q_a_name{font-size:18px; font-weight: 700; color:#444444; line-height: 27px;}
.q_a_name{font-size:18px; font-weight: 700; color:#444444; line-height: 27px;}
.q_a_date{font-size:14px; font-weight: 400; color:#c69898;}
.q_a_content2{width:100%; margin:0 auto; font-size:14px; color:#555555; }
.q_a_reply{width:100px;height:30px; text-align:left;font-weight: 700; font-size:16px;margin-top:14px;}
.q_a_bo{border: solid 1px; padding:4%; border-radius:6px; border-color: #d1d1d1; background-color:#ffffff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}
.tall.mmo{margin:20px; margin-bottom: 0px;}

.form-control_m{width:100%; height:160px; margin: 0 auto; margin-top: 0px;}
.form-control_m2{width:80%; height:80px; float: left; margin-top: 0px;}

/*투자받기안내*/
.ivrs_line{width:100%; height:2px; background-color: #dddddd;}
.ivrs_tr{display:table;width:100%; line-height:30px;}
.ivrs_td1{width:100%; line-height:30px; }
.ivrs_td1.txin{font-size:13px; color:#ffffff; text-align:center; font-weight:400;}
.ivrs_td_cir{width:150px; height:150px; border-radius: 75px; line-height:130px; text-align: center;
    background-color: #ffffff; font-size:15px; color:#000000; border: 10px solid #f2bbbb; margin : 0 auto; font-weight:700;}
.ivrs_td_cir2{width:150px; height:150px; border-radius: 75px; line-height:130px; text-align: center;
    background-color: #de4658; font-size:15px; color:#ffffff; border: 10px solid #f2bbbb; margin : 0 auto; font-weight:700;}

.ivrs_td_line{display:table;width:6px; height:30px; background-color: #f2bbbb; margin : 0 auto;}
.ivrs_title1{display:table; margin: 0 auto;font-size:24px; color:#ffffff; text-align:center;
    height:36px; line-height:36px;font-weight:700; border-bottom: 2px solid #ffffff;}
.ivrs_back{background: url('/img/img_2016back3.jpg') no-repeat 0 0;
    background-size: cover;}
.ivrs_warn{width:100%; padding-left:5%; padding-right:5%; padding-top:18px; padding-bottom:26px;
/*background-color: #dddddd; */color:#cc3354; font-size:15px; text-align:center; font-weight:700;}

/*투자하기상세보기-q&a*/
.news_num{font-size:18px; color:#ca6565;}
.q_a_name.newsn{color:#ca6565;}



.nsbtn_md{position:absolute;display:inline-block;width:20px; height:20px;
    background-image:url('/img/btn_modify.png'); margin-top:3px; margin-left:8px;}
.nsbtn_de{position:absolute;display:inline-block;width:20px; height:20px; 
    background-image:url('/img/btn_del.png'); margin-top:3px; margin-left:34px;}


/*마이페이지 관련*/
.td_list{display: inline-block; height:40px; padding-left:6px; line-height: 40px;}
.td_list.l{font-weight:700; width:150px;}
.td_list.l7{font-weight:700; width:100%;}
.td_list.l8{font-weight:400; width:100%;}
.td_list.k{text-align: right; width:50%; font-size:14px; }
.td_list.s{padding-right :0px;padding-left :0px;}
.td_list.t{color:#e08989;}
.social.myinfo1{width:50px;float:left;margin-top:12px;margin-right:0px;margin-left:0px;margin-bottom:0px;}
.social.myinfo2{width:50px;float:left;margin-top:12px;margin-right:0px;margin-left:8px;margin-bottom:0px;}
.social.myinfo8{width:50px;float:left;margin-top:0px;margin-right:0px;margin-left:0px;margin-bottom:0px;}
.social.myinfo9{width:50px;float:left;margin-top:0px;margin-right:0px;margin-left:8px;margin-bottom:0px;}

.btn.postn{width:180px; height:34px; margin-left:10px;}
.c_line{width:100%;height:4px;background-color:#e08989; border-radius: 4px; margin-top:10px;}
.c_line2{width:100%;height:2px;background-color:#f1f1f1; border-radius: 2px; margin-top:6px;}
.c_line3{width:100%;height:2px;background-color:#f1f1f1; border-radius: 2px;margin-bottom:10px;}
.c_line3pm{width:100%;height:1px;background-color:#d1d1d1; border-radius: 2px;margin-bottom:10px;}
.c_line_pm{width:100%;height:2px;background-color:#dddddd; border-radius: 0px; margin-top:10px;}
.form-control.myt{height:40px; padding-left:6px;}
.form-control.myt2{width:100%; height:40px; padding-left:6px; background-color: #ffffff;
    border: 1px solid #dddddd;}
.form-control.account{margin-top: 0px; padding-left:6px; height:40px; display: inline-block; float: right;}
.input-group.inb{display: inline-block;}
.input-group-btn.inbs{display: inline-block;}
.gl_confirm{font-size:20px; top:4px;}
.gl_confirm.xxx{color:#bfbfbf;}
.gl_confirm.que{color:#8e8e8e;}
.gl_confirm.ok{color:#e08989;}

.my_button1{width:100%;/*background-color: #ffffff; */border : 1px solid #000000; border-radius: 4px;
font-size:14px; height:40px; line-height:40px;text-align: center; font-weight:700;
background-image: linear-gradient(to bottom, #000000 20%, #444444 100%); color:#ffffff;}


.gl_confirm2{font-size:20px; margin-top:4px; }
.gl_confirm2.xxx{color:#bfbfbf;}
.gl_confirm2.que{color:#8e8e8e;}
.gl_confirm2.ok{color:#e08989;}

.ivr_wrappm{display:table;width:100%;padding:12px; border: solid 1px #e7e7e7; margin-top: 16px;
    border-radius:8px; background-color: #ffffff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}

/*마이페이지 - 투자자유형선택 - 파일첨부 */
.acc_kin{text-align: center; font-weight:700; margin-bottom: 20px;}
.acc_kin2{text-align: center; font-size:18px; font-weight:700; margin-bottom: 10px;}
.acc_title{width:80%; padding:10px; border-radius:8px; background-color:#464646; margin:0 auto; color:#ffffff;}
.inv_type{display: table; width:100%; color:#777777; text-align: left; padding-left:10px;
background-color:#e1e1e1; height:34px; line-height:34px;}
.inv_type_w{display: table; width:100%; color:#000000; text-align: left; padding:6px;padding-left:10px;
background-color:#ffffff; line-height:28px; margin-top:20px;
border-top-left-radius: 6px; border-top-right-radius: 6px;}
.inv_type_t{display: table; width:100%; color:#ffffff; background-color:#bb0000; font-size:16px;
    text-align: center; padding:16px; border-radius: 6px;line-height:28px;}
.inv_type.intbt{border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}


/*투자받기내역  (발행내역) */
.ivr_wrap{display:table;width:100%;padding:12px; border: solid 2px; margin-top: 30px;
    border-radius:8px; border-color: #d1d1d1; background-color: #ffffff;}

.ivr_wrap7{display:table;width:100%;padding:12px; border: solid 1px #e7e7e7; margin-top: 16px;
    border-radius:8px; background-color: #ffffff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);}

.is_movie3{float: left; width: 404px;}

.ivr_title1{display:table;width:100%; line-height:38px;
    text-align:center; font-weight:700;
    font-size:22px; color:#444444;}
.ivr_butttt{display:table; width:100%;height:40px;
    border-radius: 12px; padding:0px; font-weight:700;}

.is_wrapm{width:100%; height:26px;}

.ic_wrapm.progress{margin-top: 10px; margin-bottom: 10px; border-radius: 2px;
background-image: linear-gradient(to bottom, #c1c1c1 20%, #d7d7d7 100%);}


.is_text_r{display: inline; text-align: right;float: right;font-weight: 700;}
.is_text_r.da2{font-size:15px;}


.is_line7{display:table;width:100%;height:1px; background-color: #e1e1e1;}
.is_text_r2{display:table;width:100%;text-align: left;font-weight: 700; font-size:22px;
color:#bb0000;}

.ivr_mark{display:table;width:100%; text-align: center; font-weight:700; font-size:20px; height:40px;
line-height:36px; color:#ffffff; background-color: #cccccc; border-radius:4px;}
.ivr_mark_icon{position:absolute;display:table; font-size:28px; margin-left:10px; margin-top:2px;
color:#777777;}

/*투자자 등급 투자자 목록*/
.ivr_pp_wr{width:100%;height:40px; display:inline-block; line-height: 40px;}
.ivr_pp_td{width:115px;height:40px; display:inline-block;float:left;text-align: center; line-height: 40px;}
.ivr_pp_td.ddrt{color:#ffffff;background-color:#444444;}

.ivr_pp_ss{display:table;width:100%; height:24px; font-size:17px; line-height:24px;font-weight:700; text-align: left; color:#444444;}
.ivr_pp_ss.nam2{width:100% height:24px; font-size:14px; font-weight:400; text-align: left; color:#444444;}



/*사이즈 컬러 관련*/

.btl6{border-top-left-radius: 6px;}
.btr6{border-top-right-radius: 6px;}
.bbl6{border-bottom-left-radius: 6px;}
.bbr6{border-bottom-right-radius: 6px;}


.w8{width:8px;}
.w12{width:12px;}
.w14{width:14px;}
.w18{width:18px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w80{width:80px;}
.w84{width:84px;}
.w85{width:85px;}
.w90{width:90px;}
.w100{width:100px;}
.w120{width:120px;}
.w150{width:150px;}
.w180{width:180px;}
.w200{width:200px;}
.w240{width:240px;}
.w300{width:300px;}
.w340{width:340px;}
.w400{width:400px;}
.w920{width:920px;}

.w10p{width:10%;}
.w15p{width:15%;}
.w20p{width:20%;}
.w30p{width:30%;}
.w35p{width:35%;}
.w40p{width:40%;}
.w50p{width:50%;}
.w60p{width:60%;}
.w65p{width:65%;}
.w70p{width:70%;}
.w80p{width:80%;}
.w90p{width:90%;}
.w100p{width:100%;}


.h10{height:10px;}
.h14{height:14px;}
.h16{height:16px;}
.h18{height:18px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h80{height:80px;}
.h100{height:100px;}
.h140{height:140px;}
.h150{height:150px;}
.h160{height:160px;}
.h100p{height:100%;}

.t_4{top:-4px;}
.t_2{top:-2px;}
.t2{top:2px;}
.t4{top:4px;}
.t6{top:6px;}
.t8{top:8px;}
.t10{top:10px;}

.m20{margin:20px;}
.mt_2{margin-top:-2px;}
.mt0{margin-top:0px;}
.mt2{margin-top:2px;}
.mt4{margin-top:4px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt14{margin-top:14px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt18{margin-top:18px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}

.mb0{margin-bottom:0px;}
.mb06{margin-bottom:6px;}
.mb10{margin-bottom:10px;}
.mb12{margin-bottom:12px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}



.ml0{margin-left:0px;}
.ml1{margin-left:1px;}
.ml2{margin-left:2px;}
.ml4{margin-left:4px;}
.ml6{margin-left:6px;}
.ml8{margin-left:8px;}


.p4{padding: 4px;}
.p6{padding: 6px;}
.p8{padding: 8px;}
.p10{padding: 10px;}
.p20{padding: 20px;}

.pt4{padding-top: 4px;}
.pt10{padding-top: 10px;}
.pl0{padding-left:0px;}
.pl06{padding-left:6px;}
.pl16{padding-left:16px;}
.pb10{padding-bottom: 10px;}

.br4{border-radius: 4px;}
.br6{border-radius: 6px;}

.c_red{color:#bb0000;}
.c_red2{color:#de6f6f;}
.c_red3{color:#cc3354;}
.c_grey{color:#d1d1d1;}
.c_grey2{color:#777777;}
.bg_grey2{background-color:#e8e8e8;}
.bg_grey3{background-color:#fbfbfb;}

.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f30{font-size:30px;}
.f32{font-size:32px;}
.f34{font-size:34px;}
.f40{font-size:40px;}
.f100{font-size:100px;}


.fw700{font-weight:700;}

.lh0{line-height:0px;}
.lh50{line-height:50px;}

.f_left{float: left;}
.f_right{float: right;}
.f_none{float: none;}

.cl_b{clear:both;}

.opc20{opacity: 0.2;}
.opc25{opacity: 0.25;}
.opc30{opacity: 0.3;}
.opc40{opacity: 0.4;}

/*버튼 관련 테스트*/
.btn.sharp{border-radius:0;}

/*인풋박스관련*/


.button.button-one {
    border-color: #aaaaaa;
    background-color: #f8f8f8;
    color: #444; }
    .button.button-one:hover {
      color: #444;
      text-decoration: none; }
    .button.button-one.active, .button.button-one.activated {
      background-color: #e5e5e5; }
    .button.button-one.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #b2b2b2; }
    .button.button-one.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-one.button-outline {
      border-color: #b2b2b2;
      background: transparent;
      color: #b2b2b2; }
      .button.button-one.button-outline.active, .button.button-one.button-outline.activated {
        background-color: #b2b2b2;
        box-shadow: none;
        color: #fff; }



/*탭메뉴 관련 부분*/
.tab_line{display:table;width:100%; height:8px; background-color:#dddddd;}


#css_tabs {
    /*font-family:'nanumgothic', '나눔고딕', 'malgun gothic', '맑은 고딕', 'dotum', '돋움', sans-serif*/
}

/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
#css_tabs input:nth-of-type(1), #css_tabs input:nth-of-type(1) ~ div:nth-of-type(1),
#css_tabs input:nth-of-type(2), #css_tabs input:nth-of-type(2) ~ div:nth-of-type(2),
#css_tabs input:nth-of-type(3), #css_tabs input:nth-of-type(3) ~ div:nth-of-type(3),
#css_tabs input:nth-of-type(4), #css_tabs input:nth-of-type(4) ~ div:nth-of-type(4) {
    display:none
}
#css_tabs input:nth-of-type(1):checked ~ div:nth-of-type(1),
#css_tabs input:nth-of-type(2):checked ~ div:nth-of-type(2),
#css_tabs input:nth-of-type(3):checked ~ div:nth-of-type(3),
#css_tabs input:nth-of-type(4):checked ~ div:nth-of-type(4) {
    display:block
}

/* 라벨 기본 스타일 지정 */

#css_tabs > label {
    display:inline-block;
    font-size:13px;
    font-weight:700;
    text-align: center;
    width:25%;
    height:44px;
    float:left;
    line-height: 44px;
    border:1px solid #eeeeee;
    border-width:1px 1px 0;
    background-color: #ffffff;

    
/*    position: fixed; */
}
/*#css_tabs > label {
    display:inline-block;
    font-variant:small-caps;
    font-size:14px;
    padding:5px;
    text-align:center;
    width:25%;
    line-height:1.8em;
    font-weight:700;
    border-radius:3px 3px 0 0;
    background:#eee;
    color:#777;
    border:1px solid #ccc;
    border-width:1px 1px 0;
    height: 50px;
}*/
#css_tabs > label:hover {
    cursor:pointer;
}
#css_tabs label[for=tab1] {
}

/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
#css_tabs input:nth-of-type(1):checked ~ label:nth-of-type(1), #css_tabs > label[for=tab1]:hover {
    background-color:#444444;
    color:#ffffff;
    border:0px;
}
#css_tabs input:nth-of-type(2):checked ~ label:nth-of-type(2), #css_tabs > label[for=tab2]:hover {
    background-color:#444444;
    color:#ffffff;
    border:0px;
}
#css_tabs input:nth-of-type(3):checked ~ label:nth-of-type(3), #css_tabs > label[for=tab3]:hover {
    background-color:#444444;
    color:#ffffff;
    border:0px;
}
#css_tabs input:nth-of-type(4):checked ~ label:nth-of-type(4), #css_tabs > label[for=tab4]:hover {
    background-color:#444444;
    color:#ffffff;
    border:0px;
}

/* 실제 내용이 담긴 div 요소 스타일 지정 */
#css_tabs .tab1_content, #css_tabs .tab2_content, #css_tabs .tab3_content, #css_tabs .tab4_content,  {
/*    padding:2em;*/
/*    border:1px solid #ddd;*/
    width:100%;
    height:100%;
}


/*투자신청 진입전 모달*/

.shoar_title{display: inline-block; width:100%;font-weight: 700;
    font-size:20px; height:30px;text-align: center; margin-top:30px; color:#444444; line-height: 30px;}
.shoar_title.sect{font-size:16px;font-weight:400; line-height:28px; margin-top:10px;}
.bt_shoar{width:100%; margin:0 auto; height:56px; margin-top: 30px; padding:0px; font-size:15px; line-height:52px;}
.bt_shoar2{width:100%; margin:0 auto; height:56px; margin-top: 10px; margin-bottom: 30px; padding:0px; font-size:15px; line-height:52px;}




/*투자신청*/



.iv_title2{width:100%;font-size:24px; color:#444444; text-align:left; font-weight:700;height:30px; margin-top:36px;}
.td_list.ivs{font-weight:700; width:34%;font-size:14px; text-align: left; float:left; padding-left:0px; margin-left:0px;}
.td_list.ivsf{font-weight:700; width:50%;font-size:14px; text-align: left; float:left; padding-left:0px; margin-left:0px;}


.td_list.ivs2{width:66%; text-align:right; font-size:16px;}
.td_list.ivs2m{width:56%; text-align:right; font-size:16px; float:left;}
.td_list.ivs2m2{width:66%; text-align:right; font-size:16px; float:left;}
.td_list.ivs3{width:30px; text-align:left; font-size:16px;}
.td_list.ivs3m{width:10%; text-align:right; font-size:14px; float:left;}
.td_list.ivs4{width:400px; text-align:left; font-size:16px;color:#cc3354;}
.td_list.ivs4m{width:100%; text-align:left; font-size:16px;color:#cc3354;
    padding-left:0px; font-weight:700; float:left;}

.td_list_ivs4m{display:table;width:100%; text-align:left; font-size:16px;color:#cc3354;
    padding-left:0px; font-weight:700; float:left; margin-top:14px; margin-bottom: 8px;}

.td_list.ivs5{font-weight:700; width:100%;font-size:16px; float:left; padding-left:0px;  text-align:left;}
.td_list.ivs6{width:30%; text-align:right; font-size:16px; float:left;}
.td_list.ivs6m{width:50%; text-align:left; font-size:16px; float:left; padding-left:0px;  }


.c_line2mm{width:100%;height:2px;background-color:#e7e7e7; border-radius: 2px; margin-top:6px;}
.td_list.ivs7{width:33%; text-align:right; font-size:16px; float:left;}
.td_list.ivs7f{width:67%; text-align:right; font-size:14px; float:left;}
.td_list.ivs8{width:33%; text-align:left; font-size:16px; float:left;}

.td_list.ivs9{width:88px; height:36px;text-align:left; font-size:14px;}

.iv_content{width:100%; border-radius:8px; padding:16px; text-align:left;
    margin-top:10px;background-color:#f1f1f1;
    font-size:14px; line-height: 30px;
}
.iv_content_m{display:table;width:100%; border-radius:8px; padding:14px; text-align:left;
    margin-top:20px;background-color:#e7e7e7;
    font-size:14px; line-height: 30px;
}
.iv_content_m2{display:table;width:100%; border-radius:8px; padding:14px; text-align:left;
    margin-top:10px;background-color:#e7e7e7;
    font-size:14px; line-height: 30px;
}



.iv_plc{color:#777777;}
a.iv_plc:hover{color:#aaaaaa; text-decoration:none}

.lv_plc_check{width:20px;height:20px;}
.lv_plc_check.ccpl{display:inline-block; position:absolute; margin-top: 5px; margin-left: -14px;}
.lv_plc_da{ border-radius:8px; width:100%; text-align:left; padding:16px; background-color:#f1f1f1;
    font-size:12px; margin-top: 4px; line-height: 24px;}
.lv_plc_dam{ border-radius:8px; width:100%; text-align:left; padding:0px; background-color:#f1f1f1;
    font-size:12px; margin-top: 4px; line-height: 24px;}

.lv_plc_damw{ width:100%; text-align:left; padding:0px; 
    font-size:12px; margin-top: 4px; line-height: 24px;}


.lv_btch{display:table; width:100%; height:48px; text-align: center; font-weight: 700;
    font-size:16px; line-height:44px; margin-top: 0px;}
.lv_btch.desante{width:50%; margin: 0 auto; margin-top: 20px;}


.ivs_rad{width:16px;height:16px; float:left; margin-top: 3px; margin-right:4px;}
.ivs_sub{display:inherit; position:absolute; width:260px;height:60px; margin-left: 630px;
    font-size:20px; font-weight:400;line-height:46px; border-radius: 30px;}

.ivs_leh{width:100%; height:80px;line-height:80px; font-weight:400; font-size:28px; text-align:center;}

/*투자신청정보*/
.lv_tab_wr{width:100%;border:1px; border-style:solid;border-color:#a2917d;}
.lv_tab_ti{width:58%;height:36px;text-align:center; border:1px; font-size:14px;
    border-style:solid;border-color:#a2917d; line-height:36px; text-align: right; padding-right:6px;}
.lv_tab_ti.lvtd{background-color: #b6a794; color: #ffffff; text-align: left; padding-left:6px; width:42%;}

/*투자신청하기*/
.tdcld_btn{display: inherit; position:absolute; width:40px; height:34px; float:left;}
.vc_checkbt{width:20px; height:20px; margin-top:10px;}


/*투자하기내역*/
.iv_icon_color{color:#cc3354;}

.iv_title{display: inline-block; width:90%;font-weight: 700; margin-left:25px;
    font-size:20px; height:30px;text-align: left; margin-top:20px;}


.iv_icc{font-size:14px; font-weight:400;color:#c69898}

.ic_mooore{display:table; font-size:26px; color:#ffffff;
    width:40px;height:40px;z-index: 8; padding:0px;
    margin-top:6px;margin-right:6px;float:right;}




.iv_text{display: inline; text-align: left; font-size:13px;}
/*.iv_text.icst1{text-align: right;float: right; font-weight:700; font-size:18px; color:#327bde;}
*/.iv_text.icst1{text-align: right;float: right; font-weight:700; font-size:18px; color:#c69898;}
.iv_text.icst2{text-align: right;float: right; font-weight:700; font-size:18px; color:#777777;}
.iv_text.icst3{text-align: right;float: right; font-weight:700; font-size:18px; color:#cc3354;}
.iv_text.icst4{text-align: right;float: right; font-weight:700; font-size:18px; color:#cccccc;}

.iv_can{width:72px; height:24px; text-align: center; font-size:12px; float: right; padding:0px;
    color:#ffffff; /*background-color: #e08989;*/ /*background-color: #333333; */border-radius:12px; line-height: 22px;}



.iv_pay{display:block; position:absolute;width:60%;height:52px; padding:0px;line-height:46px;
    z-index:100;font-size:22px;font-weight:700; margin-left:20%; margin-top:28%; color:#cc3354;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}
.iv_pay.ivch{display:block; font-size:18px; color:#ffffff;line-height:46px;}

.iv_pay.ivch2{display:block; font-size:36px; color:#ffffff; box-shadow: none;line-height:46px;}

.ic_img.ivcov{width:100%; height:100%; position: absolute; background-color: black; opacity: 0.4; }
.ic_img.ivcov99{width:100%; height:100%; position: absolute; background-color: black; opacity: 0.8; }
.ic_img.ivcov2{position: absolute; background-color: black; opacity: 0.8;
    font-size:36px;text-align: center; font-weight:700;color:#ffffff;line-height:200px; }

.iv_icard{display: inline-block; width:300px;/*height:400px;*/ margin:24px 25px 25px 25px; float:left;
border-style: solid; border-width:1px; border-color:#d1d1d1; border-radius: 4px; background-color:#ffffff;
}



.btn-cancel {
    color: #FFFFFF;
    background-color: #434549;
    border-color: #434549;
}
.btn-cancel:focus,
.btn-cancel.focus {
    color: #FFFFFF;
    background-color: #5c5f64;
    border-color: #5c5f64;
}
.btn-cancel:hover {
    color: #FFFFFF;
    background-color: #5c5f64;
    border-color: #5c5f64;
}
.btn-cancel:active,
.btn-cancel.active,
.open > .dropdown-toggle.btn-cancel {
    color: #FFFFFF;
    background-color: #434549;
    border-color: #434549;
}
.btn-cancel:active:hover,
.btn-cancel.active:hover,
.open > .dropdown-toggle.btn-cancel:hover,
.btn-cancel:active:focus,
.btn-cancel.active:focus,
.open > .dropdown-toggle.btn-cancel:focus,
.btn-cancel:active.focus,
.btn-cancel.active.focus,
.open > .dropdown-toggle.btn-cancel.focus {
    color: #333;
    background-color: #434549;
    border-color: #434549;
}
.btn-cancel:active,
.btn-cancel.active,
.open > .dropdown-toggle.btn-cancel {
    background-image: none;
}
.btn-cancel.disabled:hover,ivs
.btn-cancel[disabled]:hover,
fieldset[disabled] .btn-cancel:hover,
.btn-cancel.disabled:focus,
.btn-cancel[disabled]:focus,
fieldset[disabled] .btn-cancel:focus,
.btn-cancel.disabled.focus,
.btn-cancel[disabled].focus,
fieldset[disabled] .btn-cancel.focus {
    background-color: #434549;
    border-color: #434549;
}
.btn-cancel .badge {
    color: #fff;
    background-color: #434549;
}

.iv_top_tit{width:100%; display:table; height:40px; background: #ffffff; font-weight: 700;
    line-height:40px; padding-left:4%; border-left:10px solid #eb8282;}
.iv_top_line{width:100%; display:table; height:2px; background: #e1e1e1;}

.iv_top_titr{float:right;width:63%;height:28px; line-height:28px;margin-top:6px; margin-right:3%;padding-right: 4%;text-align: right;
border-radius: 16px; background-color: #eeeeee;}



/*고객센터 공지사항 */

.td_list.not{padding-left :4px; background-color:#ffffff; border: 1px solid #dddddd; border-radius: 0px;
font-size:13px; border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.notc_tr{display:table; width:100%; height:48px; font-size:16px; font-weight:400;line-height:48px;}

.notc_tr.notc_num{width:10%; float:left; text-align: center; font-size:13px;}
.notc_tr.notc_num2{width:30%; float:left; text-align: left; padding-left: 12px; font-size:15px;}
.notc_tr.notc_num7{width:14%; float:left; text-align: center; font-size:13px;}
.notc_tr.notc_title{width:620px;font-weight:700; float:left; text-align: left; padding-left: 12px;}
.notc_tr.notc_title2{width:100%;font-weight:700; float:left; text-align: left; padding-left: 12px;}
.notc_tr.notc_title3{width:70%;font-weight:700; float:left; text-align: left; padding-left: 12px; font-size:14px;}
.notc_tr.notc_title4{width:68%;font-weight:700; float:left; font-size:14px;text-align: left; padding-left: 12px;}
.notc_tr.notc_title4m{width:78%;font-weight:700; float:left; font-size:14px;text-align: left; padding-left: 12px;
line-height:24px;}
.notc_tr.notc_title5{width:62%;font-weight:700; float:left; font-size:14px;text-align: left; padding-left: 6px;}
.notc_sch{display:table;width:100%; font-size:13px; height:46px; line-height:44px; text-align:center;
border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;
background-color: #bb0000; color:#ffffff;}
.notc_tr_mmm{display:table; width:100%; 
    border : 1px solid #e7e7e7;
    border-radius: 4px; 
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top:10px;}

.notc_tr_m{display:table; width:100%; font-size:14px; font-weight:700;line-height:24px; float:left;
    text-align: left; padding: 8px; padding-left: 12px; padding-right:8px;} 

.notc_tr.notc_date{width:50%; float:left;text-align: left; font-size:14px;color:#c69898;
    padding-left: 12px;}
.notc_tr.notc_date2{width:25%; float:left;text-align: right; font-size:13px;color:#c69898;
    padding-right: 8px; height:20px; line-height: 20px; margin-top:12px;}
.notc_tr.notc_conf{width:22%; float:left;text-align: center; font-size:14px; color:#5bc0de; font-weight:700; }

.notc_date2c{font-size:12px;color:#c69898; font-weight: 400;}
.notc_line1{width:100%;height:4px;background-color:#aaaaaa;}
.notc_line2{width:100%;height:2px;background-color:#dddddd;}
.notc_line2m{width:100%;height:1px;background-color:#dddddd;}
.notc_impo{color:#cc3354; font-weight: 700;}

.notc_tr.notc_conf.notc_impo{color:#f24059;}

.notc_b_tr{display:table;  height:30px; margin:0 auto; margin-top:30px;}
.notc_b_num{float:left;width:40px;height:30px;line-height:30px; text-align: center;}
.notc_bold{font-weight:700;}
.notc_b_num.notcbut{width:50px; font-size:12px; padding:0px;}

.notc_tr.notc_thr{display:inline-block; padding:12px; /*height:460px; */
    font-size:14px; line-height: 30px;}

.notc_b_tr2{width:227px; height:50px;float:right;}

.notc_trtr_bg{background-color: #ffffff;}
.notc_gotoli{width: 170px; height:40px; margin-top:20px; padding:0px; line-height:36px; float: left;}
.notc_gotoli3{display:table;width: 240px; height:40px;padding:0px; line-height:36px; margin : 0 auto; margin-top:20px;}
.notc_gotoli2{width: 170px; height:40px; margin: 0 auto; margin-top:0px; padding:0px; line-height:36px; }

.notc_addfile{float:left; width:30px; height:30px; border-radius: 15px; line-height:29px; padding:0px;
    font-size:18px; font-weight:700; margin-top: 4px; text-align: center; padding-left: 2px;}


/*고객센터 1대1문의 */

.writesth_2{width:100%; height:200px;
/*    border:1px; border-style:solid;border-color:#cccccc;*/padding:6px;}

.notc_noque{width:100%; line-height:30px; text-align:center;}

.top_topp{width:100%;height:60px; line-height:60px;text-align:center; color:#ffffff;
    background-image: linear-gradient(to bottom, #000000 0%, #444444 100%);}


.mfmf_box{width:100%; height:40px; padding-left:6px; background-color: #ffffff;
    border: 1px solid #dddddd;}


/*FAQ */

.bl_qq{width:100%; padding:8px; background-color: #ffffff; border-radius: 8px; border-left: 4px solid #bb0000;
    font-size:14px; line-height:24px;}
.bl_aa{width:100%; padding:8px; background-color: #dfdfdf; border-radius: 8px; border-left: 4px solid #d1d1d1;

font-size:14px; line-height:24px;}




.faq_icon{display:table;width:90px;height:90px;margin-top:30px; margin : 0 auto;}


html .toggle-tertiary .toggle label {
    color: #809a9b;
    border-left-color: #809a9b;
    border-right-color: #809a9b;
}

html .toggle-tertiary .toggle.active > label {
    background-color: #F4F4F4;
    border-color: #809a9b;
    color: #809a9b;
}

html .toggle-tertiary.toggle-simple .toggle > label:after {
    background-color: #809a9b;
}


.toggle.active > label {
    background: #F4F4F4;}

.toggle.active > label:before {
    border: 6px solid transparent;
    border-top-color: #809a9b;
    margin-top: -3px;
    right: 10px;
}
.toggle > label {
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    background: #F4F4F4;
    border-left: 3px solid #CCC;
    border-radius: 5px;
    color: #CCC;
    display: block;
    font-size: 1.1em;
    min-height: 20px;
    padding: 12px 20px 12px 10px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
}

ion-modal-view .bar .title {
    color:#ffffff;
}