html, body {
    height: 100%;
}

a {
    color: #0c1532;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #2c2c32;
    /*text-decoration: none;*/
}

.btn-primary {
    color: white;
    background-color: #0083FF;
    border-color: #0083FF;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #379dfc;
    border-color: #379dfc;
}

.btn-xl {
    color: white;
    background-color: #0083FF;
    border-color: #0083FF;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: white;
    background-color: #379dfc;
    border-color: #379dfc;
}


.container {
    width: 1100px;
}
#mainNav {
	background-color: white;
	padding: 10px 0;
    border-bottom: 0px solid #ddd;
}

#mainNav a{
	color: #555;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: none;
}

#mainNav .header-right {margin-top: 8px;height: 30px;}
#mainNav .profile-info {margin-right: 8px;}

#mainNav .open a {
    color: #555;
}

#mainNav .profile-info span {
    color: #555;
    text-transform: none;
}

#mainNav .open .profile-info span {
    color: #555;
    text-transform: none;
}

#mainNav .custom-caret {color: #555}
#mainNav .open .custom-caret {color: #555}


#mainNav .userbox .open .dropdown-menu a {
    color: #555;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #0083FF;
    border-radius: 3%;
}

.navbar-brand {
	padding: 0px 15px 0px 15px;
    margin-top: -8px;

}


header {
    background-image: url('/images/star.jpg');
    /*background-color: rgba(104,174,224, 0.30);*/
    /*background-blend-mode: overlay;*/
}
/*
background-color: rgba(0,0,0, 0.50);
*/
/*background-color: hsla(0,0%,100%,0.70);*/


header .intro-text {
    padding-top: 180px;
    padding-bottom: 70px;
    text-align: left;
}

header .intro-text .intro-in {
    font-size: 16px;
    font-weight: 300;
    width: 600px;
    padding-left: 15px;
    margin-bottom: 20px;
    line-height: 25px;
    /*white-space: pre;*/
}


/*@media (min-width: 768px) {*/
    header .intro-text .intro-lead-in {
        font-size: 28px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: 20px;
    }

    header .intro-text .intro-heading {
        font-size: 35px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 0px;
    }

/*}*/

.ui-view-class {
    min-height: 100%;
    margin-top: -180px;
    padding-top: 180px;
    padding-bottom: 173px;
    margin-bottom: -173px;
}

.intro-messengers img {
    margin-right: 10px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


/* footer */
/**
 * Footer 3 stylesheet  
 * */
.footer-3 {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #13ADEA;          /*#003b59 #595657 #5CB7E7 #0088CC*/
  color: white;
}
.footer-3.v-center,
.footer-3 .v-center {
  display: table;
  width: 100%;
}
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-3.v-center,
  .footer-3 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer-3.v-center.row,
  .footer-3 .v-center.row {
    display: block;
    width: auto;
  }
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
  .footer-3.v-center.row > *,
  .footer-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.footer-3 .row.v-center {
  padding-left: 0;
  padding-right: 0;
}
.footer-3 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-3 a:hover,
.footer-3 a:focus,
.footer-3 a.active {
  color: #bdc3c7;
}
.footer-3 h1,
.footer-3 .h1,
.footer-3 h2,
.footer-3 .h2,
.footer-3 h3,
.footer-3 .h3,
.footer-3 h4,
.footer-3 .h4,
.footer-3 h5,
.footer-3 .h5,
.footer-3 h6,
.footer-3 .h6 {
  color: white;
}
.footer-3 .brand {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.footer-3 .additional-links a {
  color: #bdc3c7;
  text-decoration: underline;
}
.footer-3 .additional-links a:hover,
.footer-3 .additional-links a:focus,
.footer-3 .additional-links a.active {
  color: #ffffff;
}
.footer-3 h6 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  text-transform: none;
}
.footer-3 .address {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .footer-3 .row > [class*="col-sm-"] {
    margin-top: 30px;
  }
  .footer-3 .row > [class*="col-sm-"]:first-child {
    margin-top: 0;
  }
}

section {
  padding: 50px 0 50px 0;
}

.section-subheading {
    margin-bottom: 30px !important;
}
.single-feature {
  margin-bottom: 20px;
}

section .create {
    padding-top: 0px;
}

.feature-icon {
  vertical-align: top;
    margin-top: 10px;

}

.feature-text {
    display: inline-block;
}


.container .userbot {
    width: 620px;
    margin-top: -20px;
    margin-bottom: -80px;
}

.bot-list-header {
    width: 620px;
    padding: 0px;
    /*margin-left: -12px;*/
    margin: -15px -15px 20px -15px;
}

.bot-list-header .nav {display: inline-block;}
.bot-list-header .form-inline {float: right;}
.bot-list-header .nav a {
    color: #777;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-width: 1px;
    font-weight: 300;
}
.bot-list-header .nav li.active a{
    border-left-color: #555;
    border-right-color: #555;
    /*border-top-width: 1px;*/
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}


.bot-list-header .nav li a:hover{
    border-left-color: #555;
    border-right-color: #555;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.bot-list {
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding: 10px;*/
    width: 720px;
    /* padding: 10px; */
    /*background: white;*/
    /*border: 1px solid lightgray;*/
    /*border-radius: 10px;*/
}

.bot-list .thumbnail {
    border: 0px;
    background: none;
    margin-bottom: 0px;
}

.bot-list .thumbnail img {
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    height: 150px;
    display: inline-block;
    float: left;
    width: 30%;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.bot-list .caption{
    text-align: left;
    margin-left: 60px;
    padding-left: 30px;
    /*width: 70%;*/
}

.bot-list .col-md-3 {
    width: 50%;
    float: left;
}

.bot-list .col-md-3 {
    padding-right: 5px;
    padding-left: 5px;
    /*border-top: 1px solid #ccc;*/
}

.bot-list .col-md-3:first-child {
    padding-right: 5px;
    padding-left: 5px;
    border-top: none;
}

.bot-list .col-md-3:nth-child(2) {
    padding-right: 5px;
    padding-left: 5px;
    border-top: none;
}

.bot-list .bot-title {
    margin: 2px 0 7px 0;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #555;
}

.bot-list .bot-desc{
    height: 45px;
    line-height: 1.1;
    /*white-space: pre-line;*/

    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/

    color: #777;
    text-align: left;
}

.bot-list .bot-info {
    font-size: 13px;
    color: #666;
}
.bot-list .bot-info span {
    font-weight: bold;
    color: #337ab7;
}

.bot-list .bot-buttons {
    margin: 0px;
    display: inline-block;
}

.bot-list .bot-buttons a {
    padding: 3px 6px;
    font-size: 14px;
}

.bot-list .bot-info a {
    padding: 3px 6px;
    font-size: 14px;
}

.bot-content {
    margin-top: 20px;
    margin-bottom: 20px;
    /*padding: 10px;*/
    width: 720px;
    /* padding: 10px; */
    /*background: white;*/
    /*border: 1px solid lightgray;*/
    /*border-radius: 10px;*/
}


.bot-header {
    padding: 10px 20px 10px 20px;
    color: #777;
    font-size: 16px;
    margin-left: -12px;
    font-size: bold;
}

#botForm #name {
    width: 150px;
}

#botForm #question {
    width: 250px;
    display: inline;
}


#botForm #answer {
    width: 250px;
    display: inline;
}

.chat-container {
    background: url('/images/apple-iphone6-1.png');
    background-size: 360px;
    width: 360px;
    height: 670px;
    padding: 73px 18px 70px 19px;
    margin: auto; float: right;position: fixed;top: 90px;
    right: 10px;
    z-index: 100;
}

.chat-container-add {
    position: absolute;
    top: 1000px;
}

.chat-body {
    padding: 0px;
    background-color: white;
}

.chat-header {
    height: 34px;
    font-size: 17px;
    font-weight: 400;
    color: #444;
    background-color: white !important;
    text-align: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    padding-top: 5px;
}

.chat_main {
    height: 444px !important;
    padding: 10px 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-items .thumbnail {
    border-radius: 5px;
    margin-bottom: 0px;
    font-size: 13px;
}

.chat-items .caption {
    padding: 3px;
}

.chat-items h3 {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 13px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}

.chat-items p {
    font-size: 13px;
    line-height: 16px;
    height: 48px;
    overflow: hidden;
}


.chat-item-button {
    border-top: solid 1px #e5e5e5;
    text-align: center;
    margin: 0 -4px 0 -4px;
    padding: 5px 0 5px 0;

    /*height: 1px;*/
    /*margin: 9px 0;*/
    /*overflow: hidden;*/
    /*background-color: #e5e5e5;*/
}

.chat-item-button a {
    color: #379dfc;
}

.chat_main .item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    background-color: #fff;

    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 5px 0 5px;
    font-size: 16px;
}

.item-avatar {
    min-height: 72px;
    padding: 0px 22px 0px 67px;
}

.item-avatar-right{
    min-height: 72px;
    padding: 0px 22px 0px 16px;
    text-align: right;
}

.item-avatar img {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item-avatar .message-image {
    position: relative;
    top: 0;
    left: 0;
    max-width: 150px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    border-radius: initial;
}

.chat_main .item .bubble {
    position: relative;
    margin-bottom: 8px;
    padding: 0;
    font-size: 14px;

    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none;
    text-shadow: none;
}

.chat_main .item .bubble:before {
    border: 0;
}
.chat_main .item .bubble:after {
    border: 0;
}

.item-avatar .bubble .icon-tail {
    border-top: 7px solid #def5f8;
    position: absolute;
    top: 0;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-top-left-radius: 3px;
}

.icon-tail-me {
    position: absolute;
    top: 0;
    right: -5px;
    width: 0;
    height: 0;
    border-top: 8px solid #33c1d7;
    border-right: 8px solid transparent;
    border-top-right-radius: 3px;
}

.item .text-xs {
    font-size: 12px;
}

.item-avatar .m-r-sm {
    font-weight: 700;
    margin-right: 10px;
}
.item-avatar .bubble .content {
    background: #def5f8;
    color: #000;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 10px 0px 10px;
    font-size: 14px;
    line-height: 17px;
    white-space: normal;
    position: relative;
}

.item-avatar .bubble .content .content-text {
    padding: 0px 0px 10px 0px;
    white-space: pre-wrap;
}

.item-avatar-right .bubble .content {
    background: #33c1d7;
    color: white;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    white-space: normal;
    position: relative;
}

.bubble-button {
    border-top: solid 1px #ccc;
    text-align: center;
    margin: 0 -10px 0 -10px;
    padding: 7px 0 7px 0;
}

.bubble-button a {
    color: #337ab7;
}

.chat-footer .input-group {
    border-top: 1px solid rgb(221, 221, 221);
}

.chat-footer input{
    box-shadow: none;
    border-radius: 0px;
    border: 0px;
}

.chat-footer button {
    font-weight: 300;
    border-radius: 0px;
    background: white;
}

.smart_reply {
    display: block !important;
    clear: both;
    text-align: center;
    position: absolute;
    bottom: 115px;
    z-index: 100;

    width: 313px;
    margin-left: 5px;
    margin-right: 5px;
}

.smart_reply .owl-stage-outer{
    text-align: center;
}

.smart_reply .owl-stage {
    display: inline-block;
}

.smart_reply .owl-stage {
    display: inline-block;
}

.smart_reply .item {
    display: inline;
    margin: 0px;
}

.smart_reply button {
    background-color: white;
    color: #379dfc;
    border: solid 1px #379dfc;
    border-radius: 20px;
    padding: 0 5px 0 5px;
    margin: 0px;
}


section#botlist {
    background: white;
    padding-top: 20px;
}

section#screenshot {
    background: white;
}

#editBot .panel-body {
    min-height: 500px;
}


.sign-in-facebook {
    background: url('/modules/users/client/img/buttons/facebook.png') #f2f2f2;
    background-position: -5px -5px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 50px;
    color: #000;
}

.sign-in-facebook:hover {
    background: url('/modules/users/client/img/buttons/facebook.png') #e0e0e0;
    background-position: -5px -5px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 50px;
    color: #000;
}


.sign-in-google {
    background: url('/modules/users/client/img/buttons/google.png') #f2f2f2;
    background-position: -5px -5px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 50px;
    color: #000;
}
.sign-in-google:hover {
    background: url('/modules/users/client/img/buttons/google.png') #e0e0e0;
    background-position: -5px -5px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 50px;
    color: #000;
}

.sign-in-kakao {
    background: url('/modules/users/client/img/buttons/kakao.png') #f2f2f2;
    background-position: -5px -5px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 50px;
    color: #000;
}

.sign-in-kakao:hover {
    background: url('/modules/users/client/img/buttons/kakao.png') #e0e0e0;
    background-position: -5px -5px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 50px;
    color: #000;
}

.well-sm {
    padding: 3px;
    border: 0px;
    background-color: transparent;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .05);
}

.well-sm .form-group {
    border-bottom: 0px;
}

#editor_holder h3 {
    font-size: 18px;
}

.well-sm h3{
    font-size: 18px;
}

.pull-right {
    margin-left: 5px;
}