@charset "utf-8";
/*chatroom이 접혔을 경우*/
@media screen and (max-width: 1840px){
	section#mainBoard #workspaceOR{
		width: 82%;
	}
	
}
@media screen and (max-width: 1800px){
	section#mainBoard #workspaceOR{
		width: 81.5%;
	}
	section#mainBoard #logroomOR {
        width: 86.1%;
	}
}
@media screen and (max-width: 1770px){
	section#mainBoard #workspaceOR {
        width: 81.3%;
	}
	section#mainBoard #logroomOR {
    width: 86.1%;
	}
}
@media screen and (max-width: 1700px){
	section#mainBoard #workspaceOR{
		width: 80.5%;
	}
}
@media screen and (max-width: 1480px){
	section#mainBoard #workspaceOR {
		width: 77.7%;
	}
	section#mainBoard #logroomOR{
		width: 83.3%;
	}
	section#mainBoard #logroomOR .logTab{
		padding: 6px 25px;
	}
}
@media screen and (max-width: 1024px){
	section#mainBoard #workspaceOR{
		left: 72px;
		width: 86%;
	}
	section#mainBoard #logroomOR{
		left: 72px;
		width: 93%;
	}
	section#mainBoard #logroomOR .logTab{
		padding: 6px 15px;
	}
}
@media screen and (max-width: 945px){
	section#mainBoard #workspaceOR{
		width: 84.5%;
	}
	
}
@media screen and (max-width: 875px){
	section#mainBoard #workspaceOR{
		width: 83.4%;
	}
	
	.tb01 tbody td {
		padding: 10px 0 10px 22px;
	}
}
@media screen and (max-width: 815px){
	section#mainBoard #workspaceOR {
        width: 77.8%;
    }
	
	section#mainBoard #logroomOR .logTab{
		padding: 6px 12px;
	}
}
@media screen and (max-width: 800px){
	section#mainBoard #workspaceOR {
    width: 76%;
    }
}
@media screen and (max-width: 796px){
	section#mainBoard #logroomOR .logsystem {
    padding-right: 16px;
}
}
@media screen and (max-width: 767px){
	section#mainBoard #workspaceOR{
		width: 72%;
	}
}
@media screen and (max-width: 710px){
	section#mainBoard #workspaceOR{
		width: 65.6%;
	}
	section#mainBoard #logroomOR .logTab{
		padding: 6px 15px;
	}
}
@media screen and (max-width: 500px){
	section#mainBoard #logroomOR{
		display: none;
	}
	section#mainBoard .chatroom{
		display: none;
	}
	section#mainBoard #workspaceOR{
		width: 41%;
	}
}

@media screen and (max-width: 414px){
	section#mainBoard #workspaceOR {
    width: 31.5%;
	}
}
@media screen and (max-width: 375px){
	section#mainBoard #workspaceOR {
    width: 27.5%;
}
}