@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 1840px){
	section#mainBoard #workspace{
		width: 64.5%;
	}
	section#mainBoard #logroom{
		width: 66.5%;
	}
}
@media screen and (max-width: 1800px){
	section#mainBoard #workspace{
		width: 64%;
	}
	section#mainBoard #logroom {
    width: 66%;
	}
}
@media screen and (max-width: 1770px){
	section#mainBoard #workspace {
    width: 63.2%;
	}
	section#mainBoard #logroom {
    width: 65.1%;
	}
}
@media screen and (max-width: 1700px){
	section#mainBoard #workspace{
		width: 62%;
	}
}
@media screen and (max-width: 1480px){
	section#mainBoard #workspace {
		width: 56%;
	}
	section#mainBoard #logroom{
		width: 57.8%;
	}
	section#mainBoard #logroom .logTab{
		padding: 6px 25px;
	}
}
@media screen and (max-width: 1024px){
	section#mainBoard #workspace{
		left: 72px;
		width: 54%;
	}
	section#mainBoard #logroom{
		left: 72px;
		width: 57%;
	}
	section#mainBoard #logroom .logTab{
		padding: 6px 15px;
	}
	section#topMenu>div .header{
		width:72px;
		padding: 0;
		height:64px;
	}
	section#topMenu>div .header img{
		display: none;
	}
	section#topMenu>div .Menuclose{
		display: none;
	}
	section#topMenu>nav .BotDetail{
		display: none;
	}
	section#topMenu>div .header .logo_min{
		background:#363636 url(../images/hamburger.png) no-repeat 24px;
		width: 72px;
		height: 60px;
	}
	section#topMenu>nav .nameBotS img{
		display: none;
	}
	section#topMenu>nav .nameBotS{
		background:#424242 url(../images/modify_fold.png) no-repeat 46px;
		width: 72px;
		height: 32px;
		right: 22px;
	}
	section#topMenu>nav{
   		width: 72px;
	}
	section#topMenu>nav span{
		display: none;
	}
	section#topMenu>nav .close{
		display: none;
	}
	section#topMenu>nav ul li{
		padding: 0px 24px;
	}
	section#topMenu>nav ul li.sublist{
		padding: 0px 24px;
	}
	section#topMenu>nav ul li.select_list{
		padding: 0px 24px;
	}
	section#topMenu>nav ul li.menulist{
		padding: 0px 24px;
	}
}
@media screen and (max-width: 945px){
	section#mainBoard #workspace{
		width: 50%;
	}
	
}
@media screen and (max-width: 875px){
	section#mainBoard #workspace{
		width: 47%;
	}
	section#mainBoard .chatroom .inputBox{
		left: 505px;
	}
	.tb01 tbody td {
		padding: 10px 0 10px 22px;
	}
}
@media screen and (max-width: 815px){
	section#mainBoard #workspace {
    width: 46%;
    }
	
	section#mainBoard #logroom .logTab{
		padding: 6px 12px;
	}
}
@media screen and (max-width: 800px){
	section#topMenu>div .system{
		position: absolute;
		top: 17px;
		right: 20px;
		white-space: nowrap;
	}
	section#topMenu>div .notify{
		margin-right: 20px;
	}
	section#topMenu>div .login{
		margin:0;
	}
	section#topMenu>div .StoreBtn{
		margin-right:15px;
	}
	section#mainBoard #workspace {
    width: 45.5%;
    }
}
@media screen and (max-width: 796px){
	section#mainBoard #logroom .logsystem {
    right: 12px;
}
}
@media screen and (max-width: 767px){
	section#mainBoard #logroom{
		width: 420px;
	}
}
@media screen and (max-width: 710px){
	section#mainBoard #logroom .logTab{
		padding: 6px 15px;
	}
}
@media screen and (max-width: 500px){
	section#mainBoard #logroom{
		display: none;
	}
	section#mainBoard .chatroom{
		display: none;
	}
	section#mainBoard #worksheet{
		width: 100%;
	}
	body{
		overflow-x: hidden;
	}
	
	section#topMenu>div .notify{
		margin-right: 20px;
	}
	section#topMenu>div .login{
		margin:0;
	}
	section#topMenu>div .current{
		font-size: 16px;
		line-height: 1.24;
	}
	section#topMenu>div .adminN{
		
   	 margin: 20px 15px 14px 19px;
		
	}
}
@media screen and (max-width: 420px){
	section#topMenu>div .system{
		position: absolute;
		top: 17px;
		right: 20px;
		white-space: nowrap;
		left: 260px;
		text-align: right;
	}
	section#topMenu>div .StoreBtn{
		background:#fff url(../images/cart.png) no-repeat 0px;
		width: 20px;
    	height: 29px;
		margin-right: 16px;
		
}
	section#topMenu>div .StoreBtn span{
		display: none;
	}
}
@media screen and (max-width: 414px){
	section#mainBoard #workspace {
    width: 35.5%;
	}
}
@media screen and (max-width: 375px){
	section#mainBoard #workspace {
    width: 31.5%;
}
}
@media screen and (max-height: 640px){
	section#topMenu>nav .bottom_list{
		top: 419px;
		overflow: hidden;
	}
}