<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title></title>
</head>

<body>
    <p>Hello, this is Playchat management team.</p>
    <p>This email is to let you know that you have been approved for Playchat Closed Beta Service.</p>
    <p>If you sign in with the information you have signed-up, you can develop your own playchat chatbot for free. see, <a href="https://playchat.ai/signin">Playchat.ai</a></p>
    <p>If you have any questions, please contact us at +82-02-858-5683.</p>
    <p>Thank you.</p>
</body>

</html>
