.graph-background
{
    min-width: 800px;
    height: 100%;
    overflow: auto;
    padding: 0 14px;

    position: relative;
}

.graph-controller
{
    height: 40px;
    padding-top: 15px;

    display: flex;
}

.graph-controller > div
{
    flex: 1;
}

.graph-controller > div form, .graph-zoom-controller
{
    display: inline-block;
    vertical-align: middle;
}

.graph-controller > div > *
{
    vertical-align: middle;
}

.graph-zoom-controller
{
    margin-left: 10px;
}

.graph-zoom-controller > div
{
    display: inline-table;
    border-radius: 0;
}

.graph-zoom-controller a
{
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    cursor: auto;
    border: 1px solid #e8e8e8;
    width: 35px;
    border-radius: inherit;
    background: #f8f8f8;
    height: 35px;
}

.graph-zoom-controller a.graph-zoom-in
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
}

.graph-zoom-in::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #7e7e7e;
    height: 40%;
    width: 2px;
}

.graph-zoom-in::after
{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    height: 2px;
    width: 41%;
    background: #7e7e7e;
    top: 50%;
    left: 50%;
}

.graph-zoom-controller a.graph-zoom-out
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.graph-zoom-out::after
{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    height: 2px;
    width: 41%;
    background: #7e7e7e;
    top: 50%;
    left: 50%;
}

.graph-controller select
{
    border-radius: 6px;
    border: 1px solid #d7d7d7;

    width: 100px;
    height: 35px;
    outline: 0;
}

.graph-controller .refresh
{
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    width: 35px;
    background: #f8f8f8;
    height: 35px;
    border-radius: 6px;

    margin: 0 10px;

    text-align: left;
}

.graph-controller .refresh img
{
    padding-top: 4px;
    padding-left: 5px;
}

.graph-controller .save
{
    display: inline-block;

    width: 90px;
    height: 35px;
    text-align: center;
    background: #038eda;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 4px;
    vertical-align: top;

    color: #fff;
    letter-spacing: 0.3px;
}

.graph-body
{
    position: absolute;
    top: 120px;
    left: 14px;
    right: 14px;
    bottom: 0;

    overflow: auto;
}

#graphDialogCanvas
{
    position: relative;
    white-space: nowrap;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    display: inline-block;
}

#graphDialogCanvas svg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: inline-block;

    z-index: -1;
}

.graph-dialog-item
{
    position: relative;

    width: 200px;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
    margin-right: 30px;

    box-sizing: border-box;

    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);
}

.graph-dialog-children
{
    display: inline-block;
    vertical-align: top;
}

.graph-dialog-item.selected
{
    border-color: #bfe3f6;
}

.graph-dialog .arrow
{
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-dialog-header
{
    white-space: normal;

    position: relative;
    background: #f8f8f8;
    border-bottom: 1px solid #d7d7d7;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.graph-dialog-item.selected .graph-dialog-header
{
    background: #bfe3f6;
    border-bottom: 0;
}

.graph-dialog-header span
{
    color: #7e7e7e;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 45px 10px 20px;
    box-sizing: border-box;

    display: inline-block;

    width: 100%;

    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
}

.graph-dialog-item.selected .graph-dialog-header span
{
    color: #038eda;
}

.graph-dialog-header .dialog-more
{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    width: 24px;

    background-image: url(../imgs/more-black.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.graph-dialog-item.selected .graph-dialog-header .dialog-more
{
    background-image: url(../imgs/more-blue.png);
}

.graph-dialog-input, .graph-dialog-buttons
{
    position: relative;
    height: 43px;
    text-align: center;
    line-height: 43px;
}

.graph-dialog-input
{
    height: auto;
    max-height: 80px;
    overflow: hidden;
}

.graph-dialog-input
{
    white-space: normal;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px;
}

.graph-dialog-item.selected .graph-dialog-input
{
    border-color: #b1dbf4;
}

.graph-dialog-input span, .graph-dialog-output span, .graph-dialog-output div
{
    color: #656565;
    font-weight: 100;
    font-size: 11px;
}

.graph-dialog-output
{
    position: relative;
    border-bottom: 1px solid #d7d7d7;
    min-height: 45px;
    max-height: 200px;
    cursor: pointer;
    text-align: center;

    padding: 10px;

    white-space: normal;

    overflow: hidden;

    font-size: 12px;
}

.graph-dialog-item.selected .graph-dialog-output
{
    border-color: #b1dbf4;
}

.graph-fold
{
    position: absolute;

    top: 76px;
    right: -29px;
    z-index: 1000;

    width: 22px;
    height: 22px;
    cursor: pointer;
    text-align: center;
    border-radius: 100%;
    background: #d7d7d7 url(../imgs/fold.png) no-repeat 80% 50%;

    transition: all 0.5s;

    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.graph-dialog-item.selected .graph-fold
{
    background-color: #038eda;
}

.graph-dialog .graph-fold:hover, .graph-dialog .graph-fold.folded
{
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.graph-dialog .graph-fold:hover
{
    background-color: #038eda;
}

.graph-body .plus
{
    width: 40px;
    height: 38px;
    cursor: pointer;
    text-align: center;

    border: 1px solid #d7d7d7;
    border-radius: 6px;
    outline: 0;
    background: #f8f8f8;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;

    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.graph-body .plus:hover
{
    background: #dedede;
}

.graph-body .plus::before
{
    font-size: 24px;
    line-height: 34px;
    content: '+';
    color: #7e7e7e;
}

.graph-body .plus.selected
{
    background: white;
    border-color: #038eda;
}

.graph-body .plus.selected:hover
{
    background: #00a6ff;
}

.dialog-menu
{
    position: absolute;

    top: 0;
    left: 0;

    width: 150px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);

    background-color: white;

    z-index: 1000;
}

.dialog-menu .menu-title
{
    color: #b5b5b5;
}

.dialog-menu > li
{
}

.dialog-menu > li a
{
    display: inline-block;
    width: 100%;
    height: 100%;

    padding: 5px;
    box-sizing: border-box;
    border-radius: 6px;

    cursor: pointer;
}

.dialog-menu > li:hover a
{
    background-color: #038eda;

    color: white;
}

.dialog-menu > li:first-child
{
    text-align: center;
}

.dialog-menu .dialog-menu-divider
{
    height: 1px;
    background-color: #ebebeb;
    margin: 12px 0;
}

.graph-dialog-input-span
{
    font-size: 12px;
}

.graph-dialog-input-span::before
{
    /*content: attr(data-key);*/
    /*border-radius: 100%;*/
    /*font-size: 10px;*/
    /*padding: 1px 6px;*/
    /*color: #fff;*/
    /*background-color: #5cb85c;*/
    /*margin-right: 5px;*/
}

#graphDialogEditor
{
    position: absolute;

    top: 0;
    bottom: 0;
    /*right: -400px;*/
    right: -368px;
    width: 368px;

    background: #f8f8f8;
    border-left: #e7e7e7 solid 1px;

    box-sizing: border-box;
    z-index: 1000;
    transition: right 0.5s;
}

.dialog-editor
{
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

.dialog-editor-body
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 64px;
    overflow: auto;
}

.dialog-editor-row:first-child
{
    margin-top: 0;
}

.dialog-editor-row
{
    position: relative;
    margin: 30px 0;
}

.topicswitch2
{
    width: 95%;
    display: block;
    text-align: right;
    margin-top: 20px;
}

.tooltip
{
    padding: 3px 20px 5px;
    background: #424242;
    border-radius: 6px;
    position: absolute;
    right: 2px;
    top: -19px;
    z-index: 100001;
}

.tooltip .tail {
    border-top: 8px solid #424242;
    position: absolute;
    right: 47px;
    top: 25px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.minislide {
    width: 68px;
    height: 20px;
    background: #e0e0e0;
    margin: 0px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.minislide.on {
    background: #038eda;
}

.minislide:before {
    content: 'ON';
    color: #fff;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 10px/25px Arial, sans-serif;
    font-weight: bold;
    line-height: 21px;
}

.minislide:after {
    content: 'OFF';
    color: #fff;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 10px/25px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    line-height: 21px;
}

.minislide>label {
    display: block;
    width: 30px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fff;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.minislide>input[type=checkbox] {
    visibility: hidden;
}

.minislide input[type=checkbox]:checked + label {
    left: 35px;
}

.dialog-editor-subject
{
    font-size: 15px;
    font-weight: 600;
    padding-left: 18px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.dialog-editor-input
{
    width: 98%;

    padding: 8px 18px 9px !important;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #d7d7d7;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dialog-editor-input-box
{
    position: relative;
    margin: 0 12px;
}

.dialog-editor-input-textarea
{
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    background: #fff;
    padding: 5px;
    position: relative;
}

.dialog-editor-input-textarea::after
{
    content: attr(data-nlu);
    font-size: 11px;
    font-weight: 100;
    color: #363636;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.dialog-editor-input-item
{
    font-size: 13px;
    font-weight: 500;
    background: #eef4ff;
    border-radius: 18px;
    padding: 4px 11px 6px;
    line-height: 32px;
}

.dialog-editor-input-item > img
{
    vertical-align: middle;
    padding-left: 6px;
}

.dialog-editor-input-box .and
{
    font-size: 12px;
    font-weight: 100;
    color: #58bcf3;
    margin: 0 3px 0 6px;
}

.dialog-editor-input-box .or
{
    font-size: 12px;
    font-weight: 100;
    color: #58bcf3;
    text-align: center;
    margin: 8px 0;
}

.dialog-editor-input-box input + .delete-img
{
    position: absolute;
    top: 7px;
    right: 12px;
}

.dialog-editor-input-wrapper
{
    position: relative;
    margin-top: 10px;
}

.dialog-editor-input-wrapper:first-child
{
    margin-top: 0;
}

.dialog-editor-output-box
{
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    background: #fff;
    margin: 8px auto 0;
    width: 90%;
}

.dialog-editor-output-box-row
{
    padding: 7px 0;
    border-top: 1px solid #d7d7d7;
    text-align: center;
}

.dialog-editor-output-box-row .blue-label
{
    color: #038eda;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}

.dialog-editor-output-box-row .blue-label + img
{
    vertical-align: middle;
}

.dialog-editor-output-box-row > p
{
    font-size: 12px;
    margin-bottom: 5px;
}

.dialog-editor-output-box-row .dialog-editor-output-box-input-wrapper
{
    padding-left: 10px;
}

.dialog-editor-output-box-row > input
{
    padding: 8px 18px 9px 8px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #d7d7d7;
    margin-left: 9px;
    width: 258px;
}

.dialog-editor-output-box-row select
{
    width: 100%;
    border-radius: 6px;
    border-color: #d7d7d7;
    height: 34px;
}

.dialog-editor-footer
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 15px;

    text-align: center;
}

.dialog-editor-footer > button
{
    width: 90px;
    height: 34px;
    border-radius: 4px;
    vertical-align: top;
    padding: 0;
}

.dialog-editor-footer > button:first-child
{
    margin-right: 15px;
}

.dialog-editor-plus-wrapper
{
    position: relative;
    top: -10px;

    text-align: center;
}

.dialog-editor-plus
{
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    background: #768ea2;
    position: absolute;
    bottom: -20px;
    left: 161px;
}

.dialog-editor-plus::before
{
    font-size: 25px;
    line-height: 18px;
    content: '+';
    color: #fff;
}

.dialog-editor-output-text
{
    margin: 10px;
    padding: 10px;
    outline: 0;
}

.dialog-editor-output-text:focus
{
    box-shadow: 0 0 2pt 2pt #d3efff;
}

.dialog-editor-action-type
{
    width: 30%;
    margin-right: 16px;
}

.dialog-editor-action-dialog
{
    width: 63%;
}

.dialog-editor-output-box .dialog-editor-output-box-row
{
    padding-left: 10px;
    padding-right: 10px;
}

.dialog-editor-output-box .dialog-editor-output-box-row:first-child
{
    border-top: 0;
}

.dialog-editor-output-box .dialog-editor-output-box-row > input
{
    width: 240px;
}

.dialog-editor-output-box .dialog-editor-output-box-row.button
{
    cursor: pointer;
}

.dialog-editor-output-box .dialog-editor-output-box-row.button:hover
{
    background-color: #f7fbff;
}

.dialog-editor-output-add
{
    position: absolute;
    top: -3px;
    right: 17px;
}
