#graphDialogEditor, .dialog-editor-creation-panel
{
    position: absolute;

    top: 0;
    bottom: 0;
    right: -368px;
    width: 368px;

    background: #f8f8f8;
    border-left: #e7e7e7 solid 1px;

    box-sizing: border-box;
    z-index: 1002;
    transition: right 0.5s;
}

.dialog-editor-creation-panel
{
}

.dialog-editor
{
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
}

.dialog-editor-body
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 64px;
    overflow: auto;
}

.dialog-editor-row:first-child
{
    margin-top: 0;
}

.dialog-editor-row
{
    position: relative;
    margin: 30px 0;
}

.topicswitch2
{
    width: 95%;
    display: block;
    text-align: right;
    margin-top: 20px;
}

.tooltip
{
    padding: 3px 20px 5px;
    background: #424242;
    border-radius: 6px;
    position: absolute;
    right: 2px;
    top: -19px;
    z-index: 100001;
}

.tooltip .tail {
    border-top: 8px solid #424242;
    position: absolute;
    right: 47px;
    top: 25px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.minislide {
    width: 68px;
    height: 20px;
    background: #e0e0e0;
    margin: 0px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.minislide.on {
    background: #038eda;
}

.minislide:before {
    content: 'ON';
    color: #fff;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 10px/25px Arial, sans-serif;
    font-weight: bold;
    line-height: 21px;
}

.minislide:after {
    content: 'OFF';
    color: #fff;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 10px/25px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
    line-height: 21px;
}

.minislide>label {
    display: block;
    width: 30px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 3px;
    z-index: 1;
    background: #fff;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.minislide>input[type=checkbox] {
    visibility: hidden;
}

.minislide input[type=checkbox]:checked + label {
    left: 35px;
}

.dialog-editor-subject
{
    font-size: 15px;
    font-weight: 600;
    padding-left: 18px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.dialog-editor-subject input[type="radio"]
{
    margin-right: 5px;
}

.dialog-editor-input
{
    width: 100%;
    height: 40px;

    padding: 5px 45px 5px 10px !important;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #d7d7d7;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dialog-editor-input + .editable
{
    position: absolute;
    top: 15px;
    right: 45px;
    left: 10px;
    bottom: 1px;
    outline: 0;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    cursor: text;
    height: 40px;
    padding: 12px 2px;
    box-sizing: border-box;
}

.dialog-editor-input + .editable > span
{
    outline: 0;
    padding: 3px;
}

/*.dialog-editor-input + .editable > span::before*/
/*{*/
    /*content: '&';*/
    /*font-size: 10px;*/
    /*position: relative;*/
    /*top: 0;*/
    /*left: -14px;*/
/*}*/

/*.dialog-editor-input + .editable > span:first-child*/
/*{*/
    /*margin-left: 0 !important;*/
/*}*/

/*.dialog-editor-input + .editable > span:first-child::before*/
/*{*/
    /*content: '';*/
/*}*/

.dialog-editor-input + .editable > span.text
{
    background-color: #e0e0e0;
}

.dialog-editor-input + .editable > span:first-child
{
    margin-left: 0px;
}

.dialog-editor-input + .editable > span.intent
{
    background-color: #f0f8fd;
    color: #2c94ca;
}

.dialog-editor-input + .editable > span.entities
{
    background-color: #f0f8fd;
    color: #289c22;
}

.dialog-editor-input + .editable > span.types
{
    background-color: #f0f8fd;
    color: #206fff;
}

.dialog-editor-input + .editable > span.regexp
{
    background-color: #f0f8fd;
    color: #ff4d7e;
}

.dialog-editor-input + .editable > span.if
{
    background-color: #f0f8fd;
    color: #de9300;
}

.dialog-editor-input + .editable br
{
    display:none;

}

.dialog-editor-input + .editable *
{
    display:inline;
    white-space:nowrap;
}

.dialog-editor-input-list-box
{
    /*position: absolute;*/
    /*width: 100%;*/
    /*z-index: 1;*/
    /*box-sizing: border-box;*/

    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
}

.dialog-editor-input-list-box-title
{
    border-bottom: 1px solid #ddd;
    background-color: #efefef;
    padding: 5px 10px 6px 10px;
    font-size: 11px;
    color: #676767;
    text-align: center;
    font-weight: bold;
}

.dialog-editor-input-list-box-title + ul
{
    overflow: auto;
    max-height: 500px;
}

.dialog-editor-input-list-box-title + ul > li
{
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
}

.dialog-editor-input-list-box-title + ul > li.selected
{
    background-color: #bfe3f6;
}

.dialog-editor-input-list-box-new-button
{
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #ddd;
}

.dialog-editor-input-list-box-new-button:hover
{
    font-weight: bold;
}

.dialog-editor-input-plus
{
    position: absolute;
    right: 10px;
    top: 21px;
    bottom: 0;
    height: 100%;
    font-size: 24px;
    color: #aaa;

    cursor: pointer;

    transition: color 0.2s;
}

.dialog-editor-input-plus:hover
{
    color: #677677;
}

.dialog-editor-input-box
{
    position: relative;
    margin: 0 12px;
}

.dialog-editor-input-description
{
    font-size: 12px;
}

.dialog-editor-input-textarea
{
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    background: #fff;
    padding: 5px;
    position: relative;
    word-wrap: break-word;
}

.dialog-editor-input-textarea::after
{
    content: attr(data-nlu);
    font-size: 11px;
    font-weight: 100;
    color: #363636;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.dialog-editor-input-item
{
    font-size: 13px;
    font-weight: 500;
    background: #eef4ff ;
    border-radius: 18px;
    padding: 4px 11px 6px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    display: inline-block;
}

.dialog-editor-input-item > input
{
    background: transparent !important;
}

.dialog-editor-input-item > img
{
    vertical-align: middle;
    padding-left: 6px;
}

.dialog-editor-input-box input + .delete-img
{
    position: absolute;
    top: 6px;
    right: 24px;
}

.dialog-editor-input-wrapper
{
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.dialog-editor-input-wrapper:first-child
{
    margin-top: 0;
}

.dialog-editor-input-wrapper::before
{
    content: 'or';
    font-size: 11px;
    top: -5px;
    position: relative;
}

.dialog-editor-input-wrapper:first-child::before
{
    content: '';
}

.dialog-editor-input-wrapper .delete-img
{
    position: absolute;
    right: 24px;
    top: 23px;
}

.dialog-editor-input-wrapper .editable
{
    text-align: left;
}

.dialog-editor-output-box
{
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    background: #fff;
    margin: 8px auto 0;
    width: 93%;
    position: relative;
}

.dialog-editor-output-box[disabled]
{
    background: #ddd;
}

.dialog-editor-output-box-row
{
    padding: 7px 0;
    border-top: 1px solid #d7d7d7;
    text-align: center;
}

.dialog-editor-output-box-row .blue-label
{
    color: #038eda;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}

.dialog-editor-output-box-row .blue-label + img
{
    vertical-align: middle;
}

.dialog-editor-output-box-row > p
{
    font-size: 12px;
    margin-bottom: 5px;
}

.dialog-editor-output-box-row .dialog-editor-output-box-input-wrapper
{
    padding-left: 10px;
}

.dialog-editor-output-box-row > input
{
    padding: 8px 18px 9px 8px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #d7d7d7;
    margin-left: 9px;
    width: 258px;
}

.dialog-editor-output-box-row select
{
    width: 100%;
    border-radius: 6px;
    border-color: #d7d7d7;
    height: 34px;
}

.dialog-editor-output-box-row:last-child
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dialog-editor-footer
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 15px;

    text-align: center;
}

.dialog-editor-footer > button
{
    width: 90px;
    height: 34px;
    border-radius: 4px;
    vertical-align: top;
    padding: 0;
}

.dialog-editor-footer > button:first-child
{
    margin-right: 15px;
}

.dialog-editor-plus-wrapper
{
    position: relative;
    top: -10px;

    text-align: center;
}

.dialog-editor-plus
{
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    background: #768ea2;
    position: absolute;
    bottom: -22px;
    left: 161px;
}

.dialog-editor-plus::before
{
    font-size: 25px;
    line-height: 18px;
    content: '+';
    color: #fff;
}

.dialog-editor-output-text
{
    /*padding: 10px;*/
}

.dialog-editor-output-text > textarea
{
    width: 100%;
    font-size: 14px;
    padding: 15px;
    padding-right: 25px;
    outline: 0;
    border: 0;

    min-height: 100px;

    transition: height 0.5s;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 6px;

    resize: none;
}

.dialog-editor-row .select-wrapper
{
    width: 90%;
    font-size: 12px;
}

.dialog-editor-row .select-wrapper select
{
    margin: 0;
}

.dialog-editor-row .select-wrapper+div
{
    width: 100%;
    font-size: 12px;
}

.dialog-editor-row .select-wrapper::after
{
    top: 9px;
}

.dialog-editor-row .select-wrapper+div
{
    box-sizing: border-box;
    margin-top: 5px;
}

.dialog-editor-row .select-wrapper+div.disabled
{
    height: 0;
    border: 0;
    margin: 0;
    overflow: hidden;
}

.dialog-editor-row .select-wrapper+div.disabled input
{
    padding: 0;
}

.dialog-editor-row .select-wrapper+div > input
{
    cursor: text;
}

.dialog-editor-action-type
{
    margin-right: 16px;
}

.dialog-editor-action-dialog
{
    width: 63%;
}

.dialog-editor-output-box .dialog-editor-output-box-row
{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.dialog-editor-output-box > .dialog-editor-output-box-row:first-child
{
    border-top: 0;
}

.dialog-editor-output-box .dialog-editor-output-box-row > input
{
    width: 240px;
    height: 20px;
}

.dialog-editor-output-box .dialog-editor-output-box-row.button
{
    cursor: pointer;
}

.dialog-editor-output-box .dialog-editor-output-box-row.button:hover
{
    background-color: #f7fbff;
}

.dialog-editor-output-box[disabled] .dialog-editor-output-box-row.button:hover
{
    background-color: transparent;
}

.dialog-editor-output-add
{
    position: absolute;
    top: -3px;
    right: 17px;
}

.dialog-editor-output-image-box
{
    position: relative;
}

.dialog-editor-output-image-box > div
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: none;
    align-items: center;
    justify-content: center;
}

.dialog-editor-output-image-box:hover > div
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-editor-output-image-box:hover p
{
    color: white;
    font-weight: 600;
}

.dialog-editor-output-image-box:hover img:last-child
{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.output-button-name, .output-button-url
{
    text-align: center;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.output-button-name
{
    color: #038eda;
    font-weight: 600;
    height: 32px;
}

.output-button-name[disabled]
{
    background-color: #ddd;
}

.output-button-url[disabled]
{
    background-color: #ddd;
}

.output-button-name::placeholder, .output-button-name::-webkit-input-placeholder, .output-button-name::-moz-placeholder, .output-button-name:-ms-input-placeholder, .output-button-name:-moz-placeholder
{
    color: #038eda;
    font-weight: 600;
    text-align: center;
}

.output-button-url
{
    font-size: 12px;
}

.dialog-editor-action-type[disabled], .dialog-editor-action-dialog[disabled]
{
    background-color: #ddd;
}

.dialog-editor-output-file
{
    position: absolute;
    right: 10000px;
    opacity: 0;

    width: 0;

    box-sizing: border-box;

    margin: 0;
}

.dialog-editor-select-input
{
    width: 63%;
    display: inline-block;
    border-radius: 6px;
    vertical-align: middle;
}

.dialog-editor-select-input[disabled]
{
    background-color: #ddd;
    user-select: none;
}

.dialog-editor-select-input > input
{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ddd;

    padding: 5px 20px 5px 10px;

    cursor: text;
}

.dialog-editor-select-input > input:focus
{
    cursor: text;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dialog-editor-select-options
{
    border: 1px solid #ddd;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    background-color: white;

    max-height: 200px;
    overflow: auto;

    text-align: left;
}

.dialog-editor-select-options > li
{
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.dialog-editor-select-options > li > img
{
    width: 15px;
    height: 15px;
    vertical-align: middle;
    float: right;
    opacity: 0.5;
}

.dialog-editor-select-options > li > img:hover
{
    opacity: 1;
}

.dialog-editor-select-input > input + .dialog-editor-select-options
{
    display: none;
    position: relative;
    z-index: 1000;
}

.dialog-editor-select-input > input:focus + .dialog-editor-select-options
{
    display: block;
}

.dialog-editor-select-input > input:focus + .dialog-editor-select-options > li:hover, .dialog-editor-select-input > input:focus + .dialog-editor-select-options > li.selected
{
    background-color: #efefef;
}

.dialog-editor-input-nlu
{
    font-size: 11px;
    margin-top: 5px;
}

.dialog-editor-input-key
{
    display: inline-block;
    min-width: 20px;
}

.dialog-editor-input-key:focus
{
    outline: 0;
}

.dialog-editor-input-key[data-key="types"]::before
{
    content: '$';
}

.dialog-editor-input-key[data-key="intent"]::before
{
    content: '#';
}

.dialog-editor-advanced-input-placeholder
{
    color: #757575;
    font-size: 10px;
    padding: 3px 0;
    text-align: center;

    position: absolute;
    top: -30px;
    right: 0;
    z-index: 1000;
}

.dialog-editor-input-list-modal
{
    position: absolute;

    margin: 0;
    padding: 0;

    background-color: white;

    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);

    border: 1px solid #ddd;
    border-radius: 6px;

    z-index: 1005;

    max-height: 400px;
    overflow: auto;
}

.dialog-editor-input-list-modal > li
{
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border-top: 1px solid #ddd;
}

.dialog-editor-input-list-modal > li:first-child
{
    border-top: 0;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.dialog-editor-input-list-modal > li:last-child
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.dialog-editor-input-list-modal > li:hover, .dialog-editor-input-list-modal > li.selected
{
    background-color: #337ab7;
    color: white;
}



.dialog-editor-output-functions
{
    position: absolute;
    right: 5px;
    top: 10px;
    text-align: right;
    /*padding: 5px;*/
}

.dialog-editor-output-if, .dialog-editor-output-action-row
{
    padding: 14px;
}

.dialog-editor-output-label
{
    font-size: 12px;
    margin-bottom: 4px;
}

.dialog-editor-output-input
{
    padding: 8px 18px 9px 8px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #d7d7d7;

    box-sizing: border-box;
}

.dialog-editor-output-input.if
{
    width: 85%;
    margin-left: 10px;
}

.dialog-editor-output-input.options
{
    width: 100%;
    height: 50px;
    transition: height 0.5s;
}

.dialog-editor-output-input.options:focus
{
    height: 200px;
    outline: 1px solid #d3efff;
}

.dialog-graph-task-add-logic
{
    margin: 10px 17px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.dialog-graph-task-add-logic .CodeMirror
{
    border-radius: 6px;
}



.dialog-graph-instant-add-header
{
    height: 64px;
    background: #f8f8f8;
}

.dialog-graph-instant-add-close
{
    position: absolute;
    top: 18px;
    left: 16px;
}

.dialog-graph-instant-add-header p
{
    font-size: 17px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
}

.dialog-graph-instant-add-content
{
    position: relative;
}

.dialog-graph-instant-add-subject
{
    font-size: 15px;
    font-weight: 600;
    padding-left: 18px;
    padding-top: 2px;
    display: inline-block;
}

.dialog-graph-instant-add-input
{
    padding: 8px 18px 9px !important;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #d7d7d7;
    margin: 10px 16px;
    width: 295px;
}

.dialog-graph-instant-add-input-wrapper
{
    position: relative;
}

.dialog-graph-instant-add-input-wrapper .image-button
{
    position: absolute;
    right: 25px;
    bottom: 17px;
}

.dialog-graph-instant-add-input-plus
{
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    background: #768ea2;
    position: relative;
    top: -20px;

    display: inline-block;

    cursor: pointer;
}

.dialog-graph-instant-add-input-plus::before
{
    font-size: 25px;
    line-height: 18px;
    content: '+';
    color: #fff;
}

.dialog-graph-task-add-logic p
{
    font-size: 13px;

    margin-left: 29px;
    border-left: 1px solid #ddd;
    padding: 4px;
}

.dialog-editor-output-buttons-arrow
{
    position: absolute;
    left: 25px;
    opacity: 0.7;
    cursor: pointer;
    display: none;

    transition: opacity 0.7s;
}

.dialog-editor-output-box-row.button-group:hover .dialog-editor-output-buttons-arrow
{
    display: inline-block;
}

.dialog-editor-output-buttons-arrow:hover
{
    opacity: 1;
}
