.graph-background
{
    min-width: 800px;
    height: 100%;
    overflow: auto;

    position: relative;
}

.graph-controller
{
    height: 40px;
    padding-top: 15px;

    display: flex;
}

.graph-controller > div
{
    flex: 1;
}

.graph-controller > div form, .graph-zoom-controller
{
    display: inline-block;
    vertical-align: middle;
}

.graph-controller > div > *
{
    vertical-align: middle;
}

.graph-zoom-controller
{
    margin-left: 10px;
}

.graph-zoom-controller > div
{
    display: inline-table;
    border-radius: 0;
}

.graph-zoom-controller a
{
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    cursor: auto;
    border: 1px solid #e8e8e8;
    width: 35px;
    border-radius: inherit;
    background: #f8f8f8;
    height: 35px;
}

.graph-zoom-controller a.graph-zoom-in
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
}

.graph-zoom-in::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #7e7e7e;
    height: 40%;
    width: 2px;
}

.graph-zoom-in::after
{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    height: 2px;
    width: 41%;
    background: #7e7e7e;
    top: 50%;
    left: 50%;
}

.graph-zoom-controller a.graph-zoom-out
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.graph-zoom-out::after
{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    height: 2px;
    width: 41%;
    background: #7e7e7e;
    top: 50%;
    left: 50%;
}

.graph-controller select
{
    border-radius: 6px;
    border: 1px solid #d7d7d7;

    width: 100px;
    height: 35px;
    outline: 0;
}

.graph-controller .refresh
{
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    width: 35px;
    background: #f8f8f8;
    height: 35px;
    border-radius: 6px;

    margin: 0 10px;

    text-align: left;
}

.graph-controller .refresh img
{
    padding-top: 4px;
    padding-left: 5px;
}

.graph-controller .save
{
    display: inline-block;

    width: 90px;
    height: 35px;
    text-align: center;
    background: #038eda;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 4px;
    vertical-align: top;

    color: #fff;
    letter-spacing: 0.3px;
}

.graph-body
{
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: auto;
}

#graphDialogCanvas
{
    position: relative;
    white-space: nowrap;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    display: inline-block;
}

#graphDialogCanvas svg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: inline-block;

    z-index: -1;
}

.graph-dialog-item
{
    position: relative;

    width: 200px;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
    margin-right: 30px;

    box-sizing: border-box;

    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);
}

.graph-dialog-children
{
    display: inline-block;
    vertical-align: top;
}

.graph-dialog-item.selected
{
    border-color: #bfe3f6;
}

.graph-dialog .arrow
{
    position: absolute;
    top: 0;
    right: 3px;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-dialog-header
{
    white-space: normal;

    position: relative;
    background: #f8f8f8;
    border-bottom: 1px solid #d7d7d7;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.graph-dialog-item.selected .graph-dialog-header
{
    background: #bfe3f6;
    border-bottom: 0;
}

.graph-dialog-header span
{
    color: #7e7e7e;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 45px 10px 20px;
    box-sizing: border-box;

    display: inline-block;

    width: 100%;

    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
}

.graph-dialog-item.selected .graph-dialog-header span
{
    color: #038eda;
}

.graph-dialog-header .dialog-more
{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    width: 24px;

    background-image: url(../imgs/more-black.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.graph-dialog-item.selected .graph-dialog-header .dialog-more
{
    background-image: url(../imgs/more-blue.png);
}

.graph-dialog-input, .graph-dialog-buttons
{
    position: relative;
    height: 43px;
    text-align: center;
    line-height: 43px;
}

.graph-dialog-input
{
    height: auto;
    max-height: 80px;
    overflow: hidden;
}

.graph-dialog-input
{
    white-space: normal;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px;
}

.graph-dialog-item.selected .graph-dialog-input
{
    border-color: #b1dbf4;
}

.graph-dialog-input span, .graph-dialog-output span, .graph-dialog-output div
{
    color: #656565;
    font-weight: 100;
    font-size: 11px;
}

.graph-dialog-output
{
    position: relative;
    border-bottom: 1px solid #d7d7d7;
    min-height: 45px;
    max-height: 200px;
    cursor: pointer;
    text-align: center;

    padding: 10px;

    white-space: normal;

    overflow: hidden;

    font-size: 12px;
}

.graph-dialog-item.selected .graph-dialog-output
{
    border-color: #b1dbf4;
}

.graph-fold
{
    position: absolute;

    top: 76px;
    right: -29px;
    z-index: 1000;

    width: 22px;
    height: 22px;
    cursor: pointer;
    text-align: center;
    border-radius: 100%;
    background: #d7d7d7 url(../imgs/fold.png) no-repeat 80% 50%;

    transition: all 0.5s;

    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.graph-dialog-item.selected .graph-fold
{
    background-color: #038eda;
}

.graph-dialog .graph-fold:hover, .graph-dialog .graph-fold.folded
{
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.graph-dialog .graph-fold:hover
{
    background-color: #038eda;
}

.graph-body .plus
{
    width: 40px;
    height: 38px;
    cursor: pointer;
    text-align: center;

    border: 1px solid #d7d7d7;
    border-radius: 6px;
    outline: 0;
    background: #f8f8f8;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;

    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);

    cursor: pointer;
}

.graph-body .plus:hover
{
    background: #dedede;
}

.graph-body .plus::before
{
    font-size: 24px;
    line-height: 34px;
    content: '+';
    color: #7e7e7e;
}

.graph-body .plus.selected
{
    background: white;
    border-color: #038eda;
}

.graph-body .plus.selected:hover
{
    background: #00a6ff;
}

.dialog-menu
{
    position: absolute;

    top: 0;
    left: 0;

    width: 150px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);

    background-color: white;

    z-index: 1000;
}

.dialog-menu .menu-title
{
    color: #b5b5b5;
}

.dialog-menu > li
{
}

.dialog-menu > li a
{
    display: inline-block;
    width: 100%;
    height: 100%;

    padding: 5px;
    box-sizing: border-box;
    border-radius: 6px;

    cursor: pointer;
}

.dialog-menu > li:hover a
{
    background-color: #038eda;

    color: white;
}

.dialog-menu > li:first-child
{
    text-align: center;
}

.dialog-menu .dialog-menu-divider
{
    height: 1px;
    background-color: #ebebeb;
    margin: 12px 0;
}

.graph-dialog-input-span
{
    font-size: 12px;
}

.graph-dialog-input-span::before
{
    /*content: attr(data-key);*/
    /*border-radius: 100%;*/
    /*font-size: 10px;*/
    /*padding: 1px 6px;*/
    /*color: #fff;*/
    /*background-color: #5cb85c;*/
    /*margin-right: 5px;*/
}
