<ion-view view-title="비밀번호 재설정">
  <ion-content ng-controller="PasswordController">
        <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)"
              novalidate autocomplete="off">
          <div class="list list-inset">
            <label class="item item-input form-group">
              <input type="email" id="email" name="email"
                     ng-model="credentials.email"
                     placeholder="찾고자하는 E-mail을 입력해주세요" required>
            </label>
            <div ng-messages="forgotPasswordForm.email.$error" ng-show="forgotPasswordForm.email.$error && submitted" role="alert">
              <p class="help-block error-text c_red" ng-message="required"><b>이메일을 입력해 주세요.</b></p>
              <p class="help-block error-text c_red" ng-message="email"><b>올바른 이메일 형식이 아니에요</b></p>
            </div>
            <button type="submit" class="button button-block button-outline button-positive"><b>재설정 E-mail 보내기</b></button>
          </div>
        </form>
  </ion-content>
</ion-view>
