<ion-view view-title="비밀번호 재설정">
  <ion-content ng-controller="PasswordController">
      <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" novalidate autocomplete="off">
        <div class="list list-inset">
          <label class="item item-input form-group">
            <input type="password" id="newPassword" name="newPassword"
                   ng-model="passwordDetails.newPassword"
                   placeholder="새로운 비밀번호를 입력하세요."
                   equals="{{passwordDetails.verifyPassword}}"
                   required>
          </label>
          <div ng-messages="resetPasswordForm.newPassword.$error" ng-show="resetPasswordForm.newPassword.$error && submitted" role="alert">
              <p class="help-block error-text c_red" ng-message="required"><b>새로운 비밀번호를 입력해 주세요.</b></p>
          </div>

          <label class="item item-input form-group">
            <input type="password" id="verifyPassword" name="verifyPassword"
                     ng-model="passwordDetails.verifyPassword"
                     placeholder="비밀번호를 한 번 더 입력하세요."
                     equals="{{passwordDetails.newPassword}}" required>
          </label>
          <div ng-messages="resetPasswordForm.verifyPassword.$error" ng-show="resetPasswordForm.verifyPassword.$error && submitted" role="alert">
            <p class="help-block error-text c_red" ng-message="required" ><b>비밀번호를 한 번 더 입력하세요.</b>
            </p>
            <p class="help-block error-text c_red" ng-message="equals"><b>비밀번호가 일치하지 않습니다.</b></p>
          </div>
          <div class="text-center form-group">
            <button type="submit" class="button button-block button-outline button-positive">
              비밀번호 재설정
            </button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
