<section>
  <header class="page-header" style="z-index: 0 !important;">
    <h2>권한별 메뉴 관리</h2>

    <div class="right-wrapper pull-right">
      <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
    </div>
  </header>
  <div class="col-md-12">
    <div  class="col-md-12">
      <h4>Guest</h4>
      <div class="col-md-2" >대화하기</div>
      <div class="col-md-2" >자연어이해</div>
      <div class="col-md-2" >테스크관리</div>
      <div class="col-md-2" >챗봇관리</div>
      <div class="col-md-2" >대화관리</div>
      <div class="col-md-2" >온톨로지</div>
      <div class="col-md-2" >분석</div>
      <div class="col-md-2" >권한관리</div>
    </div>
    <div  class="col-md-12">
      <h4>User</h4>
      <div class="col-md-2" >대화하기</div>
      <div class="col-md-2" >자연어이해</div>
      <div class="col-md-2" >테스크관리</div>
      <div class="col-md-2" >챗봇관리</div>
      <div class="col-md-2" >대화관리</div>
      <div class="col-md-2" >온톨로지</div>
      <div class="col-md-2" >분석</div>
      <div class="col-md-2" >권한관리</div>
    </div>
    <div class="col-md-12">
      <h4>Enterprise</h4>
      <div class="col-md-2" >대화하기</div>
      <div class="col-md-2" >자연어이해</div>
      <div class="col-md-2" >테스크관리</div>
      <div class="col-md-2" >챗봇관리</div>
      <div class="col-md-2" >대화관리</div>
      <div class="col-md-2" >온톨로지</div>
      <div class="col-md-2" >분석</div>
      <div class="col-md-2" >권한관리</div>
    </div>
    <div class="col-md-12">
      <h4>Admin</h4>
      <div class="col-md-2" >대화하기</div>
      <div class="col-md-2" >자연어이해</div>
      <div class="col-md-2" >테스크관리</div>
      <div class="col-md-2" >챗봇관리</div>
      <div class="col-md-2" >대화관리</div>
      <div class="col-md-2" >온톨로지</div>
      <div class="col-md-2" >분석</div>
      <div class="col-md-2" >권한관리</div>
    </div>
  </div>
</section>
