<link href="/modules/playchat/side-menu/client/css/side-menu.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/side-menu/client/css/side-menu-responsive.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)" id="side-menu-responsive-css">

<div class="sidenav-header">
    <a class="logo-min" ng-click="toggleSideMenu($event);">
        <img src="/modules/playchat/side-menu/client/img/logo.png">
    </a>
    <a href="#" class="sidenav-close" ng-click="toggleSideMenu($event);"></a>
</div>

<div class="sidenav-bot-name">
    <span>TestBot</span>
    <a href="#" class="sidenav-bot-name-modify">
        <img src="/modules/playchat/side-menu/client/img/modify.png">
    </a>
    <a href="#" class="sidenav-bot-name-detail">
        <img src="/modules/playchat/side-menu/client/img/testbotDown.png">
    </a>
</div>

<ul class="menu-item-list">
    <li class="menu-item-group">
        <div class="menu-item open">
            <a href="#" ng-click="toggleMenuItem($event);">
                <img src="/modules/playchat/side-menu/client/img/develop.png">
                <span>Development</span>
            </a>
            <a href="#" class="close" ng-click="toggleMenuItem($event);"></a>
        </div>
        <ul class="sub-menu-item-group">
            <li class="sub-menu-item">
                <a href="#">
                    <img src="/modules/playchat/side-menu/client/img/learning.png">
                    <span>Learning</span>
                </a>
            </li>
            <li class="sub-menu-item">
                <a href="#">
                    <img src="/modules/playchat/side-menu/client/img/scenario.png">
                    <span>Scenario</span>
                </a>
            </li>
            <li class="sub-menu-item">
                <a href="#">
                    <img src="/modules/playchat/side-menu/client/img/entity.png">
                    <span>Entity</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item-group">
        <div class="menu-item">
            <a href="#" ng-click="toggleMenuItem($event);">
                <img src="/modules/playchat/side-menu/client/img/Managemant.png">
                <span>Managemant</span>
            </a>
            <a href="#" ng-click="toggleMenuItem($event);" class="close"></a>
        </div>
    </li>
    <li class="menu-item-group">
        <div class="menu-item">
            <a href="#" ng-click="toggleMenuItem($event);">
                <img src="/modules/playchat/side-menu/client/img/analysis.png">
                <span>Analysis</span>
            </a>
            <a href="#" class="close" ng-click="toggleMenuItem($event);"></a>
        </div>
    </li>
</ul>

<ul class="bottom-list">
    <li>
        <a href="#">
            <img src="/modules/playchat/side-menu/client/img/docs.png">
            <span>Docs</span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="/modules/playchat/side-menu/client/img/forum.png">
            <span>Forum</span>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="/modules/playchat/side-menu/client/img/support.png">
            <span>Support</span>
        </a>
    </li>
</ul>
