<style>
.logcontent
{
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    padding: 10px;
}

.logcontent > div > div
{
    padding: 5px 0;
}

#entitycontent, #intentcontent
{
    display: none;
}
</style>

<div id="logroom" ng-controller="LogAnalysisController">
    <table>
        <colgroup>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
        </colgroup>
        <thead>
            <tr>
                <th>사용자입력 분석</th>
                <th>인텐트 분석</th>
                <th>엔티티 분석</th>
                <th>태스크 로그</th>
                <th>
                        답변 분석
                    <div class="logsystem">
                        <a href="#" ng-click="toggleExpand();"><img src="modules/playchat/log-analysis/client/imgs/depart.png"></a>
                        <!--<a href="#" class="mr1"><img src="modules/playchat/log-analysis/client/imgs/expand.png"></a>-->
                        <a href="#" ng-click="close($event);"><img src="modules/playchat/log-analysis/client/imgs/logclose.png"></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div ng-show="userInput">
                        <div class="log-row">사용자 입력: {{ userInput.text }}</div>
                        <div class="log-row">자연어처리: {{ userInput.nlpText }}</div>
                        <div class="log-row">
                            <p>자연어 분석</p>
                            <ul>
                                <li ng-repeat="n in userInput.nlp">{{ n.text }} [품사: {{ n.pos }}]</li>
                            </ul>
                        </div>
                        <div class="log-row" ng-show="userInput.matchedIntent">일치 인텐트: {{ userInput.matchedIntent }}</div>
                        <div class="log-row" ng-show="userInput.matchedEntity">
                            <div>엔터티 분석</div>
                            <ul>
                                <li>@{{ userInput.matchedEntity.key }} - {{ userInput.matchedEntity.matchedName }}</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>
                    <div ng-show="userInput.intents && userInput.intents.length > 0">
                        <table style="width: 100%;">
                            <colgroup>
                                <col style="width: 75%;"/>
                                <col style="width: 25%;"/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>이름</th>
                                    <th>일치율</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="intent in userInput.intents">
                                    <td>{{ intent.intentName }}</td>
                                    <td style="text-align: center;">{{ intent.matchRate }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>
                    <div ng-repeat="(key, words) in userInput.entities">
                        <div>{{ key }}</div>
                        <ul>
                            <li ng-repeat="word in words">{{ word.name }}</li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div ng-show="taskLogs && taskLogs.length > 0">
                        <p ng-repeat="log in taskLogs track by $index">{{ log }}</p>
                    </div>
                </td>
                <td>
                    <div ng-show="target && output">
                        <table style="width: 100%;">
                            <colgroup>
                                <col style="width: 40%;"/>
                                <col style="width: 60%;"/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="target.card">
                                    <th>Dialog Id</th>
                                    <td>{{ target.card.id }}</td>
                                </tr>
                                <tr ng-if="target.card">
                                    <th>Dialog Name</th>
                                    <td>{{ target.card.name }}</td>
                                </tr>
                                <tr ng-if="!target.card && target.dialogset">
                                    <th>Dialogset Name</th>
                                    <td>{{ target.dialogset.title}}</td>
                                </tr>
                                <tr ng-if="!target.card && target.dialogset">
                                    <th>Matched Dialog</th>
                                    <td>{{ target.inputRaw[0] }}</td>
                                </tr>
                                <tr ng-show="target.matchRate">
                                    <th>MatchRate</th>
                                    <td>{{ target.matchRate }}%</td>
                                </tr>
                                <tr ng-show="target.requiredMatchRate">
                                    <th>Minimum MatchRate</th>
                                    <td>{{ target.requiredMatchRate }}%</td>
                                </tr>
                                <tr ng-if="output.kind == 'Action'">
                                    <th>Action 유형</th>
                                    <td>{{ output.type }}</td>
                                </tr>
                                <tr ng-if="output.kind == 'Action' && output.dialogId">
                                    <th>Action 대상</th>
                                    <td>[{{ output.dialogId }}] {{ output.dialogName }}</td>
                                </tr>
                                <tr ng-if="output.kind == 'Action' && output.options">
                                    <th>Options</th>
                                    <td>{{ JSON.stringify(output.options) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!--<div class="logHeader">-->
        <!--<div class="logTab select" ng-click="selectTab($event, '#logcontent');">-->
            <!--<a href="#">{{lan('LOG') }}</a>-->
        <!--</div>-->
        <!--<div class="logTab" ng-click="selectTab($event, '#entitycontent');">-->
            <!--<a href="#">{{lan('Entity analysis') }}</a>-->
        <!--</div>-->
        <!--<div class="logTab" ng-click="selectTab($event, '#intentcontent');">-->
            <!--<a href="#">{{lan('Intent analysis') }}</a>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="logcontent">-->
        <!--<div id="logcontent"></div>-->
        <!--<div id="entitycontent"></div>-->
        <!--<div id="intentcontent"></div>-->
    <!--</div>-->
</div>
