<div id="logroom">
    <div class="logHeader">
        <div class="logTab select">
            <a href="#" class="tab">LOG</a>
        </div>
        <div class="logTab">
            <a href="#" class="tab">ENTITY analysis</a>
        </div>
        <div class="logTab">
            <a href="#" class="tab">Intent analysis</a>
        </div>
        <div class="logsystem">
            <a href="#"><img src="modules/playchat/log-analysis/client/img/depart.png"></a>
            <a href="#" class="mr1"><img src="modules/playchat/log-analysis/client/img/expand.png"></a>
            <a href="#"><img src="modules/playchat/log-analysis/client/img/logclose.png"></a>
        </div>
    </div>
</div>
