<!-- start: header -->
<header id="header" class="header" ng-controller="HeaderController">
<!--<header id="header" class="header" ng-controller="HeaderController" style="z-index: 0">-->
  <div class="logo-container">
    <a href="/developer/bots" class="logo" style="margin-top: 5px;">
      <img src="/images/MONEYBRAIN_s.jpg" height="35" alt="MoneyBrain">
    </a>
    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <!-- start: search & user box -->
  <div class="header-right" ng-show="authentication && authentication.user">


    <span class="separator"></span>

    <div id="userbox" class="userbox" data-ng-show="currentBot">
      <a href="#" data-toggle="dropdown">
        <figure class="profile-picture">
          <img src="{{currentBot.imageFile?currentBot.imageFile:'/images/!logged-user.jpg'}}" alt="Joseph Doe" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />
        </figure>
        <div class="profile-info">
          <span class="name">{{currentBot.name}}</span>
          <!--<span class="role">{{}}</span>-->
        </div>

        <i class="fa custom-caret"></i>
      </a>

      <div class="dropdown-menu" >
        <ul class="list-unstyled">
          <li class="divider"></li>
          <li data-ng-repeat="bot in myBot" ng-click="changeBot(bot)">
            <a role="menuitem" tabindex="-1" >
              <figure class="profile-picture">
                <img src="{{bot.imageFile?bot.imageFile:'/images/!logged-user.jpg'}}" alt="Joseph Doe" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />
              </figure>
              <div class="profile-info">
                <span class="name">{{bot.name}}</span>
              </div>
            </a>
          </li>

          <!--<li>-->
          <!--<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a role="menuitem" tabindex="-1" href="/api/auth/signout" target="_self"><i class="fa fa-power-off"></i> Logout</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>

    <div id="userbox" class="userbox">
      <a href="#" data-toggle="dropdown">
        <figure class="profile-picture">
          <img src="/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />
        </figure>
        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
          <span class="name">{{authentication.user.displayName}}</span>
          <span class="role">{{authentication.user.roles[0]}}</span>
        </div>

        <i class="fa custom-caret"></i>
      </a>

      <div class="dropdown-menu" >
        <ul class="list-unstyled">
          <li class="divider"></li>
          <!--<li>-->
            <!--<a role="menuitem" tabindex="-1" href="pages-user-profile.html" ><i class="fa fa-user"></i> My Profile</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>-->
          <!--</li>-->
          <li>
            <!--<a role="menuitem" tabindex="-1" href="/api/auth/signout" target="_self"><i class="fa fa-power-off"></i> Logout</a>-->
            <a role="menuitem" tabindex="-1" ng-click="signout()" target="_self"><i class="fa fa-power-off"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end: search & user box -->
</header>
<!-- end: header -->
