<header>
    <div class="gnb_entry">
        <div class="header">
            <a class="logo_min" href="#">
                <img src="/modules/core/client/imgs/logo.png">
            </a>
        </div>
        <div class="system">
            <ul class="docs">
                <li>
                    <a href="#" class="mr20">
                        <img src="/modules/core/client/imgs/docs.png" class="mr5">
                        <span>Docs</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mr20">
                        <img src="/modules/core/client/imgs/forum.png" class="mr5">
                        <span>Forum</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/modules/core/client/imgs/support.png" class="mr5">
                        <span>Support</span>
                    </a>
                </li>
            </ul>
            <a class="notify_silver" href="#"></a>
            <a class="login_silver" href="#"></a>
        </div>
    </div>
</header>
