<header class="page-header">
  <h2>대화하기</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>

<section class="panel" ng-keyup="vm.onKeyPress($event.keyCode)">
  <!--<header class="panel-heading">-->
    <!--<h2 class="panel-title">&nbsp;</h2>-->
  <!--</header>-->

  <!--<div class="panel-body " style="background-color: #ddd;">-->

    <!--<div id="chat_main" class="chat_main">-->

    <!--</div>-->

  <!--</div>-->
  <!--<footer class="panel-footer" style="height: 34px;padding: 0 15px;">-->
    <!--<form name="chatForm" class="form-horizontal form-bordered" novalidate="novalidate"-->
          <!--ng-submit="vm.sendMsg()">-->
      <!--<div class="row">-->
        <!--<div class="input-group mb-md">-->
          <!--<input type="text" class="form-control" name="inputbox" id="inputbox"-->
                 <!--ng-model="vm.msg" />-->
          <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-primary btn-sm" type="submit">SEND</button>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</footer>-->

  <!--<br/>-->
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" id="initMsg" name="initMsg"
             ng-model="vm.initMsg"
             placeholder="시작 메세지"/>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button class="btn btn-default btn-sm" ng-click="vm.resetBot()">봇시작 (F5)</button>
      <button class="btn btn-default btn-sm" ng-click="vm.buildBot()">빌드 (F7)</button>
      <button class="btn btn-default btn-sm" ng-click="vm.clearLog()">로그초기화</button>
    </div>

    <!--<div class="col-md-4">-->
      <!--<div class="input-group mb-md">-->
        <!--<input type="text" class="form-control" id="selectBot" name="selectBot"-->
               <!--ng-model="vm.bot"-->
               <!--placeholder="봇 이름"/>-->
        <!--<span class="input-group-btn">-->
          <!--<button class="btn btn-success" type="button" ng-click="alert('test');vm.connectBot();">CONNECT</button>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->

  </div>

  <br/>
  <div class="row">
    <div class="col-md-12">
      <div  id="logDiv" ng-bind="vm.log" style="white-space:pre; line-height: 17px;  width: 100%; min-height: 70vh;padding-bottom: 30px;overflow: scroll" class="form-control"></div>
    </div>
  </div>

</section>

