<!--<header class="page-header" style="left: 0px!important;">-->
  <!--<h2>챗봇 리스트</h2>-->
  <!--<div class="right-wrapper pull-right">-->
    <!--<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>-->
  <!--</div>-->
<!--</header>-->
<section class="panel">
  <div style="height: 100vh;overflow: inherit">
    <ul style="display: flex;flex-wrap: wrap;list-style: none;padding: 20px;margin-bottom: 100px">
      <li style="width: 25%; padding: 8px;">
        <a href="#" data-ui-sref="bots.create">
          <div style="width: 100%; height: 255px;border: 3px dashed #b8c1c1">
            <section style="padding: 16px;height: 100%">
              <div class="text-center">
                <i class="fa fa-plus-square-o fa-5x"></i>
              </div>
              <div class="text-center">
                <h3>새로운 봇 만들기</h3>
              </div>
              <div class="text-center" style="padding-right: 15px;padding-left: 15px;">
                <h3>봇을 만들어보세요.<br> </h3>
              </div>
            </section>
          </div>
        </a>
      </li>
      <li style="width: 25%; padding: 8px; " data-ng-repeat="bot in myBot track by $index">
          <div style="width: 100%; height: 255px; background-color: white" id="botList">
            <section style="padding: 16px;height: 100%; cursor: pointer" id="botBorder" ng-click="selectBot(bot)">
              <div style="display: flex">
                <h3 style="flex: 1">{{bot.name}}</h3>
                <div class="btn-group" uib-dropdown is-open="status.isopen" ng-click="$event.stopPropagation()">
                  <button class="btn btn-default" id="dLabel" style="border: none; height: 100%" uib-dropdown-toggle>
                    <i class="fa fa-bars fa-lg"></i>
                  </button>
                  <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="dLabel" style="background-color: #ecedf0">
                    <li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" data-ui-sref="bot-auths.list"><a>챗봇권한 관리</a></li>
                    <li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" ng-click="openCreateModal(bot)"><a>챗봇정보 수정</a></li>
                    <!--<li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" ng-click="openCopyModal(bot)"><a>복제</a></li>-->
                    <li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" ng-click="openDeleteModal(bot)"><a>삭제</a></li>
                  </ul>
                </div>
              </div>
              <div style="margin-top: 20px;">
                <h5>{{bot.id}} ( 아이디 )</h5>
              </div>
              <div style="margin-top: 20px">
                <h5>{{bot.description}}</h5>
              </div>
              <div style="margin-top: 20px">
                <h5>{{bot.using ? "사용중" : "미사용" }}</h5>
              </div>
              <div style="margin-top: 20px">
                <h5>{{bot.created | date: 'yyyy-MM-dd'}}</h5>
              </div>
            </section>
          </div>
      </li>
    </ul>


    <ul style="display: flex;flex-wrap: wrap;list-style: none;padding: 20px;margin-bottom: 100px">
      <li style="width: 25%; padding: 8px; " data-ng-repeat="bot in sharedBots track by $index">
        <div style="width: 100%; height: 255px; background-color: white" id="botList">
          <section style="padding: 16px;height: 100%; cursor: pointer" id="botBorder" ng-click="selectSharedBot(bot)">
            <div style="display: flex">
              <h3 style="flex: 1">{{bot.name}}</h3>
              <div>공유</div>
              <!--<div class="btn-group" uib-dropdown is-open="status.isopen" ng-click="$event.stopPropagation()">-->
                <!--<button class="btn btn-default" id="dLabel" style="border: none; height: 100%" uib-dropdown-toggle>-->
                  <!--<i class="fa fa-bars fa-lg"></i>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="dLabel" style="background-color: #ecedf0">-->
                  <!--<li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" data-ui-sref="bot-auths.create"><a>챗봇권한 관리</a></li>-->
                  <!--<li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" ng-click="openCreateModal(bot)"><a>챗봇정보 수정</a></li>-->
                  <!--&lt;!&ndash;<li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" ng-click="openCopyModal(bot)"><a>복제</a></li>&ndash;&gt;-->
                  <!--<li role="menuitem" class="text-center" style="font-size: 15px;padding-top: 6px" ng-click="openDeleteModal(bot)"><a>삭제</a></li>-->
                <!--</ul>-->
              <!--</div>-->
            </div>
            <div style="margin-top: 20px;">
              <h5>{{bot.id}} ( 아이디 )</h5>
            </div>
            <div style="margin-top: 20px">
              <h5>{{bot.description}}</h5>
            </div>
            <div style="margin-top: 20px">
              <h5>{{bot.using ? "사용중" : "미사용" }}</h5>
            </div>
            <div style="margin-top: 20px">
              <h5>{{bot.created | date: 'yyyy-MM-dd'}}</h5>
            </div>
          </section>
        </div>
      </li>
    </ul>
  </div>
</section>
<style>
  #botBorder{
  }
  #botList:hover #botBorder{
    border: solid 3px;
  }
</style>
