<aside id="sidebar-left" class="sidebar-left" ng-controller="MenuController">

  <div class="sidebar-header">
    <div class="sidebar-title">

      <div id="userbox" class="userbox">
        <a href="#" data-toggle="dropdown">
          <figure class="profile-picture">
            <img src="{{currentBot.imageFile?currentBot.imageFile:'/images/!logged-user.jpg'}}" alt="Joseph Doe" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />
          </figure>
          <div class="profile-info">
            <span class="name">{{currentBot.name}}</span>
            <!--<span class="role">{{}}</span>-->
          </div>

          <i class="fa custom-caret"></i>
        </a>

        <div class="dropdown-menu" >
          <ul class="list-unstyled">
            <li class="divider"></li>
            <li data-ng-repeat="bot in myBot" ng-click="changeBot(bot)">
              <a role="menuitem" tabindex="-1" >
                <figure class="profile-picture">
                  <img src="{{bot.imageFile?bot.imageFile:'/images/!logged-user.jpg'}}" alt="Joseph Doe" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />
                </figure>
                <div class="profile-info">
                  <span class="name">{{bot.name}}</span>
                </div>
              </a>
            </li>

            <!--<li>-->
            <!--<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a role="menuitem" tabindex="-1" href="/api/auth/signout" target="_self"><i class="fa fa-power-off"></i> Logout</a>-->
            <!--</li>-->
          </ul>
        </div>
      </div>

      <!--Navigation-->
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
         data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <!--<li class="nav-active">-->
          <!--<a ui-sref="developer-home">-->
          <!--<i class="fa fa-comments-o" aria-hidden="true"></i>-->
          <!--<span>대화하기</span>-->
          <!--</a>-->
          <!--</li>-->

          <li class="nav-parent">
            <a>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span>챗봇 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a ui-sref="bots.list">
                  챗봇 목록
                </a>
              </li>
              <li>
                <a ui-sref="templates.list">
                  템플릿 관리
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-parent">
            <a>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span>자연어 이해</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a ui-sref="entitys.list">
                  엔터티(ENTITY)
                </a>
              </li>
              <li>
                <a ui-sref="intents.list">
                  인텐트(INTENT)
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-parent">
            <a>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span>테스크 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a>
                  공통 테스크 목록
                </a>
              </li>
              <li>
                <a ui-sref="tasks.list({listType: 'all'})">
                  테스크 목록
                </a>
              </li>
              <li>
                <a ui-sref="tasks.graph">
                  테스크 그래프
                </a>
              </li>
            </ul>
          </li>


          <!--<li class="nav-parent">-->
          <!--<a>-->
          <!--<i class="fa fa-table" aria-hidden="true"></i>-->
          <!--<span>지식DB 관리</span>-->
          <!--</a>-->
          <!--<ul class="nav nav-children">-->
          <!--<li>-->
          <!--<a ui-sref="dicts.list">-->
          <!--사전-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="dialogsets.concepts({kind: 'general'})">-->
          <!--일반개념-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="dialogsets.concepts({kind: 'faq'})">-->
          <!--개념-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="canonicals.list">-->
          <!--기본형-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="facts.list">-->
          <!--지식-->
          <!--</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</li>-->

          <li class="nav-parent">
            <a>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span>대화 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a ui-sref="dialogsets.list">
                  공통 Dialog
                </a>
              </li>
              <li>
                <a ui-sref="dialogsets.list({listType : 'public'})">
                  공통 DialogSet
                </a>
              </li>
              <li>
                <a ui-sref="dialogsets.list">
                  개별 Dialog
                </a>
              </li>
              <li>
                <a ui-sref="dialogsets.list({listType: 'all'})">
                  개별 DialogSet
                </a>
              </li>
              <li>
                <a>
                  대화 그래프
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-parent">
            <a>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span>지식/온톨로지</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a ui-sref="dialogsets.concepts({kind: 'general'})">
                  공통 컨셉
                </a>
              </li>
              <li>
                <a ui-sref="dialogsets.concepts({kind: 'faq'})">
                  개별 컨셉
                </a>
              </li>
              <li>
                <a ui-sref="facts.list">
                  공통 지식
                </a>
              </li>
              <li>
                <a ui-sref="dicts.list">
                  공통 사전
                </a>
              </li>
              <!--<li>-->
              <!--<a ui-sref="canonicals.list">-->
              <!--canonicals-->
              <!--</a>-->
              <!--</li>-->
              <li>
                <a>
                  공통 Corpus
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-active">
            <a ui-sref="bot-users.list">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>사용자 관리</span>
            </a>
          </li>

          <li class="nav-parent">
            <a>
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              <span>권한 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a ui-sref="admin.users">
                  유저 관리
                </a>
              </li>
              <li>
                <a ui-sref="admin.user-menu">
                  권한별 메뉴 관리
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-parent">
            <a>
              <i class="fa fa-align-left" aria-hidden="true"></i>
              <span>운영 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a ui-sref="analytics.dialog-failure">대화실패 분석</a>
              </li>
              <li>
                <a ui-sref="analytics.dialog-failure-maintenance.list">대화실패 유지보수</a>
              </li>
              <li>
                <a ui-sref="analytics.dialog-intent">대화 인테트 분석</a>
              </li>
              <li>
                <a ui-sref="analytics.manage-batch">배치 관리</a>
              </li>

            </ul>
          </li>

          <li class="nav-parent">
            <a ui-sref="analytics.dashboard">
              <i class="fa fa-align-left" aria-hidden="true"></i>
              <span>분석</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a ui-sref="analytics.dashboard">Dashboard</a>
              </li>
              <li>
                <a ui-sref="analytics.user-count">사용자수 분석</a>
              </li>
              <li>
                <a ui-sref="analytics.dialog-usage">대화별 사용량</a>
              </li>
              <li>
                <a ui-sref="analytics.dialog-success">문장 성공률</a>
              </li>
              <li>
                <a ui-sref="user-bots.context-analytics">Context 분석</a>
              </li>
              <li>
                <a ui-sref="user-bots.context-learning">Context 학습</a>
              </li>


              <!--
                                <li>
                                  <a ui-sref="analytics.session-success">대화(세션) 성공률</a>
                                </li>
              -->
            </ul>
          </li>


          <!--<li class="nav">-->
          <!--<a ui-sref="bot-users.list">-->
          <!--<i class="fa fa-users" aria-hidden="true"></i>-->
          <!--<span>친구 목록</span>-->
          <!--</a>-->
          <!--</li>-->

          <!--<li class="nav-parent">-->
          <!--<a>-->
          <!--<i class="fa fa-copy" aria-hidden="true"></i>-->
          <!--<span>대화 관리</span>-->
          <!--</a>-->
          <!--<ul class="nav nav-children">-->
          <!--<li>-->
          <!--<a ui-sref="dialogsets.list">-->
          <!--대화Set 관리-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a href="pages-signin.html">-->
          <!--테스크 관리-->
          <!--</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</li>-->


          <!--<li class="nav">-->
          <!--<a ui-sref="learnings.create">-->
          <!--<i class="fa fa-users" aria-hidden="true"></i>-->
          <!--<span>대화학습</span>-->
          <!--</a>-->
          <!--</li>-->

          <!--<li class="nav-parent">-->
          <!--<a>-->
          <!--<i class="fa fa-asterisk" aria-hidden="true"></i>-->
          <!--<span>연동 인터페이스</span>-->
          <!--</a>-->
          <!--<ul class="nav nav-children">-->
          <!--<li>-->
          <!--<a ui-sref="common-actions.list">-->
          <!--Common Action 관리-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="custom-actions.list">-->
          <!--Custom Action 관리-->
          <!--</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</li>-->

          <!--<li class="nav">-->
          <!--<a ui-sref="campaigns.list">-->
          <!--<i class="fa fa-calendar-o" aria-hidden="true"></i>-->
          <!--<span>캠페인 관리</span>-->
          <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-parent">-->
          <!--<a>-->
          <!--<i class="fa fa-paper-plane-o" aria-hidden="true"></i>-->
          <!--<span>메시지 발송</span>-->
          <!--</a>-->
          <!--<ul class="nav nav-children">-->
          <!--<li>-->
          <!--<a ui-sref="messages.send">-->
          <!--발송하기-->
          <!--</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="messages.list">-->
          <!--발송내역-->
          <!--</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</li>-->


          <!--<li class="nav-parent">-->
          <!--<a>-->
          <!--<i class="fa fa-align-left" aria-hidden="true"></i>-->
          <!--<span>분석도구</span>-->
          <!--</a>-->
          <!--<ul class="nav nav-children">-->
          <!--<li>-->
          <!--<a>사용자 대화 분석</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a>사용자 실패율 분석</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a>분석 최적화</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</li>-->

          <!--<li class="nav-parent" ng-show="false">-->
          <!--<a>-->
          <!--<i class="fa fa-align-left" aria-hidden="true"></i>-->
          <!--<span>배달봇</span>-->
          <!--</a>-->
          <!--<ul class="nav nav-children">-->
          <!--<li>-->
          <!--<a ui-sref="restaurants.list">음식점관리</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="franchises.list">프랜차이즈관리</a>-->
          <!--</li>-->
          <!--<li>-->
          <!--<a ui-sref="deliveryOrders.list">주문관리</a>-->
          <!--</li>-->
          <!--</ul>-->
          <!--</li>-->

          <!--<li class="nav">-->
          <!--<a ui-sref="convergences.list">-->
          <!--<i class="fa fa-plug" aria-hidden="true"></i>-->
          <!--<span>컨버젼스</span>-->
          <!--</a>-->
          <!--</li>-->

        </ul>
      </nav>


      <script>
        // Preserve Scroll Position
        if (typeof localStorage !== 'undefined') {
          if (localStorage.getItem('sidebar-left-position') !== null) {
            var initialPosition = localStorage.getItem('sidebar-left-position'),
              sidebarLeft = document.querySelector('#sidebar-left .nano-content');

            sidebarLeft.scrollTop = initialPosition;
          }
        }
      </script>

    </div>
  </div>

</aside>
