<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

  <div class="sidebar-header">
    <div class="sidebar-title">
      Navigation
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main">
          <li class="nav-active">
            <a href="index.html">
              <i class="fa fa-comment" aria-hidden="true"></i>
              <span>대화하기</span>
            </a>
          </li>
          <li class="nav-active">
            <a href="index.html">
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span>개발도구</span>
            </a>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-columns" aria-hidden="true"></i>
              <span>봇관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="layouts-default.html">
                  봇 관리
                </a>
              </li>
              <li>
                <a href="layouts-dark.html">
                  파일관리
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-copy" aria-hidden="true"></i>
              <span>주제/대화 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="pages-signup.html">
                  질의응답 관리
                </a>
              </li>
              <li>
                <a href="pages-signin.html">
                  테스크 관리
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-tasks" aria-hidden="true"></i>
              <span>대화 템플릿 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="ui-elements-typography.html">
                  템플릿 Base 관리
                </a>
              </li>
              <li>
                <a href="ui-elements-tabs.html">
                  사용자별 템플릿 관리
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-list-alt" aria-hidden="true"></i>
              <span>권한관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="forms-basic.html">
                  사용자 관리
                </a>
              </li>
              <li>
                <a href="forms-advanced.html">
                  사용자별 메뉴 관리
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-table" aria-hidden="true"></i>
              <span>지식DB관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="extra-changelog.html">
                  사전
                </a>
              </li>
              <li>
                <a href="extra-ajax-made-easy.html">
                  개념
                </a>
              </li>
              <li>
                <a href="extra-ajax-made-easy.html">
                  기본형
                </a>
              </li>
              <li>
                <a href="extra-ajax-made-easy.html">
                  지식
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-asterisk" aria-hidden="true"></i>
              <span>연동 인터페이스</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a href="extra-changelog.html">
                  Action 관리
                </a>
              </li>
              <li>
                <a href="extra-ajax-made-easy.html">
                  포맷 관리
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              <span>캠페인 관리</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a>캠페인 관리 </a>
              </li>
              <li>
                <a>발송하기</a>
              </li>
              <li>
                <a>발송내역</a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a>
              <i class="fa fa-align-left" aria-hidden="true"></i>
              <span>분석도구</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a>사용자 대화 분석</a>
              </li>
              <li>
                <a>사용자 실패율 분석</a>
              </li>
              <li>
                <a>분석 최적화</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>


      <script>
        // Preserve Scroll Position
        if (typeof localStorage !== 'undefined') {
          if (localStorage.getItem('sidebar-left-position') !== null) {
            var initialPosition = localStorage.getItem('sidebar-left-position'),
              sidebarLeft = document.querySelector('#sidebar-left .nano-content');

            sidebarLeft.scrollTop = initialPosition;
          }
        }
      </script>

    </div>
  </div>

</aside>
<!-- end: sidebar -->
