<section class="panel" ng-keyup="vm.onKeyPress($event.keyCode)"
         style="position: absolute; height: 200px;width: 250px;bottom: 50px;right:20px;">

    <div class="panel-body " style="padding: 0px; background-color: #ddd;">
        <div id="chat_main" class="chat_main" style="height: 200px">
        </div>
    </div>

    <footer class="panel-footer" style="height: 34px;padding: 0 15px;">
        <form name="chatForm" class="form-horizontal form-bordered" novalidate="novalidate"
              ng-submit="vm.sendMsg()">
            <div class="row">
                <div class="input-group mb-md">
                    <input type="text" class="form-control" name="inputbox" id="inputbox"
                           ng-model="vm.msg" />
                    <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="submit">SEND</button>
          </span>
                </div>
            </div>
        </form>
    </footer>
    <br/>


</section>


<!--<div style="position: absolute; height: 150px;width: 200px;background-color: black; color: white;">-->
    <!--원하시는 것을 말씀해주세요.-->
<!--</div>-->

<!--<iframe src="http://www.kfb.or.kr/info/product_bank.html?cate=1&S=FC" width="100%" height="100%" frameborder="0" border="0"/>-->
<iframe id="webframe" src="https://www.wooribank.com/" width="100%" height="100%" frameborder="0" border="0"/>

