<div id="dialog" class="modal-block " ng-cloak>
  <section class="panel">
    <div class="panel-body">
      <div class="modal-wrapper">
        <div class="modal-text">
          <p>{{message}}</p>
        </div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-md-12 text-right">
          <button id="dialogConfirm" class="btn btn-danger" ng-click="yes()">{{yesText}}</button>
          <button id="dialogCancel" class="btn btn-default" ng-click="no()">{{noText}}</button>
        </div>
      </div>
    </footer>
  </section>
</div>
