<ion-side-menus enable-menu-with-back-views="false" ng-controller="SideMenuController">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-potitive" style="display:table; height:130px;">
      <div class="sb_logo">
        <img src="/img/logo_big2.png" style="width: 150px; height: 40px;">
      </div>

      <button ng-show="!authentication.user" class="button button-light sb_login" menu-c<ion-side-menus enable-menu-with-back-views="false" ng-controller="SideMenuController">
      <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title="center">
          <ion-nav-back-button>
          </ion-nav-back-button>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left">
        <ion-header-bar class="bar-potitive" style="display:table; height:130px;">
          <div class="sb_logo">
            <img src="/img/logo_big2.png" style="width: 150px; height: 40px;">
          </div>

          <button ng-show="!authentication.user" class="button button-light sb_login" menu-close
                  ng-click="showSigninModal()" style="font-size:18px; color:#cc3354"><b>로그인</b></button>
          <button ng-show="!authentication.user" class="button button-light sb_login"
                  ng-click="onMenu('mobile.authentication.signup')" style="font-size:18px; color:#cc3354"><b>회원가입</b>
          </button>
          <div ng-show="authentication.user" class="sb_username mt10">{{authentication.user.email}}</div>
          <div ng-show="authentication.user" class="sb_username typpp"><span class="ion-android-person"></span>&nbsp;종합소득 연
            1억원 이상자
          </div>

          <!--       <button class="button button-positive">
                  <i class="icon ion-gear-a"></i>
                </button> -->
        </ion-header-bar>
        <ion-content style="background-color:#ffffff;">
          <ion-list>
            <div class="w100p" style="height:84px;"></div>
            <div class="tab_line"></div>
            <div class="w90p d_center">
              <div class="sb_menu_m " ng-click="onMenu('mobile.companies.list')">
                <div class="ion-pie-graph sb_icon"></div>
                투자하기
              </div>
              <div class="sb_menu_m" ng-click="onMenu('mobile.design.test24')">
                <div class="ion-information-circled sb_icon"></div>
                투자받기안내
              </div>
              <div class="sb_menu_m" ng-show="authentication.user" ng-click="onMenu('mobile.investments.my')">
                <div class="ion-ios-pulse sb_icon"></div>
                투자내역
              </div>
              <div class="sb_menu_m" ng-show="myInquirys" ng-click="onMenu('mobile.inquirys.my')">
                <div class="ion-funnel sb_icon"></div>
                발행내역
              </div>
              <div class="sb_menu_m grbt" ng-click="onMenu('mobile.notices.list')">
                <div class="ion-speakerphone sb_icon2"></div>
                공지사항
              </div>
              <div class="sb_menu_m grbt" ng-click="onMenu('mobile.faqs.list')">
                <div class="ion-ios-paper-outline sb_icon2"></div>
                FAQ
              </div>
              <div class="sb_menu_m grbt" ng-show="authentication.user" ng-click="onMenu('mobile.asks.list')">
                <div class="ion-android-contacts sb_icon2"></div>
                1대1문의
              </div>
              <div class="sb_menu_m grbt" ng-show="authentication.user"
                   ng-click="onMenu('mobile.settings.profile')">
                <div class="ion-happy-outline sb_icon2"></div>
                회원정보
              </div>
              <div class="sb_menu_m grbt" menu-close ng-show="authentication.user" ng-click="logout()">
                <div class="ion-log-out sb_icon2"></div>
                로그아웃
              </div>
            </div>

          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
      lose
              ng-click="showSigninModal()" style="font-size:18px; color:#cc3354"><b>로그인</b></button>
      <button ng-show="!authentication.user" class="button button-light sb_login"
              ng-click="onMenu('mobile.authentication.signup')" style="font-size:18px; color:#cc3354"><b>회원가입</b>
      </button>
      <div ng-show="authentication.user" class="sb_username mt10">{{authentication.user.email}}</div>
      <div ng-show="authentication.user" class="sb_username typpp"><span class="ion-android-person"></span>&nbsp;종합소득 연
        1억원 이상자
      </div>

      <!--       <button class="button button-positive">
              <i class="icon ion-gear-a"></i>
            </button> -->
    </ion-header-bar>
    <ion-content style="background-color:#ffffff;">
      <ion-list>
        <div class="w100p" style="height:84px;"></div>
        <div class="tab_line"></div>
        <div class="w90p d_center">
          <div class="sb_menu_m " ng-click="onMenu('mobile.companies.list')">
            <div class="ion-pie-graph sb_icon"></div>
            투자하기
          </div>
          <div class="sb_menu_m" ng-click="onMenu('mobile.design.test24')">
            <div class="ion-information-circled sb_icon"></div>
            투자받기안내
          </div>
          <div class="sb_menu_m" ng-show="authentication.user" ng-click="onMenu('mobile.investments.my')">
            <div class="ion-ios-pulse sb_icon"></div>
            투자내역
          </div>
          <div class="sb_menu_m" ng-show="myInquirys" ng-click="onMenu('mobile.inquirys.my')">
            <div class="ion-funnel sb_icon"></div>
            발행내역
          </div>
          <div class="sb_menu_m grbt" ng-click="onMenu('mobile.notices.list')">
            <div class="ion-speakerphone sb_icon2"></div>
            공지사항
          </div>
          <div class="sb_menu_m grbt" ng-click="onMenu('mobile.faqs.list')">
            <div class="ion-ios-paper-outline sb_icon2"></div>
            FAQ
          </div>
          <div class="sb_menu_m grbt" ng-show="authentication.user" ng-click="onMenu('mobile.asks.list')">
            <div class="ion-android-contacts sb_icon2"></div>
            1대1문의
          </div>
          <div class="sb_menu_m grbt" ng-show="authentication.user"
               ng-click="onMenu('mobile.settings.profile')">
            <div class="ion-happy-outline sb_icon2"></div>
            회원정보
          </div>
          <div class="sb_menu_m grbt" menu-close ng-show="authentication.user" ng-click="logout()">
            <div class="ion-log-out sb_icon2"></div>
            로그아웃
          </div>
        </div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
