<section id="botlist">
    <div class="container">
        <!--<div class="row userbot">-->
        <!--<div class="text-center">-->
        <!--<h2 class="section-heading">추천봇</h2>-->
        <!--<div ng-model="vm.msg"></div>-->
        <!--<h3 class="section-subheading text-muted">현재 가장 많은 분들이 사용하는 봇입니다.</h3>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row text-left">

            <!--<div class="bot-list-header">-->
                <!--<ul class="nav nav-pills">-->
                    <!--<li role="presentation" ng-class="{active: vm.listType == 'popular'}"><a ui-sref="user-bots-web.list({listType: 'popular', query: ''})">인기봇</a></li>-->
                    <!--<li role="presentation" ng-class="{active: vm.listType == 'recent'}"><a ui-sref="user-bots-web.list({listType: 'recent', query: ''})">최신봇</a></li>-->
                    <!--<li role="presentation" ng-class="{active: vm.listType == 'followed'}"><a ui-sref="user-bots-web.list({listType: 'followed', query: ''})">친구봇</a></li>-->
                    <!--<li role="presentation" ng-class="{active: vm.listType == 'my'}"><a ui-sref="user-bots-web.list({listType: 'my', query: ''})">마이봇</a></li>-->
                <!--</ul>-->
                <!--<form class="form-inline" ng-submit="vm.goFind();">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" id="query" ng-model="vm.query" placeholder="찾을 봇 이름">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">검색</button>-->
                <!--</form>-->
            <!--</div>-->

            <div id="popularBots" class="row bot-list">

                <div class="col-md-3" ng-repeat="userBot in vm.userBots">
                    <!--<div class="thumbnail" ng-click="vm.userBotChat(userBot)">-->
                    <div class="thumbnail">
                        <img src="{{userBot.imageFile}}" ui-sref="user-bots-web.view({userBotId: userBot._id})" style="background-color: #ccc;">
                        <div class="caption">
                            <h3 class="bot-title" ui-sref="user-bots-web.view({userBotId: userBot._id})">{{userBot.name}}</h3>
                            <p class="bot-desc">{{userBot.description}}</p>
                            <!--<p class="bot-buttons">-->
                            <!--<a href="#" class="btn btn-primary" role="button" ng-click="vm.followBot(userBot);">친구추가</a>-->
                            <!--<a href="#" class="btn btn-default" ng-click="vm.userBotChat(userBot)">대화하기</a>-->
                            <!--</p>-->
                            <p class="bot-info" ng-show="vm.listType != 'my'">
                                <i class="fa fa-users" aria-hidden="true" style="color: #337ab7;"></i><span>친구</span> {{userBot.followed}}명
                                <i class="fa fa-comments-o" aria-hidden="true" style="color: #337ab7;"></i><span>대화</span> 10억

                                <!--<a class="btn btn-primary" ng-show="vm.listType != 'followed'" ng-click="vm.followBot(userBot);">친구추가</a>-->
                                <!--<a class="btn btn-primary" ng-show="vm.listType == 'followed'" ng-click="vm.unfollowBot(userBot);">친구삭제</a>-->

                            </p>

                            <!--<p class="bot-buttons" ng-show="vm.listType == 'my'">-->
                                <!--<a class="btn btn-primary" ui-sref="user-bots-web.edit({userBotId: userBot._id})">수정</a>-->
                            <!--</p>-->
                            <!--<p class="bot-buttons" ng-show="vm.listType == 'my'">-->
                                <!--<a href="#" class="btn btn-default" >삭제</a>-->
                            <!--</p>-->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">플레이챗 특징</h2>
                <!--<h3 class="section-subheading text-muted">머니브레인 인공지능 챗봇 플랫폼의 차별화된 특징 입니다 .</h3>-->
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-8">
                <div class="feature-list">
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted" style="color: #5CB7E7 !important;"></i>
                                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">카카오톡 대화로 바로 챗봇 만들기</h4>
                            <p class="text-muted">카카오톡에서 친구와 나누었던 대화를 내려받기 해서 챗봇을 만들 수 있습니다.<br>
                                여자친구, 직장상사, 그리운 사람들의 가상봇을 만들어서 언제든지 대화를 나누세요.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted" style="color: #5CB7E7 !important;"></i>
                                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">작접 챗봇 대화를 입력해서 챗봇 만들기</h4>
                            <p class="text-muted">엑셀파일에 만들고 싶은 대화를 많이 입력해서 가상 봇을 만드세요. <br>
                                좋아하는 연예인, 스타, 정치인 등 가상봇을 만들어서 플레이챗 하세요.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted" style="color: #5CB7E7 !important;"></i>
                                <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">대화를 학습할 수 있습니다 </h4>
                            <p class="text-muted">지속적으로 대화를 학습시켜 더욱 풍부한 대화를 할 수 있습니다. <br>
                                설정에 따라 나뿐만 아니라 다른 사용자들도 챗봇을 학습하게 할 수 있습니다  </p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted" style="color: #5CB7E7 !important;"></i>
                                <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">친구들과 챗봇 공유</h4>
                            <p class="text-muted">챗봇을 만든 후에 배포하기를 통해 페이스북 라인 카카오톡을 통해서 직접 챗봇을 서비스하고, <br>
                                공유하기를 통해 내가 만든 챗봇을 여러 사용자에게 자랑해 보세요. </p>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<img src="img/why_prefer6.png" height="500">-->
            <!--</div>-->
        </div>
    </div>
</section>


<section id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">챗봇 활용 사례</h2>
                <h3 class="section-subheading text-muted">챗봇 서비스 적용 가능한 사례들 입니다.</h3>
            </div>
        </div>
        <div class="row">
            <div id="owl-demo" class="owl-carousel owl-theme">

                <div class="item"><img src="images/service/ex-1.png" ></div>
                <div class="item"><img src="images/service/ex-2.png" ></div>
                <div class="item"><img src="images/service/ex-3.png" ></div>
                <div class="item"><img src="images/service/ex-4.png" ></div>
                <div class="item"><img src="images/service/ex-5.png" ></div>
                <div class="item"><img src="images/service/ex-6.png" ></div>
                <div class="item"><img src="images/service/ex-7.png" ></div>
                <div class="item"><img src="images/service/ex-8.png" ></div>
                <div class="item"><img src="images/service/ex-9.png" ></div>
                <div class="item"><img src="images/service/ex-10.png" ></div>
                <div class="item"><img src="images/service/ex-11.png" ></div>
                <div class="item"><img src="images/service/ex-12.png" ></div>
                <div class="item"><img src="images/service/ex-13.png" ></div>

            </div>
        </div>
    </div>
</section>


<section id="video" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">1분만에 챗봇 만들기</h2>
                <h3 class="section-subheading text-muted">카카오톡 대화 또는 엑셀 파일에 대화를 만들어서 쉽게 챗봇을 만들수 있습니다 </h3>
            </div>
        </div>
        <div class="row">
            <div class="video-container">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fyamyambot%2Fvideos%2F1253736664682433%2F&amp;show_text=0&amp;width=560" width="840" height="472.5" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>
</section>


<script>
//    console.log($("#owl-demo"));

$("#owl-demo").owlCarousel({
    autoPlay: 3000,
    items : 4,
    itemMobile: true
});

$(window).scroll(function(event){
    if($(document).scrollTop() > 900)
        $('#container-chat').addClass('chat-container-add');
    else
        $('#container-chat').removeClass('chat-container-add');
});

</script>
