

<section class="panel" ng-keyup="vm.onKeyPress($event.keyCode)"
         style="width: 480px;margin: auto;">

    <div class="panel-body " style="padding: 0px; background-color: #ddd;">
        <div id="chat_main" class="chat_main" style="height: 600px">
        </div>
    </div>

    <footer class="panel-footer" style="height: 34px;padding: 0 15px;">
        <form name="chatForm" class="form-horizontal form-bordered" novalidate="novalidate"
              ng-submit="vm.sendMsg()">
            <div class="row">
                <div class="input-group mb-md">
                    <input type="text" class="form-control" name="inputbox" id="inputbox"
                           ng-model="vm.msg" />
                    <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">SEND</button>
          </span>
                </div>
            </div>
        </form>
    </footer>
    <br/>


</section>


<!--<div style="position: absolute; height: 150px;width: 200px;background-color: black; color: white;">-->
<!--원하시는 것을 말씀해주세요.-->
<!--</div>-->
