<section id="botlist">
    <div class="container">
        <!--<div class="row userbot">-->
        <!--<div class="text-center">-->
        <!--<h2 class="section-heading">추천봇</h2>-->
        <!--<div ng-model="vm.msg"></div>-->
        <!--<h3 class="section-subheading text-muted">현재 가장 많은 분들이 사용하는 봇입니다.</h3>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row text-left">

            <div class="bot-list-header">
                <ul class="nav nav-pills">
                    <li role="presentation" ng-class="{active: vm.listType == 'popular'}"><a ui-sref="user-bots-web.list({listType: 'popular', query: ''})">인기봇</a></li>
                    <li role="presentation" ng-class="{active: vm.listType == 'recent'}"><a ui-sref="user-bots-web.list({listType: 'recent', query: ''})">최신봇</a></li>
                    <li role="presentation" ng-class="{active: vm.listType == 'followed'}"><a ui-sref="user-bots-web.list({listType: 'followed', query: ''})">친구봇</a></li>
                    <li role="presentation" ng-class="{active: vm.listType == 'my'}"><a ui-sref="user-bots-web.list({listType: 'my', query: ''})">마이봇</a></li>
                </ul>
                <form class="form-inline" ng-submit="vm.goFind();">
                    <div class="form-group">
                        <input type="text" class="form-control" id="query" ng-model="vm.query" placeholder="찾을 봇 이름">
                    </div>
                    <button type="submit" class="btn btn-default">검색</button>
                </form>
            </div>

            <div id="popularBots" class="row bot-list">

                <div class="col-md-3" ng-repeat="userBot in vm.userBots">
                    <!--<div class="thumbnail" ng-click="vm.userBotChat(userBot)">-->
                    <div class="thumbnail">
                        <img alt="100%x200" src="{{userBot.imageFile}}" data-holder-rendered="true" ui-sref="user-bots-web.view({userBotId: userBot._id})">
                        <div class="caption">
                            <h3 class="bot-title" ui-sref="user-bots-web.view({userBotId: userBot._id})">{{userBot.name}}</h3>
                            <p class="bot-desc">{{userBot.description}}</p>
                            <!--<p class="bot-buttons">-->
                            <!--<a href="#" class="btn btn-primary" role="button" ng-click="vm.followBot(userBot);">친구추가</a>-->
                            <!--<a href="#" class="btn btn-default" ng-click="vm.userBotChat(userBot)">대화하기</a>-->
                            <!--</p>-->
                            <p class="bot-info" ng-show="vm.listType != 'my'">
                                <i class="fa fa-users" aria-hidden="true" style="color: #337ab7;"></i><span>친구</span> 300k
                                <i class="fa fa-comments-o" aria-hidden="true" style="color: #337ab7;"></i><span>대화</span> 10억

                                <!--<a class="btn btn-primary" ng-show="vm.listType != 'followed'" ng-click="vm.followBot(userBot);">친구추가</a>-->
                                <!--<a class="btn btn-primary" ng-show="vm.listType == 'followed'" ng-click="vm.unfollowBot(userBot);">친구삭제</a>-->

                            </p>

                            <!--<p class="bot-buttons" ng-show="vm.listType == 'my'">-->
                                <!--<a class="btn btn-primary" ui-sref="user-bots-web.edit({userBotId: userBot._id})">수정</a>-->
                            <!--</p>-->
                            <!--<p class="bot-buttons" ng-show="vm.listType == 'my'">-->
                                <!--<a href="#" class="btn btn-default" >삭제</a>-->
                            <!--</p>-->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Feature</h2>
                <h3 class="section-subheading text-muted">머니브레인 인공지능 챗봇 플랫폼의 차별화된 특징 입니다 .</h3>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-8">
                <div class="feature-list">
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">자연스러운 대화에 기반한 서비스</h4>
                            <p class="text-muted">명령어가 아닌 자연스러운 언어로 질문 및 업무처리가 가능합니다.  <br>
                                이제 복잡한 메뉴를 찾을 필요없이 인공지능 비서에게 서비스 받으세요.</p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">인공지능 기술을 활용한 지속적 대화 학습</h4>
                            <p class="text-muted">단순한 패턴 매칭 기반의 챗봇 서비스로는 한계가 있습니다.  <br>
                                인공지능 학습을 통하여 서비스를 지속할 수록 대화의 품질이 향상 되는 기술을 구현하였습니다. </p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">기존 시스템 연동을 통한 업무처리</h4>
                            <p class="text-muted">단순 안내가 아닌 기존 업무를 자동화하는 챗봇은 기존 시스템과  <br>
                                연동이 필수 입니다. 다양한 적용사례를 바탕으로 업무기반 챗봇을 구축할 수 있습니다. </p>
                        </div>
                    </div>
                    <div class="single-feature">
                            <span class="feature-icon fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-muted"></i>
                                <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        <div class="feature-text">
                            <h4 class="service-heading">다양한 채널 제공</h4>
                            <p class="text-muted">한번의 챗봇 시나리오 구성으로 카카오톡, 라인, 페이스북 등 여러 <br>
                                메세지 플랫폼에 적용이 가능하며 자체 App애도 적용할 수 있는 API를 제공합니다. </p>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="col-md-4">-->
                <!--<img src="img/why_prefer6.png" height="500">-->
            <!--</div>-->
        </div>
    </div>
</section>


<section id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Screenshot</h2>
                <h3 class="section-subheading text-muted">챗봇 서비스 적용 가능한 사례들 입니다. </h3>
            </div>
        </div>
        <div class="row">
            <div id="owl-demo" class="owl-carousel owl-theme">

                <div class="item"><img src="images/service/ex-1.png" ></div>
                <div class="item"><img src="images/service/ex-2.png" ></div>
                <div class="item"><img src="images/service/ex-3.png" ></div>
                <div class="item"><img src="images/service/ex-4.png" ></div>
                <div class="item"><img src="images/service/ex-5.png" ></div>
                <div class="item"><img src="images/service/ex-6.png" ></div>
                <div class="item"><img src="images/service/ex-7.png" ></div>
                <div class="item"><img src="images/service/ex-8.png" ></div>
                <div class="item"><img src="images/service/ex-9.png" ></div>
                <div class="item"><img src="images/service/ex-10.png" ></div>
                <div class="item"><img src="images/service/ex-11.png" ></div>
                <div class="item"><img src="images/service/ex-12.png" ></div>
                <div class="item"><img src="images/service/ex-13.png" ></div>

            </div>
        </div>
    </div>
</section>


<section id="video" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">YAMYAM</h2>
                <h3 class="section-subheading text-muted">머니브레인에서 서비스 중인 배달 챗봇 서비스 "얌얌: 소개영상입니다. </h3>
            </div>
        </div>
        <div class="row">
            <div class="video-container">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fyamyambot%2Fvideos%2F1253736664682433%2F&amp;show_text=0&amp;width=560" width="840" height="472.5" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
            </div>
        </div>
    </div>
</section>


<script>
//    console.log($("#owl-demo"));

$("#owl-demo").owlCarousel({
    autoPlay: 3000,
    items : 4,
    itemMobile: true
});

$(window).scroll(function(event){
    if($(document).scrollTop() > 1300)
        $('#container-chat').addClass('chat-container-add');
    else
        $('#container-chat').removeClass('chat-container-add');
});

</script>
