<header class="page-header">
  <h2>인텐트(ENTITY)</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>

<section class="panel">
  <header class="panel-heading">
    <div class="panel-actions">
      <button id="addToTable" class="btn btn-primary" ui-sref="intents.create"><i class="fa fa-plus"></i> 신규등록</button>
    </div>

    <h2 class="panel-title">&nbsp;</h2>
  </header>
  <div class="panel-body">
    <table datatable="ng" class="table table-bordered table-hover mb-none">
      <thead>
      <tr>
        <!--<th class="text-center">챗봇</th>-->
        <th class="text-center col-md-10">인텐트</th>
        <!--<th class="text-center">단어</th>-->
        <!--<th class="text-center">작성자</th>-->
        <!--<th class="text-center">수정일</th>-->
        <!--<th class="text-center">등록일</th>-->
        <!--<th class="text-center">관리</th>-->
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="intent in vm.intents">
        <!--<td class="text-center row">-->
          <!--<div class="col-md-5">-->
            <!--<img src="{{vm.bot.imageFile}}"style="width: 100%" alt="Joseph Doe" class="img-circle" data-lock-picture="/images/!logged-user.jpg" />-->
          <!--</div>-->
          <!--<div class="col-md-7">-->
            <!--{{vm.bot.id}}-->
          <!--</div>-->
        <!--</td>-->
        <td class="text-center"><a ui-sref="intents.edit({intentId: intent._id})">{{intent.name}}</a></td>
        <!--<td class="text-center">{{intent.words}}</td>-->
        <!--<td class="text-center">{{intent.user ? intent.user.displayName : '장세영'}}</td>-->
        <!--<td class="text-center">{{intent.updated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
        <!--<td class="text-center">{{intent.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
        <!--<td>-->
          <!--<a class="btn btn-primary btn-block" ui-sref="intents.edit({intentId: intent._id})">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 수정-->
          <!--</a>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</section>
