<link href="/modules/playchat/core/client/css/playchat.main.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/core/client/css/styleCustom.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/core/client/css/common.css" rel="stylesheet" type="text/css">

<link href="/modules/playchat/top-bar/client/css/top-bar.css" rel="stylesheet" type="text/css" id="topbar-css">

<link href="/modules/playchat/side-menu/client/css/side-menu.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/side-menu/client/css/side-menu-responsive.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)" id="side-menu-responsive-css">

<link href="/modules/playchat/log-analysis/client/css/log-analysis.css" rel="stylesheet" type="text/css">

<link href="/modules/playchat/simulator/client/css/simulator.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/simulator/client/css/simulator-responsive.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 900px)" id="simulator-responsive-css">

<section class="playchat-background">
    <nav class="sidenav" ng-include="'/modules/playchat/side-menu/client/views/side-menu.client.view.html'" ng-controller="SideMenuController"></nav>
    <div class="main-board">
        <div class="top-bar" ng-include="'/modules/playchat/top-bar/client/views/top-bar.client.view.html'" ng-controller="TopBarController"></div>
        <div class="worksheet">
            <div class="workspace">
                <div class="working-ground" ng-include="page"></div>
                <div class="log-analysis" ng-include="'/modules/playchat/log-analysis/client/views/log-analysis.client.view.html'" ng-controller="LogAnalysisController"></div>
            </div>
            <div class="simulator" ng-include="'/modules/playchat/simulator/client/views/simulator.client.view.html'" ng-controller="SimulatorController"></div>
        </div>
    </div>
</section>
