<style>
.answer .default-button
{
    box-sizing: border-box;
}
</style>

<script type="text/template" id="botAnswerTemplate">
<div class="answer">
    <img src="modules/playchat/simulator/client/imgs/bot.png">
    <div class="system-text">
        <span class="name">{botName}</span>
        <span class="time">{time}</span>
    </div>
    <div class="bubble">
        <em class="tail"></em>
        <div class="speech">
            <div class="speech-text">{text}</div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="userAnswerTemplate">
<div class="question">
    <div class="system-text">
        <span class="time">{time}</span>
    </div>
    <div class="bubble">
        <em class="tail"></em>
        <div>
            <div class="speech">
                <div class="speech-text">{text}</div>
            </div>
        </div>
    </div>
</div>
</script>

<div ng-controller="SimulatorController" style="height: 100%;">
    <div class="simulator-background">
        <div class="simulator-header">
            <p>{{ chatbotName }}</p>
            <a href="#" class="simulator-refresh" ng-click="refresh($event);"><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reset.png"></a>
            <a href="#" class="simulator-close" ng-click="toggle($event);"></a>
        </div>
        <div class="chatContents" id="simulatorBody"></div>
        <div class="input-box">
            <input type="text" placeholder="Enter something to test your bot." ng-keydown="sendMessage($event);" style="padding: 10px 7px 10px 1px;">
            <button type="button">
                <img src="modules/playchat/simulator/client/imgs/mic.png">
            </button>
        </div>
    </div>
    <div class="simulator-btn" ng-show="isClosed" ng-click="toggle($event);">
        <a href="#" class="" style="color: #fff;font-weight: 700;">Chat</a>
        <img src="modules/playchat/simulator/client/imgs/speech.png">
    </div>


    <div class="modal-background" ng-show="shortCutHelp">
        <div class="modal">
            <div class="modal-body">
                <table class="tb02">
                    <caption>Common</caption>
                    <colgroup>
                        <col style="width: 30%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ShortCut</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Alt ← →</td>
                        <td>Move focus to next or previous editor</td>
                    </tr>
                    </tbody>
                </table>

                <table class="tb02">
                    <caption>Dialog Graph ShortCut</caption>
                    <colgroup>
                        <col style="width: 30%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ShortCut</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>← ↓ ↑ →</td>
                        <td>Navigate Dialog</td>
                    </tr>
                    <tr>
                        <td>Ctrl + ↑ ↓</td>
                        <td>Move Dialog Up/Down</td>
                    </tr>
                    <tr>
                        <td>Enter</td>
                        <td>Open Edit Dialog</td>
                    </tr>
                    <tr>
                        <td>Esc</td>
                        <td>Cancel Edit</td>
                    </tr>
                    <tr>
                        <td>Insert</td>
                        <td>Add Child dialog</td>
                    </tr>
                    <tr>
                        <td>Shift+Insert</td>
                        <td>Add Appending dialog</td>
                    </tr>
                    <tr>
                        <td>Del</td>
                        <td>Delete Dialog</td>
                    </tr>
                    <tr>
                        <td>Space</td>
                        <td>Expand/Collapse Child Dialog</td>
                    </tr>
                    </tbody>
                </table>

                <table class="tb02">
                    <caption>Dialog Graph Editor ShortCut</caption>
                    <colgroup>
                        <col style="width: 30%;">
                        <col style="width: 70%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>ShortCut</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Tab</td>
                        <td>Move focus to next input</td>
                    </tr>
                    <tr>
                        <td>Insert</td>
                        <td>Add input or output</td>
                    </tr>
                    <tr>
                        <td>Ctrl + Enter</td>
                        <td>Save</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-footer">
                <button type="button" class="default-button" ng-click="closeShortCutHelp('naver')">{{ lan('Close') }}</button>
            </div>
        </div>
    </div>
</div>
