<div class="simulator-header">
    <p>Simulator</p>
    <a href="#" class="simulator-close" ng-click="toggle($event);"></a>
</div>
<div class="chatContents">
    <div class="answer">
        <img src="modules/playchat/simulator/client/img/bot.png">
        <div class="system-text">
            <span class="name">TestBot</span>
            <span class="time">9:47</span>
        </div>
        <div class="bubble">
            <em class="tail"></em>
            <div class="speech">
                <div class="speech-text">
                    May I help you?
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="system-text">
            <span class="time">9:47</span>
        </div>
        <div class="bubble">
            <em class="tail"></em>
            <div class="speech">
                <div class="speech-text">
                    May I help you?
                </div>
            </div>
        </div>
    </div>
</div>
<div class="input-box">
    <input type="text" placeholder="Enter something to test your bot.">
    <button type="button">
        <img src="modules/playchat/simulator/client/img/mic.png">
    </button>
</div>
<div class="simulator-btn" ng-show="isClosed" ng-click="toggle($event);">
    <a href="#" class="">Chat</a>
    <img src="modules/playchat/simulator/client/img/speech.png">
</div>
