.playchat-background .main-board
{
    left: 72px;
}

.playchat-background .sidenav
{
    width: 72px;
}

.playchat-background .sidenav .sidenav-header
{
    padding: 0;
    height:64px;
}

.playchat-background .sidenav .sidenav-header img
{
    display: none;
}

.playchat-background .sidenav .sidenav-header .sidenav-close
{
    display: none;
}

.playchat-background .sidenav .sidenav-bot-name .sidenav-bot-name-detail
{
    display: none;
}

.playchat-background .sidenav .sidenav-header .logo-min
{
    background:#363636 url(../img/hamburger.png) no-repeat 24px;
    width: 100%;
    height: 60px;

    cursor: pointer;
}

.playchat-background .sidenav .sidenav-header .logo-min:hover
{
    opacity: 0.3;
}

.playchat-background .sidenav .sidenav-bot-name .sidenav-bot-name-modify img{
    display: none;
}
.playchat-background .sidenav .sidenav-bot-name .sidenav-bot-name-modify
{
    background:#424242 url(../img/modify_fold.png) no-repeat 46px;
    width: 72px;
    height: 32px;
    right: 22px;
}

.playchat-background .sidenav span
{
    display: none;
}

.playchat-background .sidenav .close
{
    display: none;
}

.playchat-background .sidenav ul li
{
    padding: 0px 24px;
}

.playchat-background .sidenav ul li.selected
{
    padding: 0px 24px;
}

.playchat-background .sidenav ul li.menu-item-group
{
    padding: 0;
}

.playchat-background .sidenav .menu-item-list li.menu-item-group .menu-item
{
    padding: 0px 24px;
}

.playchat-background .sidenav .menu-item-list .sub-menu-item-group li.sub-menu-item
{
    padding: 0px 24px;
}
