<header class="page-header">
  <h2>{{vm.template && vm.template._id ? '템플릿 수정' : '템플릿 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel">
  <form name="form" class="form-horizontal form-bordered" ng-submit="vm.save(form.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">템플릿 id <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.template.id" class="form-control valid"
                 placeholder="아이디"
                 required=""
                 aria-required="true" aria-invalid="false"
                 ng-disabled="vm.template._id">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">이름 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="name" ng-model="vm.template.name" class="form-control valid"
                 placeholder="이름"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">이미지 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="image" ng-model="vm.template.image" class="form-control valid"
                 placeholder="이미지"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">카테고리 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9 dropdwon">
          <!--<input type="text" name="image" ng-model="vm.template.category" class="form-control valid"-->
                 <!--placeholder="카테고리"-->
                 <!--required=""-->
                 <!--aria-required="true" aria-invalid="false">-->
          <button class="btn btn-default btn-block dropdown-toggle" ng-model="vm.template.category.name" type="button" data-toggle="dropdown">{{vm.template.category.name}}
            <span class="caret"></span></button>
          <ul class="dropdown-menu btn-block">
            <li class="text-center" ng-repeat = "category in vm.categorys"><a href="#" ng-click="vm.template.category.name = category">{{category}}</a></li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Content <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <textarea name="content" ng-model="vm.template.content" id="content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea><label id="content-error" class="error" for="content">내용은 필수 입니다.</label>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Data JSON <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <textarea name="dataSchema" ng-model="vm.template.dataSchema" id="content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea><label id="content-error" class="error" for="content">내용은 필수 입니다.</label>
        </div>
      </div>

    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.template && vm.template._id">
          <!--<button class="btn btn-primary">Submit</button>-->
          <button type="submit" class="btn btn-primary">생성</button>
          <!--<button type="reset" class="btn btn-default">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="templates.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.template && vm.template._id">
          <a class="btn btn-primary" ng-click="vm.save(form.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>
