<header class="page-header">
  <h2>{{vm.templateData && vm.templateData._id ? '템플릿 데이타 수정' : '템플릿 데이타 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel" id="templateDataForm">

  <!--<form name="templateDataForm" class="form-horizontal form-bordered" ng-submit="vm.save(form.$valid)"-->
        <!--novalidate="novalidate">-->
    <!--<div class="panel-body" id="templateDataGroup">-->

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">메뉴명 <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<textarea name="content" ng-model="vm.templateData.__content.name" id="_content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea>-->
          <!--&lt;!&ndash;<label id="content-error" class="error" for="">내용은 필수 입니다.</label>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">설명 <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<textarea name="content" ng-model="vm.templateData.__content.description" id="_content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea>-->
          <!--&lt;!&ndash;<label id="content-error" class="error" for="">내용은 필수 입니다.</label>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">가격 <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<textarea name="content" ng-model="vm.templateData.__content.price" id="_content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea>-->
          <!--&lt;!&ndash;<label id="content-error" class="error" for="">내용은 필수 입니다.</label>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">사진 <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<textarea name="content" ng-model="vm.templateData.__content.image" id="_content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" aria-required="true" aria-invalid="true"></textarea>-->
          <!--&lt;!&ndash;<label id="content-error" class="error" for="">내용은 필수 입니다.</label>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">test <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<textarea name="content" ng-model="vm.templateData.__content.test" id="_content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" aria-required="true" aria-invalid="true"></textarea>-->
          <!--&lt;!&ndash;<label id="content-error" class="error" for="">내용은 필수 입니다.</label>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">Content <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<textarea name="content" ng-model="vm.templateData._content" id="_content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea><label id="content-error" class="error" for="content">내용은 필수 입니다.</label>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group has-error" ng-show="vm.lists != undefined">-->
        <!--<label class="col-sm-3 control-label">Data List <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->
          <!--<ul>-->
            <!--<li ng-repeat="list in vm.lists"><a ui-sref="template-datas.list({templateId: vm.template._id, listName: list._key, upTemplateId: vm.templateData._id})">{{list.model}}</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
    <!--<footer class="panel-footer">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-12 text-center" ng-hide="vm.templateData && vm.templateData._id">-->
          <!--&lt;!&ndash;<button class="btn btn-primary">Submit</button>&ndash;&gt;-->
          <!--<button type="submit" class="btn btn-primary">생성</button>-->
          <!--&lt;!&ndash;<button type="reset" class="btn btn-default">초기화</button>&ndash;&gt;-->
          <!--<button type="button" class="btn btn-danger" ui-sref="template-datas.list">취소</button>-->
        <!--</div>-->
        <!--<div class="col-sm-12 text-center" ng-show="vm.templateData && vm.templateData._id">-->
          <!--<a class="btn btn-primary" ng-click="vm.save(form)">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 수정-->
          <!--</a>-->
          <!--<a class="btn btn-danger" ng-click="vm.remove()">-->
            <!--<i class="glyphicon glyphicon-trash"></i> 삭제-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</footer>-->
    <!--<div ng-show="error" class="text-danger">-->
      <!--<strong ng-bind="error"></strong>-->
    <!--</div>-->
  <!--</form>-->
</section>
