<header class="page-header">
  <h2>{{vm.task && vm.task._id ? '테스크 수정' : '테스크 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel" ng-if = "vm.listType !== 'openTask'">
  <form name="vm.form.taskForm" class="form-horizontal form-bordered" ng-submit="vm.save(vm.form.taskForm.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group" show-errors>
        <label class="col-sm-3 control-label">테스크 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="name" ng-model="vm.task.name" class="form-control valid"
                 placeholder="개념"
                 required=""
                 aria-required="true" aria-invalid="false"
                 ng-disabled="vm.task._id">
        </div>
        <div ng-show="vm.error" class="text-danger text-center">
          <strong ng-bind="vm.error"></strong>
        </div>
      </div>
      <div class="form-group" show-errors id="contentForm">
        <label class="col-sm-3 control-label">내용 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="taskContent" ng-model="vm.taskContent" class="form-control valid"
                 placeholder="테스크에 속하는 내용을 적어주세요"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>
      <table datatable="ng" class="table table-bordered table-striped mb-none">
        <thead>
        <tr>
          <!--<th class="text-center">봇아이디</th>-->
          <th class="text-center col-md-10">내용</th>
          <!--<th class="text-center">단어</th>-->
          <!--<th class="text-center">작성자</th>-->
          <!--<th class="text-center">수정일</th>-->
          <!--<th class="text-center">등록일</th>-->
          <th class="text-center">관리</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in vm.task.content">
          <!--<td class="text-center">{{task.bot.id}}</td>-->
          <td class="text-center"><a ui-sref="tasks.edit({taskId: task._id})">{{task.name}}</a></td>
          <!--<td class="text-center">{{task.words}}</td>-->
          <!--<td class="text-center">{{task.user ? task.user.displayName : '장세영'}}</td>-->
          <!--<td class="text-center">{{task.updated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
          <!--<td class="text-center">{{task.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
          <td>
            <a class="btn btn-primary btn-block" ng-click="vm.contentRemove(task)">
              <i class="glyphicon glyphicon-trash"></i> 삭제
            </a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>


    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.task && vm.task._id">
          <!--<button class="btn btn-primary">Submit</button>-->
          <button type="submit" class="btn btn-primary">생성</button>
          <!--<button type="submit" class="btn btn-primary" ng-click="vm.contentSave(form.$valid)">만들기</button>-->
          <!--<button type="reset" class="btn btn-default">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="tasks.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.task && vm.task._id">
          <a class="btn btn-primary" ng-click="vm.contentSave(vm.form.taskForm.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 만들기
          </a>
          <!--<a class="btn btn-primary" ng-click="vm.save(form.$valid)">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 수정-->
          <!--</a>-->
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
  </form>
</section>


<section class="panel" ng-if = "vm.listType == 'openTask'">
  <form name="vm.form.taskForm" class="form-horizontal form-bordered" ng-submit="vm.openTaskFn(vm.form.taskForm.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group" show-errors>
        <label class="col-sm-2 control-label">테스크 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <input type="text" name="name" ng-model="vm.task.name" class="form-control valid"
                 placeholder="개념"
                 required=""
                 aria-required="true" aria-invalid="false"
                 ng-disabled="true">
        </div>
        <div ng-show="vm.error" class="text-danger text-center">
          <strong ng-bind="vm.error"></strong>
        </div>
      </div>
      <div class="form-group" show-errors id="contentForm">
        <label class="col-sm-2 control-label">닉네임 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <input type="text" name="taskContent" ng-model="vm.task.displayName" class="form-control valid"
                 placeholder="사용자들이 검색할 테스크 닉네임을 적어주세요"
                 required=""
                 aria-required="true" aria-invalid="false" >
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>
      <div class="form-group" show-errors>
        <label class="col-sm-2 control-label">내용 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <textarea type="text" name="taskContent" ng-model="vm.task.description" class="form-control valid" rows="5"
                 placeholder="테스크를 설명해주세요"
                 required=""
                 aria-required="true" aria-invalid="false">
          </textarea>
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>
      <div class="form-group" show-errors>
        <label class="col-sm-2 control-label">공개여부 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <div class="dropdown">
            <button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">{{vm.task.open}}
              <span class="caret"></span></button>
            <ul class="dropdown-menu btn-block">
              <li><a class="text-center" href="#" ng-click="vm.task.open = 'true'">공개</a></li>
              <li><a class="text-center" href="#" ng-click="vm.task.open = 'false'">비공개</a></li>
            </ul>
          </div>
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>

      <div class="form-group" show-errors id="contentForm">
        <label class="col-sm-2 control-label">Parameter Schema<span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <textarea type="text" name="taskContent" ng-model="vm.task.paramSchema" class="form-control valid" rows="10"
                    placeholder="parameter 입력을 위한 schema를 적어주세요"
                    required=""
                    aria-required="true" aria-invalid="false">
          </textarea>
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>

      <div class="form-group" show-errors id="contentForm">
        <label class="col-sm-2 control-label">액션 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <input type="text" name="taskContent" ng-model="vm.task.action" class="form-control valid"
                 placeholder="테스크에 속하는 내용을 적어주세요"
                 required=""
                 aria-required="true" aria-invalid="false" ng-disabled="true">
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>
      <div class="form-group" show-errors id="contentForm">
        <label class="col-sm-2 control-label">JSON <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <textarea type="text" name="taskContent" ng-model="vm.task.json" class="form-control valid" rows="20"
                 placeholder="테스크에 속하는 내용을 적어주세요"
                 required=""
                 aria-required="true" aria-invalid="false" ng-disabled="true">
          </textarea>
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>
      <div class="form-group" show-errors id="contentForm">
        <label class="col-sm-2 control-label">엔터티 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">
          <table datatable="ng" class="table table-bordered table-striped mb-none">
            <thead>
            <tr>
              <th class="text-center col-md-2">필수</th>
              <th class="text-center col-md-2">이름</th>
              <th class="text-center col-md-2">닉네임</th>
              <th class="text-center col-md-6">재질문</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in vm.task.entity">
              <td class="text-center"><input type="checkbox" ng-disabled="true" ng-model="entity.isRequired"></td>
              <td class="text-center"><a ui-sref="tasks.view({taskId: task.name})">{{entity.type}}</a></td>
              <td class="text-center">{{entity.display}}</td>
              <td class="text-center">{{entity.question}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div ng-show="vm.contentError" class="text-danger text-center">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>
    </div>


    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10 text-center">
          <button type="submit" class="btn btn-primary pull-right">{{vm.task._id ? '수정하기' : '공개하기'}}</button>
          <button type="button" class="btn btn-danger pull-left" ui-sref="tasks.list({listType: 'all'})">취소</button>
        </div>
      </div>
    </footer>
  </form>
</section>
