<header class="page-header">
  <h2>테스크(TASK)</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>
<div>
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: vm.type == 'all'}"><a href="#" ng-click="vm.changeType('all');">봇 테스크</a></li>
    <li role="presentation" ng-class="{active: vm.type == 'openTask'}"><a href="#" ng-click="vm.changeType('openTask');">공개 테스크</a></li>
  </ul>
</div>
<section class="panel" ng-if = "vm.type == 'all'">
  <header class="panel-heading">

    <h2 class="panel-title">&nbsp;</h2>
  </header>
  <div class="panel-body">
    <table datatable="ng" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <!--<th class="text-center">봇아이디</th>-->
        <th class="text-center">이름</th>
        <th class="text-center">봇아이디</th>
        <th class="text-center">작성자</th>
        <th class="text-center">공개여부</th>
        <th class="text-center">관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="task in vm.tasks">
        <!--<td class="text-center">{{task.bot.id}}</td>-->
        <td class="text-center"><a ui-sref="tasks.view({taskId: task.name})">{{task.name}}</a></td>
        <td class="text-center">아테나</td>
        <td class="text-center">{{task.user ? task.user.displayName : '장세영'}}</td>
        <td class="text-center">{{task.open ? task.open : false}}</td>
        <td class="text-center col-md-2">
          <a class="btn btn-primary btn-xs btn-block" ng-if="!task.open && !task.save" ng-click="vm.openTaskFn(task)">
            <i class="glyphicon glyphicon-edit"></i> 공개등록
          </a>
          <a class="btn btn-primary btn-xs btn-block" ng-if="task.save" ui-sref="tasks.edit({taskId: task.name, listType : 'openTask'})">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <!--<a class="btn btn-primary btn-xs btn-block" ng-if="task.open" ng-click="vm.closeTask(task)">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 비공개-->
          <!--</a>-->
          <!--<a class="btn btn-primary btn-xs btn-block" ui-sref="tasks.edit({taskId: task.name})">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 수정-->
          <!--</a>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>


<section class="panel" ng-if = "vm.type == 'openTask'">
  <header class="panel-heading">
    <h2 class="panel-title">&nbsp;</h2>
  </header>
  <div class="panel-body">
    <table datatable="ng" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <!--<th class="text-center">봇아이디</th>-->
        <th class="text-center">이름</th>
        <th class="text-center">작성자</th>
        <th class="text-center">관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="openTask in vm.openTasks" ng-if="openTask.open">
        <!--<td class="text-center">{{task.bot.id}}</td>-->
        <td class="text-center"><a ui-sref="tasks.view({taskId: openTask.name, listType: 'openTask'})">{{openTask.name}}</a></td>
        <td class="text-center">{{task.user ? task.user.displayName : '장세영'}}</td>
        <td class="text-center col-md-2">
          <!--<a class="btn btn-primary btn-xs btn-block" ng-click="vm.closeTask(openTask)">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 비공개-->
          <!--</a>-->
          <a class="btn btn-primary btn-xs btn-block" ui-sref="tasks.edit({taskId: openTask.name, listType: 'openTask'})">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
