<header class="page-header">
  <h2>테스크(TASK)</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>
<section ng-if="vm.listType !== 'openTask'">
  <div class="pull-right"
       data-ng-show="vm.task.isCurrentUserOwner">
    <a class="btn btn-primary btn-sm"
       data-ui-sref="tasks.edit({ taskId: vm.task._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary btn-sm" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-sm-3 control-label">테스크 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="name" ng-model="vm.task.name" class="form-control valid"
               placeholder="개념"
               required=""
               aria-required="true" aria-invalid="false"
               ng-disabled="vm.task.name">
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">JSON <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <textarea name="name" ng-model="vm.task.json" class="form-control valid" rows="20"
               placeholder="개념"
               required=""
               aria-required="true" aria-invalid="false" ng-disabled = true>
        </textarea>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">엔터티 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <table datatable="ng" class="table table-bordered table-striped mb-none">
          <thead>
          <tr>
            <th class="text-center col-md-2">필수</th>
            <th class="text-center col-md-2">이름</th>
            <th class="text-center col-md-2">닉네임</th>
            <th class="text-center col-md-6">재질문</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="entity in vm.task.paramDefs">
            <td class="text-center"><input type="checkbox" ng-disabled="true" ng-model="entity.isRequired"></td>
            <td class="text-center"><a ui-sref="tasks.view({taskId: task.name})">{{entity.type}}</a></td>
            <td class="text-center">{{entity.display}}</td>
            <td class="text-center">{{entity.question}}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3"></label>
      <div class="col-sm-9">
        <button type="button" class="btn btn-danger pull-left" ui-sref="tasks.list({listType: 'all'})">돌아가기</button>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>



    <!--<div class="form-group">-->
      <!--<label class="col-sm-3 control-label">CSV <span class="required" aria-required="true">*</span></label>-->
      <!--<div class="col-sm-9">-->
        <!--<textarea name="name" ng-model="vm.taskCSV" class="form-control valid" rows="20"-->
                  <!--placeholder="개념"-->
                  <!--required=""-->
                  <!--aria-required="true" aria-invalid="false">-->
        <!--</textarea>-->
      <!--</div>-->
      <!--<div ng-show="vm.error" class="text-danger text-center">-->
        <!--<strong ng-bind="vm.error"></strong>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</section>


<section ng-if="vm.listType == 'openTask'">
  <div class="pull-right"
       data-ng-show="vm.task.isCurrentUserOwner">
    <a class="btn btn-primary btn-sm"
       data-ui-sref="tasks.edit({ taskId: vm.task._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary btn-sm" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-sm-3 control-label">테스크 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="name" ng-model="vm.openTask.name" class="form-control valid"
               placeholder="개념"
               required=""
               aria-required="true" aria-invalid="false" ng-disabled="true">
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">닉네임 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="name" ng-model="vm.openTask.displayName" class="form-control valid" rows="20"
                  placeholder="개념"
                  required=""
                  aria-required="true" aria-invalid="false" ng-disabled = true>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">설명 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <textarea name="name" ng-model="vm.openTask.description" class="form-control valid" rows="20"
                  placeholder="개념"
                  required=""
                  aria-required="true" aria-invalid="false" ng-disabled = true>
        </textarea>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">이용량 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="name" ng-model="vm.openTask.traffic" class="form-control valid" rows="20"
                  placeholder="개념"
                  required=""
                  aria-required="true" aria-invalid="false" ng-disabled = true>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>




    <div class="form-group">
      <label class="col-sm-3 control-label">공개여부 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="name" ng-model="vm.openTask.open" class="form-control valid" rows="20"
                  placeholder="개념"
                  required=""
                  aria-required="true" aria-invalid="false" ng-disabled = true>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">생성일 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <input type="text" name="name" ng-model="vm.openTask.created" class="form-control valid" rows="20"
                  placeholder="개념"
                  required=""
                  aria-required="true" aria-invalid="false" ng-disabled = true>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">JSON <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <textarea name="name" ng-model="vm.openTask.json" class="form-control valid" rows="20"
                  placeholder="개념"
                  required=""
                  aria-required="true" aria-invalid="false" ng-disabled = true>
        </textarea>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">엔터티 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <table datatable="ng" class="table table-bordered table-striped mb-none">
          <thead>
          <tr>
            <th class="text-center col-md-2">필수</th>
            <th class="text-center col-md-2">이름</th>
            <th class="text-center col-md-2">닉네임</th>
            <th class="text-center col-md-6">재질문</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="entity in vm.openTask.entity">
            <td class="text-center"><input type="checkbox" ng-disabled="true" ng-model="entity.isRequired"></td>
            <td class="text-center"><a ui-sref="tasks.view({taskId: task.name})">{{entity.type}}</a></td>
            <td class="text-center">{{entity.display}}</td>
            <td class="text-center">{{entity.question}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">이용 챗봇 <span class="required" aria-required="true">*</span></label>
      <div class="col-sm-9">
        <table datatable="ng" class="table table-bordered table-striped mb-none">
          <thead>
          <tr>
            <th class="text-center col-md-2">봇이름</th>
            <th class="text-center col-md-2">이름</th>
            <th class="text-center col-md-2">닉네임</th>
            <th class="text-center col-md-6">재질문</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="bot in vm.openTask.bots">
            <td class="text-center"><input type="checkbox" ng-disabled="true" ng-model="bot.isRequired"></td>
            <td class="text-center"><a ui-sref="tasks.view({taskId: task.name})">{{bot.type}}</a></td>
            <td class="text-center">{{bot.display}}</td>
            <td class="text-center">{{bot.question}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="vm.error" class="text-danger text-center">
        <strong ng-bind="vm.error"></strong>
      </div>
    </div>
    <button type="button" class="btn btn-danger pull-left" ui-sref="tasks.list({listType: 'all'})">돌아가기</button>

  </div>
</section>
