<style>
    .link {
        stroke: #999;
        stroke-opacity: .6;
    }
    #child{
    }
    .link.child {
    }
    circle {
        cursor: pointer;
    }
    circle.node.highlighted {
        fill: lightblue;
    }
    text {
        font: 12px 돋음체;
        font-weight: bold;
    }
    .edgelabel {
        pointer-events: none;
        font-weight: bold;
        font-size: 10px;
        text-anchor: middle;
        alignment-baseline: middle;
    }
</style>

<!--<div class="col-md-6">-->
<div ng-controller="GraphKnowledgeController2">
<section id="canvas" class="panel" style="position: absolute; left: 0; top: 4px; right: 0; bottom: 0; margin:0; background-color: #f7f7f7;" >

</section>
</div>
