<header class="page-header">
  <h2>{{vm.deliveryOrder && vm.deliveryOrder._id ? '메뉴 수정' : '메뉴 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel" ng-keyup="vm.onKeyPress($event)">
  <form name="form" class="form-horizontal form-bordered" ng-submit="vm.save(form)"
        novalidate="novalidate">
    <div class="panel-body">

      <div class="form-group" ng-repeat="menu in vm.menus._menus" >

        <div class="row">
          <div class="col-sm-2">
            <input type="text" name="category" ng-model="menu.category" class="form-control valid" placeholder="분류">
          </div>
          <div class="col-sm-2">
            <input type="text" name="name" ng-model="menu.name" class="form-control valid"  placeholder="메뉴명">
          </div>
          <div class="col-sm-2">
            <input type="text" name="price" ng-model="menu.price" class="form-control valid" placeholder="가격">
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-xs" ng-click="vm.removeMenu($index)" tabindex="-1">메뉴삭제</button>
            <button type="button" class="btn btn-success btn-xs" ng-click="menu.show = true;" tabindex="-1">확장</button>
            <button type="button" class="btn btn-success btn-xs" ng-click="menu.show = false;" tabindex="-1">숨기기</button>
          </div>
        </div>

        <div class="row" ng-show="menu.show">
          <div class="col-sm-6">
            <input type="text" name="photo" ng-model="menu.photo" class="form-control valid" placeholder="사진" >
          </div>
          <div class="col-sm-6">
            <input type="text" name="description" ng-model="menu.description" class="form-control valid" placeholder="설명">
          </div>
        </div>

        <div class="row" ng-show="menu.show">
          <div class="col-sm-6">
            <div ng-repeat="option in menu.options">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" name="option" ng-model="option.optionName" class="form-control valid" placeholder="선택메뉴명">
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-success btn-xs" ng-click="vm.removeOptions($parent.$index, $index)">선택메뉴삭제</button>
                </div>
              </div>
              <div ng-repeat="o in option.optionValues" class="row">
                <div class="col-sm-5">
                  <input type="text" name="optionName" ng-model="o.name" class="form-control valid" placeholder="선택명">
                </div>
                <div class="col-sm-5">
                  <input type="text" name="optionPrice" ng-model="o.price" class="form-control valid" placeholder="선택가격" >
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-success btn-xs" ng-click="vm.removeOptionMenu($parent.$parent.$index, $parent.$index, $index)">삭제</button>
                </div>

              </div>
              <div>
                <button type="button" class="btn btn-success btn-xs" ng-click="vm.addOptionMenu($parent.$index, $index)">추가</button>
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-success btn-xs" ng-click="vm.addOptions($index)">선택메뉴추가</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row" style="height: 34px;">
              &nbsp;
            </div>
            <div class="row" ng-repeat="addition in menu.additions" >
              <div class="col-sm-5">
                <input type="text" name="additionName" ng-model="addition.name" class="form-control valid" placeholder="추가메뉴명">
              </div>
              <div class="col-sm-5">
                <input type="text" name="additionPrice" ng-model="addition.price" class="form-control valid" placeholder="추가가격">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-success btn-xs" ng-click="vm.removeAdditionMenu($parent.$index, $index)">삭제</button>
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-success btn-xs" ng-click="vm.addAdditionMenu($index)">추가</button>
            </div>
          </div>
        </div>

      </div>

      <div>
        <button type="button" class="btn btn-success" ng-click="vm.addMenu()">메뉴추가 (Down Key)</button>
      </div>

    </div>


    <footer class="panel-footer">
      <div class="row">

        <div class="col-sm-12 text-center" ng-hide="vm.menu && vm.menu._id">
          <!--<button class="btn btn-primary">Submit</button>-->
          <button type="submit" class="btn btn-primary">생성</button>
          <!--<button type="reset" class="btn btn-success btn-xs">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="deliveryOrders.list">취소</button>
        </div>

        <div class="col-sm-12 text-center" ng-show="vm.menu && vm.menu._id">
          <a class="btn btn-primary" ng-click="vm.save(form)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>

      </div>
    </footer>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>
