<section>
  <header class="page-header" style="z-index: 0 !important;">
    <h2>엔터티(ENTITY) - {{vm.entity.name}}</h2>

    <div class="right-wrapper pull-right">
      <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
    </div>
  </header>
  <form name="vm.form.entityContentForm" class="list-group" ng-submit="vm.saveContent(vm.form.entityContentForm.$valid)" novalidate>
    <fieldset>
      <div class="form-group " show-errors>
        <label class="control-label" for="name">엔터티 내용 추가하기</label>
        <input name="name" type="text" ng-model="vm.entityContent.name" id="name" class="form-control" placeholder="Name" required>
        <!--<div ng-messages="vm.form.entityContentForm.name.$error" role="alert">-->
          <!--<p class="help-block error-text" ng-message="required">Entity name is required.</p>-->
        <!--</div>-->
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">{{vm.entityContent._id ? 'Update' : 'Create'}}</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
  <div class="pull-right"
       ng-show="vm.entity.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="entities.edit({ entityId: vm.entity._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <div class="list-group col-md-5">
    <a ng-repeat="content in vm.entityContent"
       class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="content.name"></h4>
    </a>
  </div>
  <!--<div class="list-group col-md-5">-->
    <!--<a ui-sref="entities.view({ entityId: entity._id })"-->
       <!--class="list-group-item">-->
      <!--<h4 class="list-group-item-heading" ng-bind="vm.entity.name"></h4>-->
    <!--</a>-->
  <!--</div>-->
</section>
