<section>
  <div class="page-header">
    <h1>Menu navigations</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="menu-navigation in vm.menuNavigations"
       ui-sref="menuNavigations.view({ menu-navigationId: menu-navigation._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="menuNavigation.created | date:'mediumDate'"></span>
        by
        <span ng-if="menuNavigation.user" ng-bind="menuNavigation.user.displayName"></span>
        <span ng-if="!menuNavigation.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="menu-navigation.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.menuNavigations.$resolved && !vm.menuNavigations.length">
    No Menu navigations yet, why don't you <a ui-sref="menuNavigations.create">create one</a>?
  </div>
</section>
