.operation-title
{
    font-size: 22px;
    font-weight: 600;
}

.operation-advance-search
{
    position: absolute;
    top: 20px;
    right: 20px;
}

.operation-advance-search > span
{
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    margin-right: 10px;
}

.operation-advance-search > span + div
{
    display: inline-block;
}

.operation-search-area
{
    margin-top: 34px;
}

.operation-search-area > input, .search-area > button
{
    vertical-align: middle;
}

.operation-search-area > input
{
    margin: 0;
    padding: 9px 18px 9px 8px;
}

.operation-search-area > button
{
    margin-left: 14px;
}

.operation-search-area.advanced
{
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    padding: 10px 30px;
    position: relative;
}

.operation-search-area.advanced button.clear
{
    position: absolute;
    right: 20px;
    bottom: 14px;
    width: 80px;
}

.operation-search-area.advanced button.search
{
    position: absolute;
    right: 110px;
    bottom: 15px;
    width: 80px;
    height: 32px;
}

.operation-search-area th
{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.operation-search-area th, .operation-search-area td
{
    padding: 5px 0;
}

.operation-search-area td span
{
    vertical-align: middle;
    font-size: 20px;
    color: #bfbfbf;
}

.operation-search-area input
{
    width: 150px;
}

.operation-search-area table
{
    width: 90%;
}

.operation-content
{
    margin-top: 0px;
}

.operation-user-dialog-button
{
    padding: 5px 15px;
    border: 1px solid #038eda;
    border-radius: 4px;
    color: #038eda !important;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor:pointer ;
}
.flower-button {
    border: solid 1px #585858;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 15px;
    cursor: pointer;
}
.flower-button-blue
{
    padding: 5px 15px;
    border: 1px solid #038eda;
    border-radius: 4px;
    color: #038eda !important;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor:pointer ;
}
.operation-active-area
{
    padding: 10px;
    background-color: #d9eefa;
    border-radius: 4px;
    margin-top: 8px;
}

.operation-active-area .operation-active-area-title
{
    font-size: 15px;
    font-weight: 600;
    color: #038eda;
    padding-left: 20px;
    margin-bottom: 10px;
}

.select-button, .jump-button
{
    border: 1px solid #038eda;
    padding: 7px 20px;
    border-radius: 4px;
    color: #038eda;
}

.ignore-button
{
    padding: 7px 20px;
    border: 1px solid #adadad;
    border-radius: 4px;
    background-color: #adadad;
    color: white;
}

.daterangepicker
{
    display: none;
}

.range-input
{
    width: 84% !important;
    border-radius: 6px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.daterangepicker .input-mini
{
    padding: 0 6px 0 28px;
    box-sizing: border-box;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-chevron-left:before {
    content: "<";
}

.fa-chevron-right:before {
    content: ">";
}

.pull-right
{
    display: inline-block;
    border: 1px solid #ddd;
    /*border-radius: 6px;*/
    cursor:pointer;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.dialog-traffic-title
{
    color: #33353F;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-transform: none;
    text-align: center;
    margin: 30px 0;
}
.flower-button:hover{
    color: #585858 !important;
}
.flowertext-case1
{
    background-color: #FFFFFF;
    color:#fc4c4c;
    font-size: 13px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    -o-text-overflow: ellipsis;
    word-wrap: normal;
}
.flowertext-case2
{
    background-color: #FFFFFF;
    color:#038eda;
    font-size: 13px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    -o-text-overflow: ellipsis;
    word-wrap: normal;
}
.flowertext-case3
{
    background-color: #FFFFFF;
    color:#272727;
    font-size: 13px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    -o-text-overflow: ellipsis;
    word-wrap: normal;
}
.tb02 tbody td{
    text-align: center;
    font-size: 13px;
    letter-spacing: 0;
    border-bottom: 1px solid #e9e9e9;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 6px 8px;
}
.tb02 tbody td.text{
    width:60%;
    border-right: #dbdbdb solid 1px;
}
.tb02 tbody td.text >input{
    padding: 0;
}
.tb02 tbody td.info{
    width: 20%;
}
