.operation-title
{
    font-size: 22px;
    font-weight: 600;
}

.operation-advance-search
{
    position: absolute;
    top: 20px;
    right: 20px;
}

.operation-advance-search > span
{
    vertical-align: middle;
    font-weight: 600;
    font-size: 13px;
    margin-right: 10px;
}

.operation-advance-search > span + div
{
    display: inline-block;
}

.operation-search-area
{
    margin-top: 20px;
}

.operation-search-area > input, .search-area > button
{
    vertical-align: middle;
}

.operation-search-area > input
{
    margin: 0;
    padding: 9px 18px 9px 8px;
}

.operation-search-area > button
{
    margin-left: 14px;
}

.operation-search-area.advanced
{
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    padding: 20px 46px;

    position: relative;
}

.operation-search-area.advanced button.clear
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80px;
}

.operation-search-area.advanced button.search
{
    position: absolute;
    right: 110px;
    bottom: 20px;
    width: 80px;
}

.operation-search-area th
{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.operation-search-area th, .operation-search-area td
{
    padding: 5px 0;
}

.operation-search-area td span
{
    vertical-align: middle;
    font-size: 20px;
    color: #bfbfbf;
}

.operation-search-area input
{
    width: 150px;
}

.operation-search-area table
{
    width: 90%;
}

.operation-content
{
    margin-top: 28px;
}

.operation-user-dialog-button
{
    padding: 5px 15px;
    border: 1px solid #038eda;
    border-radius: 4px;
    color: #038eda !important;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.operation-active-area
{
    padding: 10px;
    background-color: #d9eefa;
    border-radius: 4px;
    margin-top: 8px;
}

.operation-active-area .operation-active-area-title
{
    font-size: 15px;
    font-weight: 600;
    color: #038eda;
    padding-left: 20px;
    margin-bottom: 10px;
}
