<style>
.working-ground {
    position:relative !important;
}
</style>

<div ng-controller="MyBotDevelopmentController" class="graph-background">
    <div class="working-ground-bizchat">
        <div class="mybot-list">
            <span class="subject">나의 봇</span>
            <span class="detail">(총 {{botList.length}}개)</span>
            <div class="content">
                <div class="list">
                    <div href="" class="bot">
                        <a class="num">01.</a>
                        <a class="data"> 2018.01.22</a>
                        <a class="xbtn" href=""></a>
                        <p class="detail2">9월 가입 이벤트</p>
                        <div class="btn-area">
                            <a class="btn-style02" href="">수정하기</a>
                            <a class="btn-style03" href="">발송하기</a>
                        </div>
                        <div class="cpc">cpc</div>
                    </div>
                    <div href="" class="bot">
                        <a class="num">01.</a>
                        <a class="data"> 2018.01.22</a>
                        <a class="xbtn" href=""></a>
                        <p class="detail2">9월 가입 이벤트</p>
                        <div class="btn-area">
                            <a class="btn-style02" href="">수정하기</a>
                            <a class="btn-style03" href="">발송하기</a>
                        </div>
                        <div class="cpc">cpc</div>
                    </div>
                    <div href="" class="bot">
                        <a class="num">01.</a>
                        <a class="data"> 2018.01.22</a>
                        <a class="xbtn" href=""></a>
                        <p class="detail2">9월 가입 이벤트</p>
                        <div class="btn-area">
                            <a class="btn-style02" href="">수정하기</a>
                            <a class="btn-style03" href="">발송하기</a>
                        </div>
                        <div class="cpc">cpc</div>
                    </div>
                </div>
                <div class="tablePaging" style="margin-top: 40px;">
                    <div class="tablePagingC">
                        <a href="#" class="direction">
                            <img src="modules/playchat/working-ground/common/client/imgs/btn_prev.png" alt="이전페이지이동">
                        </a>
                        <a href="#">1</a>
                        <a href="#" class="direction">
                            <img src="modules/playchat/working-ground/common/client/imgs/btn_next.png" alt="다음페이지이동">
                        </a>
                    </div>
                </div>

                <!--<section class="simulator" ng-include="'/modules/playchat/simulator/client/views/simulator.client.view.html'"></section>-->
            </div>
        </div>
    </div>
</div>

