<ion-view view-title="{{vm.userBot.name}}" >

  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">공유 및 학습</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">취소해요</button>
      </ion-header-bar>
      <ion-content class="padding">
        <button class="button button-full button-positive" ng-click="vm.fbShare()">Facebook</button>
        <button class="button button-full button-positive" ng-click="vm.kakaoTalkShare()">KakaoTalk</button>
        <button class="button button-full button-positive" ng-click="vm.twitterShare()">Twitter</button>
        <button class="button button-block button-positive button-outline" ng-click="userBotLearn()">학습시키기</button>
      </ion-content>
    </ion-modal-view>
  </script>

    <ion-nav-bar class="bar-light box-shadow">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <button class="button button-clear button-calm" ng-click="vm.mobileModal()"><i
                    class="icon ion-share font-bold"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div id="chat_main" class="list m-n chat-bubble">
            <!--<div class="item item-avatar-right b-none me" href="#">-->
                <!--<div class="text-xs"><span class="font-bold m-r-sm">{{recipient.name}}</span><span-->
                        <!--class="color-grey-500">1:30PM</span></div>-->
                <!--<div class="bubble">-->
                    <!--<i class="icon-tail-me"></i>-->
                    <!--<span class="content">-->
            <!--Hey buddy, I'm already there-->
          <!--</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="item item-avatar b-none friend" href="#">-->
                <!--<img ng-src="/images/venkman.jpg">-->
                <!--<div class="text-xs"><span class="font-bold m-r-sm">Adam</span><span-->
                        <!--class="color-grey-500">1:35PM</span></div>-->
                <!--<div class="bubble">-->
                    <!--<i class="icon-tail"></i>-->
                    <!--<span class="content">-->
            <!--Wait a minute. I'm coming-->
          <!--</span>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </ion-content>
    <form name="chatForm" ng-submit="vm.sendMsg()">
    <div class="bar bar-subfooter item-input-inset">
        <label class="item-input-wrapper no-bg">
            <input name="inputbox" type="text" placeholder="Add a message" ng-model="vm.msg" >
        </label>
        <button class="button button-clear" type="submit">
            Send
        </button>
    </div>
    <ion-footer-bar class="bar-light item-input-inset b-t">
        <label class="item-input-wrapper no-bg">
            <input name="inputbox" type="text" placeholder="Add a message" ng-model="vm.msg" >
        </label>
        <button class="button button-clear" type="submit" >
            Send
        </button>
    </ion-footer-bar>
    </form>
</ion-view>
