<section ng-controller="LogController as vm">

<div class="row" style="padding: 5px 12px 3px 5px">
  <div class="col-md-6">
    <input type="text" class="form-control" id="initMsg" name="initMsg"
           ng-model="vm.initMsg"
           placeholder="디폴트 시작 메세지"
    style="height: 29px"/>
  </div>
  <div class="col-md-6" style="text-align: right;">
    <button class="btn btn-sm btn-default" ng-click="vm.resetBot()">봇시작 (F5)</button>
    <button class="btn btn-sm btn-default" ng-click="vm.buildBot()">빌드 (F7)</button>
    <button class="btn btn-sm btn-default" ng-click="vm.clearLog()">로그초기화</button>
    <button class="btn btn-sm btn-default" ng-click="vm.closeLog()">닫기</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div  id="logDiv" ng-bind="vm.log" style="white-space:pre; line-height: 17px; font-size: 13px; width: 100%; min-height: 173px;padding-bottom: 16px;overflow: scroll;border: 0" class="form-control"></div>
  </div>
</div>

</section>