<header class="page-header">
  <h2>Learnings</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Learnings</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel" ng-controller="LearningsController" ng-init="find()">

  <div class="panel-body">
    <div class="table-responsive">
      <table datatable="ng" class="table table-bordered table-striped table-condensed mb-none">
        <thead>
        <tr>
          <th class="text-center" >작성자</th>
          <th>제목</th>
          <th>등록일</th>
          <th class="text-right">이메일</th>
          <th>표시이름</th>
          <th>이름</th>
          <th>성</th>
          <th>가입일</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="learning in learnings" ui-sref="learnings.view({learningId: learning._id})">
          <td class="text-center" ng-bind="learning.user.username"></td>
          <td ng-bind="learning.title"></td>
          <td ng-bind="learning.created | date:'mediumDate'"></td>
          <td ng-bind="learning.user.email"></td>
          <td ng-bind="learning.user.displayName"></td>
          <td ng-bind="learning.user.firstName"></td>
          <td ng-bind="learning.user.lastName"></td>
          <td ng-bind="learning.user.created | date:'mediumDate'"></td>
        </tr>



        </tbody>
      </table>
    </div>
  </div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-6 pull-left">
      </div>

      <div class="col-sm-6 text-right">
        <a class="btn btn-primary btn-sm" ui-sref="learnings.create">
          <i class="fa fa-plus"></i> 신규등록
        </a>
      </div>
    </div>
  </footer>
</section>



<!--<section class="panel">-->
  <!--<div class="panel-body">-->
    <!--<table class="table table-bordered table-striped mb-none" id="datatable-default">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th class="text-center" >작성자</th>-->
        <!--<th>제목</th>-->
        <!--<th>등록일</th>-->
        <!--<th>이메일</th>-->
        <!--<th>표시이름</th>-->
        <!--<th>이름</th>-->
        <!--<th>성</th>-->
        <!--<th>가입일</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr ng-repeat="learning in learnings" ui-sref="learnings.view({learningId: learning._id})">-->
        <!--<td class="text-center" ng-bind="learning.user.username"></td>-->
        <!--<td ng-bind="learning.title"></td>-->
        <!--<td ng-bind="learning.created | date:'mediumDate'"></td>-->
        <!--<td ng-bind="learning.user.email"></td>-->
        <!--<td ng-bind="learning.user.displayName"></td>-->
        <!--<td ng-bind="learning.user.firstName"></td>-->
        <!--<td ng-bind="learning.user.lastName"></td>-->
        <!--<td ng-bind="learning.user.created | date:'mediumDate'"></td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->

  <!--<footer class="panel-footer">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6 pull-left">-->
      <!--</div>-->

      <!--<div class="col-sm-6 text-right">-->
        <!--<a class="btn btn-primary btn-sm" ui-sref="learnings.create">-->
          <!--<i class="fa fa-plus"></i> 신규등록-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</footer>-->

<!--</section>-->


<!--&lt;!&ndash; Examples &ndash;&gt;-->
<!--<script src="/js/tables/examples.datatables.default.js"></script>-->
<!--<script src="/js/tables/examples.datatables.row.with.details.js"></script>-->
<!--<script src="/js/tables/examples.datatables.tabletools.js"></script>-->



<!--<section ng-controller="LearningsController" ng-init="find()">-->
  <!--<div class="page-header">-->
    <!--<h1>Learnings</h1>-->
  <!--</div>-->
  <!--<div class="list-group">-->
    <!--<a ng-repeat="learning in learnings" ui-sref="learnings.view({learningId: learning._id})" class="list-group-item">-->
      <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--<span ng-bind="learning.created | date:'mediumDate'"></span>-->
        <!--by-->
        <!--<span ng-bind="learning.user.displayName"></span>-->
      <!--</small>-->
      <!--<h4 class="list-group-item-heading" ng-bind="learning.title"></h4>-->
      <!--<p class="list-group-item-text" ng-bind="learning.content"></p>-->
    <!--</a>-->
  <!--</div>-->
  <!--<div class="alert alert-warning text-center" ng-if="learnings.$resolved && !learnings.length">-->
    <!--No learnings yet, why don't you <a ui-sref="learnings.create">create one</a>?-->
  <!--</div>-->
<!--</section>-->
