.daterangepicker
{
    display: none;
}

.operation-search-area td span
{
    font-size: 14px;
    color: #343434;
}

.range-input
{
    width: 84% !important;
    border-radius: 6px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.daterangepicker .input-mini
{
    padding: 0 6px 0 28px;
    box-sizing: border-box;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-chevron-left:before {
    content: "<";
}

.fa-chevron-right:before {
    content: ">";
}

.user-operation-memo-area
{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}

.user-operation-memo-area textarea
{
    border: 0;
    width: 100%;
    min-height: 100px;
}

.user-operation-memo-area textarea:focus
{
    outline: 0;
}

.user-operation-history-area
{
    margin-top: 12px;
}

.operation-history-title
{
    padding-left: 20px;

    font-size: 15px;
    font-weight: 600;
    color: #424242;
}

.operation-history-card
{
    position: relative;
    padding: 17px;
    margin: 4px;

    border: 1px solid #e8e8e8;
    border-radius: 4px;

    display: inline-block;
    width: 49.2%;

    box-sizing: border-box;
}

.operation-history-card-date
{
    position: absolute;
    top: 10px;
    right: 15px;

    font-size: 12px;
    font-weight: 100;
    color: #c7c7c7;
}
