<section class="body-sign" ng-controller="PasswordController">

  <div class="panel panel-sign"  style="margin-top: 100px;">
    <div class="panel-title-sign mt-xl text-right">
      <!--<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i>비밀번호 찾기</h2>-->
    </div>
    <div class="panel-body">
      <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <label>E-mail</label>
            <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="찾고자하는 E-mail 주소를 입력하세요" lowercase
                   ng-pattern="/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i"
                   required>
            <div ng-messages="forgotPasswordForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required" ng-show= "forgotPasswordForm.email.$error.required && submitted">E-mail을 입력하지 않았어요</p>
              <p class="help-block error-text" ng-show= "forgotPasswordForm.email.$error.pattern && submitted">E-mail 형식이 아니에요</p>
            </div>

            <!--<div id="test" ng-messages="forgotPasswordForm.email.$error" ng-show= "forgotPasswordForm.email.$error.required && submitted" >-->
              <!--<span class="closebtn" role="alert" onclick="test()" ng-message="required" >&times;</span>-->
              <!--E-mail을 입력하지 않았어요-->
            <!--</div>-->

          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong ng-bind="success"></strong>
          </div>

          <!--<p>{{abc.www}}</p>-->
          <!--<ui-select ng-model="abc.www" theme="select2" style="min-width: 300px;">-->

            <!--<ui-select-match>-->
              <!--<span ng-bind="$select.selected.name"></span>-->
            <!--</ui-select-match>-->

            <!--<ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">-->
              <!--<span ng-bind="item.name"></span>-->
            <!--</ui-select-choices>-->

          <!--</ui-select>-->

        </fieldset>
      </form>
    </div>

  </div>

</section>

<!--<style>-->
  <!--#test{-->
    <!--opacity: 1;-->
    <!--width: 435px;-->
    <!--padding: 20px;-->
    <!--background-color: #f76949; /* Red */-->
    <!--color: white;-->
    <!--margin-bottom: 15px;-->
    <!--position: absolute;-->
    <!--box-sizing: border-box;-->
    <!--z-index: 1;-->
    <!--overflow: visible;-->
    <!--font-size: 13px;-->
    <!--transition: opacity 1s;-->
    <!--top: 212px;-->
    <!--visibility: visible;-->
    <!--/*transition-duration: 1s;*/-->
    <!--/*transition-delay: 0s;*/-->
    <!--/*transition-property: all;*/-->
    <!--/*transition-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);*/-->
  <!--}-->
  <!--.closebtn {-->
    <!--margin-left: 15px;-->
    <!--color: white;-->
    <!--font-weight: bold;-->
    <!--float: right;-->
    <!--font-size: 22px;-->
    <!--line-height: 20px;-->
    <!--cursor: pointer;-->
    <!--transition: 0.3s;-->
  <!--}-->
  <!--.closebtn:hover {-->
    <!--color: black;-->
  <!--}-->
<!--</style>-->
<!--<script>-->
  <!--var close = document.getElementsByClassName("closebtn");-->
  <!--function test() {-->
    <!--console.log(123);-->

    <!--for (var i = 0; i < close.length; i++) {-->
      <!--close[i].onclick = function(){-->
        <!--var div = this.parentElement;-->
        <!--div.style.opacity = "0";-->
        <!--setTimeout(function(){ div.style.display = "none"; }, 600);-->
      <!--}-->
    <!--}-->
  <!--}-->

<!--</script>-->
