
<link rel="stylesheet" href="/vendor/morris.js/morris.css" />

<header class="page-header">
  <h2>Dashboard</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>
<!-- start: page -->

<section class="panel"ng-controller="AnalyticsListController" ng-init="dashboard()">
	<div class="row">
		<div class="col-md-6">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>
					<h2 class="panel-title">사용자수</h2>
				</header>
				<div class="panel-body">
					<div class="chart chart-sm" data-kind-rel="daily" id="flotUser" class="chart-active"></div>
				</div>
			</section>
		</div>
		<div class="col-md-6">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>
					<h2 class="panel-title">문장성공률</h2>
				</header>
				<div class="panel-body">
					<div class="row text-center">
						<div class="col-md-6">
							<meter min="0" max="100" value="50" id="meterMonth"></meter>
							<span class="mb-xs">This month</span>
						</div>
						<div class="col-md-6">
							<meter min="0" max="100" value="50" id="meterYear"></meter>
                            <span class="mb-xs">This year</span>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>
					<h2 class="panel-title">대화별 사용량</h2>
				</header>
				<div class="panel-body">
					<div class="chart chart-md" id="morrisStacked"></div>
				</div>
			</section>
		</div>
		<div class="col-md-6">
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
					</div>
					<h2 class="panel-title">대화별 사용량 TOP 10</h2>
				</header>
				<div class="panel-body">
					<table class="table table-striped mb-none">
						<thead>
						<tr>
							<th class="text-center">대화</th>
							<th class="text-center">사용량</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="dialogUsage in dialogUsages | limitTo: 10">
							<td class="text-center">{{dialogUsage._id}}</td>
							<td class="text-center">{{dialogUsage.count}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
</section>

<script src="/vendor/flot/jquery.flot.js"></script>
<script src="/vendor/flot.tooltip/flot.tooltip.js"></script>
<script src="/vendor/flot/jquery.flot.categories.js"></script>
<script src="/vendor/flot/jquery.flot.resize.js"></script>
<script src="/vendor/snap.svg/snap.svg.js"></script>
<script src="/vendor/liquid-meter/liquid.meter.js"></script>
<script src="/vendor/raphael/raphael.js"></script>
<script src="/vendor/morris.js/morris.js"></script>
