<script>
  function changeFunc(selectBox) {
    document.getElementById("year").style.display = "none";
    document.getElementById("ym").style.display = "none";
    switch (selectBox.selectedIndex) {
      case 1:
        document.getElementById("year").style.display = "inline";
        break;
      case 2:
        document.getElementById("ym").style.display = "inline";
        break;
    }
  }

</script>
<header class="page-header">
  <h2>Dialog 대화학습</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<!-- start: page -->
<section class="panel" ng-init="find_dialog_failure()">
  <header class="panel-heading" style="padding:3px">
    <form name="form" novalidate="novalidate">
      <table width="100%"><tr><td>
        <h2 class="panel-title">&nbsp;</h2>
      </td><td align="right">
        <select name="kind" ng-model="kind"  onchange="changeFunc(this)">
          <option selected="selected" value="all">전체</option>
          <option value="year">연도별</option>
          <option value="month">월별</option>
        </select>
        <input type="number" id="year" ng-model="year" min="1999" max="2100" value='2017' style="display:none">
        <input type="month" id="ym" ng-model="ym" style="display:none" value="2017-03">
        <button class="btn btn-primary" ng-click="find_dialog_failure()">검색</button>
      </td></tr></table>
    </form>
  </header>

  <div class="panel-body">
    <table datatable="ng" id="dt" dt-options="vm.dtOptions" class="table table-bordered mb-none">
      <thead>
      <tr>
        <th class="text-center">대화</th>
        <th class="text-center">실패빈도</th>
        <th class="text-center">관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="dialogUsage in dialogFailure">
        <td class="text-center col-sm-7">{{dialogUsage._id.dialog}}</td>
        <td class="text-center">{{dialogUsage.count}}</td>
        <td class="text-center col-sm-2">
          <button class="modal-with-form2 btn btn-default btn-sm" style="width:49%; border: none" ng-click="findChildren(dialogUsage._id.preDialogId, dialogUsage._id.dialog)">대화수정</button>
          <button class="modal-with-form2 btn btn-default btn-sm" style="width:49%;border: none" ng-click="dialogFailureClear(dialogUsage)">삭제</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="test-body">
    <a class="modal-with-form btn btn-default" style="display:none" href="#modalForm">Open Form</a>

    <!-- Modal Form -->
    <div id="modalForm" class="modal-block modal-block-primary mfp-hide">
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">&nbsp;</h2>
        </header>
        <form name="dialogForm" class="form-horizontal" novalidate="novalidate">
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">다이얼로그 선택</label>
            <div class="col-sm-9">
              <!--<select name="kind" ng-model="selected" ng-options="d.name for d in dialogs">-->
                <!--&lt;!&ndash;<option ng-repeat="d in dialogs" ng-selected="selected == d.idx" value="{{d.idx}}">{{d.name}}</option>&ndash;&gt;-->
              <!--</select>-->

              <!--<ui-select ng-model="selected"-->
                         <!--theme="bootstrap"-->
                         <!--reset-search-input="true"-->
                         <!--title="Dialog를 선택하세요">-->
                <!--<ui-select-match placeholder="Dialog 이름을 입력해주세요">{{$select.selected.name}}</ui-select-match>-->
                <!--<ui-select-choices repeat="t in dialogs | filter: $select.search track by $index"-->
                                   <!--refresh-delay="0">-->
                  <!--<div ng-bind-html="t.name | highlight: $select.search"></div>-->
                <!--</ui-select-choices>-->
              <!--</ui-select>-->

              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">{{selected.name}}
                  <span class="caret"></span></button>
                <ul class="dropdown-menu" style="width: 100%">
                  <li class="text-center" data-ng-repeat="list in dialogs" ng-click="selectDialog(list)"><a href="#">{{list.name}}</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">질문 <span class="required" aria-required="true">*</span></label>
            <div class="col-sm-9">
              <div class="input-group input-group-icon" ng-repeat="input in selected.inputs track by $index">
                <input type="text" class="form-control mb-xs" ng-model="input.str.intent" placeholder="질문을 입력해주세요" data-ng-if="input.str.intent" ng-disabled = true>
                <input type="text" class="form-control mb-xs" ng-model="input.str.if" placeholder="질문을 입력해주세요" data-ng-if="input.str.if" ng-disabled = true>
                <input type="text" class="form-control mb-xs" ng-model="input.str.regexp" placeholder="질문을 입력해주세요" data-ng-if="input.str.regexp" ng-disabled = true>
                <input type="text" class="form-control mb-xs" ng-model="input.str.entities[0]" placeholder="질문을 입력해주세요" data-ng-if="input.str.entities[0]" ng-disabled = true>
                <input type="text" class="form-control mb-xs" ng-model="input.str" placeholder="질문을 입력해주세요" data-ng-if="!input.str.intent && !input.str.if && !input.str.regexp && !input.str.entities[0]">
              </div>
              <button type="button" ng-click="addInput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> 질문추가</button>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">답변 <span class="required" aria-required="true">*</span></label>
            <div class="col-sm-9">
              <div class="input-group input-group-icon" ng-repeat="output in selected.outputs track by $index">
                <input type="text" data-ng-if="output.str.text == undefined" id="output" name="output" ng-model="output.str" class="form-control valid mb-xs" placeholder="답변을 입력해주세요" required="" aria-required="true" aria-invalid="false">
                <input type="text" data-ng-if="output.str.text != undefined" name="output" ng-model="output.str.text" class="form-control valid mb-xs" placeholder="답변을 입력해주세요" required="" aria-required="true" aria-invalid="false">
              </div>
              <button type="button" ng-click="addOutput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> 답변추가</button>
            </div>
          </div>
        </div>
        <footer class="panel-footer">
          <div class="row">
            <div class="col-md-12 text-right">
              <button class="btn btn-primary modal-confirm" ng-click="update(dialogForm.$valid)" >저장</button>
              <button class="btn btn-default modal-dismiss">취소</button>
            </div>
          </div>
        </footer>
        </form>
      </section>
    </div>
  </div>
</section>

<script src="/vendor/pnotify/pnotify.custom.js"></script>
<script src="/js/ui-elements/examples.modals.js"></script>

