<header class="page-header">
  <h2>대화 실패 유지보수</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<!-- start: page -->
<section class="panel" ng-controller="AnalyticsListController">
  <!--<header class="panel-heading">-->
    <!--<form name="form" novalidate="novalidate">-->
      <!--<table width="100%">-->
        <!--<tr>-->
          <!--<td>-->
            <!--<h2 class="panel-title">대화 실패 유지보수</h2>-->
          <!--</td>-->
          <!--<td align="right">-->
            <!--<select name="kind" ng-model="kind"  onchange="changeFunc(this)">-->
              <!--<option selected="selected" value="all">전체</option>-->
              <!--<option value="year">연도별</option>-->
              <!--<option value="month">월별</option>-->
            <!--</select>-->
            <!--<input type="number" id="year" ng-model="year" min="1999" max="2100" value='2017' style="display:none">-->
            <!--<input type="month" id="ym" ng-model="ym" style="display:none" value="2017-03">-->
            <!--<button class="btn btn-primary" ng-click="find_dialog_failure_maintenance()">오류 목록 검사</button>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</form>-->
  <!--</header>-->

  <div class="panel-body">
    <table datatable="ng" id="dt" dt-options="vm.dtOptions2" class="table table-bordered mb-none">
      <thead>
      <tr>
        <th class="text-center">실패 인텐트</th>
        <!--<th class="text-center">실패빈도</th>-->
        <th class="text-center col-md-2">관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="intent in failedIntent">
        <td class="text-center">{{intent._id.name}}</td>
        <!--<td class="text-center">{{intent.count}}</td>-->
        <td class="text-center col-md-2">
          <button class="btn btn-default btn-block btn-xs" ui-sref="analytics.dialog-failure-maintenance.edit({intentId: intent._id._id})">대화수정</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

