<div>
  <div class="modal-header">
    <h4 class="modal-title text-center" >실패 대화 학습시키기</h4>
  </div>
  <div class="modal-body">
    <form name="dialogForm" class="form-horizontal" novalidate="novalidate">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">다이얼로그 선택</label>
          <div class="col-sm-9">
            <!--<select name="kind" ng-model="selected" ng-options="d.name for d in dialogs">-->
            <!--&lt;!&ndash;<option ng-repeat="d in dialogs" ng-selected="selected == d.idx" value="{{d.idx}}">{{d.name}}</option>&ndash;&gt;-->
            <!--</select>-->

            <!--<ui-select ng-model="selected"-->
            <!--theme="bootstrap"-->
            <!--reset-search-input="true"-->
            <!--title="Dialog를 선택하세요">-->
            <!--<ui-select-match placeholder="Dialog 이름을 입력해주세요">{{$select.selected.name}}</ui-select-match>-->
            <!--<ui-select-choices repeat="t in dialogs | filter: $select.search track by $index"-->
            <!--refresh-delay="0">-->
            <!--<div ng-bind-html="t.name | highlight: $select.search"></div>-->
            <!--</ui-select-choices>-->
            <!--</ui-select>-->

            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">{{selected.name}}
                <span class="caret"></span></button>
              <ul class="dropdown-menu" style="width: 100%">
                <li class="text-center" data-ng-repeat="list in dialogs" ng-click="selectDialog(list)"><a href="#">{{list.name}}</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">질문 <span class="required" aria-required="true">*</span></label>
          <div class="col-sm-9">
            <div class="input-group input-group-icon" ng-repeat="input in selected.inputs track by $index">
              <input type="text" class="form-control mb-xs" ng-model="input.str.intent" placeholder="질문을 입력해주세요" data-ng-if="input.str.intent" ng-disabled = true>
              <input type="text" class="form-control mb-xs" ng-model="input.str.if" placeholder="질문을 입력해주세요" data-ng-if="input.str.if" ng-disabled = true>
              <input type="text" class="form-control mb-xs" ng-model="input.str.regexp" placeholder="질문을 입력해주세요" data-ng-if="input.str.regexp" ng-disabled = true>
              <input type="text" class="form-control mb-xs" ng-model="input.str.entities[0]" placeholder="질문을 입력해주세요" data-ng-if="input.str.entities[0]" ng-disabled = true>
              <input type="text" class="form-control mb-xs" ng-model="input.str" placeholder="질문을 입력해주세요" data-ng-if="!input.str.intent && !input.str.if && !input.str.regexp && !input.str.entities[0]">
            </div>
            <button type="button" ng-click="addInput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> 질문추가</button>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">답변 <span class="required" aria-required="true">*</span></label>
          <div class="col-sm-9">
            <div class="input-group input-group-icon" ng-repeat="output in selected.outputs track by $index">
              <input type="text" data-ng-if="output.str.text == undefined" id="output" name="output" ng-model="output.str" class="form-control valid mb-xs" placeholder="답변을 입력해주세요" required="" aria-required="true" aria-invalid="false">
              <input type="text" data-ng-if="output.str.text != undefined" name="output" ng-model="output.str.text" class="form-control valid mb-xs" placeholder="답변을 입력해주세요" required="" aria-required="true" aria-invalid="false">
            </div>
            <button type="button" ng-click="addOutput()" class="mb-xs mr-xs btn btn-sm btn-info"><i class="glyphicon glyphicon-plus"></i> 답변추가</button>
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-primary modal-confirm" ng-click="updateDialog(dialogForm.$valid)" >저장</button>
            <button type="button" class="btn btn-default" ng-click="modalDismiss()">취소</button>
          </div>
        </div>
      </footer>
    </form>
  </div>
</div>