<header class="page-header">
    <h2>대화량</h2>

    <div class="right-wrapper pull-right">
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<!-- start: page -->

<section class="panel" data-ng-init="init()">
    <div class="row" >
        <div class="col-md-12">
            <header class="panel-heading">
                <h2 class="panel-title text-center">조회 기준</h2>
            </header>
            <div class="panel-body" >
                <div class="col-md-12 row" style="margin: 10px">
                    <div class="col-md-3">
                        DATA 기준
                    </div>
                    <div class="col-md-9 row">
                        <span class="col-md-3">
                            <input  type="radio" data-ng-model="quickDate" value="month"> 월
                        </span>
                        <span class="col-md-3">
                            <input  type="radio" data-ng-model="quickDate" value="week"> 주
                        </span>
                        <span class="col-md-3">
                            <input  type="radio" data-ng-model="quickDate" value="day"> 일
                        </span>
                    </div>
                </div>
                <div class="col-md-12 row" style="margin: 10px">
                    <div class="col-md-3">
                        유형
                    </div>
                    <div class="col-md-9 row">
                        <span class="col-md-3">
                            <input  type="radio" data-ng-model="userType" value="total"> 전체
                        </span>
                        <span class="col-md-3">
                            <input  type="radio" data-ng-model="userType" value="new" ng-disabled="true"> 신규
                        </span>
                        <span class="col-md-3">
                            <input  type="radio" data-ng-model="userType" value="revisit" ng-disabled="true"> 재방문
                        </span>
                    </div>
                </div>
                <!--<div class="col-md-12 row">-->
                    <!--<div class="col-md-3">-->
                        <!--채널-->
                    <!--</div>-->
                    <!--<div class="col-md-9 row">-->
                        <!--<span class="col-md-3">-->
                            <!--<input  type="radio" data-ng-model="channel" value="total"> 전체-->
                        <!--</span>-->
                        <!--<span class="col-md-3">-->
                            <!--<input  type="radio" data-ng-model="channel" value="kakao"> 카카오-->
                        <!--</span>-->
                        <!--<span class="col-md-3">-->
                            <!--<input  type="radio" data-ng-model="channel" value="facebook"> 페이스북-->
                        <!--</span>-->
                        <!--<span class="col-md-3">-->
                            <!--<input  type="radio" data-ng-model="channel" value="navertalk"> 네이버톡톡-->
                        <!--</span>-->

                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-12 row" style="margin: 10px">
                    <div class="col-md-3">
                        기간
                    </div>
                    <div class="col-md-9 row">
                        <span class="col-md-9">
                            <div id="sandbox-container">
                                <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" data-ng-model="date.start"/>
                                    <span class="input-group-addon"> ~ </span>
                                    <input type="text" class="input-sm form-control" name="end" data-ng-model="date.end"/>
                                </div>
                            </div>
                        </span>
                        <span class="col-md-3">
                            <button type="button" class="btn btn-default" style="position: absolute;right: -40px" ng-click="update()">조회</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <header class="panel-heading">
                <h2 class="panel-title text-center">서비스별 대화량</h2>
                <button type="button" class="btn btn-default" style="position: absolute;top: 10px;right: 10px" ng-click="exelDownload()">엑셀 다운로드</button>
            </header>
            <div class="panel-body" >
                <table class="table table-striped mb-none">
                    <thead>
                    <tr>
                        <th class="text-center">Depth No.</th>
                        <th class="text-center">서비스명</th>
                        <th class="text-center">전체 대화수</th>
                        <th class="text-center">카카오</th>
                        <th class="text-center">페이스북</th>
                        <th class="text-center">네이버톡톡</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="senario in senarioUsageList | orderBy: 'order'" data-ng-if="senario._id.dialogName">
                        <td >{{senario.index}}</td>
                        <td class="text-center">{{senario._id.dialogName}}</td>
                        <td class="text-center">{{senario.total}}</td>
                        <td class="text-center">{{senario.kakao}}</td>
                        <td class="text-center">{{senario.facebook}}</td>
                        <td class="text-center">{{senario.navertalk}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

<script>
  $('#sandbox-container .input-daterange').datepicker({
    language: "kr",
    format: "yyyy/mm/dd",
    todayBtn: "linked",
    clearBtn: true,
    orientation: "auto",
    todayHighlight: true,
    autoclose: true
  })
</script>

<script src="/lib/chart.js/dist/Chart.js"></script>
