<header class="page-header">
  <h2>대화(세션) 성공률</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!-- start: page -->
<section class="panel" ng-controller="AnalyticsListController" ng-init="find_session_success()">
  <header class="panel-heading">
    <h2 class="panel-title">대화(세션) 성공률</h2>
  </header>
  <div class="panel-body">
    <table><tr><td>
      <form name="form"  ng-submit="search(form.$valid)" novalidate="novalidate">
        <select name="kind" ng-model="vm.kind" class="form-control valid">
          <option value="all">전체</option>
          <option value="year">연도별</option>
          <option value="month">월별</option>
        </select>
        <input type="month" name="ym" ng-model="vm.ym" class="form-control valid">
        <button class="btn btn-primary col-sm-offset-3 col-sm-6" ng-click="search(form.$valid)">검색</button>
      </form>
    </td></tr></table>
    <table datatable="ng" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <th class="text-center">대화</th>
        <th class="text-center">성공률</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="dialogUsage in sessionSuccess">
        <td class="text-center">{{dialogUsage._id}}</td>
        <td class="text-center">{{dialogUsage.count}}%</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
