<header class="page-header">
  <h2>Articles</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Articles</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel" ng-controller="ArticlesController">
  <form name="articleForm" class="form-horizontal form-bordered" ng-submit="create(articleForm.$valid)" novalidate="novalidate">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Title <span class="required" aria-required="true">*</span></label>
          <div class="col-sm-9">

            <input type="text" id="title" name="title" ng-model="title" class="form-control valid" placeholder="제목을 입력해주세요" required="" aria-required="true" aria-invalid="false">
          </div>
        </div>
        <div class="form-group has-error">
          <label class="col-sm-3 control-label">Content <span class="required" aria-required="true">*</span></label>
          <div class="col-sm-9">
            <textarea name="content" ng-model="content" id="content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea>
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-12 text-center">
            <!--<button class="btn btn-primary btn-sm">Submit</button>-->
            <input type="submit" class="btn btn-primary btn-sm">
            <button type="reset" class="btn btn-default btn-sm">Reset</button>
          </div>
        </div>
      </footer>
  </form>
</section>


<script src="assets/javascripts/forms/examples.validation.js"></script>

<!--<section ng-controller="ArticlesController">-->
  <!--<div class="page-header">-->
    <!--<h1>New Article</h1>-->
  <!--</div>-->
  <!--<div class="col-md-12">-->
    <!--<form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>-->
      <!--<fieldset>-->
        <!--<div class="form-group" show-errors>-->
          <!--<label for="title">Title</label>-->
          <!--<input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>-->
          <!--<div ng-messages="articleForm.title.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Article title is required.</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="content">Content</label>-->
          <!--<textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input type="submit" class="btn btn-default btn-sm">-->
        <!--</div>-->
        <!--<div ng-show="error" class="text-danger">-->
          <!--<strong ng-bind="error"></strong>-->
        <!--</div>-->
      <!--</fieldset>-->
    <!--</form>-->
  <!--</div>-->
<!--</section>-->
