
<div ng-controller="BizSendlistAnalysisController" class="graph-background">

    <div class="working-ground-bizchat">
        <ul>
            <li class="title02 inline mr30">기간</li>
            <li class="inline">
                <div id="createdRange" class="select01" style="width: 80%;">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret"></b>
                </div>
            </li>
        </ul>

        <h3 class="title02 mt30">사용자</h3>
        <table class="tb03">
            <colgroup>
                <col width="3%">
                <col width="15%">
                <col width="20%">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
            </colgroup>
            <thead>
            <tr>
                <th>#</th>
                <th>사용자명</th>
                <th>최근 발송</th>
                <th>발송 수</th>
                <th>발송 성공</th>
                <th>발송 실패</th>
                <th>발송 성공률</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in Users">
                <td></td>
                <td>{{user.username}}</td>
                <td>{{user.regDate | date: 'yyyy년 MM월 dd일, HH시 mm분'}}</td>
                <td>{{user.total}}</td>
                <td class="grap">{{user.total - user.fail}}</td>
                <td>{{user.fail}}</td>
                <td>{{((user.total - user.fail)/user.total)*100}}%</td>
            </tr>
            </tbody>
        </table>

        <h3 class="title02 mt30">봇</h3>
        <table class="tb03">
            <colgroup>
                <col width="3%">
                <col width="15%">
                <col width="5%">
                <col width="20%">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="10%">
            </colgroup>
            <thead>
            <tr>
                <th>#</th>
                <th>봇 이름</th>
                <th></th>
                <th>최근 발송<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>발송 수<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>발송 성공<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>발송 실패<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>발송 성공률<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>
                <th>엑셀 파일</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bot in Bots">
                <td></td>
                <td><a type="button" data-href="/playchat/analysis/biz-sendlist-bot" ng-click="goDetailPage($event,bot)">{{bot.botId}}</a></td>
                <td><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></td>

                <td></td>
                <td>{{bot.regDate | date: 'yyyy년 MM월 dd일, HH시 mm분'}}</td>

                <td>{{bot.total}}</td>
                <td class="grap">{{bot.total - bot.fail}}</td>
                <td>{{bot.fail}}</td>
                <td>{{((bot.total - bot.fail)/bot.total)*100}}%</td>
                <td>
                    <input type="button" id="btnShowMsg" value="Click Me!" onClick='showMessage()'/>
                </td>

            </tr>
            </tbody>
        </table>

        <div class="tablePaging">
            <div class="tablePagingC">
                <a href="/playchat/analysis/biz-sendlist?page={{ pageOptions.prev }}" class="direction">
                    <img src="modules/playchat/working-ground/common/client/imgs/btn_prev.png" alt="{{lan('Move to the preivious page')}}">
                </a>
                <a ng-repeat="page in pageOptions.pages" href="/playchat/analysis/biz-sendlist?page={{ page }}" ng-click="toPage(page);" ng-class="pageOptions.currentPage == page ? 'selected' : ''">{{ page }}</a>
                <a href="/playchat/analysis/biz-sendllist?page={{ pageOptions.next }}" class="direction">
                    <img src="modules/playchat/working-ground/common/client/imgs/btn_next.png" alt="{{lan('Move to the next page')}}">
                </a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function showMessage(){
        alert("준비중입니다.");
    }


</script>

