<header class="page-header">
  <h2>{{vm.restaurant && vm.restaurant._id ? '메뉴 수정' : '메뉴 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel" ng-keyup="vm.onKeyPress($event)">
  <form name="form" class="form-horizontal form-bordered" ng-submit="vm.save(form)"
        novalidate="novalidate">
    <div class="panel-body">

      <div class="form-group" ng-repeat="menu in vm.menus._menus">

        <div class="row">
          <div class="col-sm-2">
            <input type="text" name="category" ng-model="menu.category" class="form-control valid" placeholder="분류">
          </div>
          <div class="col-sm-2">
            <input type="text" name="name" ng-model="menu.name" class="form-control valid"  placeholder="메뉴명">
          </div>
          <div class="col-sm-2">
            <input type="text" name="price" ng-model="menu.price" class="form-control valid" placeholder="가격">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <input type="text" name="photo" ng-model="menu.photo" class="form-control valid" placeholder="사진" >
          </div>
          <div class="col-sm-6">
            <input type="text" name="description" ng-model="menu.description" class="form-control valid" placeholder="설명">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div ng-repeat="(key, value) in menu.options">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" name="option" ng-model="key" class="form-control valid" placeholder="선택메뉴명">
                </div>
              </div>
              <div ng-repeat="(key1, value1) in value" class="row">
                <div class="col-sm-6">
                  <input type="text" name="optionName" ng-model="key1" class="form-control valid" placeholder="선택명">
                </div>
                <div class="col-sm-6">
                  <input type="text" name="optionPrice" ng-model="value1" class="form-control valid" placeholder="선택가격" >
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row" style="height: 34px;">
              &nbsp;
            </div>
            <div ng-repeat="(key, value) in menu.additions" class="row">
              <div class="col-sm-6">
                <input type="text" name="additionName" ng-model="key" class="form-control valid" placeholder="추가메뉴명">
              </div>
              <div class="col-sm-6">
                <input type="text" name="additionPrice" ng-model="value" class="form-control valid" placeholder="추가가격">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>


    <footer class="panel-footer">
      <div class="row">

        <div class="col-sm-12 text-center" ng-hide="vm.menu && vm.menu._id">
          <!--<button class="btn btn-primary btn-sm">Submit</button>-->
          <button type="submit" class="btn btn-primary btn-sm">생성</button>
          <!--<button type="reset" class="btn btn-default btn-sm">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="restaurants.list">취소</button>
        </div>

        <div class="col-sm-12 text-center" ng-show="vm.menu && vm.menu._id">
          <a class="btn btn-primary btn-sm" ng-click="vm.save(form)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>

      </div>
    </footer>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>
