<section>
  <header class="page-header" style="z-index: 0 !important;">
    <h2>사용자 관리 - 수정</h2>

    <div class="right-wrapper pull-right">
      <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
    </div>
  </header>
  <div class="col-md-12">
    <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">이름</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="{{user.username}}" required />
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">이름을 입력해요</p>
          </div>
        </div>
        <!--<div class="form-group" show-errors>-->
          <!--<label for="lastName">Last Name</label>-->
          <!--<input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="{{user.lastName}}" required />-->
          <!--<div ng-messages="userForm.lastName.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Last name is required.</p>-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">권한</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="user.roles" id="roles" ng-list required />
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">역할을 입력해줘야죠</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default btn-sm">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
