<header class="page-header">
  <h2>{{vm.commonAction && vm.commonAction._id ? 'Common Action 수정' : 'Common Action 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel">
  <form name="form" class="form-horizontal form-bordered" ng-submit="vm.save(form.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">이름 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.commonAction.name" class="form-control valid"
                 placeholder="영어(대소문자)와 _의 조합, 추후 변경 불가"
                 required=""
                 aria-required="true" aria-invalid="false"
                 ng-disabled="vm.commonAction._id">
        </div>
        <div ng-messages="form.id.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">타입 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <select ng-options="actionType for actionType in vm.actionTypes"
                  ng-model="vm.commonAction.type"></select>
        </div>
      </div>
      <div class="form-group" ng-if="vm.commonAction.type == vm.actionTypes[0]">
        <label class="col-sm-3 control-label">메소드 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <select ng-options="method for method in vm.restMethods"
                  ng-model="vm.commonAction.method"></select>
        </div>
      </div>
      <div class="form-group" ng-if="vm.commonAction.type == vm.actionTypes[1]">
        <label class="col-sm-3 control-label">컬렉션 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.commonAction.collectionName" class="form-control valid"
                 placeholder="조회할 DB 명"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>
      <div class="form-group" ng-if="vm.commonAction.type == vm.actionTypes[1]">
        <label class="col-sm-3 control-label">메소드 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <select ng-options="method for method in vm.dbMethods"
                  ng-model="vm.commonAction.method"></select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">파라미터 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.commonAction.params" class="form-control valid"
                 placeholder="파라미터 (,로 구분)"
                 required=""
                 aria-required="true" aria-invalid="false">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">메시지 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <textarea type="text" name="id" ng-model="vm.commonAction.message" class="form-control valid"
                    placeholder="사용자에게 보여질 메시지"
                    required=""
                    aria-required="true" aria-invalid="false">
            </textarea>
        </div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.commonAction && vm.commonAction._id">
          <!--<button class="btn btn-primary">Submit</button>-->
          <button type="submit" class="btn btn-primary">생성</button>
          <!--<button type="reset" class="btn btn-default">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="common-actions.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.commonAction && vm.commonAction._id">
          <a class="btn btn-primary" ng-click="vm.save(form.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>
