<div class="create-chatbot-body">
    <p class="create-chatbot-row-title">{{ lan('New Chatbot') }}</p>
    <div class="create-chatbot-row">
        <a class="create-chatbot-item" href="/playchat/chatbots/create/blank">
            <span class="create-chatbot-item-icon"><img src="/modules/chatbots/client/imgs/blank_bot.png"> </span>
            <span class="create-chatbot-item-name">{{ lan('Blank Bot') }}</span>
        </a>
        <a class="create-chatbot-item" href="/playchat/chatbots/create/sample">
            <span class="create-chatbot-item-icon"><img src="/modules/chatbots/client/imgs/blank_bot.png"> </span>
            <span class="create-chatbot-item-name">{{ lan('Sample Bot') }}</span>
        </a>
    </div>

    <!--<div ng-repeat="(key, value) in list">-->
        <!--<p class="create-chatbot-row-title">{{ key }}</p>-->
        <!--<div class="create-chatbot-row">-->
            <!--<a class="create-chatbot-item" href="/playchat/chatbots/create/{{ item._id }}" ng-repeat="item in list[key]">-->
                <!--<span class="create-chatbot-item-icon">-->
                    <!--<img src="{{ item.icon }}">-->
                <!--</span>-->
                <!--<span class="create-chatbot-item-name">{{ item.name }}</span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<p class="create-chatbot-row-title">Service</p>-->
    <!--<div class="create-chatbot-row">-->
        <!--<a class="create-chatbot-item">-->
            <!--<span class="create-chatbot-item-icon"></span>-->
            <!--<span class="create-chatbot-item-name">Delivery</span>-->
        <!--</a>-->
        <!--<a class="create-chatbot-item">-->
            <!--<span class="create-chatbot-item-icon"></span>-->
            <!--<span class="create-chatbot-item-name">Hospital</span>-->
        <!--</a>-->
    <!--</div>-->
</div>
