<div class="chatbot-body" ng-controlelr="ChatbotListController" ng-click="closeMenu();">
    <div class="tab">
        <ul class="tab-body">
            <li class="select_tab" ng-click="moveTab($event, 'botContent');">
                <a>{{ lan('My chatbot') }}</a>
            </li>
            <li ng-click="moveTab($event, 'sharedBotContent');">
                <a>{{ lan('Shared chatbot') }}</a>
            </li>
        </ul>
    </div>
    <div id="botContent">
        <div class="chatbot-new" ng-click="moveToCreate();">
            <img src="/modules/chatbots/client/imgs/plus_white.png">
            <a href="/playchat/chatbots/create">{{ lan('New chatbot') }}</a>
        </div>
        <div class="chatbots">
            <div class="bot_unselect" ng-repeat="chatbot in list" ng-click="selectBot(chatbot);">
                <ul class="hei50">
                    <li class="sub1"><img src="/modules/chatbots/client/imgs/user2.png"></li>
                    <li class="sub3" data-id="{{ chatbot.id }}" ng-keydown="chatbotNameKeyDown($event);" ng-blur="chatbotNameBlur($event);" ng-click="chatbotNameClick($event);">{{ chatbot.name }}</li>
                    <li>
                        <div class="flR mt10">
                            <a href="#" class="chatbot-menu-button" ng-click="openMenu($event, chatbot);"></a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="sub2">{{ chatbot.description }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sharedBotContent" style="display: none;">
        <div class="chatbot-new" ng-click="moveToCreate();">
            <img src="/modules/chatbots/client/imgs/plus_white.png">
            <a href="/playchat/chatbots/create">{{ lan('New chatbot') }}</a>
        </div>
        <div class="chatbots">
            <div class="bot_unselect" ng-repeat="chatbot in sharedList" ng-click="selectBot(chatbot.bot);">
                <ul class="hei50">
                    <li class="sub1"><img src="/modules/chatbots/client/imgs/user2.png"></li>
                    <li class="sub3" data-id="{{ chatbot.bot.id }}" ng-keydown="chatbotNameKeyDown($event);" ng-blur="chatbotNameBlur($event);" ng-click="chatbotNameClick($event);">{{ chatbot.bot.name }}</li>
                </ul>
                <ul>
                    <li class="sub2">{{ chatbot.description }}</li>
                </ul>
            </div>
        </div>
    </div>

    <ul class="chatbot-menu" style="display: none;">
        <li class="chatbot-menu-item" ng-click="executeMenu('Rename');"><a>{{ lan('Rename') }}</a></li>
        <li class="chatbot-menu-item" ng-click="executeMenu('Share');"><a>{{ lan('Share') }}</a></li>
        <li class="chatbot-menu-item" ng-click="executeMenu('Duplicate');"><a>{{ lan('Duplicate') }}</a></li>
        <li class="chatbot-menu-item" ng-click="executeMenu('Delete');"><a>{{ lan('Delete') }}</a></li>
    </ul>

    <div class="window_overlay" ng-show="openShareModal">
        <div class="window">
            <form class="card_detail_window" ng-submit="shareChatbot();">
                <div class="window_header">
				<span class="window_header_icon">
					<img src="/modules/chatbots/client/imgs/share.png">
				</span>
                    <div class="window_title">
                        <h1>{{ lan('Share chatbot')}}</h1>
                    </div>
                </div>
                <div class="window_main_col">
                    <div class="card_detail_item">
                        <ul class="list mt20">
                            <li class="card_detail_item_header">{{ lan('Chatbot') }}</li>
                        </ul>
                        <ul class="list mt20">
                            <li class="card_detail_item_content1">{{ selectedBot.id }}</li>
                        </ul>
                        <ul class="list clear">
                            <li class="card_detail_item_header">{{ lan('Share') }}</li>
                        </ul>
                        <ul class="list2 mt10">
                            <li class="ml7">{{ lan('Member ID(Email)') }} :</li>
                            <li class="ml8 mt23">{{ lan('Authorization')}} :</li>
                        </ul>
                        <ul class="list4 mt4">
                            <li><input type="text" class="input_pop" placeholder="username or username@moneybrain.ai" ng-model="share.email" ng-required="true"></li>
                            <li class="ml10 mt10">
                                <input id="checkBox1" type="checkbox" value="Read" class="styled-checkbox" ng-model="share.read">
                                <label for="checkBox1" class="label">{{ lan('Read') }}</label>
                                <input id="checkBox2" type="checkbox" value="Edit" class="styled-checkbox" ng-model="share.edit">
                                <label for="checkBox2" class="label">{{ lan('Write') }}</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="list2 mt20 clear">-->
                    <!--<li class="card_detail_item_content4">-->
                        <!--{{ lan("Flow chatbots are tree-based. The user is driven down a specific path") }}-->
                    <!--</li>-->
                <!--</div>-->
                <div class="popbtnarea">
                    <button type="button" class="default-button" ng-click="closeShareModal();">{{ lan('Cancel') }}</button>
                    <button class="blue-button" style="margin-left: 20px;">{{ lan('Share') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
