<header class="page-header">
  <h2>발송내역</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>

<section class="panel">
  <header class="panel-heading">
    <h2 class="panel-title">발송내역</h2>
  </header>
  <div class="panel-body">
    <table datatable="ng" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <!--<th class="text-center">봇아이디</th>-->
        <th class="text-center">유저키</th>
        <th class="text-center">이름</th>
        <th class="text-center">채널</th>
        <th class="text-center">전화번호</th>
        <th class="text-center">상태</th>
        <th class="text-center">발송</th>
        <th class="text-center">등록일</th>
        <!--<th class="text-center">캠페인</th>-->
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="message in vm.messages">
        <!--<td class="text-center">{{message.bot.id}}</td>-->
        <td class="text-center">{{message.botUser ? message.botUser.userKey : ''}}</td>
        <td class="text-center">{{message.botUser ? message.botUser.name : ''}}</td>
        <td class="text-center">{{message.botUser ? message.botUser.channel : ''}}</td>
        <td class="text-center">{{message.botUser ? message.botUser.phone : ''}}</td>
        <td class="text-center">{{message.status}}</td>
        <td class="text-center">{{message.user ? message.user.displayName : '장세영'}}</td>
        <td class="text-center">{{message.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <!--<td>-->
          <!--<a class="btn btn-primary" ng-show="message.campaign" ui-sref="">-->
            <!--<i class="glyphicon glyphicon-calendar"></i> 보기-->
          <!--</a>-->
        <!--</td>-->
      </tr>
      </tbody>
    </table>
  </div>
</section>
