<style>
.template-demo-title
{
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
}

.template-demo-basic
{
    width: 70%;
    margin: 0 auto;
}
</style>

<h1 class="template-demo-title">기본정보</h1>
<div> <!-- 템플릿봇 생성시 구조로 인해 반드시 필요한 div -->
    <div ng-controller="restaurantBasicController" class="template-demo-basic">
        <form ng-submit="saveTemplateBot($event);">
            <div class="form-row">
                <label class="required">
                    <span class="form-title">레스토랑이름</span>
                    <input type="text" class="data-input" placeholder="레스토랑이름(ex:엠프레스호텔)" data-bot-name="true" name="restaurantname" required="true" autofocus="true">
                </label>
            </div>
            <div class="form-row">
                <label class="required">
                    <span class="form-title">전화번호</span>
                    <input type="text" class="data-input" placeholder="전화번호(ex:00-000-0000)" name="phone" required="true">
                </label>
            </div>
            <div class="form-row">
                <label class="required">
                    <span class="form-title">휴대폰</span>
                    <input type="text" class="data-input" name="mobile" placeholder="휴대폰(ex:000-0000-0000)">
                </label>
            </div>
            <div class="form-row">
                <label class="required">
                    <span class="form-title">주소</span>
                    <input type="text" class="data-input" name="address" style="width: 90%;">
                    <button type="button" class="default-button" ng-click="findAddress($event);">검색</button>
                </label>
            </div>
            <div class="form-row">
                <label class="required">
                    <span class="form-title">영업 시작 시간</span>
                    <input type="text" class="data-input" placeholder="영업 시작 시간(ex:오전 09:00)" name="startTime" required="true" >
                </label>
            </div>
            <div class="form-row">
                <label class="required">
                    <span class="form-title">영업 종료 시간</span>
                    <input type="text" class="data-input" placeholder="영업 종료 시간(ex:오후 06:00)" name="endTime" required="true" >
                </label>
            </div>
            <div class="form-row">
                <label class="required">
                    <span class="form-title">휴일</span>
                    <input type="text" class="data-input" placeholder="휴일(ex:일요일)" name="holiday" required="true" >
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span class="form-title">메뉴판 사진</span>
                        <img src="{{ data.room_image }}" style="width: 50px;" ng-if="data.room_image" ng-click="editImage($event);">
                        <input type="file" nv-file-select uploader="uploader" ng-show="!data.room_image" />
                </label>
            </div>
            <div class="form-row">
                <label>
                    <span class="form-title">언어</span>
                    <select class="jumbo-select" required="true" name="language">
                        <option value="ko" selected="selected">Korean</option>
                        <option value="en">English</option>
                        <option value="zh">Chinese</option>
                        <option value="jp">Japanese</option>
                    </select>
                </label>
            </div>
            <div class="form-row">
                <label class="required">
                    <span class="form-title">설명</span>
                    <textarea class="data-input" name="description"></textarea>
                </label>
            </div>
            <div class="tab-footer" style="border-top: 0;">
                <button class="blue-button">Save</button>
                <button class="default-button" ng-click="cancel();">Cancel</button>
            </div>
        </form>
    </div>
</div>
