
<!--<div ng-controller="BizCsbbsAnalysisController" class="graph-background">-->


    <!--<a href="/boards"><h1 class="analysis-summary-title">고객지원 게시판</h1></a><br>-->

    <!--<div class="working-ground-bizchat">-->
        <!--<ul>-->
            <!--<li class="title02 inline mr30">기간</li>-->
            <!--<li class="inline">-->
                <!--<div id="createdRange" class="select01" style="width: 80%;">-->
                    <!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;-->
                    <!--<span></span> <b class="caret"></b>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul><br>-->

        <!--<table class="board_list">-->
            <!--<tr>-->
                <!--<th>No.</th>-->
                <!--<th>Title</th>-->
                <!--<th>Date</th>-->
                <!--<th>Count</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><%=i%></td>-->
                <!--<td><a href="">&nbsp;&nbsp;test </a></td>-->
                <!--<td>date</td>-->
                <!--<td>count</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td colspan="5"> 게시물이 없습니다. </td>-->
            <!--</tr>-->
        <!--</table>-->

        <!--<div>-->
            <!--<a href="" class=""></a>-->

        <!--</div>-->

        <!--<div>-->
            <!--<a onclick="displayWriteForm();"><div>새 글</div></a>-->
            <!--<div>-->
                <!--<form action="/boards/search" method="get" id="searchAction" name="searchAction">-->
                    <!--<input type="text" class="search_word" id="searchWord" name="searchWord">-->
                    <!--<a href="#" onclick="searchContent();"><div>검색</div></a>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->


        <!--&lt;!&ndash; new content write form&ndash;&gt;-->
        <!--<div class="write_form">-->
            <!--<form id="writeAction" action="/boards?mode=add" method="post" enctype="multipart/form-data">-->
                <!--<input type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="제목">-->
                <!--<input type="text" class="inputWriter" id="addContentWriter" name="addContentWriter" placeholder="작성자">-->
                <!--<input type="password" class="inputPassword" id="addContentPassword" name="addContentPassword" placeholder="비밀번호">-->
                <!--<textarea class="textContents" id="addContents" name="addContents" rows="20" cols="80"></textarea>-->
                <!--<input type = "file" class="inputFile" id = "UploadFile" name = "UploadFile" multiple>-->
            <!--</form>-->
            <!--<div id = "new" class="addBtngroup">-->
                <!--<a onclick="submitContents();"><div>SUBMIT</div></a>-->
                <!--<a onclick="cancelWriteForm('cancel');"><div>CANCEL</div></a>-->
            <!--</div>-->
        <!--</div>-->
        <!-- write form end-->

        <!--<h3 class="title02 mt30">사용자</h3>-->
        <!--<table class="tb03">-->
            <!--<colgroup>-->
                <!--<col width="5%">-->
                <!--<col width="20%">-->
                <!--<col width="">-->
                <!--<col width="">-->
                <!--<col width="">-->
                <!--<col width="">-->
            <!--</colgroup>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>사용자명</th>-->
                <!--<th>최근 발송</th>-->
                <!--<th>발송 수</th>-->
                <!--<th>성공</th>-->
                <!--<th>발송 비용<span class="sm-title">(단위:코인)</span></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>1</td>-->
                <!--<td>{{User.name}}</td>-->
                <!--<td>{{User.lastSendDate}}</td>-->
                <!--<td>{{User.sendNum}}</td>-->
                <!--<td class="grap">{{User.sendSuccNum}}<div class="tb-b" style="width: {{User.sendSuccRate}}%;">{{User.sendSuccRate}}%</div></td>-->
                <!--<td>0</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <!--<h3 class="title02 mt30">봇</h3>-->
        <!--<table class="tb03">-->
            <!--<colgroup>-->
                <!--<col width="4%">-->
                <!--<col width="20%">-->
                <!--<col width="5%">-->
                <!--<col width="">-->
                <!--<col width="">-->
                <!--<col width="">-->
                <!--<col width="">-->
                <!--<col width="">-->
            <!--</colgroup>-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>봇 이름</th>-->
                <!--<th></th>-->
                <!--<th>최근 발송<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>-->
                <!--<th>발송 수<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>-->
                <!--<th>성공<a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>-->
                <!--<th>발송 비용<span class="sm-title">(단위:코인)</span><a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>-->
                <!--<th>분석 단가<span class="sm-title">(단위:코인)</span><a href=""><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/reorder.png"></a></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="bot in Bots">-->
                <!--<td>{{bot.index}}</td>-->
                <!--<td><a type="button" data-href="/playchat/analysis/biz-summary-chatbot" ng-click="goDetailPage($event,bot)">{{bot.name}}</a></td>-->
                <!--<td><img src="/modules/playchat/working-ground/dialog-graph/client/imgs/kakao.png"></td>-->
                <!--<td>{{bot.lastSendDate}}</td>-->
                <!--<td>{{bot.sendNum}}</td>-->
                <!--<td class="grap">{{bot.sendSuccNum}}<div class="tb-b" style="width: {{bot.sendSuccRate}}%;">{{bot.sendSuccRate}}%</div></td>-->
                <!--<td>0</td>-->
                <!--<td>0</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

        <!--<div class="tablePaging">-->
            <!--<div class="tablePagingC">-->
                <!--<a href="/playchat/analysis/biz-summary?page={{ pageOptions.prev }}" class="direction">-->
                    <!--<img src="modules/playchat/working-ground/common/client/imgs/btn_prev.png" alt="{{lan('Move to the preivious page')}}">-->
                <!--</a>-->
                <!--<a ng-repeat="page in pageOptions.pages" href="/playchat/analysis/biz-summary?page={{ page }}" ng-click="toPage(page);" ng-class="pageOptions.currentPage == page ? 'selected' : ''">{{ page }}</a>-->
                <!--<a href="/playchat/analysis/biz-summary?page={{ pageOptions.next }}" class="direction">-->
                    <!--<img src="modules/playchat/working-ground/common/client/imgs/btn_next.png" alt="{{lan('Move to the next page')}}">-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<%&ndash;&gt;-->
    <!--&lt;!&ndash;function dateFormatChange(date) {&ndash;&gt;-->
    <!--&lt;!&ndash;var options = {&ndash;&gt;-->
    <!--&lt;!&ndash;weekday: "short", year: "numeric", month: "short",&ndash;&gt;-->
    <!--&lt;!&ndash;day: "numeric", hour: "2-digit", minute: "2-digit"&ndash;&gt;-->
    <!--&lt;!&ndash;};&ndash;&gt;-->

    <!--&lt;!&ndash;return date.toLocaleTimeString("ko-KR", options);&ndash;&gt;-->
    <!--&lt;!&ndash;}&ndash;&gt;-->
    <!--&lt;!&ndash;%>&ndash;&gt;-->

<!--</div>-->

<h2>Board</h2>
Title: <input type="text" [(ngModel)]="boardForm.title" autofocus> <br/>
Name: <input type="text" [(ngModel)]="boardForm.writer"><br/>
<button type="button" (click)="addBoard()">Add</button>

<table border="1">
    <tr>
        <td style="width: 50px">No.</td>
        <td style="width: 200px">Title</td>
        <td style="width: 70px">Name</td>
        <td style="width: 50px"></td>
    </tr>
    <tr *ngFor="let item of boardlist; let inx = index">
        <td>{{inx+1}}</td>
        <td>{{item.title}}</td>
        <td>{{item.writer}}</td>
        <td><button type="button" (click)="removeBoard(item.id)">삭제</button></td>
    </tr>
</table>

