<table class="tb02" style="margin-top: 28px;">
    <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
    </colgroup>
    <thead>
        <tr>
            <th>{{lan('Failed Dialog') }}</th>
            <th>{{lan('Intent') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="list.length == 0">
            <td colspan="3">{{lan('empty') }}</td>
        </tr>
        <tr ng-repeat="item in list">
            <td>{{ item._id }}</td>
            <td>
                <div ng-repeat="intent in item.intent" style="margin: 10px 0;">
                    <span style="display: inline-block; width: 60%;">{{ intent.name }}</span>
                    <div style="display: inline-block; vertical-align: middle; margin-left: 50px;">
                        <button type="button" class="jump-button" ng-click="addToIntent(item.id, item._id, intent._id, $index);">{{lan('Add') }}</button>
                        <button type="button" class="ignore-button" ng-click="ignore(item);">{{lan('Ignore') }}</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
