<table class="tb02" style="margin-top: 28px;">
    <colgroup>
        <col style="width: 90%;">
        <col style="width: 10%;">
    </colgroup>
    <thead>
    <tr>
        <th>Intent</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="list.length == 0">
        <td colspan="2">empty</td>
    </tr>
    <tr>
        <td><a href="#">How are you doing?</a></td>
        <td>
            <button type="button" class="jump-button">Manage</button>
        </td>
    </tr>
    </tbody>
</table>

