<table class="tb02" style="margin-top: 28px;">
    <colgroup>
        <col style="width: 45%;">
        <col style="width: 45%;">
        <col style="width: 10%;">
    </colgroup>
    <thead>
        <tr>
            <th>{{lan('Failed Dialog') }}</th>
            <th>{{lan('Intent') }}</th>
            <th>{{lan('Management') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="list.length == 0">
            <td colspan="3">{{lan('empty') }}</td>
        </tr>
        <tr ng-repeat="item in list">
            <td>{{ item._id }}</td>
            <td>
                <div ng-repeat="intent in item.intent">
                    {{ intent.intent.name }}
                </div>
            </td>
            <td>
                <button type="button" class="jump-button" ng-click="addToIntent(item._id, item.intent, item.id);">{{lan('Add') }}</button>
                <button type="button" class="ignore-button" ng-click="ignore(item);">{{lan('Ignore') }}</button>
            </td>
        </tr>
    </tbody>
</table>

