<table class="tb02" style="margin-top: 28px;">
    <colgroup>
        <col style="width: 33%;">
        <col style="width: 33%;">
        <col style="width: 7%;">
        <col style="width: 17%;">
    </colgroup>
    <thead>
        <tr>
            <th>Previous Dialog</th>
            <th>User Input</th>
            <th>Count</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="list.length == 0">
            <td colspan="4">empty</td>
        </tr>
        <tr ng-repeat="item in list">
            <td>{{ item.preDialogName }}</td>
            <td>{{ item._id.dialog }}</td>
            <td>{{ item.count }}</td>
            <td>
                <button type="button" class="jump-button" ng-click="jump(item);">Jump</button>
                <button type="button" class="ignore-button" ng-click="ignore(item);">ignore</button>
            </td>
        </tr>
    </tbody>
</table>

