<style>
    .popup-menu
    {
        position: absolute;

        top: 0;
        left: 0;

        width: 150px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ebebeb;
        box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1), 0 1px 11px rgba(0, 0, 0, 0.1);

        background-color: white;

        z-index: 1000;

        display: none;
    }

    .popup-menu li a
    {
        display: inline-block;
        width: 100%;
        height: 100%;

        padding: 5px;
        box-sizing: border-box;
        border-radius: 6px;

        cursor: pointer;
    }

    .popup-menu li:hover a
    {
        background-color: #038eda;

        color: white;
    }

    .popup-menu .popup-menu-divider
    {
        height: 1px;
        background-color: #ebebeb;
        margin: 12px 0;
    }
</style>

<div ng-controller="TopBarController">
    <div class="breadcrumbs">
        <img class="menu-name-icon" src="modules/playchat/top-bar/client/imgs/intentB.png">
        <div class="label">
            <span class="current">
                <a href="#">
                    <strong class="menu-name"></strong>
                </a>
            </span>
        </div>
    </div>
    <div class="system">
        <a class="store-btn" href="#">
            <span>{{lan('Store') }}</span>
        </a>
        <a class="notify" href="#"></a>
        <a class="login" href="#" ng-click="openMenu($event);"></a>
        <ul class="popup-menu user-menu">
            <ul>
                <li><a href="/playchat/user-profile">{{lan('Profile') }}</a></li>
                <li><a href="#" ng-click="signout();">{{lan('Signout') }}</a></li>
            </ul>
        </ul>
    </div>
</div>
