<link href="/modules/playchat/top-bar/client/css/top-bar.css" rel="stylesheet" type="text/css">
<link href="/modules/playchat/top-bar/client/css/top-bar-responsive.css" rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)">

<div class="breadcrumbs">
    <img class="menu-name-icon" src="modules/playchat/top-bar/client/img/intentB.png">
    <div class="label">
        <span class="current">
            <a href="#">
                <strong class="menu-name">Intent</strong>
            </a>
        </span>
    </div>
</div>
<div class="system">
    <a class="store-btn" href="#">
        <span>Store</span>
    </a>
    <a class="notify" href="#"></a>
    <a class="login" href="#"></a>
</div>
