.working-ground-bizchat{
    margin: 2% auto 0;
    height: 100%;
    width: 1010px;
    position: relative;
}
.custom-select{
    position: relative;
    display: inline-block;
    padding: 0 53px 0 19px;
    font-size: 20px;
    color: #424242;
    line-height: 46px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: url("/modules/playchat/working-ground/biz-dialog-graph/client/imgs/select-down02.png") no-repeat 95% 36%;
}
select.custom-select::-ms-expand{
    display: none;
}
select.custom-select option{
    font-size: 15px;
    border: none;
    outline: none;
}
.icon-area{
    padding: 0 7px;
}
.icon-area img{
    vertical-align: middle;
}
.subtitle{
    margin-top: 3%;
}
.message-edit-list{
    width: 160px;
    float: left;
    margin: 0 1.6% 0 0;
}
.message-edit-list span{
    margin-left: 20px;
}
.message-edit-list ul{
    margin: 8% 0;
}
.message-edit-list ul li{
    padding: 18px 0;
    text-indent: 20px;
    opacity: .5;
    cursor: pointer;
}
.message-edit-list ul li.select{
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05), 0 1px 20px rgba(0, 0, 0, 0.07);
    opacity: 1;
    font-weight: 600;
}
.message-edit-list ul li.select a{
    color:#038eda;
    font-size: 14px;
}
.message-edit-list ul li a:hover{
    color:#038eda;
}
.bot-messages-list{
    width: 490px;
    float: left;
}
.bot-messages-list li{
    padding:3%;
    background: #f6f6f6;
    border: 1px solid #d0d2d3;
    margin: 12px 0;
}
.bot-messages-list li:hover{
    background: #fff;
    transition: all 0.3s;
}
.bot-messages-list li.select{
    border: 1px solid #038eda;
    background: #fff;
}
.bot-messages-list li.new-select{
    border: 1px dashed #d0d2d3;
    background: #fff;
    padding: 5% 0;
    text-align: center;
    cursor: pointer;
}
.bot-messages-list li.new-select:hover{
    background: #f4fcff;
    transition: all 0.3s;
}
.ml3{
    margin-left:3%;
}
/*select box*/
.bot-messages-list select.message-inselect{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/modules/playchat/working-ground/biz-dialog-graph/client/imgs/select-down.png") no-repeat 94% 49%;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    padding: 2% 7% 2% 2%;
}
select.message-inselect::-ms-expand{
    display: none;
}
select.message-inselect option{
    background: transparent;
    color:#424242;
}

select.message-inselect02{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/modules/playchat/working-ground/biz-dialog-graph/client/imgs/select-down.png) no-repeat 97% 50%;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    padding: 2% 7% 2% 2%;
    width: 77%;
    margin-bottom: 2%;
}
select.message-inselect02::-ms-expand{
    display: none;
}
select.message-inselect02 option{
    background: transparent;
    color:#424242;
}

.mobile-view-practice .header p{
    text-align: center;
    margin-top: 5%;
}
.mobile-view-practice .header .lef{
    position: absolute;
    top: 12px;
    left: 10px;
}
.mobile-view-practice .header .rig{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 26px;
    color: #b0b0b0;
    opacity: 0.6;
}
select.message-inselect option:checked, select.message-inselect option:hover{
    background: transparent;
    color:#038eda;
    font-weight: 700;
}
.bot-messages-list textarea{
    width: 97.5%;
    height:100px;
}
.bot-messages-list span{
    margin-left: 10px;
}
.bot-messages-list .message-title01{
    font-size: 16px;
    font-weight: 600;
}
.bot-messages-list .message-title02{
    font-size: 16px;
    font-weight: 600;
    color:#038eda;
}
/*btn style*/
.btn-style01{
    border: 1px solid #d8d8d8;
    padding: 8px 26px;
    margin-top: 6px;
    /*width: 80px;*/
    text-align: center;
    display: inline-block;
}
.btn-style01:hover{
    background: #f5f5f5;
    transition: all 0.3s;
}
.btn-style02{
    /*padding: 8px 0;*/
    /* width: 80px; */
    padding: 8px 26px;
    margin-top: 6px;
    text-align: center;
    border: 1px solid #038eda;
    background: #fff;
    color: #038eda !important;
    display: inline-block;
}
.btn-style02:hover{
    background: #f4fcff;
    transition: all 0.3s;
}

.btn-style03{
    /*padding: 8px 0;*/
    /* width: 80px; */
    padding: 9px 26px;
    margin-top: 6px;
    text-align: center;
    background: #038eda;
    color: #fff !important;
    display: inline-block;
}

.btn-style04 {
    border: 1px solid #d8d8d8;
    padding: 8px 0;
    width: 80px;
    float: right;
    text-align: center;
}

.btn-style05{
    border: 1px solid #d8d8d8;
    padding: 8px 0;
    margin-top: 6px;
    width: 80px;
    text-align: center;
    display: inline-block;
}
.btn-style05:hover{
    background: #f5f5f5;
    transition: all 0.3s;
}


.bot-messages-list .add-menu{
    padding: 3%;
    margin: 0 auto;
    width: 200px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background: url("/modules/playchat/gnb/client/imgs/down.png") #038eda no-repeat 90% 50%;
    cursor: pointer;
}
select.add-menu option{
    background: #fff;
    color: #424242;
}
.bot-messages-list p.cd{
    margin: 14px 0 10px 0;
    font-weight: 700;
}
.bot-messages-list span.open-btn{
    float: right;
    margin-top: 3px;
}
.bot-messages-list span.close-btn{
    float: right;
    margin-top: 3px;
}
.message-view{
    width: 32%;
    float: left;
    font-size: 14px;
    margin-left:2%;
    margin-bottom: 10%;
    /*width: 17%;*/
    /*font-size: 14px;*/
    /*margin-left: 2%;*/
    /*margin-bottom: 10%;*/
    /*position: fixed;*/
    /*right: 27%;*/
}
.message-view .mobile-view-practice{
    background: #c7e0e4;
    border: 1px solid #aec5cb;
    height: 450px;
    margin-top: 9%;
    position: relative;
}
.message-view .dialog-input{
    border-right: 1px solid #d0d2d3;
    border-left: 1px solid #d0d2d3;
    border-bottom: 1px solid #d0d2d3;
    padding: 6% 2%;
    display: flex;
    position: relative;
}
.message-view .dialog-input button{
    right: 10px;
    position: absolute;
    bottom: 9px;
}
.dialog-input input{
    text-indent: 4%;
    width: 86%;
    text-overflow: ellipsis;
}
.message-view .dialog-setting{
    background: #e9e9e9;
    margin-top: 3%;
    padding: 6% 4%;
    border-right: 1px solid #d0d2d3;
    border-left: 1px solid #d0d2d3;
    border-top: 1px solid #d0d2d3;
}
.message-view .dialog-setting p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}
.message-view .dialog-setting button{
    border: 1px solid #d9d9d9;
    /*border-radius: 3px;*/
    background: #fff;
    padding: 3%;
    font-size: 12px;
    font-weight: 700;
    margin: 3% 1% .2% 1%;
    width: 88px;
}
.message-view .dialog-setting button.select{
    border: 1px solid #038eda;
    color: #038eda;
}
.message-view .dialog-setting button:hover{
    background: #f4fcff;
    transition: all 0.3s;
}
.message-view .dialog-btn{
    background: #038eda;
    color: #fff;
    padding: 6% 0;
    text-align: center;
    width: 100%;
}

#graphDialogCanvas svg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: inline-block;

    z-index: -1;
}

/*checkbox change by lisa*/
.detail-select{
    margin-top: 2%;
    margin-bottom: 3%;
}
.detail-select input[type='checkbox'] {
    display: none;
}
.detail-select input[type='checkbox'] + label::before {
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin: -2px 7px 0px 0;
    background:#fff;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}
.detail-select input[type='checkbox'] + label:hover:before{
    border: 1px solid #038eda !important;
    transition: .3s all;
}
.detail-select input[type='checkbox']:checked + label:before{
    background: #038eda;
    content: '\2714';
    color: #fff;
    cursor: pointer;
    border: 1px solid #038eda;
    line-height: 10px;
}
.detail-select label{
    font-size: 12px;
    line-height: 28px;
}
.connection-data{
    margin: 1% 0;
}
input.type01{
    border: 1px solid #e5e5e5;
    width: 52.9%;
    text-overflow: ellipsis;
}
input.type02{
    border: 1px solid #e5e5e5;
    width: 84%;
    text-overflow: ellipsis;
    padding: 8px 35px 8px 8px;
}
a.input_delete{
    background: url(/modules/playchat/working-ground/biz-dialog-graph/client/imgs/close_1.png) no-repeat 99% 36%;
    opacity: .5;
}
input.type03{
    border: 1px solid #e5e5e5;
    width: 82%;
    text-overflow: ellipsis;
}
.type04{
    border: 1px dashed #d0d2d3;
    width: 93.5%;
    margin-left: 24px;
    height: 33.5px;
    margin-top: 1px;
    opacity: .5;
    display: inline-block;
    position: relative;
}
.type04 >img{
    margin-top: 2px;
    position: absolute;
    left: 46%;
}
.type04:hover{
    background: #f4fcff;
    transition: all 0.3s;
    opacity: 1;
}
.pic-area{
    width: 100%;
    height: 100px;
    margin: 4% 0 2% 0;
    background:#f3f3f3 no-repeat 50%;

}
.pic-area:hover{
    background:#e5e5e5 no-repeat 50%;
    transition: all .3s;
}
.reorder{
    text-align: right;
    display: block;
}

@media screen and (max-width: 1450px)
{
    .graph-controller
    {
        height: 80px;
    }

    .graph-body
    {
        top: 160px;
    }
}
