<div class="signin-background">
    <div id="logincontents">
        <div class="mt16 mb45">
            <span class="p1">{{ lan('Find your password') }}</span>
            <p class="p2" style="margin-top: 15px;">{{ lan('Please enter your email.') }}</p>
        </div>
        <!--<p class="exclamation pl5"><img src="images/exclamation_mark.png">Password doesnt’ match</p>-->
        <form class="register" ng-submit="findPassword();">
            <p>{{ lan('Email ID') }}</p>
            <input type="text" class="input_type09 mb10" ng-model="credentials.email" ng-required="true">
            <button class="loginbtn">{{ lan('Find') }}</button>
        </form>
    </div>
</div>
