<div class="signin-background">
    <div id="logincontents">
        <div class="mt16 mb45">
            <span class="p1">{{ lan('Change your password') }}</span>
        </div>
        <!--<p class="exclamation pl5"><img src="images/exclamation_mark.png">Password doesnt’ match</p>-->
        <form class="register" ng-submit="changePassword();">
            <div>
                <p>{{ lan('Password') }}</p>
                <input type="password" class="input_type09 mb10" ng-model="newPassword" required="true">
            </div>
            <div>
                <p>{{ lan('Password Confirm') }}</p>
                <input type="password" class="input_type09 mb10" ng-model="verifyPassword" required="true">
            </div>
            <div>
                <button class="blue-button">{{ lan('Change') }}</button>
            </div>
        </form>
    </div>
</div>
