<div class="signin-background">
    <div id="logincontents" ng-if="successSignup === false && invalid === false && error === false && verified === false">
    <!--<div id="logincontents" ng-if="verified === true">-->
        <div class="mt16" style="margin-bottom: 20px;">
            <span class="p1">{{ lan('Create your account') }}</span>
            <!--<span class="p1">{{ lan('Registration for closed beta') }}</span>-->
        </div>
        <p class="exclamation pl5" ng-show="signupErrorMessage" style="margin-bottom: 20px;"><img src="/modules/authentication/client/imgs/exclamation_mark.png">
            {{ signupErrorMessage }}</p>
        <form class="register" ng-submit="signup();" style="width: 100%;margin: 32px auto;">
            <div class="leftbox social">
                <div class="pbtn">
                    <a href="/signin">{{ lan('Sign in with Playchat') }}</a>
                </div>
                <div class="fbbtn">
                    <a href="#" ng-click="oauthCall('facebook');">{{ lan('Sign in with Facebook') }}</a>
                </div>
                <div class="gbtn">
                    <a href="#" ng-click="oauthCall('google')">{{ lan('Sign in with Google') }}</a>
                </div>
            </div>
            <div class="user-singup">
                <div class="leftboxinput">
                    <p>{{ lan('Email ID') }}</p>
                    <input type="email" class="input_type09 mb10 sign-input" ng-model="credentials.email" placeholder="example@moneybrain.ai" ng-required="true" autofocus="true">
                </div>
                <div class="leftboxinput">
                    <p>{{ lan('Password') }}</p>
                    <input type="password" class="input_type09 mb10 sign-input" ng-model="credentials.password" ng-required="true" minlength="8">
                </div>
                <div class="leftboxinput">
                    <p>{{ lan('Password confirm') }}</p>
                    <input type="password" class="input_type09 mb20 sign-input" ng-model="credentials.passwordConfirm" ng-required="true" minlength="8">
                </div>
            </div>
            <div style="clear: both;margin: 20px 0 10px; position:relative; text-align: center;">
                <input id="checkBox1" type="checkbox" value="Read" class="styled-checkbox" ng-model="agree" ng-required="true" style="opacity: 0;">
                <label for="checkBox1" class="label">
                    <span class="agree v_line_t"><span class="fontblue">{{ lan('Agree to Terms of Use and Privacy Policy.') }}</span></span>
                </label>
            </div>
            <div style="width:20%;margin: 0 auto;">
                <button class="loginbtn" id="signupButton">{{ lan('Sign up') }}</button>
                <img src="/modules/playchat/working-ground/dialog-set/client/imgs/editing.gif" style="display: none;">
            </div>
        </form>
    </div>


    <div class="signup-complete-message" ng-if="successSignup === true">
        <span class="p1">회원가입 완료</span>
        <div style="margin-top: 20px;">
            <p class="p2">회원가입이 완료 되었습니다.</p>
            <p class="p2">등록하신 이메일로 인증메일을 발송하였습니다.</p>
            <p class="p2">정상적으로 이용하기 위해서 이메일 인증을 완료 바랍니다.</p>
        </div>

        <div class="authentication-code-area">
            <span>인증코드 입력</span>
            <input type="text" class="input_type09 sign-input">
            <button type="button" ng-click="onClickAuthBtn()">인증</button>
        </div>

        <p class="exclamation pl5" ng-if="isMatchCode"><img src="/modules/authentication/client/imgs/exclamation_mark.png"> 유효하지 않은 인증 코드입니다. 다시 한번 확인해주세요!</p>
        <!--<p class="exclamation pl5" ng-show="signupErrorMessage" style="margin-bottom: 20px;"><img src="/modules/authentication/client/imgs/exclamation_mark.png">{{ signupErrorMessage }}</p>-->
        <div class="noti-email">
            <p class="p2">인증 메일이 확인 되지 않으면, <a ng-click="resend()" class="link">재전송요청</a>을 클릭해주세요.</p>
            <p class="p2">등록하신 이메일로 인증메일을 발송하였습니다.</p>
            <p class="p2">정상적으로 이용하기 위해서 이메일 인증을 완료 바랍니다.</p>
        </div>
    </div>


    <div class="signup-complete-message" ng-if="invalid === true" style="text-align: center;">
        <p class="p2">{{ lan('Your verification URL has expired.') }} {{ credentials.email }}</p>
        <p class="p2">{{ lan('If you would like to receive the e-mail again, please click on the again button.') }}</p>
        <div>
            <button type="button" class="blue-button" ng-click="receiveAgain();">{{ lan('Receive again') }}</button>
            <button type="button" class="default-button" ng-click="moveToFront();">Home</button>
        </div>
    </div>


    <div class="signup-complete-message" ng-if="error === true" style="text-align: center;">
        <p class="p2">{{ errorMessage }}</p>
        <div>
            <button type="button" class="blue-button" ng-click="moveToFront();">Home</button>
        </div>
    </div>


    <div class="signup-complete-message" ng-if="verified === true" style="text-align: center;">
    <!--<div class="signup-complete-message" ng-if="successSignup === false && invalid === false && error === false && verified === false" style="text-align: center;">-->
        <div class="signin-title">
            <span class="p1" style="color: #038eda;">이메일 인증이 완료되었습니다.</span>
            <p class="p3 mt30">
                가입을 진심으로 축하 드립니다.<br>
                가입기념으로 테스트를 할 수 있도록 2,000 코인을 지급해 드립니다.<br>
                대화형 SMS 챗봇을 지금 바로 경험해보세요.
            </p>
        </div>

        <div style="clear: both;margin:50px 0 20px;text-align: center;">
            <p class="p3 mb20">
                추가 정보 입력 (선택)
            </p>

            <div class="leftbox">
                <div class="leftboxinput">
                    <p class="left">업종</p>
                    <select id="bizKindOfBusiness" class="select01 mb10" style="width: 266px;margin: 5px auto 0px;height: 44px;">
                        <option disabled selected>업종을 선택하세요.</option>
                        <option>데이터베이스</option>
                        <option>통신업</option>
                        <option>유통업</option>
                    </select>
                </div>
                <div class="leftboxinput">
                    <p class="left">회사명</p>
                    <input id="organization" type="text" class="input_type09 mb10 sign-input">
                </div>
                <div class="leftboxinput">
                    <p class="left">담당자명/직책</p>
                    <input id="bizChairName" type="text" class="input_type09 mb10 sign-input" style="width: 159px;margin: 5px 8px 5px 0;">
                    <select id="bizChair" class="select01 mb10" style="margin: 5px auto 0px;height: 43px;">
                        <option disabled selected>직책</option>
                        <option>과장</option>
                        <option>차장</option>
                        <option>부장</option>
                    </select>
                </div>
            </div>

            <div class="user-singup">
                <div class="leftboxinput">
                    <p class="left">담당 연락처</p>
                    <input id="phone" type="text" class="input_type09 mb10 sign-input">
                </div>
                <div class="leftboxinput">
                    <p class="left">담당 이메일</p>
                    <input id="bizChairEmail" type="text" class="input_type09 mb10 sign-input">
                </div>
            </div>

            <div class="bottom-btn-area mt30">
                <a href="/playchat/development/create-bot"><button  class="btn-style01 mr5" style="width: 49%;height: 42px;">다음에</button></a>
                <button ng-click="updateUserInfor()" class="btn-style03" style="width: 48%;height: 42px;">입력 확인</button>
            </div>
        </div>
    </div>

</div>

