<div class="signin-background">

    <div class="signin-title">
        <span class="p1">{{ lan('Welcome to Playchat!') }}</span>
        <p class="p2" style="margin-top: 5px;">{{ lan('Please sign in with your account.') }}</p>
    </div>

    <div class="signin-body">
        <!--<div class="social">-->
            <!--<p class="mb25">{{ lan('Sign in with your social network account.') }}</p>-->
            <!--<div class="fbbtn">-->
                <!--<a href="#" ng-click="oauthCall('facebook');">{{ lan('Sign in with Facebook') }}</a>-->
            <!--</div>-->
            <!--<div class="gbtn">-->
                <!--<a href="#" ng-click="oauthCall('google')">{{ lan('Sign in with Google') }}</a>-->
            <!--</div>-->
            <!--<div class="kbtn">-->
                <!--<a href="#" ng-click="oauthCall('kakao');">{{ lan('Sign in with Kakao') }}</a>-->
            <!--</div>-->
        <!--</div>-->
        <div class="email">
            <form class="login" ng-submit="signin();">
                <p>{{ lan('Email ID') }}</p>
                <input type="text" class="input_type09 mb10 username" ng-model="credentials.email" ng-required="true" style="padding: 5px 13px">
                <p>{{ lan('Password') }}</p>
                <input type="password" class="input_type09 password" ng-model="credentials.password" ng-required="true" style="padding: 5px 13px">
                <a href="#" ng-click="forgotPassword();"><p class="find">{{ lan('Forget your password?') }}</p></a>
                <a href="#">
                    <input type="submit" class="loginbtn" value="{{ lan('Sign in') }}" ng-click="signin();">
                </a>
            </form>
        </div>
    </div>

    <div id="bottoms">
        <!--<span>{{ lan('New to Playchat?') }} <a ui-sref="signup" href="#" class="create">{{ lan('Create Account') }}</a></span>-->
        <span>{{ lan('New to Playchat?') }} <a ui-sref="signup" href="#" class="create">{{ lan('Register for free closed beta') }}</a></span>
        <a class="policy" href="#">{{ lan('Terms of Use and Privacy Policy') }}</a>
    </div>
</div>
