<div class="signin-background">
    <div id="logincontents">
        <div class="mt16 mb70">
            <span class="p1">Welcome to Playchat!</span>
            <p class="p2">Please sign in with your account.</p>
        </div>
        <div class="mt40 flL">
            <div class="social">
                <p class="mb25">Sign in with your social network account.</p>
                <div class="fbbtn">
                    <a href="#">Sign in with Facebook</a>
                </div>
                <div class="gbtn">
                    <a href="#">Sign in with Google</a>
                </div>
                <div class="kbtn">
                    <a href="#">Sign in with Kakao</a>
                </div>
            </div>
        </div>
        <div class="mt30 flL login">
            <p>Email ID</p>
            <input type="text" class="input_type09 mb10">
            <p>Password</p>
            <input type="text" class="input_type09">
            <a href="#"><p class="find">Forget your password?</p></a>
            <a href="#">
                <div class="loginbtn">Sign in</div>
            </a>
        </div>
    </div>
    <div id="bottoms">
        <span>New to Playchat? <a href="#" class="create">Create Account</a></span>
        <a class="policy" href="#">Terms of Use and Privacy Policy</a>
    </div>
</div>
