<div class="signin-background">


    <div id="logincontents" ng-if="successSignup === false && invalid === false && error === false && verified === false">
        <div class="mt16" style="margin-bottom: 20px;">
            <span class="p1">{{ lan('Create your account') }}</span>
            <span class="p1">{{ lan('Registration for closed beta') }}</span>
        </div>
        <p class="exclamation pl5" ng-show="signupErrorMessage" style="margin-bottom: 20px;"><img src="/modules/authentication/client/imgs/exclamation_mark.png">{{ signupErrorMessage }}</p>
        <p class="noticebox">
            <span style="font-size: 18px;">{{lan('Playchat, Super-Simple Conversational A.I. Platform')}}</span><br>
            {{lan('Start creating your own chatbot without a single line of coding but with PlayChat Closed Beta Service.')}}<br><br>
            <span style="font-size: 18px;">{{lan('Special Offer ONLY for the PlayChat Beta Service Users')}}</span><br>
            {{lan('One, Apply now and use for free (for the first 50 applicants)')}}<br>
            {{lan('Two, Apply now for Free Chatbot Development Training Course (for the first 20 applicants)')}}<br>
            {{lan('Three, Participate in Chatbot Development Contest and get Prize: One Thousand Dollars for the Winner, Five Hundred Dollars for the Runner-up!')}}</p>
        <form class="register" ng-submit="signup();" style="width: 100%;margin: 32px auto;">
            <div class="leftbox">
                <div class="leftboxinput">
                    <p>{{ lan('Email ID') }}</p>
                    <input type="email" class="input_type09 mb10 sign-input" ng-model="credentials.email" placeholder="example@moneybrain.ai" ng-required="true" autofocus="true">
                </div>
                <div class="leftboxinput">
                    <p>{{ lan('Password') }}</p>
                    <input type="password" class="input_type09 mb10 sign-input" ng-model="credentials.password" ng-required="true" minlength="8">
                </div>
                <div class="leftboxinput">
                    <p>{{ lan('Password confirm') }}</p>
                    <input type="password" class="input_type09 mb20 sign-input" ng-model="credentials.passwordConfirm" ng-required="true" minlength="8">
                </div>
            </div>
            <div class="user-singup">
                <div class="leftboxinput">
                    <p>{{ lan('Username') }}</p>
                    <input type="text" class="input_type09 mb10 sign-input" ng-model="credentials.displayName" ng-required="true">
                </div>
                <div class="leftboxinput">
                    <p>{{ lan('Phone') }}</p>
                    <input type="text" class="input_type09 mb10 sign-input" ng-model="credentials.phone" ng-required="true" pattern="/^[\.-)( ]*([0-9]{3})[\.-)( ]*([0-9]{3})[\.-)( ]*([0-9]{4})$/">
                </div>
                <div class="leftboxinput">
                    <p>{{ lan('Organization') }}</p>
                    <input type="text" class="input_type09 mb10 sign-input" ng-model="credentials.organization">
                </div>

            </div>
            <div style="clear: both;margin: 20px 0 10px; position:relative; text-align: center;">
                <input id="checkBox1" type="checkbox" value="Read" class="styled-checkbox" ng-model="agree" ng-required="true" style="opacity: 0;">
                <label for="checkBox1" class="label">
                    <span class="agree v_line_t"><span class="fontblue">{{ lan('Agree to Terms of Use and Privacy Policy.') }}</span></span>
                </label>
            </div>

            <button class="loginbtn" id="signupButton">{{ lan('Sign up') }}</button>
            <img src="/modules/playchat/working-ground/dialog-set/client/imgs/editing.gif" style="display: none;">
        </form>
    </div>


    <div class="signup-complete-message" ng-if="successSignup === true">
        <span class="p1">회원가입 완료</span>
        <div style="margin-top: 20px;">
            <p class="p2">회원가입이 완료 되었습니다.</p>
            <p class="p2">등록하신 이메일로 인증메일을 발송하였습니다.</p>
            <p class="p2">정상적으로 이용하기 위해서 이메일 인증을 완료 바랍니다.</p>
        </div>

        <div class="authentication-code-area">
            <span>인증코드 입력</span>
            <input type="text" class="input_type09 sign-input">
            <button type="button" ng-click="onClickAuthBtn()">인증</button>
        </div>

        <p class="exclamation pl5" ng-if="isMatchCode"><img src="/modules/authentication/client/imgs/exclamation_mark.png"> 유효하지 않은 인증 코드입니다. 다시 한번 확인해주세요!</p>
        <!--<p class="exclamation pl5" ng-show="signupErrorMessage" style="margin-bottom: 20px;"><img src="/modules/authentication/client/imgs/exclamation_mark.png">{{ signupErrorMessage }}</p>-->
        <div class="noti-email">
            <p class="p2">인증 메일이 확인 되지 않으면, <a ng-click="resend()" class="link">재전송요청</a>을 클릭해주세요.</p>
            <p class="p2">등록하신 이메일로 인증메일을 발송하였습니다.</p>
            <p class="p2">정상적으로 이용하기 위해서 이메일 인증을 완료 바랍니다.</p>
        </div>
    </div>


    <div class="signup-complete-message" ng-if="invalid === true" style="text-align: center;">
        <p class="p2">{{ lan('Your verification URL has expired.') }} {{ credentials.email }}</p>
        <p class="p2">{{ lan('If you would like to receive the e-mail again, please click on the again button.') }}</p>
        <div>
            <button type="button" class="blue-button" ng-click="receiveAgain();">{{ lan('Receive again') }}</button>
            <button type="button" class="default-button" ng-click="moveToFront();">Home</button>
        </div>
    </div>


    <div class="signup-complete-message" ng-if="error === true" style="text-align: center;">
        <p class="p2">{{ errorMessage }}</p>
        <div>
            <button type="button" class="blue-button" ng-click="moveToFront();">Home</button>
        </div>
    </div>


    <div class="signup-complete-message" ng-if="verified === true" style="text-align: center;">
        <p class="p2">{{ lan('Your email is verified.') }}</p>
        <div>
            <a class="blue-button" href="/playchat/chatbots"><span style="color: white;">{{ lan('Get started right away.') }}</span></a>
        </div>
    </div>

</div>
