

.bot-list > div {
    padding: 5px;
}

.bot-list .nav {display: inline-block;}
.bot-list .form-inline {float: right;}

.bot-list .nav a {
    color: #777;
}

.bot-list .col-md-3 {
    padding-right: 5px;
    padding-left: 5px;
}

.bot-title {
    margin: 2px 0 2px;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 1.8rem;
    /*font-size: 24px;*/
    font-weight: 600;
}

.bot-desc{
    height: 60px;
    line-height: 1.1;
    /*white-space: pre-line;*/

    /*white-space: nowrap;*/
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}

.bot-buttons {
    margin: 0px;
}


#botForm #name {
    width: 150px;
}

#botForm #question {
    width: 250px;
    display: inline;
}


#botForm #answer {
    width: 250px;
    display: inline;
}