<header class="page-header">
  <h2>{{vm.entity && vm.entity._id ? '개체명(Entity) 수정' : '개체명(Entity) 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel">
  <form name="vm.form.entityForm" class="form-horizontal form-bordered" ng-submit="vm.contentSave(vm.form.entityForm.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group" show-errors>
        <div class="row">
          <label class="col-sm-2 control-label">엔터티 <span class="required" aria-required="true">*</span></label>
          <div class="col-sm-9">
            <input id="entityFormName" type="text" name="name" ng-model="vm.entity.name" class="form-control valid"
                   placeholder="이름"
                   required=""
                   aria-required="true" aria-invalid="false">
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger text-center row">
          <strong ng-bind="vm.error"></strong>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="row">
          <label class="col-sm-2 control-label">내용 추가</label>
          <div class="col-sm-9">
            <input id="entityContentForm" type="text" name="entityContent" ng-model="vm.entityContent" class="form-control valid"
                   placeholder="엔터티에 속하는 내용을 적어주세요"
                   aria-required="true" aria-invalid="false"
            >


            <!--<input type="text" id="'theText'"-->
                   <!--mentio-->
                   <!--mentio-id="'tee'"-->
                   <!--mentio-typed-text="typedTerm"-->
                   <!--mentio-items="vm.people | filter:label:typedTerm"-->
                   <!--mentio-trigger-char="'@'"-->
                   <!--ng-model="vm.myval"/>-->
            <!--<mentio-menu mentio-for="'tee'" mentio-trigger-char="'#'" mentio-items="vm.found" mentio-template-url="/people-mentions.tpl"-->
                         <!--mentio-search="vm.searchTopic(term)" mentio-select="vm.getTopicTextRaw(item)">-->
            <!--</mentio-menu>-->

            <!--<input type="text" mentio -->
                   <!--mentio-id="'inline'" -->
                   <!--mentio-items="vm.matchedEntities" -->
                   <!--mentio-search="vm.searchTopic(term, 'entity')" -->
                   <!--mentio-select="vm.getTopicTextRaw(item, input)" -->
                   <!--ng-model="vm.curI.str" -->
                   <!--mentio-trigger-char="'@'"  -->
                   <!--placeholder="@엔터티 #인텐트 :정규식 if조건식" -->
                   <!--style="border: none;width:100%"/>-->

            <!--<mentio-menu mentio-for="'inline'" -->
              <!--mentio-trigger-char="'#'" -->
              <!--mentio-items="vm.matchedIntents" -->
              <!--mentio-template-url="/mentions.tpl" -->
              <!--mentio-search="vm.searchTopic(term, 'intent')" -->
              <!--mentio-select="vm.getTopicTextRaw(item, input)" >-->
            <!--</mentio-menu>-->

            <!--<script type="text/ng-template" id="/people-mentions.tpl">-->
              <!--<ul class="list-group user-search">-->
                <!--<li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">-->
                  <!--<span class="text-primary"-->
                        <!--ng-bind-html="person.label | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</script>-->


          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-default btn-block">
              추가
            </button>
          </div>
        </div>
        <div ng-show="vm.contentError" class="text-danger text-center row">
          <strong ng-bind="vm.contentError"></strong>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label class="col-sm-2 control-label">목록 <span class="required" aria-required="true">*</span></label>
          <div class="col-sm-9">
            <table class="table table-bordered table-hover mb-none">
              <thead>
              <tr>
                <!--<th class="text-center">봇아이디</th>-->
                <th class="text-center col-md-4">내용</th>
                <th class="text-center col-md-6">동의어</th>
                <!--<th class="text-center">작성자</th>-->
                <!--<th class="text-center">수정일</th>-->
                <!--<th class="text-center">등록일</th>-->
                <th class="text-center">관리</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="content in vm.entity.content track by $index">
                <!--<td class="text-center">{{entity.bot.id}}</td>-->
                <td class="text-center" ng-click="vm.selectedContent = $index" style="position: relative;">
                  <input type="text" data-ng-model="content.name" class="text-center" style="border: none; width: 100%; height: 100%; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)">
                </td>
                <td ng-click="vm.selectedContent = $index">
                  <div data-ng-repeat="syn in content.syn track by $index" id="synWrapper_{{content.name}}_{{syn.name}}" class="synWrapper" style="display: inline-block; padding: 10px; border: 1px solid; border-color: gainsboro; margin: 2px" >
                    <span>{{syn.name}}</span>
                    <a href="#" ng-click="vm.contentSynRemoveBeforeSave(content, syn)" id="synTrashIcon" style="padding-left: 5px" ><i class="fa fa-times" aria-hidden="true" style="right: 5px"></i></a>
                  </div>
                  <input type="text" placeholder="동의어 입력(Enter)" style="border: none; height: 40px; margin: 2px" data-ng-model="vm.entityContentSyn" ng-keydown = "vm.synInputKeyDown($event, content)" data-ng-if="vm.selectedContent == $index">
                  <!--<a href="#" ng-click="vm.contentSynSave(content)" data-ng-if="vm.selectedContent == $index"><i class="fa fa-plus" aria-hidden="true"></i></a>-->
                </td>
                <!--<td class="text-center">{{entity.words}}</td>-->
                <!--<td class="text-center">{{entity.user ? entity.user.displayName : '장세영'}}</td>-->
                <!--<td class="text-center">{{entity.updated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
                <!--<td class="text-center">{{entity.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
                <td style="position: relative">
                  <a data-ng-if="vm.entity._id" class="btn btn-default btn-block btn-xs" ng-click="vm.contentRemove(content)" style="border: 0!important; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                  <a data-ng-if="!vm.entity._id" class="btn btn-default btn-block btn-xs" ng-click="vm.contentRemoveBeforeSave(content)" style="border: 0!important;">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <div ng-show="vm.contentListError" class="text-danger text-center">
            <strong ng-bind="vm.contentListError"></strong>
          </div>
        </div>
      </div>
    </div>


    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.entity && vm.entity._id">
          <!--<button class="btn btn-primary">Submit</button>-->
          <a class="btn btn-primary" ng-click="vm.save(vm.form.entityForm.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 생성
          </a>

          <!--<button type="submit" class="btn btn-primary" ng-click="vm.contentSave(form.$valid)">만들기</button>-->
          <!--<button type="reset" class="btn btn-default">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="entitys.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.entity && vm.entity._id">


          <!--<a class="btn btn-primary" ng-click="vm.contentSave(vm.form.entityForm.$valid)">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 만들기-->
          <!--</a>-->
          <!--<a class="btn btn-primary" ng-click="vm.save(form.$valid)">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 수정-->
          <!--</a>-->
          <div class="col-sm-2">
          </div>
          <div class="col-sm-9">
            <a class="btn btn-danger pull-left btn-sm" ng-click="vm.remove()">
              <i class="glyphicon glyphicon-trash"></i> 삭제
            </a>
          </div>
        </div>
      </div>
    </footer>
  </form>
</section>
<style>
  #synTrashIcon{
    opacity: 0;
  }

  .synWrapper:hover #synTrashIcon{
    opacity: 1;
  }

</style>




