<header class="page-header">
  <h2>대화 학습</h2>
</header>

<div>
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: vm.type == 'defaultDialogset'}"><a href="#" ng-click="vm.changeType('defaultDialogset');">기본 대화셋</a></li>
    <li role="presentation" ng-class="{active: vm.type == 'additionalDialogset'}"><a href="#" ng-click="vm.changeType('additionalDialogset');">추가 대화셋</a></li>
  </ul>
</div>

<section class="panel">

  <div class="panel-body" data-ng-if="vm.type == 'defaultDialogset'">

    <form ng-submit="vm.createDialog();" novalidate>
      <div style="margin-bottom: 15px;overflow: hidden">
      <textarea type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문" rows="2"
                aria-invalid="false" ng-blur="vm.textareaFocus(null, null, 'blur', 'question')" ng-focus="vm.textareaFocus(null, null, 'focus', 'question')" style="width: 43%;float: left;margin-right: 5px;resize: none">
      </textarea>
        <textarea type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변" rows="2"
                  aria-invalid="false" ng-blur="vm.textareaFocus(null, null, 'blur', 'answer')" ng-focus="vm.textareaFocus(null, null, 'focus', 'answer')" style="width: 43%;float: left;margin-right: 5px;resize: none">
      </textarea>
      <button type="submit" class="btn btn-primary" style="height: 50px" onclick="">추가</button>
      </div>
    </form>

    <div ng-repeat="dialog in vm.dialogs track by $index" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;overflow: hidden">
      <span style="width: 43%;float: left;margin-right: 5px;position: relative">
         <textarea type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문" id="textarea_question_{{$index}}" rows="2"
                aria-invalid="false" ng-blur="vm.updateDialog(dialog);vm.textareaFocus('question', $index, 'blur')" ng-focus="vm.textareaFocus('question', $index, 'focus')" style="width: {{100-10*dialog.depth}}%;float: right; resize: none">
         </textarea>
      </span>

      <!--<span style="width: 43%;float: left;margin-right: 5px">-->
            <!--&lt;!&ndash;<span ng-if="dialog.parent" class="fa fa-arrow-right" aria-hidden="true" style="width: 5%; float: left; padding: 6px;padding-left: 16px;padding-top: 10px"></span>&ndash;&gt;-->
         <!--<input type="text" ng-if="dialog.parent" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문" id = 'learnDialog_{{dialog._id}}'-->
                <!--aria-invalid="false" ng-blur="vm.updateDialog(dialog)" style="width: 100%;float: right">-->
      <!--</span>-->
      <span style="width: 43%;float: left;margin-right: 5px ;position: relative">
        <textarea type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변" rows="2" id="textarea_answer_{{$index}}"
               aria-invalid="false" ng-blur="vm.updateDialog(dialog);vm.textareaFocus('answer', $index, 'blur')" ng-focus="vm.textareaFocus('answer', $index, 'focus')" style="resize: none">
        </textarea>
      </span>

      <button class="btn btn-default" ng-click="vm.createDepthDialog(dialog, $index)" style="height: 50px;width: 5%"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      <button class="btn btn-default" ng-click="vm.removeDialog(dialog)" style="height: 50px;width: 5%"><i class="glyphicon glyphicon-trash"></i></button>
    </div>

    <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Title <span class="required" aria-required="true">*</span></label>-->
    <!--<div class="col-sm-9">-->

    <!--<div>-->
    <!--<div style="border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">대화입력</div>-->
    <!--<div style="margin-bottom: 15px;">-->
    <!--<input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"-->
    <!--aria-invalid="false" style="width: 42%;float: left;margin-right: 5px">-->
    <!--<input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"-->
    <!--aria-invalid="false"  style="width: 42%;float: left;margin-right: 5px">-->
    <!--<button class="btn btn-primary" ng-click="vm.createDialog();">추가</button>-->
    <!--</div>-->

    <!--<div ng-repeat="dialog in vm.dialogsetDialogs" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;">-->
    <!--<input type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"-->
    <!--aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">-->
    <!--<input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"-->
    <!--aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">-->
    <!--&lt;!&ndash;<button class="btn btn-default" ng-click="vm.updateDialog(dialog)">수정</button>&ndash;&gt;-->
    <!--<button class="btn btn-default" ng-click="vm.removeDialog(dialog)">삭제</button>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

  </div>


  <div class="panel-body" data-ng-if="vm.type == 'additionalDialogset'">
    <table id="dt" datatable="ng" dt-options="vm.dtOptions" class="table table-bordered mb-none">
      <thead>
      <tr>
        <!--<th class="text-center">봇아이디</th>-->
        <th class="text-center">제목</th>
        <th class="text-center">타입</th>
        <th class="text-center">작성자</th>
        <th class="text-center">등록일</th>
        <th class="text-center">관리</th>
        <th class="text-center">연결</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="dialogset in vm.dialogsets" ng-if="vm.listType !== 'public'">
        <!--<td class="text-center">{{dialogset.bot.id}}</td>-->
        <!--<td class="text-center"><a ui-sref="dialogsets.edit({dialogsetId: dialogset._id})">{{dialogset.title}}</a></td>-->
        <td class="text-center" ng-click="vm.openInfoModal(dialogset)" style="cursor: pointer"><a href="#">{{dialogset.title}}</a></td>
        <td class="text-center">{{dialogset.type}}</td>
        <td class="text-center">{{dialogset.user ? dialogset.user.displayName : '장세영'}}</td>
        <td class="text-center">{{dialogset.created | date: 'yyyy-MM-dd HH:mm'}}</td>
        <td>
          <a class="btn btn-default btn-sm btn-block" ui-sref="dialogsets.dialogs({dialogsetId: dialogset._id})" style="border: none">
            <i class="glyphicon glyphicon-edit"></i> 대화관리
          </a>
        </td>
        <td>
          <a data-ng-if="!dialogset.connect" class="btn btn-default btn-sm btn-block" style="border: none" ng-click="vm.connectBot(dialogset)">
            연결하기
          </a>
          <a data-ng-if="dialogset.connect" class="btn btn-danger btn-sm btn-block" style="border: none" ng-click="vm.disconnectBot(dialogset)">
            연결끊기
          </a>
        </td>
      </tr>

      <!--<tr ng-repeat="dialogset in vm.dialogsets" ng-if="(vm.listType == 'public') && dialogset.public">-->
        <!--&lt;!&ndash;<td class="text-center">{{dialogset.bot.id}}</td>&ndash;&gt;-->
        <!--<td class="text-center"><a ui-sref="dialogsets.edit({dialogsetId: dialogset._id})">{{dialogset.title}}</a></td>-->
        <!--<td class="text-center">{{dialogset.type}}</td>-->
        <!--<td class="text-center">{{dialogset.user ? dialogset.user.displayName : '장세영'}}</td>-->
        <!--<td class="text-center">{{dialogset.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
        <!--<td>-->
          <!--<a class="btn btn-default btn-sm btn-block" ui-sref="dialogsets.dialogs({dialogsetId: dialogset._id})" style="border: none">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 대화관리-->
          <!--</a>-->
        <!--</td>-->
        <!--<td>-->
          <!--<a class="btn btn-default btn-sm btn-block" ui-sref="dialogsets.dialogs({dialogsetId: dialogset._id})" style="border: none">-->
            <!--<i class="glyphicon glyphicon-edit"></i> 연결하기-->
          <!--</a>-->
        <!--</td>-->
      <!--</tr>-->
      </tbody>
    </table>


  </div>

</section>
