<header class="page-header">
  <h2>개별 대화 학습</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>대화Set-Dialog</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel">

  <div class="panel-body">

    <div style="margin-bottom: 15px;">
      <input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"
             aria-invalid="false" style="width: 43%;float: left;margin-right: 5px" ng-keydown="vm.keyDown($event)">
      <input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"
             aria-invalid="false"  style="width: 43%;float: left;margin-right: 5px" ng-keydown="vm.keyDown($event)">
      <button type="submit" class="btn btn-primary" ng-submit="vm.createDialog()">추가</button>
    </div>

    <div ng-repeat="dialog in vm.dialogs track by $index" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;">
      <span style="width: 43%;float: left;margin-right: 5px">
         <input type="text" ng-if="!dialog.parent" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문" id = 'learnDialog_{{$index}}'
                aria-invalid="false" ng-blur="vm.updateDialog(dialog)" style="width: 100%;float: right">
      </span>

      <span style="width: 43%;float: left;margin-right: 5px">
            <!--<span ng-if="dialog.parent" class="fa fa-arrow-right" aria-hidden="true" style="width: 5%; float: left; padding: 6px;padding-left: 16px;padding-top: 10px"></span>-->
         <input type="text" ng-if="dialog.parent" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문" id = 'learnDialog_{{$index}}'
                aria-invalid="false" ng-blur="vm.updateDialog(dialog)" style="width: 100%;float: right">
      </span>

      <input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"
         aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 43%;float: left;margin-right: 5px">
      <button class="btn btn-default" ng-click="vm.createDepthDialog(dialog, $index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      <button class="btn btn-default" ng-click="vm.removeDialog(dialog)" ><i class="glyphicon glyphicon-trash"></i></button>
    </div>

    <!--<div class="form-group">-->
    <!--<label class="col-sm-3 control-label">Title <span class="required" aria-required="true">*</span></label>-->
    <!--<div class="col-sm-9">-->

    <!--<div>-->
    <!--<div style="border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">대화입력</div>-->
    <!--<div style="margin-bottom: 15px;">-->
    <!--<input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"-->
    <!--aria-invalid="false" style="width: 42%;float: left;margin-right: 5px">-->
    <!--<input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"-->
    <!--aria-invalid="false"  style="width: 42%;float: left;margin-right: 5px">-->
    <!--<button class="btn btn-primary" ng-click="vm.createDialog();">추가</button>-->
    <!--</div>-->

    <!--<div ng-repeat="dialog in vm.dialogsetDialogs" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;">-->
    <!--<input type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"-->
    <!--aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">-->
    <!--<input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"-->
    <!--aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">-->
    <!--&lt;!&ndash;<button class="btn btn-default" ng-click="vm.updateDialog(dialog)">수정</button>&ndash;&gt;-->
    <!--<button class="btn btn-default" ng-click="vm.removeDialog(dialog)">삭제</button>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

  </div>

</section>


<script>

</script>

