<header class="page-header">
  <h2>대화 학습</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Dialogsets</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<div data-ng-if="!vm.dialogset._id">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: vm.type == 'oneByOne'}"><a href="#" ng-click="vm.changeType('oneByOne');">개별 대화로 만들기</a></li>
    <li role="presentation" ng-class="{active: vm.type == 'bulk'}"><a href="#" ng-click="vm.changeType('bulk');">대화셋 파일 가져오기</a></li>
  </ul>
</div>


<section class="panel" data-ng-if="(vm.type == 'oneByOne') && !vm.dialogset._id">
  <form name="dialogsetForm" class="form-horizontal form-bordered" novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">Title <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-10">

          <input type="text" id="title" name="title" ng-model="vm.dialogset.title" class="form-control valid" placeholder="제목을 입력해주세요" required="" aria-required="true" aria-invalid="false">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Content</label>
        <div class="col-sm-10">
          <textarea name="content" ng-model="vm.dialogset.content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">개별 대화 입력</label>
        <div class="col-sm-10">
          <div style="margin-bottom: 15px;">
            <input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"
                   aria-invalid="false" style="width: 45%;float: left;margin-right: 5px" ng-keydown="vm.keyDown($event)">
            <input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"
                   aria-invalid="false"  style="width: 45%;float: left;margin-right: 5px" ng-keydown="vm.keyDown($event)">
            <a class="btn btn-primary" ng-click="vm.createDialog();">추가</a>
          </div>

          <div ng-repeat="dialog in vm.dialogsetDialogs track by $index" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;">
            <!--<input type="text" ng-if="!dialog.parent" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"-->
            <!--aria-invalid="false" style="width: 43%;float: left;margin-right: 5px">-->
            <!--<span ng-if="dialog.parent" class="fa fa-arrow-right" aria-hidden="true" style="width: 5%; float: left; padding: 6px;padding-left: 16px;padding-top: 10px"></span>-->
            <!--<input type="text" ng-if="dialog.parent" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"-->
            <!--aria-invalid="false" style="width: 38%;float: left;margin-right: 5px">-->


            <span style="width: 45%;float: left;margin-right: 5px">
         <input type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문" id = 'learnDialog_{{dialog._id}}'
                aria-invalid="false" ng-blur="vm.updateDialog(dialog)" style="width: {{100-10*dialog.depth}}%;float: right">
        </span>

            <input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"
                   aria-invalid="false" style="width: 45%;float: left;margin-right: 5px">
            <!--<button class="btn btn-default" ng-click="vm.updateDialog(dialog)">수정</button>-->
            <a class="btn btn-default" ng-click="vm.createDepthDialog(dialog, $index)" ><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <a class="btn btn-default" ng-click="vm.removeDialog(dialog)" ><i class="glyphicon glyphicon-trash"></i></a>
          </div>
        </div>
      </div>

    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.dialogset && vm.dialogset._id">
          <a ng-click="vm.save()" class="btn btn-primary" >대화셋으로 저장</a>
          <button type="button" class="btn btn-danger" ui-sref="dialogsets.dialogsLearn('dialogSet')">취소</button>
        </div>
      </div>
    </footer>
  </form>
</section>


<section class="panel" data-ng-if="(vm.type == 'bulk') || vm.dialogset._id">

  <form name="dialogsetForm" class="form-horizontal form-bordered" ng-submit="vm.save(dialogsetForm.$valid)" novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Title <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">

          <input type="text" id="title" name="title" ng-model="vm.dialogset.title" class="form-control valid" placeholder="제목을 입력해주세요" required="" aria-required="true" aria-invalid="false">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Type <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">

          <div class="radio" style="float:left; margin-right: 10px;" data-ng-if="vm.dialogset.filename || (vm.type == 'bulk')">
            <label>
              <input type="radio" name="type" id="type1" value="csv" checked="" ng-model="vm.dialogset.type" >
              대화목록(csv)
            </label>
          </div>
          <div class="radio" style="float:left; margin-right: 10px;" data-ng-if="vm.dialogset.filename || (vm.type == 'bulk')">
            <label>
              <input type="radio" name="type" id="type2" value="kakao" ng-model="vm.dialogset.type" >
              카카오톡 내보내기 파일
            </label>
          </div>

          <div class="radio" style="float:left; margin-right: 10px;" data-ng-if="vm.dialogset.filename || (vm.type == 'bulk')">
            <label>
              <input type="radio" name="type" id="type3" value="smi" ng-model="vm.dialogset.type" >
              자막파일 (smi)
            </label>
          </div>
          <input type="text" name="type" ng-model="vm.dialogset.type" class="form-control valid"  required="" aria-required="true" aria-invalid="false" data-ng-if="!vm.dialogset.filename && vm.dialogset._id" ng-disabled="true">

          <!--<input type="text" id="type" name="type" ng-model="vm.dialogset.type" class="form-control valid" required="" aria-required="true" aria-invalid="false">-->
        </div>
      </div>

      <div class="form-group" data-ng-if="vm.dialogset.filename || (vm.type == 'bulk')">
        <label class="col-sm-3 control-label">File <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <div class="text-left" ng-hide="uploader.queue.length" style="display: inline;">
                                      <span class="btn btn-default btn-file">
                                          <input type="file" nv-file-select uploader="uploader" style="width:200px;">
                                      </span>
          </div>
          <div class="text-center form-group" ng-show="false">
            <button class="btn btn-primary" ng-click="uploadDialogFiles();">Upload</button>
            <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>파일이 업로드 되었습니</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Content</label>
        <div class="col-sm-9">
          <textarea name="content" ng-model="vm.dialogset.content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea>
        </div>
      </div>

      <div class="form-group" data-ng-show="vm.dialogset.connectedBot.length">
        <label class="col-sm-3 control-label">연결된 봇</label>
        <div class="col-sm-9">
          <table class="table table-bordered mb-none">
            <thead>
            <tr>
              <!--<th class="text-center">봇아이디</th>-->
              <th class="text-center">봇 아이디</th>
              <th class="text-center">봇 소유자</th>
              <th class="text-center">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bot in vm.dialogset.connectedBot">
              <!--<td class="text-center">{{dialogset.bot.id}}</td>-->
              <td class="text-center">{{bot.id}}</td>
              <td class="text-center">{{bot.user.displayName}}</td>
              <td>
                <a class="btn btn-default btn-sm btn-block" ng-click="vm.disconnectBot(bot)" style="border: none">
                  <i class="glyphicon glyphicon-edit"></i> 연결 끊기
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="form-group" data-ng-if="vm.dialogset._id">
        <label class="col-sm-3 control-label">봇 연결하기</label>
        <div class="col-sm-8">
          <ui-select ng-model="vm.selectedBot"
                     theme="bootstrap"
                     ng-disabled="vm.mybot.length == 0"
                     reset-search-input="true"
                     title="연결할 봇을 선택해주세요">
            <ui-select-match placeholder="연결할 봇을 선택해주세요">{{$select.selected.id}}</ui-select-match>
            <ui-select-choices repeat="t in vm.mybot |filter: $select.search track by $index"
                               refresh-delay="0">
              <div ng-bind-html="t.id | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-default" style="width: 100%" ng-click="vm.connectBot()">연결</button>
        </div>
      </div>

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">설정</label>-->
        <!--<div class="col-sm-9">-->
            <!--<div class="row">-->
              <!--<label class="col-sm-2 control-label">limit:</label>-->
              <!--<div class="col-sm-10">-->
                <!--<input type="text" id="limit" name="limit" ng-model="vm.dialogset.limit" class="col-sm-8 mb-xs form-control valid" placeholder="limit을 입력해주세요" required="" aria-required="true" aria-invalid="false">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-sm-2 control-label">matchRate:</label>-->
              <!--<div class="col-sm-10">-->
                <!--<input type="text" id="matchRate" name="matchRate" ng-model="vm.dialogset.matchRate" class="mb-xs form-control valid" placeholder="matchRate을 입력해주세요" required="" aria-required="true" aria-invalid="false">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<label class="col-sm-2 control-label">matchCount:</label>-->
              <!--<div class="col-sm-10">-->
              <!--<input type="text" id="matchCount" name="matchCount" ng-model="vm.dialogset.matchCount" class="mb-xs form-control valid" placeholder="matchCount을 입력해주세요" required="" aria-required="true" aria-invalid="false">-->
            <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group" ng-show="topics.length > 1">-->
        <!--<label class="col-sm-3 control-label">topicKeywords</label>-->
        <!--<div class="col-sm-9">-->
          <!--<label class="form-control" ng-repeat="topic in topics">-->
            <!--<input-->
                    <!--type="checkbox"-->
                    <!--name="topicKeywords[]"-->
                    <!--value="{{topic}}"-->
                    <!--ng-checked="vm.dialogset.topicKeywords.indexOf(topic) > -1"-->
                    <!--ng-click="toggleSelection(topic)"-->
            <!--&gt; {{topic}}-->
          <!--</label>-->
        <!--</div>-->
      <!--</div>-->

    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.dialogset && vm.dialogset._id">
          <!--<button class="btn btn-primary">Submit</button>-->
          <button type="submit" class="btn btn-primary" >생성</button>
          <!--<button type="reset" class="btn btn-default">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="dialogsets.dialogsLearn('dialogSet')">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.dialogset && vm.dialogset._id">
          <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </button>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
  </form>
</section>


