<header class="page-header">
  <h2>대화셋 관리</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>대화Set-Dialog</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel">
    <header class="panel-heading" style="padding-left: 40px; border-bottom: 1px solid">
      <div class="panel-actions">
        <i class="fa fa-th-list fa-2x" ui-sref="dialogsets.dialogsLearn({listType: 'additional'})" style="cursor: pointer"></i>
      </div>
      <h2 class="panel-title">{{vm.dialogset.title}}</h2>
      <p class="panel-subtitle">{{vm.dialogset.content}}</p>
    </header>

    <!--<div style="padding: 40px">-->
      <!--<h4>제목 : {{vm.dialogset.title}}</h4>-->
      <!--<h4>설명 : {{vm.dialogset.content}}</h4>-->
    <!--</div>-->

    <div class="panel-body">

      <div style="margin-bottom: 20px">
        <span style="width: 44%;float: left;margin-right: 5px;">
          &nbsp
        </span>
        <span style="width: 44%;float: left;margin-right: 5px;">
           <input type="text" class="form-control" data-ng-model="vm.dialogSearch" ng-keyup="vm.searchDialogKeyup()" placeholder="무엇을 찾을까요" style="margin-bottom: 15px;padding: 6px 12px"></input>
        </span>
        <span style="width: 5%">
           <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
              {{vm.selectedCategory ? vm.selectedCategory : '전체' }} <span class="fa fa-search"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="right: 0;left: auto">
              <li role="menuitem" ng-click="vm.selectedCategory = '전체'"><a href="#">전체 </a></li>
              <!--<li role="menuitem" ng-click="vm.selectedCategory = '카테고리'"><a href="#">카테고리</a></li>-->
              <li role="menuitem" ng-click="vm.selectedCategory = '질문'"><a href="#">질문 </a></li>
              <li role="menuitem" ng-click="vm.selectedCategory = '답변'"><a href="#">답변 </a></li>
            </ul>
          </div>
        </span>


        <!--<button class="btn btn-default" ng-click="vm.searchDialog();">검색</button>-->
        <!--<button class="btn btn-default" ng-click="vm.initDialog();">초기화</button>-->
      </div>

      <div style="margin-bottom: 20px;overflow: hidden">
        <!--<input type="text" id="category" name="category" ng-model="vm.dialog.category" class="form-control valid" placeholder="카테고리"-->
               <!--aria-invalid="false" style="width: 13%;float: left;margin-right: 5px">-->
        <span style="position:relative;width: 44%;float: left;margin-right: 5px;">
          <textarea type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문" rows="2"
                    aria-invalid="false" ng-blur="vm.textareaFocus(null, null, 'blur', 'question')" ng-focus="vm.textareaFocus(null, null, 'focus', 'question')" style="resize: none" >
        </textarea>
        </span>
        <span style="position:relative;width: 44%;float: left;margin-right: 5px;">
           <textarea type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변" rows="2"
                     aria-invalid="false" ng-blur="vm.textareaFocus(null, null, 'blur', 'answer')" ng-focus="vm.textareaFocus(null, null, 'focus', 'answer')" style="resize: none">
        </textarea>
        </span>

        <button class="btn btn-primary" ng-click="vm.createDialog();" style="height: 50px">추가</button>
      </div>

      <div infinite-scroll="vm.nextPage()"
           infinite-scroll-distance="0"
           infinite-scroll-disabled="vm.pagingEnd"
           infinite-scroll-container='"#main"'>

        <!--<div name="groupDiv" ng-repeat="dialogGroup in vm.dialogsetDialogs" ng-show="dialogGroup.deleted == undefined" style="margin: 20px;border: 1px solid red;margin-bottom: 5px;overflow: hidden" id="textarea_{{$index}}">-->
          <!--<div name="randomGroupDiv" data-ng-repeat="randomGroupDialog in dialogGroup.data | orderByDepth: 'depth'" style="margin: 20px;border: 1px solid blue">-->
            <!--<div name="dialogDiv" data-ng-repeat="dialog in randomGroupDialog.data" style="margin: 20px;border: 1px solid green">-->
              <!--{{dialog.inputRaw}}-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div ng-repeat="dialog in vm.dialogsetDialogs" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;overflow: hidden" id="textarea_{{$index}}">
          <!--<span style="width: 8%;float: left;margin-right: 5px;">-->
            <!--<span data-ng-show="dialog.depth != 0">&nbsp</span>-->
            <!--<textarea type="text" data-ng-show="dialog.depth == 0" ng-model="dialog.category"  class="form-control valid" placeholder="카테고리" rows="2" id="textarea_category_{{$index}}"-->
                      <!--aria-invalid="false" style="resize: none; display: block"ng-blur="vm.textareaFocus('category', $index, 'blur')" ng-focus="vm.textareaFocus('category', $index, 'focus')">-->
            <!--</textarea>-->
          <!--</span>-->
          <span style="position:relative;width: 44%;float: left;margin-right: 5px">
           <textarea type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문" rows="2" id="textarea_question_{{$index}}"
                     aria-invalid="false" ng-blur="vm.updateDialog(dialog);vm.textareaFocus('question', $index, 'blur')" ng-focus="vm.textareaFocus('question', $index, 'focus')" style="width: {{100-10*dialog.depth}}%;float: right;resize: none;display: block">
           </textarea>
           <!--<button class="btn btn-default" style="position: absolute;right: 10px;top: 10px; border: none" ng-click="vm.addRandomQuestion(dialog, $index)"><i class="fa fa-plus"></i></button>-->
          </span>
          <span style="width: 44%;float: left;margin-right: 5px;position: relative">
            <textarea type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변" rows="2" id="textarea_answer_{{$index}}"
                      aria-invalid="false" ng-blur="vm.updateDialog(dialog);vm.textareaFocus('answer', $index, 'blur')" ng-focus="vm.textareaFocus('answer', $index, 'focus')" style="resize: none;display: block">
            </textarea>
            <!--<button class="btn btn-default" style="position: absolute;right: 10px;top: 10px; border: none" ng-click="vm.addRandomAnswer(dialog)"><i class="fa fa-plus"></i></button>-->
          </span>


          <button class="btn btn-default" ng-click="vm.createDepthDialog(dialog, $index)" style="height: 50px;width: 5%;overflow: hidden"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
          <button class="btn btn-default" ng-click="vm.removeDialog(dialog)" style="height: 50px;width: 5%;overflow: hidden"><i class="glyphicon glyphicon-trash"></i></button>
        </div>

      </div>
      <h4 class="text-center" data-ng-if="vm.pagingEnd" style="padding-top: 50px;padding-left: 10px;padding-bottom: 50px">더 이상 대화가 존재하지 않네요</h4>

      <!--<div class="form-group">-->
        <!--<label class="col-sm-3 control-label">Title <span class="required" aria-required="true">*</span></label>-->
        <!--<div class="col-sm-9">-->

          <!--<div>-->
            <!--<div style="border-bottom: 1px solid lightgray; margin-bottom: 10px;padding-bottom: 5px;font-weight: bold;">대화입력</div>-->
            <!--<div style="margin-bottom: 15px;">-->
              <!--<input type="text" id="question" name="question" ng-model="vm.dialog.inputRaw" class="form-control valid" placeholder="질문"-->
                     <!--aria-invalid="false" style="width: 42%;float: left;margin-right: 5px">-->
              <!--<input type="text" id="answer" name="answer" ng-model="vm.dialog.output" class="form-control valid" placeholder="답변"-->
                     <!--aria-invalid="false"  style="width: 42%;float: left;margin-right: 5px">-->
              <!--<button class="btn btn-primary" ng-click="vm.createDialog();">추가</button>-->
            <!--</div>-->

            <!--<div ng-repeat="dialog in vm.dialogsetDialogs" ng-show="dialog.deleted == undefined" style="margin-bottom: 5px;">-->
              <!--<input type="text" ng-model="dialog.inputRaw" class="form-control valid" placeholder="질문"-->
                     <!--aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">-->
              <!--<input type="text" ng-model="dialog.output" class="form-control valid" placeholder="답변"-->
                     <!--aria-invalid="false" ng-blur="vm.updateDialog(dialog)"  style="width: 42%;float: left;margin-right: 5px">-->
              <!--&lt;!&ndash;<button class="btn btn-default" ng-click="vm.updateDialog(dialog)">수정</button>&ndash;&gt;-->
              <!--<button class="btn btn-default" ng-click="vm.removeDialog(dialog)">삭제</button>-->
            <!--</div>-->

          <!--</div>-->

        <!--</div>-->
      <!--</div>-->

    </div>

</section>

<style>
  .textareaOpacity{
    opacity: 0;
  }
</style>
