<header class="page-header">
  <h2>대화셋 관리</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Dialogsets</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>

<section class="panel">

  <form name="dialogsetForm" class="form-horizontal form-bordered" ng-submit="vm.save(dialogsetForm.$valid)" novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Title <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">

          <input type="text" id="title" name="title" ng-model="vm.dialogset.title" class="form-control valid" placeholder="제목을 입력해주세요" required="" aria-required="true" aria-invalid="false">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Type <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">

          <div class="radio" style="float:left; margin-right: 10px;">
            <label>
              <input type="radio" name="type" id="type1" value="csv" checked="" ng-model="vm.dialogset.type" >
              대화목록(csv)
            </label>
          </div>
          <div class="radio" style="float:left; margin-right: 10px;">
            <label>
              <input type="radio" name="type" id="type2" value="kakao" ng-model="vm.dialogset.type" >
              카카오톡 내보내기 파일
            </label>
          </div>

          <div class="radio" style="float:left; margin-right: 10px;">
            <label>
              <input type="radio" name="type" id="type3" value="smi" ng-model="vm.dialogset.type" >
              자막파일 (smi)
            </label>
          </div>

          <!--<input type="text" id="type" name="type" ng-model="vm.dialogset.type" class="form-control valid" required="" aria-required="true" aria-invalid="false">-->
        </div>
      </div>

      <div class="form-group has-error">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="public" ng-model="vm.dialogset.public">공개</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">File <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <div class="text-left" ng-hide="uploader.queue.length" style="display: inline;">
                                      <span class="btn btn-default btn-file">
                                          <input type="file" nv-file-select uploader="uploader" style="width:200px;">
                                      </span>
          </div>
          <div class="text-center form-group" ng-show="false">
            <button class="btn btn-primary" ng-click="uploadDialogFiles();">Upload</button>
            <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>파일이 업로드 되었습니</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>

      <div class="form-group has-error">
        <label class="col-sm-3 control-label">Content</label>
        <div class="col-sm-9">
          <textarea name="content" ng-model="vm.dialogset.content" rows="5" class="form-control" placeholder="내용을 입력해 주세요" required="" aria-required="true" aria-invalid="true"></textarea><label id="content-error" class="error" for="content">내용은 필수 입니다.</label>
        </div>
      </div>

    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.dialogset && vm.dialogset._id">
          <!--<button class="btn btn-primary">Submit</button>-->
          <button type="submit" class="btn btn-primary" >생성</button>
          <!--<button type="reset" class="btn btn-default">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="dialogsets.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.dialogset && vm.dialogset._id">
          <button class="btn btn-primary" type="submit" >
            <i class="glyphicon glyphicon-edit"></i> 수정
          </button>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
  </form>
</section>


