<div ng-controller="DialogTrafficAnalysisController" data-ng-init="init();">

    <div style="text-align: right; margin-bottom: 20px;">
        <button type="button" class="default-button excel-download-button" ng-click="exelDownload('dailyUser')">{{lan('Excel Download') }}</button>
        <div id="createdRange" class="pull-right" style="width: 40%;">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>

    <div>
        <h2 class="dialog-traffic-title">{{lan('Historical amount of dialog(channel)') }}</h2>
        <div>
            <canvas id="dailyDialog" width="400" height="100"></canvas>
        </div>
    </div>
    <div>
        <h2 class="dialog-traffic-title">{{lan('Historical amount of dialog(Success/Fail)') }}</h2>
        <div>
            <canvas id="isFailDialog" width="400" height="100"></canvas>
        </div>
    </div>
    <div>
        <h2 class="dialog-traffic-title">{{lan('Ratio of dialog on channels') }}</h2>
        <div style="display: flex;">
            <div style="flex: 1">
                <div>
                    <canvas id="dialogRatioByChannel" width="400" height="200"></canvas>
                </div>
            </div>
            <div style="flex: 1">
                <table class="tb02" style="height: 100%">
                    <thead>
                    <tr>
                        <th class="text-center">{{lan('Channel') }}</th>
                        <th class="text-center">{{lan('Ratio') }}</th>
                        <th class="text-center">{{lan('User Count') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">{{lan('Kakaotalk') }}</td>
                        <td class="text-center">{{kakao*100/(kakao + facebook + navertalk)| number:1}}%</td>
                        <td class="text-center">{{kakao}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{lan('Facebook') }}</td>
                        <td class="text-center">{{facebook*100/(kakao + facebook + navertalk)| number:1}}%</td>
                        <td class="text-center">{{facebook}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{lan('Naver talk talk') }}</td>
                        <td class="text-center">{{navertalk*100/(kakao + facebook + navertalk)| number:1}}%</td>
                        <td class="text-center">{{navertalk}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{lan('Total') }}</td>
                        <td class="text-center">100%</td>
                        <td class="text-center">{{kakao + facebook + navertalk}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
