<div ng-controller="DialogTrafficAnalysisController" data-ng-init="init();">

    <div style="text-align: right; margin-bottom: 20px;">
        <button type="button" class="default-button" ng-click="exelDownload('dailyUser')">Excel 다운로드</button>
        <div id="createdRange" class="pull-right" style="width: 40%;">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>

    <div>
        <h2 class="dialog-traffic-title">기간별 대화량(채널)</h2>
        <div name="dataLoading" style="background: white;position: absolute; top: 0;left: 0;height: 100%;width: 100%;z-index: 99999;opacity: 1; transition: opacity .5s ease">
            <div class="logo" style="display: block;width: 80px;height: 80px;background-repeat: no-repeat;background-image: url(images/loading_icon3.gif);background-size: contain;position:absolute; top: 50%;left: 50%;margin: -40px 0 0 -40px; animation: blink normal 2s infinite ease-in-out"></div>
        </div>
        <div>
            <canvas id="dailyDialog" width="400" height="100"></canvas>
        </div>
    </div>
    <div>
        <h2 class="dialog-traffic-title">기간별 대화량(성공/실패)</h2>
        <div name="dataLoading" style="background: white;position: absolute; top: 0;left: 0;height: 100%;width: 100%;z-index: 99999;opacity: 1; transition: opacity .5s ease">
            <div class="logo" style="display: block;width: 80px;height: 80px;background-repeat: no-repeat;background-image: url(images/loading_icon3.gif);background-size: contain;position:absolute; top: 50%;left: 50%;margin: -40px 0 0 -40px; animation: blink normal 2s infinite ease-in-out"></div>
        </div>
        <div>
            <canvas id="isFailDialog" width="400" height="100"></canvas>
        </div>
    </div>
    <div>
        <h2 class="dialog-traffic-title">채널별 대화 비율</h2>
        <div name="dataLoading" style="background: white;position: absolute; top: 0;left: 0;height: 100%;width: 100%;z-index: 99999;opacity: 1; transition: opacity .5s ease">
            <div class="logo" style="display: block;width: 80px;height: 80px;background-repeat: no-repeat;background-image: url(images/loading_icon3.gif);background-size: contain;position:absolute; top: 50%;left: 50%;margin: -40px 0 0 -40px; animation: blink normal 2s infinite ease-in-out"></div>
        </div>
        <div name="dataLoading" style="background: white;position: absolute; top: 0;left: 0;height: 100%;width: 100%;z-index: 99999;opacity: 1; transition: opacity .5s ease">
            <div class="logo" style="display: block;width: 80px;height: 80px;background-repeat: no-repeat;background-image: url(images/loading_icon3.gif);background-size: contain;position:absolute; top: 50%;left: 50%;margin: -40px 0 0 -40px; animation: blink normal 2s infinite ease-in-out"></div>
        </div>
        <div style="display: flex;">
            <div style="flex: 1">
                <div>
                    <canvas id="dialogRatioByChannel" width="400" height="200"></canvas>
                </div>
            </div>
            <div style="flex: 1">
                <table class="tb02" style="height: 100%">
                    <thead>
                    <tr>
                        <th class="text-center">채널</th>
                        <th class="text-center">비율</th>
                        <th class="text-center">이용자수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">카카오톡</td>
                        <td class="text-center">{{kakao*100/(kakao + facebook + navertalk)| number:1}}%</td>
                        <td class="text-center">{{kakao}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">페이스북</td>
                        <td class="text-center">{{facebook*100/(kakao + facebook + navertalk)| number:1}}%</td>
                        <td class="text-center">{{facebook}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">네이버톡톡</td>
                        <td class="text-center">{{navertalk*100/(kakao + facebook + navertalk)| number:1}}%</td>
                        <td class="text-center">{{navertalk}}</td>
                    </tr>
                    <tr>
                        <td class="text-center">합계</td>
                        <td class="text-center">100%</td>
                        <td class="text-center">{{kakao + facebook + navertalk}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
