<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Play Chat Email Confirmation</title>
</head>

<body>
<p>Hello, {{name}}</p>
<br />
<p>
    You have just registered in {{appName}}.
</p>
<p>If you have made the registration and would like to change it, then please visit the URL below.</p>
<p>{{url}}</p>
<p>Verify Code : {{veriCode}}</p>
<strong>If you did not made the account, please ignore this email.</strong>
<br />
<br />
<p>Yours, Play Chat</p>
</body>
</html>
