<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
<p>Hello, {{name}}</p>
<br />
<p>
    PlayChat requested to change the password of this email.
</p>
<p>If you requested to change the password and would like to change it, then please visit the URL below.</p>
<p>{{url}}</p>
<strong>If you did not request to change the password, please ignore this email.(Your password will not change unless you are logged in with a URL)</strong>
<br />
<br />
<p>Yours, PlayChat</p>
</body>

</html>