<ion-view view-title="Chats">
  <ion-content>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ui-sref="mobile.messengers.chat()">
        <img ng-src="/images/venkman.jpg">
        <h2>Bot1</h2>
        <p>This is Bot Test</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/messengers/chat">
        <img ng-src="/images/venkman.jpg">
        <h2>Bot1</h2>
        <p>This is Bot Test</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/messengers/chat">
        <img ng-src="/images/venkman.jpg">
        <h2>Bot1</h2>
        <p>This is Bot Test</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
