<header class="page-header">
  <h2>Messengers</h2>

  <div class="right-wrapper pull-right">
    <ol class="breadcrumbs">
      <li>
        <a ui-sref="home">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li><span>Messengers</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!--<div class="col-md-6">-->
<section class="panel" ng-controller="MessengersController" ng-init="findOne()">
  <form name="messengerForm" class="form-horizontal form-bordered" ng-submit="create(messengerForm.$valid)" novalidate="novalidate">

    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Title <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-bind="messenger.title"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Created</label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-bind="messenger.created | date:'mediumDate'"></p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Display Name </label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-bind="messenger.user.displayName"></p>
        </div>
      </div>
      <div class="form-group has-error">
        <label class="col-sm-3 control-label">Content <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <p class="form-control-static" ng-bind="messenger.content"></p>
        </div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-6 pull-left">
          <a class="btn btn-primary" ui-sref="messengers.list">
            <i class="glyphicon glyphicon-edit"></i> 목록
          </a>
        </div>

        <div class="col-sm-6 text-right">
          <a class="btn btn-primary" ui-sref="messengers.edit({messengerId: messenger._id})">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-primary" ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
  </form>
</section>
<!--</div>-->




<!--<section ng-controller="MessengersController" ng-init="findOne()">-->
  <!--<div class="page-header">-->
    <!--<h1 ng-bind="messenger.title"></h1>-->
  <!--</div>-->
  <!--<div class="pull-right" ng-show="authentication.user._id == messenger.user._id">-->
    <!--<a class="btn btn-primary" ui-sref="messengers.edit({messengerId: messenger._id})">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" ng-click="remove();">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  <!--</div>-->
  <!--<small>-->
    <!--<em class="text-muted">-->
      <!--Posted on-->
      <!--<span ng-bind="messenger.created | date:'mediumDate'"></span>-->
      <!--by-->
      <!--<span ng-bind="messenger.user.displayName"></span>-->
    <!--</em>-->
  <!--</small>-->
  <!--<p class="lead" ng-bind="messenger.content"></p>-->
<!--</section>-->
