<div ng-controller="SummaryController">
    <div class="dashboard-summary-title">Bot Profile</div>
    <div class="dashboard-bot-profile">
        <div class="dashboard-bot-profile-image">
            <div class="dashboard-bot-profile-image-wrapper">
                <img src="/modules/chatbots/client/imgs/user.png">
                <span>Image edit</span>
            </div>
        </div>
        <div class="dashboard-bot-profile-content">
            <div>
                <span>Bot Name</span>
                <input type="text" value="{{ chatbot.name }}">
            </div>
            <div>
                <p>Description</p>
                <textarea>{{ chatbot.description }}</textarea>
            </div>
        </div>
    </div>
    <div class="dashboard-summary-title">Dialog Develop</div>
    <div class="dashboard-dialog-develop">
        <div class="dashboard-dialog-learning">
            <img src="/modules/playchat/working-ground/summary/client/imgs/dialog-learning.png">
            <div>
                <p>Dialog learning</p>
                <p>대화 학습 기능은 1:1로 이루어진 질문답변을 챗봇에게 학습 시키는 기능입니다.</p>
                <div>
                    <a href="#" class="blue-button">바로가기</a>
                </div>
            </div>
        </div>
        <div class="dashboard-dialog-graph">
            <img src="/modules/playchat/working-ground/summary/client/imgs/dialog-graph.png">
            <div>
                <p>Dialog graph</p>
                <p>대화 그래프 개발 기능은 단계적인 대화를 개발할 수 있는 기능입니다 이 기능은 이용자와 심도 있는 대화를 구성 하는데 유용하며 인텐트 엔터티 정규식 기능을 활용 할 수 있습니다.</p>
                <div>
                    <a href="#" class="blue-button">바로가기</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-summary-title">Dialog Management</div>
    <div class="dashboard-dialog-develop">
        <div class="dashboard-dialog-management-card">
            <div>
                <a href="#"></a>
                <div>Dialog Set</div>
                <p>학습 시킨 대화 지식을 관리 할 수 있습니다.</p>
            </div>
        </div>
        <div class="dashboard-dialog-management-card">
            <div>
                <a href="#"></a>
                <div>Dialog Graph</div>
                <p>대화 그래프를 관리 할 수 있습니다.</p>
            </div>
        </div>
        <div class="dashboard-dialog-management-card">
            <div>
                <a href="#"></a>
                <div>Intent</div>
                <p>Intent를 추가 및 편집 할 수 있습니다.</p>
            </div>
        </div>
        <div class="dashboard-dialog-management-card">
            <div>
                <a href="#"></a>
                <div>Entity</div>
                <p>대화 그래프를 관리 할 수 있습니다.</p>
            </div>
        </div>
        <div class="dashboard-dialog-management-card">
            <div>
                <a href="#"></a>
                <div>Task</div>
                <p>Task를 추가 및 편집 할 수 있습니다.</p>
            </div>
        </div>
    </div>
</div>
