<div ng-controller="SummaryAnalysisController">
    <div class="analysis-summary-row">
        <div class="analysis-summary-card">
            <p>실시간 이용자</p>
            <p class="analysis-summary-card-count">{{ data.liveUserCount }}</p>
        </div>
        <div class="analysis-summary-card">
            <p>누적 대화량</p>
            <p class="analysis-summary-card-count">{{ data.totalDialogCount }}</p>
        </div>
        <div class="analysis-summary-card">
            <p>대화량(30일)</p>
            <p class="analysis-summary-card-count">{{ data.periodDialogCount }}</p>
        </div>
        <div class="analysis-summary-card">
            <p>누적 이용자</p>
            <p class="analysis-summary-card-count">{{ data.totalUserCount }}</p>
        </div>
        <div class="analysis-summary-card">
            <p>최근 30일 이용자</p>
            <p class="analysis-summary-card-count">{{ data.periodUserCount }}</p>
        </div>
    </div>
    <div class="analysis-summary-row">
        <div style="flex: 1;">
            <div class="analysis-summary-title">일자별 대화량</div>
            <canvas id="dailyDialogUsage" width="400" height="200"></canvas>
        </div>
    </div>
    <div class="analysis-summary-row">
        <div style="flex: 1;">
            <div class="analysis-summary-title">채널별 이용자 분포</div>
            <canvas id="botUserByChannel" width="300" height="250"></canvas>
        </div>
        <div style="flex: 1;">
            <div class="analysis-summary-title">대화 성공률</div>
            <canvas id="dialogSuccessRate" width="300" height="250"></canvas>
        </div>
    </div>
    <div class="analysis-summary-row">
        <div style="flex: 1; padding: 0 10px;">
            <div class="analysis-summary-title">사용자 입력 TOP 10</div>
            <table class="tb02">
                <colgroup>
                    <col style="width: 70%;">
                    <col style="width: 30%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>대화</th>
                        <th>사용량</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in userInputStatistics">
                        <td>{{ item._id.dialog }}</td>
                        <td>{{ item.count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="flex: 1; padding: 0 10px;">
            <div class="analysis-summary-title">대화 실패 TOP 10</div>
            <table class="tb02">
                <colgroup>
                    <col style="width: 70%;">
                    <col style="width: 30%;">
                </colgroup>
                <thead>
                <tr>
                    <th>대화</th>
                    <th>사용량</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in failDialogs">
                    <td>{{ item._id.dialog }}</td>
                    <td>{{ item.count }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="flex: 1; padding: 0 10px;">
            <div class="analysis-summary-title">시나리오 사용량 TOP 10</div>
            <table class="tb02">
                <colgroup>
                    <col style="width: 70%;">
                    <col style="width: 30%;">
                </colgroup>
                <thead>
                <tr>
                    <th>대화</th>
                    <th>사용량</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in scenarioUsageList">
                    <td>{{ item._id.dialogName }}</td>
                    <td>{{ item.total }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
