/*발송하기*/
.title01{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    vertical-align: middle;
}
.title02{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    vertical-align: middle;
}
.nal1{
    padding: 20px 20px 0;
}
.nal1 li{
    display: inline-block;
}
.nal1 li.first{
    width: 95px;
    font-size: 14px;
    color: #858585;
    letter-spacing: -1px;
}
.nal2{
    padding: 0px 20px 0;
}
.nal2 li{
    display: inline-block;
}
.nal2 li.first{
    width: 77px;
    font-size: 14px;
    color: #858585;
    letter-spacing: -1px;
}
.nal3{
    padding:0;
}
.nal3 li{
    display: inline;
}
.nal3 .first{
    font-size: 14px;
    color: #858585;
    line-height: 47px;
}
.edit-windo{
    padding:1% 0;
}
.edit-windo li.two{
    width: 110px;
    font-size: 14px;
    color: #858585;
    letter-spacing: -1px;
    display: inline-block;
    text-indent: 6px;
}
.edit-windo li.three{
    display: inline-block;
    font-size: 14px;
}
.edit-windo li.four{
    width: 100%;
    font-size: 14px;
    color: #858585;
    letter-spacing: -1px;
    display: inline-block;
    text-indent: 6px;
    padding: 7% 0 4%;
}
.edit-windo li.five{
    text-align: right;
    padding-right: 11%;
    margin-top: 10px;
}
.edit-windo li.five:last-child{
    margin-bottom: 20px;
}
.edit-windo .six {
    font-size: 14px;
    color: #858585;
    letter-spacing: -1px;
    display: inline-block;
    text-indent: 6px;
    padding: 7% 0 4%;
}
.edit-windo .box-list{
    border: 1px solid #d8d8d8;
    padding: 2%;
    margin: 1% auto 2%;
}
.box-list{
    overflow:auto;
}
.list-line{
    display: block;
    padding: 10px;
    text-align: left;
}
.list-line:hover{
    color: #038eda;
    background: #eff9fe;
    transition: all .2s;
}
.list-line2{
    display: block;
    padding: 10px;
    text-align: left;
}
.box-list .list1{
    border-right:1px solid #d1d1d1;
    display: inline-block;
    padding-right: 60px;
    transition: all .5s;
}
.box-list .list1:hover{
    border-right:1px solid #b4ddf3;
    transition: all .5s;
}
.box-list .list2{
    display: inline-block;
    float: right;
    vertical-align: middle;
    background: url("/modules/playchat/working-ground/biz-dialog-graph/client/imgs/list-close.png") no-repeat;
    width: 15px;
    height: 15px;
}
.box-list .list2:hover{
    background: url("/modules/playchat/working-ground/biz-dialog-graph/client/imgs/list-close-hover.png") no-repeat;
    transition: all .5s;
}
.box-list .list3{
    display: inline-block;
    padding: 0 40px;
}
.download{
    color: #038eda !important;
    margin: 33px 16px 0;
    border-bottom: 1px solid;
}
.rottn{
    width: 50%;
    margin: 0 auto 2%;
}
/*셀렉박스*/
.select01{
    position: relative;
    display: inline-block;
    padding: 0 30px 0 13px;
    font-size: 13px;
    color: #424242;
    line-height: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #d8d8d8;
    outline: none;
    background: url("/modules/playchat/working-ground/biz-dialog-graph/client/imgs/select-down02.png") no-repeat 99% 38%;
}
select.select01::-ms-expand{
    display: none;
}
select.select01 option{
    font-size: 13px;
    border: none;
    outline: none;
}
select.select01:required:invalid {
    color: #acacac;
}
select.select01 option[disabled] {
    display: none;
}

.select02{
    position: relative;
    display: inline-block;
    padding: 0 50px 0 13px;
    font-size: 13px;
    color: #424242;
    line-height: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #d8d8d8;
    outline: none;
    background: url("/modules/playchat/working-ground/biz-dialog-graph/client/imgs/calender.png") no-repeat 94% 38%;
    margin-right:4px;
}
select.select02::-ms-expand{
    display: none;
}
select.select02 option{
    font-size: 13px;
    border: none;
    outline: none;
}
select.select02:required:invalid {
    color: #acacac;
}
select.select02 option[disabled] {
    display: none;
}

.select03{
    position: relative;
    display: inline-block;
    padding: 0 30px 0 13px;
    font-size: 13px;
    color: #424242;
    line-height: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:1px solid #d8d8d8;
    outline: none;
    background: url("/modules/playchat/working-ground/biz-dialog-graph/client/imgs/select-down03.png") no-repeat 88% 49%
}
select.select03::-ms-expand{
    display: none;
}
select.select03 option{
    font-size: 13px;
    border: none;
    outline: none;
}
select.select03:required:invalid {
    color: #acacac;
}
select.select03 option[disabled] {
    display: none;
}
.tb-left{
    width: 48%;
    display: inline-block;
    margin-right: 3.5%;
}
.tb-right{
    width: 48%;
    display: inline-block;
}
.group-detail{
    display: inline-block;
    background: #f4fcff;
    padding: 1% 2%;
    margin: 15px 0 3px;
    border: 1px solid #038eda;
}
.group-detail .detail1{
    display: inline-block;
    padding-right: 10px;
}
/*토스트 알림창*/
.nav-top__toast-wrapper {
    height: auto;
    overflow: hidden;
    pointer-events: none;
}
.nav-top__toast-wrapper__toast:not(.ng-hide) {
    animation: toast-anim 7s;
    animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.nav-top__toast-wrapper__toast {
    background-color: #575757;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    opacity: 0.9;
    pointer-events: auto;
}
.nav-top__toast-wrapper__toast a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 15px;
}
.nav-top__toast-wrapper__cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 15px;
    color: #c2c2c2;
    cursor: pointer;
}
.alr{
    border-left: 2px solid #038eda;
    background: #e6f6ff;
    padding: 1.5%;
    margin: 3% 0;
}
.alr span{
    color:#038eda;
}
.alr_red{
    border-left: 2px solid #c72222;
    background: #ffebeb;
    padding: 1.5%;
    margin: 3% 0;
}
.alr_red span{
    color:#e75a5a;
}
.tb-r{
    background: #ec6f6f;
    line-height: 17px;
    color: #fff;
    font-size: 11px;
}
.tb-b{
    background: #38b0f2;
    line-height: 17px;
    color: #fff;
    font-size: 11px;
}
.sm-title{
    font-size: 10px;
    padding-left: 2px;
}
/*tab*/
.boardMenu {
    height: 50px;
    margin-bottom: 40px;
    background: #eaf5fc;
}
.boardMenu > ul {
    margin: 0;
    overflow: hidden;
}
.boardMenu li {
    display: inline-block;
    float: left;
}
.boardMenu a {
    display: inline-block;
    font-family: "proxima_nova_rgbold";
    line-height: 50px;
    padding: 0 80px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    font-weight: 700;
}
.boardMenu li.active a {
    background: #288feb;
    color: #fff;
}
/*input area*/
.blue{
    color: #288feb !important;
}
.red{
    color:#d2322d;
}
.text-input-area .h5{
    margin-bottom: 10px;
    margin-top: 12px;
    color: #233141;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.text-input-area input {
    border: 1px solid #d4d4d4;
    line-height: 45px;
    text-indent: 14px;
    padding:0;
    width: 100%;
    -webkit-transition: .4s;
    transition: .4s;
}
.jumbo-select02 {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    float: left;
    height: 48px;
    line-height: 48px;
    border: 1px solid #d4d4d4;
    background: #fff url(/modules/playchat/working-ground/biz-dialog-graph/client/imgs/select-down.png) no-repeat 88% 49%;
    padding: 0 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 100px;
}
.data-input02{
    margin:0 15px;
    height: 80px;
    padding: 20px;
    position: relative;
    outline: 0;
    border: solid 1px #d4d4d4;
    border-radius: 2px;
    transition: border 0.5s;
}
/*row*/
.input-area-row{
    width: 100%;
    display: inline-block;
}
/*width*/
.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
@media (min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-pull-11 {
        right: 91.66666667%
    }
    .col-sm-pull-10 {
        right: 83.33333333%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-8 {
        right: 66.66666667%
    }
    .col-sm-pull-7 {
        right: 58.33333333%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-5 {
        right: 41.66666667%
    }
    .col-sm-pull-4 {
        right: 33.33333333%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-2 {
        right: 16.66666667%
    }
    .col-sm-pull-1 {
        right: 8.33333333%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666667%
    }
    .col-md-10 {
        width: 83.33333333%
    }
    .col-md-9 {
        width: 60%
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-7 {
        width: 58.33333333%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.66666667%
    }
    .col-md-1 {
        width: 8.33333333%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-pull-11 {
        right: 91.66666667%
    }
    .col-md-pull-10 {
        right: 83.33333333%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-8 {
        right: 66.66666667%
    }
    .col-md-pull-7 {
        right: 58.33333333%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-5 {
        right: 41.66666667%
    }
    .col-md-pull-4 {
        right: 33.33333333%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-2 {
        right: 16.66666667%
    }
    .col-md-pull-1 {
        right: 8.33333333%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-push-11 {
        left: 91.66666667%
    }
    .col-md-push-10 {
        left: 83.33333333%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-8 {
        left: 66.66666667%
    }
    .col-md-push-7 {
        left: 58.33333333%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-5 {
        left: 41.66666667%
    }
    .col-md-push-4 {
        left: 33.33333333%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-2 {
        left: 16.66666667%
    }
    .col-md-push-1 {
        left: 8.33333333%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-11 {
        width: 91.66666667%
    }
    .col-lg-10 {
        width: 83.33333333%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-8 {
        width: 66.66666667%
    }
    .col-lg-7 {
        width: 58.33333333%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-5 {
        width: 41.66666667%
    }
    .col-lg-4 {
        width: 33.33333333%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-2 {
        width: 16.66666667%
    }
    .col-lg-1 {
        width: 8.33333333%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-pull-11 {
        right: 91.66666667%
    }
    .col-lg-pull-10 {
        right: 83.33333333%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-8 {
        right: 66.66666667%
    }
    .col-lg-pull-7 {
        right: 58.33333333%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-5 {
        right: 41.66666667%
    }
    .col-lg-pull-4 {
        right: 33.33333333%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-2 {
        right: 16.66666667%
    }
    .col-lg-pull-1 {
        right: 8.33333333%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-push-11 {
        left: 91.66666667%
    }
    .col-lg-push-10 {
        left: 83.33333333%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-8 {
        left: 66.66666667%
    }
    .col-lg-push-7 {
        left: 58.33333333%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-5 {
        left: 41.66666667%
    }
    .col-lg-push-4 {
        left: 33.33333333%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-2 {
        left: 16.66666667%
    }
    .col-lg-push-1 {
        left: 8.33333333%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
}

