

<div ng-controller="DialogLearningManagementController">
    <div class="upSide">
        <form class="inline-block">
            <input id="search" name="search" type="search" class="search">
        </form>
        <div class="funtionbtn1">
            <a href="#">
                <img src="modules/playchat/working-ground/dialog-learning/client/img/export.png">
                <span>Export</span>
                <img src="modules/playchat/working-ground/dialog-learning/client/img/Q.png">
            </a>
        </div>
    </div>
    <div class="tab01">
        <ul class="tabs1">
            <li class="select_tab"><a href="#">Default</a></li>
            <li><a href="#">Store</a></li>
            <li><a href="#">Shared</a></li>
        </ul>
        <div class="btn02 flR" ng-click="modal.open();">
            <a href="#" class="">Add New</a>
        </div>
    </div>
    <div class="downSide">
        <table class="tb02">
            <colgroup>
                <col width="15%">
                <col width="25%">
                <col width="10%">
                <col width="*">
                <col width="10%">
            </colgroup>
            <thead>
            <tr>
                <th>Graph Name</th>
                <th>Description</th>
                <th>Last Update</th>
                <th></th>
                <th>USE</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-if="dialogsets.length == 0">
                    <td colspan="5">empty</td>
                </tr>
                <tr ng-repeat="item in dialogsets">
                    <td>{{ item.title }}</td>
                    <td>{{ item.content }}</td>
                    <td>{{ item.user.displayName }}</td>
                    <td>
                        <a href="#" class="flR" ng-click="delete(item);"><img src="modules/playchat/working-ground/dialog-learning/client/img/delete_lighter.png"></a>
                        <a href="#" class="flR mr5" ng-click="modify(item);"><img src="modules/playchat/working-ground/dialog-learning/client/img/modify_lighter.png"></a>
                    </td>
                    <td>
                        <div class="slide on">
                            <input type="checkbox" value="switch" id="slide" checked />
                            <label for="slide"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="tablePaging">
            <div class="tablePagingC">
                <a href="#" class="direction">
                    <img src="modules/playchat/working-ground/dialog-learning/client/img/btn_prev.png" alt="이전페이지이동">
                </a>
                <strong>1</strong>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#" class="direction">
                    <img src="modules/playchat/working-ground/dialog-learning/client/img/btn_next.png" alt="다음페이지이동">
                </a>
            </div>
        </div>
    </div>


    <div class="modal-background management-modal" ng-show="modal.isOpened">
        <div class="modal">
            <div class="tab01">
                <ul class="tabs1">
                    <li class="select_tab" ng-click="modalTab.selectTab($event, 'default')"><a href="#">대화셋 만들기</a></li>
                    <li ng-click="modalTab.selectTab($event, 'file')"><a href="#">대화셋 파일 가져오기</a></li>
                </ul>
            </div>
            <div class="tab-content" ng-show="modalTab.isSelectedTab('default')">
                <form>
                    <div class="form-row">
                        <label class="required">
                            <span>Title</span>
                            <input type="text" placeholder="대화셋 이름을 입력해주세요" ng-model="modalForm.dialogsetTitle" class="dialogset-title data-input">
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Content</span>
                            <textarea placeholder="내용을 입력해주세요" ng-model="modalForm.dialogsetContent" class="data-input"></textarea>
                        </label>
                    </div>
                </form>
            </div>
            <div class="tab-content" ng-show="modalTab.isSelectedTab('file')">
                <form>
                    <div class="form-row">
                        <label class="required">
                            <span class="form-title">Title</span>
                            <input type="text" placeholder="대화셋 이름을 입력해주세요" ng-model="modalForm.dialogsetTitle" class="dialogset-title data-input">
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="required">
                            <span class="form-title">Type</span>
                            <div class="form-box">
                                <input type="checkbox" ng-model="modalForm.dialogsetType"> <span>대화목록 (csv 또는 xlsx)</span>
                            </div>
                        </label>
                    </div>
                    <div class="form-row">
                        <label class="required">
                            <span class="form-title">File</span>
                            <div class="form-box">
                                <input type="file" nv-file-select="" uploader="uploader">
                            </div>
                        </label>
                    </div>
                    <div class="form-row">
                        <label>
                            <span>Content</span>
                            <textarea placeholder="내용을 입력해주세요" ng-model="modalForm.dialogsetContent" class="data-input"></textarea>
                        </label>
                    </div>
                </form>
            </div>
            <div class="tab-footer">
                <button type="button" class="blue-button" ng-click="save();">저장</button>
                <button type="button" class="default-button" ng-click="modal.close();">닫기</button>
            </div>
        </div>
    </div>
</div>
