<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="Keywords" content="인공지능 AI 챗봇 Chatbot 딥러닝 Deep Learning">
<meta name="Description" content="NLP 자연어처리 NLU 자연어 이해 대화관리 Dialog Management 딥러닝 Deep Learning 인텐트 Intent 엔터티 Entity">
<meta name="author" content="MoneyBrain">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<title>Playchat</title>
<link href="css/styleCustom.css" rel="stylesheet" type="text/css">
<link href="css/basic.css" rel="stylesheet" type="text/css">
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/page.css" rel="stylesheet" type="text/css">
</head>

<body>
	<section id="topMenu">		
		<div id="gnb">
			<div class="header">
				<a class="logo_min" href="#">
					<img src="images/logo.png">
				</a>
				<a href="#" class="Menuclose">
				</a>
			</div>
			<div class="adminName">
				<img class="adminN" src="images/dialogsetName.png">
				<div class="label">
					<span class="current">
						<a href="#">
							<strong class="letterS1">Dialog Set Manage</strong>
						</a>
					</span>
				</div>
				
			</div>
			<div class="system">
				<a class="StoreBtn" href="#">
					<img src="images/cart.png">
					<span>Store</span>
				</a>
				<a class="notify" href="#"></a>
				<a class="login" href="#"></a>
			</div>
		</div>
		<nav class="sidenav">
			<ul>
				<li class="nameBot">
					<span>TestBot</span>
					<a href="#" class="nameBotS">
						<img src="images/modify.png">
					</a>
					<a href="#" class="BotDetail">
						<img src="images/testbotDown.png">
					</a>
				</li>
				<li class="menulist">
					<a href="#">
						<img src="images/dashboard.png">
						<span>Dashboard</span>
					</a>
					<a href="#" class="close">
						<img src="images/down.png">
					</a>
				</li>
				<li class="menulist">
					<a href="#">
						<img src="images/develop.png">
						<span>Development</span>
					</a>
					<a href="#" class="close">
						<img src="images/up.png">
					</a>
				</li>
				<li class="select_list mt10">
					<a href="#">
						<img src="images/speech.png">
						<span>Dialog Learning</span>
					</a>
				</li>
				<li class="sublist pb10">
					<a href="#">
						<img src="images/scenatio.png">
						<span>Dialog Graph</span>
					</a>
				</li>
				<li class="menulist">
					<a href="#">
						<img src="images/Managemant.png">
						<span>Managemant</span>
					</a>
					<a href="#" class="close">
						<img src="images/down.png">
					</a>
				</li>
				<li class="menulist">
					<a href="#">
						<img src="images/contents.png">
						<span>Contents</span>
					</a>
					<a href="#" class="close">
						<img src="images/down.png">
					</a>
				</li>
				<li class="menulist">
					<a href="#">
						<img src="images/operat.png">
						<span>Operating</span>
					</a>
					<a href="#" class="close">
						<img src="images/down.png">
					</a>
				</li>
				<li class="menulist">
					<a href="#">
						<img src="images/analysis.png">
						<span>Analysis</span>
					</a>
					<a href="#" class="close">
						<img src="images/down.png">
					</a>
				</li>
				<li class="menulist">
					<a href="#">
						<img src="images/setting.png">
						<span>Setting</span>
					</a>
					<a href="#" class="close">
						<img src="images/down.png">
					</a>
				</li>
				<span class="bottom_list">
					<li>
						<a href="#">
							<img src="images/docs.png">
							<span>Docs</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/forum.png">
							<span>Forum</span>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/support.png">
							<span>Support</span>
						</a>
					</li>
				</span>
			</ul>
		</nav>
	</section>
	<section id="mainBoard">
		<div>
			<div id="worksheet">
				<div id="workspace">
					<div class="upSide">
 						<form class="inline-block">
							<input id="search" name="search" type="search" class="search">
						</form>
						<div class="funtionbtn1">
							<a href="#">
								<img src="images/export.png">
								<span>Export</span>
								<img src="images/Q.png">
							</a>
						</div>
					</div>
					<div class="tab01">
						<ul class="tabs1">
							<li class="select_tab"><a href="#">Default</a></li>
							<li><a href="#">Store</a></li>
							<li><a href="#">Shared</a></li>
						</ul>
						<div class="btn02 flR">
							<a href="#" class="">Add New</a>
						</div>
					</div>
  					<div class="downSide">
  						<table class="tb02">
							<colgroup>
								<col width="20%">
								<col width="30%">
								<col width="10%">
								<col width="*">
								<col width="10%">
							</colgroup>
							<thead>
								<tr>
									<th>Graph Name</th>
									<th>Description</th>
									<th>Last Update</th>
									<th></th>
									<th>USE</th>
								</tr>
							</thead>
							<tbody>
								<tr class="selected">
									<td>Dialog 1</td>
									<td>description</td>
									<td>aaaaaa</td>
									<td>
										<a href="#" class="flR"><img src="images/delete_lighter.png"></a>
										<a href="#" class="flR mr5"><img src="images/modify_lighter.png"></a>
									</td>
									<td>
										<div class="slide on">
											<input type="checkbox" value="switch" id="slide" checked />
      										<label for="slide"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>Dialog 1</td>
									<td>description</td>
									<td>aaaaaa</td>
									<td>
										<a href="#" class="flR"><img src="images/delete_lighter.png"></a>
										<a href="#" class="flR mr5"><img src="images/modify_lighter.png"></a>
									</td>
									<td>
										<div class="slide">
											<input type="checkbox" value="switch" id="slide2">
      										<label for="slide2"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>Dialog 1</td>
									<td>description</td>
									<td>aaaaaa</td>
									<td></td>
									<td>
										<div class="slide">
											<input type="checkbox" value="switch" id="slide3">
      										<label for="slide3"></label>
										</div>
									</td>
								</tr>
								<tr>
									<td>Dialog 1</td>
									<td>description</td>
									<td>aaaaaa</td>
									<td></td>
									<td>
										<div class="slide">
											<input type="checkbox" value="switch" id="slide4">
      										<label for="slide4"></label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
  						<div class="tablePaging">
							<div class="tablePagingC">
								<a href="#" class="direction">
									<img src="images/btn_prev.png" alt="이전페이지이동">
								</a>
								<strong>1</strong>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#" class="direction">
									<img src="images/btn_next.png" alt="다음페이지이동">
								</a>
							</div>
						</div>
  					</div>
  				</div>
				<div id="logroom">
					<div class="logHeader">
						<div class="logTab select">
							<a href="#" class="tab">LOG</a>
						</div>
						<div class="logTab">
							<a href="#" class="tab">ENTITY analysis</a>
						</div>
						<div class="logTab">
							<a href="#" class="tab">Intent analysis</a>
						</div>
						<div class="logsystem">
							<a href="#"><img src="images/depart.png"></a>
							<a href="#" class="mr1"><img src="images/expand.png"></a>
							<a href="#"><img src="images/logopen.png"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="chatroom">
				<div class="header">
					<p>Chatroom</p>
					<a href="#" class="chclose"></a>
				</div>
				<div class="chatContents">
					<div class="answer">
						<img src="images/bot.png">
						<div class="systemText">
							<span class="name">TestBot</span>
							<span class="time">9:47</span>
						</div>
						<div class="bubble">
							<em class="tail"></em>
							<div class="speech">
								<div class="speech_text">
									May I help you?
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<div class="systemText">
							<span class="time">9:47</span>
						</div>
						<div class="bubble">
							<em class="tail"></em>
							<div class="speech">
								<div class="speech_text">
									May I help you?
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="inputBox">
					<input type="text" placeholder="Enter something to test your bot.">
					<button type="button">
						<img src="images/mic.png">
					</button>
				</div>
			</div>
		</div>
	</section>	
</body>
</html>
