<header class="page-header">
  <h2>{{vm.customAction && vm.customAction._id ? 'Custom Action 수정' : 'Custom Action 생성'}}</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<section class="panel">
  <form name="form" class="form-horizontal form-bordered" ng-submit="vm.save(form.$valid)"
        novalidate="novalidate">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">이름 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <input type="text" name="id" ng-model="vm.customAction.name" class="form-control valid"
                 placeholder="영어(대소문자)와 _의 조합, 추후 변경 불가"
                 required=""
                 aria-required="true" aria-invalid="false"
                 ng-disabled="vm.customAction._id">
        </div>
        <div ng-messages="form.id.$error" role="alert" class="col-sm-offset-3 col-sm-9">
          <p class="help-block error-text" ng-message="required">이름을 입력해주세요</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">코드 <span class="required" aria-required="true">*</span></label>
        <div class="col-sm-9">
          <ui-codemirror ui-codemirror-opts="vm.codemirrorOpts" ng-model="vm.customAction.code"></ui-codemirror>
        </div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-center" ng-hide="vm.customAction && vm.customAction._id">
          <!--<button class="btn btn-primary btn-sm">Submit</button>-->
          <button type="submit" class="btn btn-primary btn-sm">생성</button>
          <!--<button type="reset" class="btn btn-default btn-sm">초기화</button>-->
          <button type="button" class="btn btn-danger" ui-sref="custom-actions.list">취소</button>
        </div>
        <div class="col-sm-12 text-center" ng-show="vm.customAction && vm.customAction._id">
          <a class="btn btn-primary btn-sm" ng-click="vm.save(form.$valid)">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
          <a class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i> 삭제
          </a>
        </div>
      </div>
    </footer>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>
