<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.customAction.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.customAction.isCurrentUserOwner">
    <a class="btn btn-primary btn-sm"
       data-ui-sref="customActions.edit({ customActionId: vm.customAction._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary btn-sm" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.customAction.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.customAction.user"
            data-ng-bind="vm.customAction.user.displayName"></span>
      <span data-ng-if="!vm.customAction.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.customAction.content"></p>
</section>
