<ion-view view-title="비밀번호 변경">
  <ion-content>
      <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" novalidate autocomplete="off">
        <div class="list list-inset">

          <label class="item item-input form-group">
            <input type="password" id="currentPassword" name="currentPassword"
                   ng-model="passwordDetails.currentPassword"
                   placeholder="비밀번호를 입력하세요." required>
          </label>
            <div ng-messages="passwordForm.currentPassword.$error" ng-show="passwordForm.currentPassword.$error && submitted" role="alert">
              <p class="help-block error-text c_red" ng-message="required"><b>비밀번호를 입력해 주세요.</b></p>
            </div>

          <label class="item item-input form-group">
            <input type="password" id="newPassword" name="newPassword"
                     ng-model="passwordDetails.newPassword"
                     placeholder="새로운 비밀번호를 입력하세요." required>
          </label>
          <div ng-messages="passwordForm.newPassword.$error" ng-show="passwordForm.newPassword.$error && submitted" role="alert">
            <p class="help-block error-text c_red" ng-message="required"><b>새로운 비밀번호를 입력해 주세요.</b></p>
          </div>

          <label class="item item-input form-group">
            <input type="password" id="verifyPassword" name="verifyPassword"
                     ng-model="passwordDetails.verifyPassword"
                     placeholder="비밀번호를 한 번 더 입력하세요."
                     password-verify="passwordDetails.newPassword" required>
          </label>
          <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text c_red" ng-message="required" ng-show="passwordForm.verifyPassword.$error && submitted"><b>비밀번호를 한 번 더 입력하세요.</b>
            </p>
            <p class="help-block error-text c_red" ng-message="passwordVerify"><b>비밀번호가 일치하지 않습니다.</b></p>
          </div>
          <div ng-show="error">
            <p class="help-block error-text c_red" ><b ng-bind="error"></b></p>
          </div>
          <div class="text-center form-group">
            <button type="submit" class="button button-block button-outline button-positive">
              비밀번호 변경
            </button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
