<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <!--<div class="form-group" show-errors>-->
          <!--<label for="firstName">First Name</label>-->
          <!--<input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>-->
          <!--<div ng-messages="userForm.firstName.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">First name is required.</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group" show-errors>-->
          <!--<label for="lastName">Last Name</label>-->
          <!--<input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>-->
          <!--<div ng-messages="userForm.lastName.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">Last name is required.</p>-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required ng-disabled="true">
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="provider">가입경로</label>
          <input type="text" id="provider" name="provider" class="form-control" ng-model="user.provider" placeholder="가입경로" required ng-disabled="true">
          <div ng-messages="userForm.provider.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="provider">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="provider">연결된 SNS</label>
          <input data-ng-repeat="sns in snsList" type="text" name="additionalProvider" class="form-control" ng-model="sns" placeholder="연결된 SNS" required ng-disabled="true">
          <div ng-messages="userForm.provider.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="provider">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="displayName">displayName</label>
          <input type="text" id="displayName" name="displayName" class="form-control" ng-model="user.displayName" placeholder="displayName" required>
          <div ng-messages="userForm.displayName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">저장</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>성공적으로 저장되었습니다</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
