<ion-modal-view  ng-controller="AuthenticationController">
  <ion-header-bar align-title="center">
    <h1 class="title">로그인</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSigninModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="on">
      <div class="list list-inset">
        <label class="item item-input">
          <div class="form-group" show-errors>
            <input type="email" id="email" name="email" class=""
                   ng-model="credentials.email"
                   placeholder="이메일을 입력하세요" required>
          </div>
        </label>
        <div ng-messages="userForm.email.$error" ng-show="userForm.email.$error && submitted" role="alert">
          <p class="help-block error-text c_red" ng-message="required"><b>이메일을 입력해 주세요</b></p>
          <p class="help-block error-text c_red" ng-message="email"><b>올바른 이메일 형식이 아니네요</b></p>
        </div>

        <label class="item item-input">
          <div class="form-group" show-errors>
            <input type="password" id="password" name="password" class=""
                   ng-model="credentials.password"
                   placeholder="비밀번호를 입력하세요." required>
          </div>
        </label>
        <div ng-messages="userForm.password.$error" ng-show="userForm.password.$error && submitted" role="alert">
          <p class="help-block error-text c_red" ng-message="required"><b>비밀번호를 입력해 주세요.</b></p>
        </div>

        <div class="text-center form-group">
          <button type="submit" class="button button-block button-outline button-positive">
            <b>로그인</b>
          </button>
        </div>
        <div ng-show="error">
          <p class="help-block error-text c_red" ><b ng-bind="error"></b></p>
        </div>
          <!--<input type="checkbox" ng-model="saveEmail">아이디 저장-->

        <div class="text-center">
          <a ng-click="openForgotPassword()">비밀번호를 잊으셨나요?</a>
        </div>

        <button ng-click="callOauthProvider('/api/auth/facebook')" class="button button-block button-light"
                style="background: url('/modules/users/client/img/buttons/facebook.png') #f2f2f2;background-repeat: no-repeat; padding-left: 50px; background-size: 50px 50px; background-position: -3px -3px;color: #000">
          페이스북으로 로그인
        </button>
        <button ng-click="callOauthProvider('/api/auth/google')" class="button button-block button-light"
                style="background: url('/modules/users/client/img/buttons/google.png') #f2f2f2;background-repeat: no-repeat; padding-left: 50px; background-size: 50px 50px; background-position: -3px -3px;color: #000">
          구글로 로그인
        </button>
        <button ng-click="callOauthProvider('/api/auth/kakao')" class="button button-block button-light"
                style="background: url('/modules/users/client/img/buttons/kakao.png') #f2f2f2;background-repeat: no-repeat; padding-left: 50px; background-size: 50px 50px; background-position: -3px -3px;color: #000">
          카카오톡으로 로그인
        </button>
      </div>
    </form>

  </ion-content>
</ion-modal-view>


