<ion-modal-view  ng-controller="AuthenticationController">
  <ion-content>
      <form name="userForm" ng-submit="signin(userForm.$valid)" novalidate autocomplete="on">
        <div class="list list-insert">
          <label class="item item-input">
          <div class="form-group">
            <input type="email" id="email" name="email"
                   ng-model="credentials.email"
                   placeholder="이메일을 입력하세요" required>
            <div ng-messages="userForm.email.$error" ng-show="onSubmit" role="alert">
              <p class="help-block error-text c_red" ng-message="required"><b>이메일을 입력해 주세요.</b></p>
              <p class="help-block error-text c_red" ng-message="email"><b>제대로 된 이메일을 입력해주세요.</b></p>
            </div>
          </div>
          </label>
          <label class="item item-input">
            <div class="form-group">
              <!--<label for="password">비밀번호</label>-->
              <input type="password" id="password" name="password" class=""
                     ng-model="credentials.password"
                     placeholder="비밀번호를 입력하세요." required>
              <div ng-messages="userForm.password.$error" ng-show="onSubmit" role="alert">
                <p class="help-block error-text c_red" ng-message="required"><b>비밀번호를 입력해 주세요.</b></p>
              </div>
            </div>
          </label>
          <button type="submit" class="button button-outline button-full button-balanced icon-left ion-home">로그인</button>

          <!--<label class="item item-input">-->
            <!--<div class="form-group">-->
              <!--<div class="d_center2 t_center w120 h20 mt10">-->
                <!--<div class="pos_abs"><input type="checkbox" aria-label="..." class="w18 h18" ng-model="saveEmail"></div>-->
                <!--&nbsp;아이디 저장-->
              <!--</div>-->
            <!--</div>-->
          <!--</label>-->
        </div>
          <div class="text-center forgot-password mt20">
            <a ng-click="openForgotPassword()">비밀번호를 잊으셨나요?</a>
          </div>
          <uib-alert type="danger" ng-show="error" class="text-center text-danger">
            <span ng-bind="error"></span>
          </uib-alert>
      </form>
      <button type="submit" class="button button-outline button-full button-balanced icon-left ion-home">페이스북 로그인</button>
      <button type="submit" class="button button-outline button-full button-balanced icon-left ion-home">구글 로그인</button>
      <button type="submit" class="button button-outline button-full button-balanced icon-left ion-home">카카오 로그인</button>


      <div class="social">
        <button ng-click="openSignup()" class="button button-light w100p h50">
          <b>회원가입</b>
        </button>
      </div>

  </ion-content>
</ion-modal-view>


