@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);

.signin-background
{
    position: relative;
    top: 65px;
    width: 66%;
    margin: 0 auto;
}

.signin-title
{
    text-align: center;
    margin-top: 60px;
}

.signin-body
{
    display: flex;
    margin-top: 86px;
    align-items: center;
    justify-content: center;
}

.social, .email {
    padding: 25px 60px;
    width: 18%;
}

#logincontents
{
    text-align:center;
    padding-top: 70px;
}

.p1{
    font-size: 24px;
}
.p2{
    font-size: 14px;
    color: #7e7e7e;
}
.p3{
    font-size: 14px;
    width: 35%;
    margin: 0 auto;
    line-height: 22px;
}
.p4{
    font-size: 14px;
    color: #ff4259;
    width: 35%;
    margin: 0 auto;
    line-height: 22px;
}
.p5{
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    font-weight: 500;
}
.p6{
    font-size: 13px;
    line-height: 32px;
     /*text-align: left;*/
    color: #038eda !important;
    float: left;
}
.p6:hover{
    text-decoration: underline;
}
.social p{
    font-size: 13px;
    color: #7e7e7e;
}
.fbbtn{
    background: #3b589d url(/modules/authentication/client/imgs/facebook.png) no-repeat 16px 14px;
    padding:5%;
    border-radius: 2px;
    margin: 11px auto;
    cursor: pointer;
}
.fbbtn a{
    color: #fff !important;
    margin-left: 50px;
    letter-spacing: 0.1px;
    font-size: 16px;
}
.gbtn{
    background: #d84d32 url(/modules/authentication/client/imgs/google.png) no-repeat 20px 15px;
    padding: 5%;
    border-radius: 2px;
    margin: 15px auto;
    cursor: pointer;
}
.gbtn a{
    color: #fff !important;
    letter-spacing: 0.1px;
    margin-left: 50px;
    font-size: 16px;
}
.pbtn{
    background: #038eda url(/modules/authentication/client/imgs/playchat.png) no-repeat 20px 15px;;
    padding: 5%;
    border-radius: 2px;
    margin: 15px auto;
    cursor: pointer;
}
.pbtn a{
    color: #fff !important;
    letter-spacing: 0.1px;
    margin-left: 50px;
    font-size: 16px;
}
.kbtn{
    background: #ffeb00 url(/modules/authentication/client/imgs/kakao.png) no-repeat 16px 8px;
    padding:10px;
    border-radius: 6px;
    /*width: 230px;*/
    margin: 10px auto;
}
.kbtn a{
    color: #3b1e1e !important;
    letter-spacing: 0px;
    margin-left: 45px;
}
.bottom-btn-area{
    width: 27%;
    margin: 1% auto;
}
.input_type09{
    width: 240px;
    border: 1px solid #d7d7d7;
    background: #fff;
    margin: 5px auto 0px;
    position: relative;
    padding: 8px 18px 0px 8px;
}
.login p{
    font-size: 13px;
    color: #7e7e7e;
    text-align: left;
    text-indent: 5px;
}
.login span{
    font-size: 13px;
    color: #7e7e7e;
    text-align: left;
    text-indent: 5px;
}
.loginbtn{
    background: #038eda;
    padding: 6%;
    width: 100%;
    margin: 10px auto;
    color: #fff;
    border-radius: 2px;
    font-size: 15px;
}
.register{
    width: 272px;
    margin: 30px auto 0;
}
.register p{
    font-size: 13px;
    color: #7e7e7e;
    text-align: left;
    text-indent: 5px;
}
.register span{
    font-size: 13px;
    color: #7e7e7e;
    text-align: left;
    text-indent: 5px;
}
p.find{
    color: #038eda;
    text-align: right;
    margin-top: 22px;
}
.agree{
    text-align: left;
    margin-top: 8px;
    font-size: 13px;
    color: #7e7e7e;
}
#bottoms{
    text-align: center;
    margin-top: 15%;
}
#bottoms span{
    font-size: 13px;
}
a.create{
    color:#038eda !important;
    padding-left: 4px;
    font-size: 15px;
}
a.create:hover{
    text-decoration: underline;
}
a.policy{
    font-size: 12px;
    text-decoration: underline !important;
    margin-top: 10px;
    display: block;
    cursor: pointer;
}
.exclamation{
    color: #f43e30;
    font-weight: 600;
    line-height: 25px;
}


.flL {
    float: left;
}


.sign-input
{
    font-size: 16px;
    height: 25px;
}

.signup-complete-message
{
    text-align: center;
    margin-top: 60px;
}

.signup-complete-message p
{
    margin: 5px 며새;
}

.signup-complete-message div
{
    /*margin-top: 20px;*/
}
.authentication-code-area{
    background: #eaf5fc;
    padding: 10px;
    width: 80%;
    border-radius: 3px;
    margin: 4% auto;
    text-align: center;
}
.authentication-code-area span{
    padding: 0 2%;
    font-weight: 800;
    font-size: 15px;
    vertical-align: middle;
}
.authentication-code-area input{
    margin: 5px auto;
}
.authentication-code-area button{
    padding: 13px 6%;
    margin: 2%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: 0;
    text-align: center;
    background: #038eda;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    color: white;
}
.noti-email{
    margin-top: 10px;
}
.noti-email a.link{
    color: #038eda;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}
.noticebox{
    font-family: 'Noto Sans SC', sans-serif;
    width: 560px;
    margin: 0 auto;
    padding: 18px;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    color: #363636;
    border: 1px solid #363636;
}
.leftbox{
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
}
.leftboxinput{
    width: 270px;
    margin: 0 auto;
}
.leftboxinput p.left{
    text-align: left;
}
.user-singup{
    display: inline-block;
}
@media only screen and (max-width: 938px){

}
@media only screen and (max-width: 925px) {
    .signup-complete-message{
        margin-right: 4%;
        margin-left: 4%;
    }
    .leftbox{
        margin: 0 auto;
        display: block;
    }
    .noticebox{
        width: 97%;
        margin: 0 auto;
        min-width: 230px;
    }
    .authentication-code-area{
        margin: 30px auto;
        padding: 16px 10px;
    }
}
@media only screen and (min-width:0px) and (max-width: 520px){
    .signin-body{
        margin-top: 39px;
    }
    #bottoms{
        width: 100%;
    }
    #logincontents
    {
        padding-top: 30px;
    }
    .user-singup{
        display: none;
    }
    .signin-background{
        width: 100%;
    }
    .p1 {
        font-size: 20px;
        font-weight: 600;
    }
    .signup-complete-message{
        margin-left: 8%;
        margin-right: 8%;
    }
    .authentication-code-area input{
        width: 78%;
    }
}
