<header class="page-header">
  <h2>챗봇 대화 내역</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!-- start: page -->
<section class="panel">
  <header class="panel-heading">
    <h2 class="panel-title">{{vm.mode == 'default'? "챗봇 대화 내역" : "수동 대화 내역"}}</h2>
  </header>
  <div class="panel-body" data-ng-if="vm.mode == 'default'">
    <table id="dt" datatable="" dt-options="vm.dtOptions"  dt-columns="vm.dtColumns" class="table table-bordered mb-none" style="width: 100%;">
      <!--<thead>-->
      <!--<tr>-->
        <!--<th class="text-center">봇아이디</th>-->
        <!--<th class="text-center">사진</th>-->
        <!--<th class="text-center">이름</th>-->
        <!--<th class="text-center">채널</th>-->
        <!--&lt;!&ndash;<th class="text-center">전화번호</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<th class="text-center">이메일</th>&ndash;&gt;-->
        <!--<th class="text-center">등록일</th>-->
        <!--&lt;!&ndash;<th class="text-center">접속</th>&ndash;&gt;-->
        <!--<th class="text-center">내역</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr ng-repeat="botUser in ::vm.botUsers[0].data">-->
        <!--<td class="text-center">{{botId}}</td>-->
        <!--<td class="text-center"><img src="{{botUser.facebookData.profile_pic}}" alt="" style="width: 80px"></td>-->
        <!--<td class="text-center">{{botUser.facebookData.first_name}}</td>-->
        <!--<td class="text-center">{{botUser.channel}}</td>-->
        <!--&lt;!&ndash;<td class="text-center">{{botUser.mobile}}</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td class="text-center">{{botUser.email}}</td>&ndash;&gt;-->
        <!--<td class="text-center">{{botUser.created | date: 'yyyy-MM-dd'}}</td>-->
        <!--&lt;!&ndash;<td class="text-center">{{botUser.isOn ? ' ON' : 'OFF'}}</td>&ndash;&gt;-->
        <!--<td>-->
          <!--<a class="btn btn-default btn-sm btn-block" ui-sref="user-dialogs.list({botId: botId, userKey: botUser.userKey})">-->
            <!--내역-->
          <!--</a>-->
          <!--&lt;!&ndash;<a class="btn btn-primary" ui-sref="messages.send({userKey: botUser.userKey, channel: botUser.channel})">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="glyphicon glyphicon-send"></i> 전송&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    </table>
  </div>

  <div class="panel-body" data-ng-if="vm.mode == 'liveChat'">
    <table id="dt" datatable="" dt-options="vm.dtOptions2" dt-columns="vm.dtColumns2" class="table table-bordered mb-none" style="width: 100%;">
      <!--<thead>-->
      <!--<tr>-->
        <!--<th class="text-center">봇아이디</th>-->
        <!--<th class="text-center">유저키</th>-->
        <!--<th class="text-center">채널</th>-->
        <!--&lt;!&ndash;<th class="text-center">전화번호</th>&ndash;&gt;-->
        <!--&lt;!&ndash;<th class="text-center">이메일</th>&ndash;&gt;-->
        <!--<th class="text-center">등록일</th>-->
        <!--&lt;!&ndash;<th class="text-center">접속</th>&ndash;&gt;-->
        <!--<th class="text-center">내역</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr ng-repeat="botUser in vm.liveChatUsers">-->
        <!--<td class="text-center">{{botId}}</td>-->
        <!--<td class="text-center">{{botUser._id.userKey}}</td>-->
        <!--<td class="text-center">{{botUser._id.channel}}</td>-->
        <!--&lt;!&ndash;<td class="text-center">{{botUser.mobile}}</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td class="text-center">{{botUser.email}}</td>&ndash;&gt;-->
        <!--<td class="text-center">{{botUser.created | date: 'yyyy-MM-dd'}}</td>-->
        <!--&lt;!&ndash;<td class="text-center">{{botUser.isOn ? ' ON' : 'OFF'}}</td>&ndash;&gt;-->
        <!--<td>-->
          <!--<a class="btn btn-default btn-sm btn-block" ui-sref="user-dialogs.list({botId: botId, userKey: botUser._id.userKey, liveChat: true})">-->
            <!--내역-->
          <!--</a>-->
          <!--&lt;!&ndash;<a class="btn btn-primary" ui-sref="messages.send({userKey: botUser.userKey, channel: botUser.channel})">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="glyphicon glyphicon-send"></i> 전송&ndash;&gt;-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    </table>
  </div>
</section>
