<header class="page-header">
  <h2>친구 목록</h2>

  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
  </div>
</header>


<!-- start: page -->
<section class="panel">
  <!--<header class="panel-heading">-->
    <!--<h2 class="panel-title">&nbsp;</h2>-->
  <!--</header>-->
  <div class="panel-body" data-ng-if="vm.mode == 'default'">
    <table id="dt" datatable="ng" dt-options="vm.dtOptions" class="table table-bordered mb-none" >
      <thead>
      <tr>
        <th class="text-center">봇아이디</th>
        <th class="text-center">유저키</th>
        <th class="text-center">채널</th>
        <!--<th class="text-center">전화번호</th>-->
        <!--<th class="text-center">이메일</th>-->
        <th class="text-center">등록일</th>
        <!--<th class="text-center">접속</th>-->
        <th class="text-center">내역</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="botUser in ::vm.botUsers">
        <td class="text-center">{{botId}}</td>
        <td class="text-center">{{botUser.userKey}}</td>
        <td class="text-center">{{botUser.channel}}</td>
        <!--<td class="text-center">{{botUser.mobile}}</td>-->
        <!--<td class="text-center">{{botUser.email}}</td>-->
        <td class="text-center">{{botUser.created | date: 'yyyy-MM-dd'}}</td>
        <!--<td class="text-center">{{botUser.isOn ? ' ON' : 'OFF'}}</td>-->
        <td>
          <a class="btn btn-default btn-sm btn-block" ui-sref="user-dialogs.list({botId: botId, userKey: botUser.userKey})">
            내역
          </a>
          <!--<a class="btn btn-primary" ui-sref="messages.send({userKey: botUser.userKey, channel: botUser.channel})">-->
            <!--<i class="glyphicon glyphicon-send"></i> 전송-->
          <!--</a>-->
        </td>
      </tr>
      </tbody>
    </table>
    <button ng-click="vm.liveChat()">버튼 여기야</button>
  </div>

  <div class="panel-body" data-ng-if="vm.mode == 'liveChat'">
    <table id="dt" datatable="ng" dt-options="vm.dtOptions" class="table table-bordered mb-none" >
      <thead>
      <tr>
        <th class="text-center">봇아이디</th>
        <th class="text-center">유저키</th>
        <th class="text-center">채널</th>
        <!--<th class="text-center">전화번호</th>-->
        <!--<th class="text-center">이메일</th>-->
        <th class="text-center">등록일</th>
        <!--<th class="text-center">접속</th>-->
        <th class="text-center">내역</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="botUser in vm.liveChatUsers">
        <td class="text-center">{{botId}}</td>
        <td class="text-center">{{botUser.userKey}}</td>
        <td class="text-center">{{botUser.channel}}</td>
        <!--<td class="text-center">{{botUser.mobile}}</td>-->
        <!--<td class="text-center">{{botUser.email}}</td>-->
        <td class="text-center">{{botUser.created | date: 'yyyy-MM-dd'}}</td>
        <!--<td class="text-center">{{botUser.isOn ? ' ON' : 'OFF'}}</td>-->
        <td>
          <a class="btn btn-default btn-sm btn-block" ui-sref="user-dialogs.list({botId: botId, userKey: botUser.userKey})">
            내역
          </a>
          <!--<a class="btn btn-primary" ui-sref="messages.send({userKey: botUser.userKey, channel: botUser.channel})">-->
          <!--<i class="glyphicon glyphicon-send"></i> 전송-->
          <!--</a>-->
        </td>
      </tr>
      </tbody>
    </table>
    <button ng-click="vm.liveChat()">버튼 여기야</button>
  </div>
</section>
