<section>
  <div class="page-header">
    <h1>Bot users</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="bot-user in vm.botUsers"
       data-ui-sref="botUsers.view({ bot-userId: bot-user._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="botUser.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="botUser.user" data-ng-bind="botUser.user.displayName"></span>
        <span data-ng-if="!botUser.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="bot-user.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.botUsers.$resolved && !vm.botUsers.length">
    No Bot users yet, why don't you <a data-ui-sref="botUsers.create">create one</a>?
  </div>
</section>
