<script type="text/template" id="dialogLearningRowTemplate">
<div class="dialog-learning-development-content-row">
    <p class="new-dialog-title">New Dialog</p>
    <form ng-submit="addDialog($event);">
        <div class="topic-area">
            <div>
                <div>
                    <p>Topic 1</p>
                    <select class="data-select"></select>
                </div>
                <div>
                    <p>Topic 1</p>
                    <select class="data-select"></select>
                </div>
                <div>
                    <p>Topic 1</p>
                    <select class="data-select"></select>
                </div>
            </div>
        </div>
        <div class="question-area">
            <input type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-required="true">
            <span class="plus-button" ng-click="addInput($event);"></span>
        </div>
        <div class="answer-area">
            <input type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-required="true">
            <span class="plus-button" ng-click="addInput($event);"></span>
        </div>
        <div class="functions-area">
            <button class="blue-button"> <img src="/modules/playchat/working-ground/common/client/img/add.png"> Add</button>
            <img src="/modules/playchat/working-ground/dialog-set/client/img/editing.png" class="editing-img" style="display: none;">
            <img src="/modules/playchat/working-ground/dialog-set/client/img/saving.png" class="saving-img" style="display: none;">
            <img src="/modules/playchat/working-ground/dialog-set/client/img/saved.png" class="saved-img" style="display: none;">
            <img src="/modules/playchat/working-ground/common/client/img/delete.png" class="delete-img" style="display: none;">
        </div>
    </form>
</div>
</script>

<div ng-controller="DialogLearningDevelopmentController">
    <div class="upSide">
        <form class="inline-block">
            <input id="search" name="search" type="search" class="search">
        </form>
        <div class="funtionbtn1">
            <a href="#">
                <img src="modules/playchat/working-ground/common/client/img/import.png">
                <span>Import</span>
                <img src="modules/playchat/working-ground/common/client/img/Q.png">
            </a>
        </div>
    </div>
    <div class="tab01">
        <ul class="tabs1">
            <li class="mini"><a href="/playchat/management/dialog-set"><img src="modules/playchat/working-ground/common/client/img/plus.png"></a></li>
        </ul>
    </div>
    <div class="topicswitch">
        <span class="mr10">topic</span>
        <div class="slide inline-block">
            <input type="checkbox" id="topicOpen" ng-model="topicOpened" />
            <label for="topicOpen"></label>
        </div>
    </div>

    <div class="dialog-learning-development-title">
        <span ng-class="topicOpened ? 'topicopen-topic' : 'topicclose-topic'">Topic</span>
        <span ng-class="topicOpened ? 'topicopen-question' : 'topicclose-question'">Question</span>
        <span ng-class="topicOpened ? 'topicopen-answer' : 'topicclose-answer'">Answer</span>
    </span>
    <div class="dialog-learning-development-content">
        <div class="dialog-learning-development-content-row">
            <p class="new-dialog-title">New Dialog</p>
            <form ng-submit="addDialog($event);">
                <div class="topic-area">
                    <div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                    </div>
                </div>
                <div class="question-area">
                    <input type="text" class="data-input" ng-required="true" ng-keydown="inputKeydown($event);">
                    <span class="plus-button" ng-click="addInput($event);"></span>
                </div>
                <div class="answer-area">
                    <input type="text" class="data-input" ng-required="true" ng-keydown="inputKeydown($event);">
                    <span class="plus-button" ng-click="addInput($event);"></span>
                </div>
                <div class="functions-area">
                    <button class="blue-button"> <img src="/modules/playchat/working-ground/common/client/img/add.png"> Add</button>
                    <img src="/modules/playchat/working-ground/dialog-set/client/img/editing.png" class="editing-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/img/saving.png" class="saving-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/img/saved.png" class="saved-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/common/client/img/delete.png" class="delete-img" style="display: none;">
                </div>
            </form>
        </div>
        <div class="dialog-learning-development-content-row" ng-repeat="dialog in dialogs" data-id="{{ dialog._id }}">
            <form ng-submit="addDialog($event);">
                <div class="topic-area">
                    <div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                    </div>
                </div>
                <div class="question-area">
                    <input type="text" class="data-input" ng-repeat="input in dialog.inputRaw track by $index" value="{{ input }}" ng-focus="checkModify($event);" ng-keyup="watchModified('input', $event)" ng-blur="saveModified('input', $event)">
                    <span class="plus-button" ng-click="addInput($event);" ng-required="true"></span>
                </div>
                <div class="answer-area">
                    <input type="text" class="data-input" ng-repeat="output in dialog.output track by $index" value="{{ output }}" ng-focus="checkModify($event);" ng-keyup="watchModified('output', $event)" ng-blur="saveModified('input', $event)">
                    <span class="plus-button" ng-click="addInput($event);" ng-required="true"></span>
                </div>
                <div class="functions-area">
                    <img src="/modules/playchat/working-ground/dialog-set/client/img/editing.png" class="editing-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/img/saving.png" class="saving-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/img/saved.png" class="saved-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/common/client/img/delete.png" class="delete-img" ng-click="deleteDialog(dialog, $event);">
                </div>
            </form>
        </div>
    </div>
    <div style="text-align: center;">
        <img src="/modules/playchat/working-ground/dialog-set/client/img/editing.png" class="more-progress" style="opacity: 0;">
    </div>
</div>
