<script type="text/template" id="dialogLearningRowTemplate">
<div class="dialog-learning-development-content-row">
    <p class="new-dialog-title">New Dialog</p>
    <form ng-submit="addDialog($event);">
        <div class="topic-area">
            <div>
                <div>
                    <p>Topic 1</p>
                    <select class="data-select"></select>
                </div>
                <div>
                    <p>Topic 1</p>
                    <select class="data-select"></select>
                </div>
                <div>
                    <p>Topic 1</p>
                    <select class="data-select"></select>
                </div>
            </div>
        </div>
        <div class="question-area">
            <textarea type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-required="true"></textarea>
            <span class="plus-button" ng-click="addInput($event);"></span>
        </div>
        <div class="answer-area">
            <textarea type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-required="true"></textarea>
            <span class="plus-button" ng-click="addInput($event);"></span>
        </div>
        <div class="functions-area">
            <button class="blue-button"> <img src="/modules/playchat/working-ground/common/client/imgs/add.png"> Add</button>
            <img src="/modules/playchat/working-ground/dialog-set/client/imgs/editing.gif" class="editing-img" style="display: none;">
            <img src="/modules/playchat/working-ground/dialog-set/client/imgs/saving.png" class="saving-img" style="display: none;">
            <img src="/modules/playchat/working-ground/dialog-set/client/imgs/saved.png" class="saved-img" style="display: none;">
            <img src="/modules/playchat/working-ground/common/client/imgs/delete.png" class="delete-img" style="display: none;">
        </div>
    </form>
</div>
</script>

<div ng-controller="DialogLearningDevelopmentController">
    <div class="upSide">
        <form class="inline-block">
            <input id="search" name="search" type="search" class="search" ng-keydown="search($event);">
        </form>
        <div class="funtionbtn1">
            <a href="#">
                <img src="modules/playchat/working-ground/common/client/imgs/import.png">
                <span>Import</span>
                <img src="modules/playchat/working-ground/common/client/imgs/Q.png">
            </a>
        </div>
    </div>
    <div class="tab01">
        <ul class="tabs1">
            <li class="mini"><a href="/playchat/management/dialog-set"><img src="modules/playchat/working-ground/common/client/imgs/plus.png"></a></li>
        </ul>
    </div>
    <div class="topicswitch">
        <span class="mr10">topic</span>
        <div class="slide inline-block">
            <input type="checkbox" id="topicOpen" ng-model="topicOpened" />
            <label for="topicOpen"></label>
        </div>
    </div>

    <div class="dialog-learning-development-title">
        <span ng-class="topicOpened ? 'topicopen-topic' : 'topicclose-topic'">Topic</span>
        <span ng-class="topicOpened ? 'topicopen-question' : 'topicclose-question'">Question</span>
        <span ng-class="topicOpened ? 'topicopen-answer' : 'topicclose-answer'">Answer</span>
    </span>
    <div class="dialog-learning-development-content">
        <div class="dialog-learning-development-content-row">
            <p class="new-dialog-title">New Dialog</p>
            <form ng-submit="addDialog($event);">
                <div class="topic-area">
                    <div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select"></select>
                        </div>
                    </div>
                </div>
                <div class="question-area">
                    <textarea type="text" class="data-input" ng-required="true" ng-keydown="inputKeydown($event);"></textarea>
                    <span class="plus-button" ng-click="addInputElement($event);"></span>
                </div>
                <div class="answer-area">
                    <textarea type="text" class="data-input" ng-required="true" ng-keydown="inputKeydown($event);"></textarea>
                    <span class="plus-button" ng-click="addInputElement($event);"></span>
                </div>
                <div class="functions-area">
                    <button class="blue-button"> <img src="/modules/playchat/working-ground/common/client/imgs/add.png"> Add</button>
                    <img src="/modules/playchat/working-ground/dialog-set/client/imgs/editing.gif" class="editing-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/imgs/saving.png" class="saving-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/imgs/saved.png" class="saved-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/common/client/imgs/delete.png" class="delete-img" style="display: none;">
                </div>
            </form>
        </div>
        <div class="dialog-learning-development-content-row" ng-repeat="dialog in dialogs" data-id="{{ dialog._id }}">
            <form ng-submit="addDialog($event);">
                <div class="topic-area">
                    <div>
                        <div>
                            <p>Topic 1</p>
                            <select class="data-select">
                                <option ng-if="dialog.context && dialog.context.parent && dialog.context.parent.parent">{{ dialog.context.parent.parent.name }}</option>
                            </select>
                        </div>
                        <div>
                            <p>Topic 2</p>
                            <select class="data-select">
                                <option ng-if="dialog.context && dialog.context.parent">{{ dialog.context.parent.name }}</option>
                            </select>
                        </div>
                        <div>
                            <p>Topic 3</p>
                            <select class="data-select">
                                <option ng-if="dialog.context">{{ dialog.context.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="question-area">
                    <textarea type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-if="isArray(dialog.inputRaw);" ng-repeat="input in dialog.inputRaw track by $index" ng-focus="checkModify($event);" ng-keyup="watchModified('input', $event)" ng-blur="saveModified('input', $event)">{{ input }}</textarea>
                    <textarea type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-if="!isArray(dialog.inputRaw);" ng-focus="checkModify($event);" ng-keyup="watchModified('input', $event)" ng-blur="saveModified('input', $event)">{{ dialog.inputRaw }}</textarea>
                    <span class="plus-button" ng-click="addInput($event, dialog, 'inputRaw');" ng-required="true"></span>
                </div>
                <div class="answer-area">
                    <textarea type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-if="isArray(dialog.output);" ng-repeat="output in dialog.output track by $index" ng-focus="checkModify($event);" ng-keyup="watchModified('output', $event)" ng-blur="saveModified('input', $event)">{{ output }}</textarea>
                    <textarea type="text" class="data-input" ng-keydown="inputKeydown($event);" ng-if="!isArray(dialog.output);" ng-focus="checkModify($event);" ng-keyup="watchModified('output', $event)" ng-blur="saveModified('input', $event)">{{ dialog.output }}</textarea>
                    <span class="plus-button" ng-click="addInput($event, dialog, 'output');" ng-required="true"></span>
                </div>
                <div class="functions-area">
                    <img src="/modules/playchat/working-ground/dialog-set/client/imgs/editing.gif" class="editing-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/imgs/saving.png" class="saving-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/dialog-set/client/imgs/saved.png" class="saved-img" style="display: none;">
                    <img src="/modules/playchat/working-ground/common/client/imgs/delete.png" class="delete-img" ng-click="deleteDialog(dialog, $event);">
                </div>
            </form>
        </div>
    </div>
    <div style="text-align: center;">
        <img src="/modules/playchat/working-ground/dialog-set/client/imgs/editing.gif" class="more-progress" style="opacity: 0;">
    </div>
</div>
