<header class="page-header">
  <h2>개념 관리</h2>
  <div class="right-wrapper pull-right">
    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-down"></i></a>
  </div>
</header>

<section class="panel">
  <header class="panel-heading">
    <div class="panel-actions">
      <button id="addToTable" class="btn btn-primary" ui-sref="concepts.create"><i class="fa fa-plus"></i> 신규등록</button>
    </div>

    <h2 class="panel-title">개념</h2>
  </header>
  <div class="panel-body">
    <table datatable="ng" class="table table-bordered table-striped mb-none">
      <thead>
      <tr>
        <!--<th class="text-center">봇아이디</th>-->
        <th class="text-center">개념</th>
        <th class="text-center">단어</th>
        <th class="text-center">작성자</th>
        <th class="text-center">수정일</th>
        <th class="text-center">등록일</th>
        <th class="text-center">관리</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="concept in vm.concepts">
        <!--<td class="text-center">{{concept.bot.id}}</td>-->
        <td class="text-center">{{concept.name}}</td>
        <td class="text-center">{{concept.words}}</td>
        <td class="text-center">{{concept.user ? concept.user.displayName : '장세영'}}</td>
        <td class="text-center">{{concept.updated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td class="text-center">{{concept.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
          <a class="btn btn-primary" ui-sref="concepts.edit({conceptId: concept._id})">
            <i class="glyphicon glyphicon-edit"></i> 수정
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
