<section class="body-sign">
  <!--<a href="/" class="logo pull-left">-->
  <!--<img src="assets/images/logo.png" height="54" alt="Porto Admin" />-->
  <!--</a>-->

  <div class="panel panel-sign" style="margin-top: 100px;">
    <div class="panel-title-sign mt-xl text-right" >
      <!--<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>-->
    </div>
    <div class="panel-body">
      <form name="userForm" ng-submit="signin(userForm.$valid)" novalidate>

        <div class="form-group mb-lg" ng-class="{ 'has-success': userForm.email.$valid && submitted,
                                          'has-error': (error || userForm.email.$invalid) && submitted }">
            <div class="form-group mb-lg">
              <label>E-mail</label>
              <div class="input-group input-group-icon">
                <input name="email" type="email" class="form-control input-lg"
                       ng-model="credentials.email" required />
                <span class="input-group-addon">
                <span class="icon icon-lg">
                  <i class="fa fa-user"></i>
                </span>
              </span>
              </div>
              <p class="help-block" ng-show="userForm.email.$error.required && submitted">
                E-mail을 입력하세요
              </p>
            </div>
        </div>
        <div class="form-group mb-lg" ng-class="{ 'has-success': userForm.pwd.$valid && submitted,
                                          'has-error': (error || userForm.pwd.$invalid) && submitted }">
          <div class="form-group mb-lg">
            <div class="clearfix">
              <label class="pull-left">비밀번호</label>
              <a ui-sref="{{passwordForgot}}" class="pull-right">비밀번호를 잊었나요?</a>
            </div>
            <div class="input-group input-group-icon">
              <input name="pwd" type="password" class="form-control input-lg"
                     ng-model="credentials.password" required />
              <span class="input-group-addon">
                    <span class="icon icon-lg">
                      <i class="fa fa-lock"></i>
                    </span>
                  </span>
            </div>
            <p class="help-block"
               ng-show="userForm.pwd.$error.required && submitted">
              비밀번호를 입력하세요
            </p>
            <p class="help-block" ng-show="error">
              {{ error}}
            </p>
          </div>
        </div>

        <div class="row">
          <!--<div class="col-sm-8">-->
          <!--<div class="checkbox-custom checkbox-default">-->
          <!--<input id="RememberMe" name="rememberme" type="checkbox"/>-->
          <!--<label for="RememberMe">Remember Me</label>-->
          <!--</div>-->
          <!--</div>-->
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary hidden-xs" style="width: 100%; height: 40px; font-size: 16px;">로그인</button>
            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" style="width: 100%; height: 45px; font-size: 18px;">로그인</button>
          </div>
        </div>

        <p class="text-center" style="margin-top: 10px; margin-bottom: 20px;">아직 가입 안 하셨어요? <a ui-sref="{{authenticationSignup}}" style="font-weight: bold;">가입하세요!</a></p>


        <div>
          <div class="col-md-12 text-center">
            <input type="button" value="페이스북 아이디로 로그인" class="btn btn-default sign-in-facebook"
                   style="width: 100%; height: 45px; margin-top:2px; margin-bottom:2px;"
                   ng-click="callOauthProvider('/api/auth/facebook')" ><br/>

            <input type="button" value="구글 아이디로 로그인" class="btn btn-default sign-in-google"
                   style="width: 100%; height: 45px; margin-top:2px; margin-bottom:2px;"
                   ng-click="callOauthProvider('/api/auth/google')" ><br/>

            <input type="button" value="카카오톡 아이디로 로그인" class="btn btn-default sign-in-kakao"
                   style="width: 100%; height: 45px; margin-top:2px; margin-bottom:2px;"
                   ng-click="callOauthProvider('/api/auth/kakao')" ><br/>
          </div>

        </div>
      </form>
    </div>
  </div>

  <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016 By MoneyBrain. All Rights Reserved.</p>
</section>
