<div ng-controller="AuthenticationController">
  <section class="body-sign">
    <!--<a href="/" class="logo pull-left">-->
    <!--<img src="assets/images/logo.png" height="54" alt="Porto Admin"/>-->
    <!--</a>-->

    <div class="panel panel-sign"  style="margin-top: 100px;">
      <div class="panel-title-sign mt-xl text-right">
        <!--<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>-->
      </div>
      <div class="panel-body">
        <form name="userForm" ng-submit="signup(userForm.$valid)" novalidate>

          <div class="form-group mb-lg" ng-class="{ 'has-success': userForm.name.$valid && submitted,
                                            'has-error': (error.username || userForm.name.$invalid) && submitted }">
            <label>이름</label>

            <input type="text" name="name" class="form-control input-lg" ng-model="credentials.username" required/>
            <p class="help-block" ng-show="userForm.name.$error.required && submitted">
              이름을 입력하세요
            </p>
            <p class="help-block" ng-show="error.username">
              {{ error.username }}
            </p>
          </div>

          <div class="form-group mb-lg" ng-class="{ 'has-success': userForm.email.$valid && submitted,
                                            'has-error': (error.email || userForm.email.$invalid) && submitted }">
            <label>E-mail</label>

            <input type="email" name="email" class="form-control input-lg" ng-model="credentials.email"
                   ng-pattern="/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i"
                   required
                   mongoose-error/>
            <p class="help-block" ng-show="(userForm.email.$error.email || userForm.email.$error.pattern) && submitted">
              E-mail 주소가 아닌 것 같아요
            </p>
            <p class="help-block" ng-show="userForm.email.$error.required && submitted">
              E-mail을 입력하세요
            </p>
            <p class="help-block" ng-show="error.email">
              {{ error.email }}
            </p>
          </div>


          <div class="form-group mb-lg" ng-class="{ 'has-success': userForm.pwd.$valid && submitted,
                                            'has-error': userForm.pwd.$invalid && submitted }">
            <label>비밀번호</label>

            <input type="password" name="pwd" class="form-control input-lg" ng-model="credentials.password"
                   ng-minlength="6"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(userForm.pwd.$error.minlength || userForm.pwd.$error.required) && submitted">
              비밀번호 조건은 다음과 같아요:
              최소 6글자
              <!--ng-pattern = '/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{6,16}$/'-->
            </p>
            <p class="help-block" ng-show="userForm.pwd.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>

          <!--<div class="form-group mb-lg" ng-class="{ 'has-success': userForm.confirmPassword.$valid && submitted,-->
          <!--'has-error': userForm.confirmPassword.$invalid && submitted }">-->
          <!--<label>Confirm Password</label>-->
          <!--<input type="password" name="confirmPassword" class="form-control input-lg" ng-model="credentials.confirmPassword"-->
          <!--match="userForm.pwd"-->
          <!--required/>-->
          <!--<p class="help-block"-->
          <!--ng-show="userForm.confirmPassword.$error.match && submitted">-->
          <!--Passwords must match.-->
          <!--</p>-->
          <!--</div>-->

            <div class="row form-group mb-lg" ng-class="{ 'has-success': userForm.agreeterms.$valid && submitted,
                                            'has-error': userForm.agreeterms.$invalid && submitted }">
              <div class="col-sm-8">
                <div class="checkbox-custom checkbox-default">
                  <input id="AgreeTerms" name="agreeterms" type="checkbox" ng-model="credentials.agreeterms" required/>
                  <label for="AgreeTerms"><a href="#">약관</a>에 동의해요</label>
                </div>
              </div>
              <div class="col-sm-4 text-right">
                <button type="submit" class="btn btn-primary hidden-xs" style="width: 100px;">가입</button>
                <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" style="width: 100px;">가입</button>
              </div>
            </div>

            <p class="text-center">이미 가입 했나요? <a ui-sref="{{authenticationSignin}}" style="font-weight: bold;">로그인하세요!</a></p>

          </form>
      </div>
    </div>

    <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016 By MoneyBrain. All Rights Reserved.</p>
  </section>
</div>
