<ion-modal-view  ng-controller="AuthenticationController">
  <ion-header-bar align-title="center">
    <h1 class="title">로그인</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSigninModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <show-alert></show-alert>
    <div style="margin-top:0px; margin-bottom:0px; margin-left:5%; margin-right:5%;">
      <div class="w100p h20"></div>
      <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="on">
        <fieldset style="padding:0px; border: 0px solid; margin:0px;">
          <div class="form-group" show-errors>
            <!--<label for="username">이메일</label> -->
            <input type="email" id="email" name="email" class=""
                   ng-model="credentials.email"
                   style="width:100%;height:50px; padding-left:10px; border: 1px solid; border-color:#cccccc; margin-bottom:10px;"
                   placeholder="이메일을 입력하세요" required>
            <div ng-messages="userForm.email.$error" ng-show="onSubmit" role="alert">
              <p class="help-block error-text c_red" ng-message="required"><b>이메일을 입력해 주세요.</b></p>
              <p class="help-block error-text c_red" ng-message="email"><b>제대로 된 이메일을 입력해주세요.</b></p>
            </div>
            <!--<label for="password">비밀번호</label>-->
            <input type="password" id="password" name="password" class=""
                   ng-model="credentials.password"
                   style="width:100%;height:50px; padding-left:10px;border: 1px solid; border-color:#cccccc; margin-bottom:10px;"
                   placeholder="비밀번호를 입력하세요." required>
            <div ng-messages="userForm.password.$error" ng-show="onSubmit" role="alert">
              <p class="help-block error-text c_red" ng-message="required"><b>비밀번호를 입력해 주세요.</b></p>
            </div>
          </div>


          <div class="text-center">
            <button type="submit" class="button button-light w100p h50">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
              &nbsp;<b>로그인</b>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</button>
            <div class="w100p h14"></div>
            <div class="d_center2 t_center w120 h20 mt10">
              <div class="pos_abs"><input type="checkbox" aria-label="..." class="w18 h18" ng-model="saveEmail"></div>
              &nbsp;아이디 저장
            </div>
          </div>

          <div class="text-center forgot-password mt20">
            <a ng-click="openForgotPassword()">비밀번호를 잊으셨나요?</a>
          </div>
          <uib-alert type="danger" ng-show="error" class="text-center text-danger">
            <span ng-bind="error"></span>
          </uib-alert>
        </fieldset>

      </form>
      <div class="h20"></div>
      <div class="social b_facebook" ng-click="callOauthProvider('/api/auth/facebook')">
        <div class="pos_abs img_facebook"></div>
        페이스북으로 로그인
      </div>
      <div class="social b_google" ng-click="callOauthProvider('/api/auth/google')">
        <div class="pos_abs img_google"></div>
        구글로 로그인
      </div>
      <div class="social b_twitter" ng-click="callOauthProvider('/api/auth/twitter')">
        <div class="pos_abs img_twitter"></div>
        트위터로 로그인
      </div>
      <div class="social b_kakao" ng-click="callOauthProvider('/api/auth/kakao')">
        <div class="pos_abs img_kakao"></div>
        카카오로 로그인
      </div>
      <div class="social">
        <button ng-click="openSignup()" class="button button-light w100p h50">
          <b>회원가입</b>
        </button>
      </div>

    </div>
  </ion-content>
</ion-modal-view>


