#main
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.main-logo-background
{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    opacity: 1;

    transition: opacity 1.5s;
}

.main-logo-background > .logo
{
    display: block;
    width: 209px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(/modules/core/client/img/playchat_logo.png);
    background-size: contain;
    position:absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -105px;
    animation: blink normal 3s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% {}
    50% { opacity: 0; }
    100% {}
}
@-webkit-keyframes blink {
    0% {}
    50% { opacity: 0; }
    100% {}
}
@keyframes blink {
    0% {}
    50% { opacity: 0; }
    100% {}
}

@-moz-keyframes logo-hide {
    0% {}
    100% { opacity: 0; }
}
@-webkit-keyframes logo-hide {
    0% {}
    100% { opacity: 0; }
}
@keyframes logo-hide {
    0% {}
    100% { opacity: 0; }
}
