<div ng-controller="DialogGraphPathAnalysisController">
    <div style="text-align: right; margin-bottom: 20px;">
        <button type="button" class="default-button" ng-click="exelDownload()">Excel 다운로드</button>
        <div id="createdRange" class="pull-right" style="width: 40%;">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>

    <div class="dialog-graph-path-row">
        <div class="dialog-graph-path-title">
            <span>Count</span>
            <span>Graph Path</span>
        </div>
    </div>
</div>
