<div ng-controller="DialogGraphPathAnalysisController">
    <div style="text-align: right; margin-bottom: 20px;">
        <button type="button" class="default-button excel-download-button" ng-click="exelDownload()">{{lan('Excel Download') }}</button>
        <div id="createdRange" class="pull-right" style="width: 40%;">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>

    <div class="dialog-graph-path-title">
        <span>{{lan('Count') }}</span>
        <span>{{lan('Graph Path') }}</span>
    </div>
    <div class="dialog-graph-path-body">
        <div class="dialog-graph-path-row" ng-repeat="path in paths">
            <span>{{ path.count }}</span>
            <div class="dialog-graph-paths">
                <span class="dialog-graph-path-card" ng-repeat="dialog in path.list track by $index">
                    {{ dialog }}
                </span>
            </div>
        </div>
        <svg id="lineSvg" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;"></svg>
    </div>
</div>
