<style>
.template-demo-title
{
    font-size: 20px;
    font-weight: 600;
    padding-left: 30px;
}

.template-demo-menu
{
    width: 80%;
    margin: 0 auto;
}

.template-demo-menu input
{
    border: 1px solid #ddd;
    padding: 10px 20px;
}
</style>

<h1 class="template-demo-title">메뉴관리</h1>
<div ng-controller="menuController" class="template-demo-menu">
    <form ng-submit="saveMenu($event);">
        <table class="tb02" style="table-layout:fixed;">
            <colgroup>
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 30%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>분류</th>
                    <th>메뉴명</th>
                    <th>가격</th>
                    <th>이미지</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="menu in menus">
                    <td>
                        <input type="text" ng-model="menu.category">
                    </td>
                    <td>
                        <input type="text" ng-model="menu.name">
                    </td>
                    <td>
                        <input type="number" ng-model="menu.price">
                    </td>
                    <td>
                        <img src="{{ menu.image }}" style="width: 50px;" ng-if="menu.image" ng-click="editImage($event);">
                        <input type="file" nv-file-select uploader="menu.uploader" ng-show="!menu.image" />
                    </td>
                    <td>
                        <button type="button" class="default-button" ng-click="deleteMenu($index)">삭제</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button type="button" class="default-button" ng-click="addMenu();">메뉴추가</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="tab-footer" style="border-top: 0;">
            <button class="blue-button">Save</button>
        </div>
    </form>
</div>
